.apparts {
    background: #fff;
    padding: 80px 0 0;
    @media (--smMinus) {
        padding: 50px 0 0;
    }
    &__item {
        display: flex;
        align-items: center;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto 100px;
        @media(--mdMinus) {
            flex-direction: column-reverse;
            margin-bottom: 90px;
        }
        @media (--smMinus) {
            margin-bottom: 55px;
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            @media(--mdMinus) {
                flex-direction: column-reverse;
            }
        }
    }
    &__itemImg {
        width: 41.6%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 650px;
        @media(--mdMinus) {
            width: 100%;
            margin-top: 50px;
        }
        @media (--smMinus) {
            min-height: 365px;
            margin-top: 40px;
        }
        &._img1 {
            background-image: url("../img/apparts/img_1.jpg");
            @media(--mdMinus) {
                background-image: url("../img/apparts/img_1m.jpg");
            }
        }
        &._img2 {
            background-image: url("../img/apparts/img_2.jpg");
            @media(--mdMinus) {
                background-image: url("../img/apparts/img_2m.jpg");
            }
        }
    }
    &__itemTxt {
        width: 58.4%;
        padding: 0 98px;
        @media (--lgMinus) {
            padding: 0 60px;
        }
        @media(--mdMinus) {
            width: 100%;
            padding: 0 40px;
        }
        @media (--smMinus) {
            padding: 0 20px;
        }
        & h2 {
            position: relative;
            text-align: left;
            font-size: 37px;
            line-height: 53px;
            padding-bottom: 34px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: -.7px;
              margin-bottom: 31px;
            @media (--smMinus) {
                font-size: 27px;
                font-weight: 500;
                line-height: 34px;
            }
            &:before {
                 content: '';
                 width: 75px;
                 height: 2px;
                 background: #008fd5;
                 position: absolute;
                 bottom: 0;
                 left: 0;
             }
        }
        & h4 {
            font-weight: 300;
            font-size: 20px;
            line-height: 27px;
            text-transform: uppercase;
            margin-bottom: 12px;
            @media (--smMinus) {
                font-size: 18px;
            }
        }
        & p {
            line-height: 27px;
            margin-bottom: 28px;
            @media (--smMinus) {
                font-size: 16px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        & ._defPC {
            @media (--smMinus) {
                display: none;
            }
        }
        & ._defMob {
            display: none;
            @media (--smMinus) {
                display: inline;
            }
        }
    }
    &__banner {
        font-size: 17px;
        line-height: 27px;
        color: #fff;
        margin-bottom: 100px;
        position: relative;
        @media (--mdMinus) {
            color: #000;
            margin-bottom: 80px;
        }
        @media (--smMinus) {
            margin-bottom: 55px;
        }
        &Img {
            width: 100%;
            height: 430px;
            background: url("../img/apparts/img_3_desc.jpg") center no-repeat;
            background-size: cover;
            @media (--mdMinus) {
                height: 650px;
                background-image: url("../img/apparts/img_3.jpg");
            }
            @media (--smMinus) {
                height: 365px;
            }
        }
        &Txt {
            position: absolute;
            left: 50%;
            bottom: 0;
            max-width: 1170px;
            width: 100%;
            transform: translateX(-50%);
            padding: 30px 0;
            @media (--lgMinus) {
                padding: 30px 60px;
            }
            @media (--mdMinus) {
                position: relative;
                left: 0;
                transform: translateX(0);
                padding: 0 40px 50px;
            }
            @media (--smMinus) {
                padding: 0 20px 40px;
            }
        }
        &Head {
            font-size: 37px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -0.7px;
            text-transform: uppercase;
            text-align: left !important;
            position: relative;
            padding-bottom: 30px;
            margin-bottom: 20px;
            @media (--mdMinus) {
                margin-bottom: 30px;
            }
            @media (--smMinus) {
                font-size: 27px;
                line-height: 34px;
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 74px;
                height: 2px;
                background: #e5af2d;
                @media (--mdMinus) {
                    background: #008fd5;
                }
             }
        }
        &P {
            max-width: 825px;
            color: #fff;
            @media (--mdMinus) {
                max-width: 100%;
                color: #000;
            }
        }
    }
    &__plans {
        display: flex;
        align-items: stretch;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        @media (--mdMinus) {
            flex-wrap: wrap;
        }
        @media (--smMinus) {
            flex-direction: column;
        }
        &Item {
            width: 33.33%;
            margin-bottom: 60px;
            @media (--mdMinus) {
                width: 50%;

            }
            @media (--smMinus) {
                width: 300px;
                margin: 0 auto 55px;
            }
            &:last-child {
                @media (--smMinus) {
                    margin-bottom: 45px;
                }
            }
        }
        &Inner {
            border: 1px solid #e9e9e9;
            padding: 40px 35px 11px;
            margin-bottom: 50px;
            position: relative;
            @media (--smMinus) {
                padding: 30px 20px 10px;
            }
            @media (--smMinus) {
                margin-bottom: 30px;
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                transition: all 0.3s ease;
            }
            &:hover:after {
                border: solid 5px #9a330c;
                box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.34);
            }
        }
        &More {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            transition: all 0.3s ease;
            /*&:hover {
                border: solid 5px #9a330c;
                box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.34);
            }*/
        }
        &Img {
            position: relative;
            z-index: 11;
            &Item {
                width: 100%;
                height: 285px;
                margin-bottom: 5px;
                @media (--smMinus) {
                    height: auto;
                }
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        &Bull {
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0 !important;
            margin-bottom: 12px;
            text-align: center;
            & .swiper-pagination-bullet {
                width: 48px;
                height: 36px;
                margin: 0 7.5px;
                background: none;
                border-radius: 0;
                opacity: 1;
                cursor: pointer;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: 48px;
                    height: 2px;
                    margin-top: 17px;
                    background: #e9e9e9;
                }
            }
            & .swiper-pagination-bullet-active {
                &:before {
                    background: #9a330b;
                }
            }
        }
        &Info {
            display: flex;
            justify-content: space-between;
            line-height: 1;
            margin-bottom: 19px;
            @media (--smMinus) {
                font-size: 15px;
            }
        }
        & ._bold {
            font-weight: 700;
        }
        & ._glow {
            color: #e4ae3d;
        }
        & .btn-call {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 195px;
            margin: 0 auto;
        }
    }
}