.furnish-preview {
    height: calc(100vh - 70px);
    display:flex;
    position: relative;
    flex-wrap:wrap;

    @media(--lgMinus) {
        max-height:700px;
    }
    @media(--mdMinus) {
        max-height:100%;
        height:auto;
    }

    &__title {
        font-family: 'PFDinDisplayPro';
        font-weight: 400;
        font-size: 40px;
        color:#ffffff;
        position: absolute;
        width:100%;
        text-align: center;
        z-index: 5;
        padding-top:20px;
        margin-top:35px;
        pointer-events: none;


        @media(--mdMinus) {
            background:#060E23;
            position:relative;
            margin-top:0px;
            padding:40px 40px 32px;
            text-align:left;
        }

        @media(--sm) {
            padding:40px 20px 36px;
            font-size: 30px;
        }

        @media(--xs) {
            padding:40px 20px 36px;
            font-size: 30px;
        }

        &:before {
            content: "";
            background: #f8b470;
            width: 75px;
            height: 1px;
            position: absolute;
            left:50%;
            margin-left: -32.5px;
            top:0;
            z-index: 5;

            @media(--mdMinus) {
                position:static;
                margin: 0 0 17px 0;
                display:block;
            }

            @media(--sm) {
                margin: 0 0 25px 0;
            }

            @media(--xs) {
                margin: 0 0 25px 0;
            }

        }
    }

    &__col {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width:50%;
        position:relative;

        @media(--mdMinus) {
            width:100%;
            height:405px;
        }

        @media(--sm) {
            height:175px;
        }
        @media(--xs) {
            height:178px;
        }

        &_modern {
            background-image: url("../img/flats-furnish/bg_modern.jpg");
        }

        &_classic {
             background-image: url("../img/flats-furnish/bg_classic.jpg");
        }
    }

    &__link {
        transition: all 0.4s ease;
        position:absolute;
        height:100%;
        width:100%;
        z-index:4;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media(--mdMinus) {
            align-items:center;
        }

        &:before {
            content:'';
            background: url("../img/flats-furnish/plus_big.svg") no-repeat;
            width: 107px;
            height:107px;
            position: absolute;
            top:50%;
            left:50%;
            margin:-53.5px 0 0 -53.5px;
            z-index: 4;
            transform: scale(0);
            transition: transform 0.4s ease-out;

            @media(--lgMinus) {
                display:none;
            }
        }

        &:after {
             content:'';
             background: #060E23;
             opacity: 0.6;
             position:absolute;
             height:100%;
             width:100%;
             top:0;
             left:0;
             z-index: 2;
             transition: background 0.4s ease;
        }

        &:hover {
            &:after {
                background: none;
                @media(--lgMinus) {
                    background: #060E23;
                }
            }

            &:before {
                transform: scale(1);
            }
        }
    }

    &__name {
        color:#fefefe;
        font-size: 60px;
        font-family: 'PFDinDisplayPro';
        font-weight: 400;
        margin-bottom: 210px;
        position: relative;
        z-index: 3;

        @media(--lgMinus) {
            font-size: 50px;
            display:flex;
            align-items:center;
        }

        @media(--mdMinus) {
            font-size: 60px;
            margin-bottom:0;
        }

        @media(--sm) {
            font-size: 30px;
        }

        @media(--xs) {
            font-size: 30px;
        }

        &:before {
            content:'';
            background: url("../img/flats-furnish/plus_hover.svg") no-repeat;
            background-size: contain;
            width: 46px;
            height:46px;
            margin-right: 20px;
            display: none;

            @media(--lgMinus) {
                display:block;
            }
            @media(--mdMinus) {
                display:none;
            }

            @media(--sm) {
                display:block;
            }

            @media(--xs) {
                display:block;
            }
        }
    }
}

.furnish-content {
    padding: 60px 0 10px;

    @media(--sm) {
        padding: 50px 0 10px;
    }
    @media(--xs) {
        padding: 50px 0 10px;
    }

    &__title {
        font-family: 'PFDinDisplayPro';
        font-weight: 400;
        font-size: 40px;
        color:#19191a;
        margin-bottom: 55px;
        position: relative;

        @media(--sm) {
            font-size: 30px;
            margin-bottom:30px;
        }

        @media(--xs) {
            max-width:250px;
            font-size: 30px;
            margin-bottom:20px;
        }

        &:before {
            content: "";
            background: #f8b470;
            width: 75px;
            height: 1px;
            position: relative;
            display: block;
            left:0;
            top:0;
            margin-bottom: 15px;

        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        width:50%;

        @media(--mdMinus) {
            width:100%;
        }

        &:first-child {
            padding-right: 100px;
            @media(--lgMinus) {
                padding-right: 0;
            }
        }
        &:last-child {
            padding-left: 70px;
            @media(--mdMinus) {
                padding-left: 0px;
            }
        }
    }

    &__descr {
        & p {
            margin-bottom:35px;
            font-size:20px;

            @media(--sm) {
                margin-bottom:25px;
            }
            @media(--xs) {
                margin-bottom:25px;
            }

            &:nth-child(1) {
                color:#f7941e;
            }
        }
    }

    &__button {
        background: #f7941e;
        color:#ffffff;
        font-family: 'PFDinDisplayPro';
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        width:100%;
        max-width:350px;
        height:50px;
        margin:28px 0 50px;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s;
        display: flex;
        &:after {
           content: "";
           background: url(../img/arrow_more.svg) no-repeat;
           display: block;
           width: 30px;
           height: 15px;
           margin-left: 20px;

           @media(--xs) {
               display:none;
           }
        }

        &:hover {
             background-color: #f69e36;
        }

        @media(--xs) {
            margin:10px 0 50px;
        }

    }
}

.list_furnish {
    padding: 15px;
    @media(--mdMinus) {
        padding: 15px 0px;
    }
}

