.furnish {
    &_title {
         position: absolute;
         top: 0;
         left: 0;
         width: 40%;
         z-index: 12;
         padding: 40px 55px;
         margin-top: 70px;
         overflow: hidden;
        @media (--mdMinus) {
            width: 100%;
        }
        @media (--smMinus) {
            padding: 40px 20px;
        }
        &_title:before {
            content: '';
            position: relative;
            display: block;
            width: 75px;
            height: 1px;
            background: #f8b470;
            margin-bottom: 20px;
        }
        &_text {
            font-family: 'PFDinDisplayPro';
            font-weight: 600;
            font-size: 50px;
            line-height: 50px;
            color: #ffffff;
            @media (--smMinus) {
                font-size: 34px;
                line-height: 34px;
            }
        }
        .btn-arrow {
            display: inline-block;
            width: auto;
            text-decoration: none;
            color: #ffffff;
            font-size: 14px;
            font-family: 'PFDinDisplayPro';
            font-weight: 300;
            text-transform: uppercase;
            position: relative;
            overflow: hidden;
            padding: 20px 0;
            @media (--smMinus) {
                display: none;
            }
        }
        .btn-arrow:after {
            content: '';
            background: url("../img/arrow_more.svg") no-repeat;
            display: inline-block;
            width: 30px;
            height: 15px;
            margin-left: 20px;
            position: relative;
            top: 2px;
        }
    }
    &_banner {
        position: relative;
        width: 100%;
        height: calc(100vh + 60px);
        left: 0;
        z-index: 9;
        transition: width 1s ease, left 1s ease;
        @media (--smMinus) {
            height: calc(100vh - 70px);
            max-height: 862px;
        }
        &_list {
            &_item {
                 overflow: hidden;
                 background-size: cover;
                 background-position: 50% 50%;
                 background-repeat: no-repeat;
             }
        }
        .swiper-container {
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            font-size: 18px;
            display: flex;
            align-items: flex-end;
        }
        .swiper-slide:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background: linear-gradient(to bottom, rgba(43,38,52,0.4) 0%, rgba(0,0,0,0) 100%);
            z-index: 1;
        }
        .swiper-slide:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, rgba(43,38,52,0.6) 0%, rgba(0,0,0,0) 100%);
            z-index: 1;
        }
        .btn-call-inner {
            margin-top: -130px;
            z-index: 10;
            @media (--smMinus) {
                display: none;
            }
        }
        .btn-call-inner:after {
            display: none;
        }
        &_controls {
            position: absolute;
            bottom: 130px;
            left: 0;
            z-index: 2;
            transition: left 1s ease;
            @media (--smMinus) {
                bottom: 11px;
            }
        }
        &_pagination {
            width: 80px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'PFDinDisplayPro';
            font-weight: 100;
            color: #fff;
            font-size: 17px;
        }
        &_pagination .swiper-pagination-current {
            font-size: 30px;
        }
        &_pagination .swiper-pagination-current,
        &_pagination .swiper-pagination-total {
            margin: 0 5px;
        }

        &_arrow {
            display: flex;
            flex-direction: row;
        }

        &_arrow_left,
        &_arrow_right {
            width: 80px;
            height: 80px;
            background: #f7941e;
            opacity: 0.7;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background 0.4s ease;
        }

        &_arrow_left:after {
            content: '';
            background: url("../img/arrow_slide_left.svg") no-repeat;
            display: block;
            width: 38px;
            height: 15px;
        }

        &_arrow_right:after {
            content: '';
            background: url("../img/arrow_slide_right.svg") no-repeat;
            display: block;
            width: 38px;
            height: 15px;
        }

        &_arrow_left:hover,
        &_arrow_right:hover {
            opacity: 1;
        }
    }
    &_description {
        width: 40%;
        height: calc(100% + 60px);
        position: absolute;
        top: 0;
        left: -50%;
        margin-top: 70px;
        background: #060E23;
        transition: left 1s ease;
        overflow: hidden;
        z-index: 13;
        @media (--lgMinus) {
            width: 100%;
            max-width: 625px;
            left: -100%;
            height: calc(100% - 70px);
        }

        @media (--smMinus) {
            margin-top: 0;
            max-width: 100%;
            position: relative;
            left: 0;
        }
    }
    &_description_more-text {
        color: #fff;
        font-size: 17px;
        position: relative;
        top: 0;
        width: 100%;
        height: calc(100% - 130px);
        overflow: hidden;
        padding: 40px 55px;
        @media (--mdMinus) {
            padding-right: 80px;
            height: 100%;
        }

        @media (--smMinus) {
            padding: 40px 20px;
        }
}


    &_description_more-text:before {
        content: '';
        position: relative;
        display: block;
        width: 75px;
        height: 1px;
        background: #f8b470;
        margin-bottom: 20px;
    }

    &_description_more-text p {
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        color: #fff;
        font-size: 17px;
        line-height: 30px;
        margin: 30px 0;
    }

    &_description_more-text p.fbl_bold {
        font-size: 20px;
        color: #f7941e;
    }

    &_description_more-text .title-h1 {
        font-family: 'PFDinDisplayPro';
        font-weight: 600;
        font-size: 50px;
        line-height: 50px;
        color: #fff;
        @media (--smMinus) {
            font-size: 34px;
            line-height: 34px;
        }
    }


    &_description_more-text .title-h1:first-child {
        margin-bottom: 60px;
        @media (--smMinus) {
                margin-bottom: 0;
        }
    }


    &_description_more-text ul {
        margin: 30px 0;
    }

    &_description_more-text ul li {
        font-size: 17px;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        color: #fff;
        margin: 10px 0;
        margin-left: 20px;
        position: relative;
        list-style: none;
    }

    &_description_more-text ul li:before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #b0aeb4;
        top: 8px;
        left: -20px;
    }

    &_description_close {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        margin: 25px 13px;
        background: url("../img/close.svg") no-repeat;
        background-position: 50% 50%;
        margin-left: -43px;
        opacity: .5;
        cursor: pointer;
        z-index: 10;
        transition: left 1s ease;
        @media (--smMinus) {
            display: none;
        }

        @media (--mdMinus) {
            right: 22px;
        }
    }


    &_description_more-text .ps__rail-y {
        right: 23px;
        margin-top: 80px;
        margin-bottom: 30px;
        @media (--mdMinus) {
            right: 45px;
        }
    }
    &_call {
        display: none;
        @media (--smMinus) {
            display: block;
            background: #060E23;
            .btn-call-inner {
                padding: 0;
            }
            .btn-call-inner:after {
                background: #060E23;
            }
        }
    }


}


@media (--smMinus) {
    .furnish_banners_arrow {
        height: 12px;
        margin-top: -11px;
        position: relative;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
    }

    .furnish_banners_arrow_left:before {
        content:'';
        width: 0;
        height: 0;
        border-bottom: 12px solid #060E23;
        border-right: 12px solid transparent;
        position: absolute;
        top:0;
        right:-12px;
    }

    .furnish_banners_arrow_right:after {
        content:'';
        width: 0;
        height: 0;
        border-bottom: 12px solid #060E23;
        border-left: 12px solid transparent;
        position: absolute;
        top:0;
        left:-12px;
    }

    .furnish_banners_arrow_left {
        width: calc(50% - 11px);
        background: #060E23;
        position: relative;
    }

    .furnish_banners_arrow_right {
        width: calc(50% - 11px);
        background: #060E23;
        position: relative;
    }
}




.furnish-open .furnish_banner .btn-call-inner {
    background: #060E23;
}

@media (--lgPlus) {
    .furnish-open .furnish_banner .btn-call-inner {
        display: none;
    }
}

.furnish-open .furnish_banner {
    width: 60%;
    left: 40%;
}

@media (--lgMinus) {
    .furnish-open .furnish_banner {
        width: 100%;
        left: 0;
    }
}

@media (--mdMinus) {
    .furnish-open .furnish_banner {
        width: 100%;
        left: 0;
    }
}

@media (--lgPlus) {
    .furnish-open .furnish_description + .furnish_call {
        display: block;
        margin-top: -130px;
    }
    .furnish-open .furnish_description + .furnish_call .btn-call-inner {
        background: #060E23;
        z-index: 20;
    }
    .furnish-open .furnish_description + .furnish_call .btn-call-inner:after {
        display: none;
    }
}

.furnish-open .furnish_description {
    left: 0;
}
