.gallery-header {
    margin-top: 70px;
    background: #ededed;
    padding: 25px 0 25px;
}


@media (--smMinus) {
    .gallery-header {
        padding: 20px 0 30px;
    }
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

@media (--smMinus) {
    .gallery-grid {
        margin-bottom: 30px;
    }
}

.gallery-grid-item {
    width: calc(50% - 20px);
    height: 260px;
    position: relative;
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    /*padding: 30px 20px;*/
    overflow: hidden;
    margin: 10px;
}

@media (--mdMinus) {
    .gallery-grid-item {
        height: auto;
        display: block;
        width: calc(50% - 10px);
    }

    .gallery-grid-item:nth-child(2n+1) {
        margin: 10px 10px 10px 0;
    }

    .gallery-grid-item:nth-child(2n) {
        margin: 10px 0px 10px 10px;
    }
}

@media (--smMinus) {
    .gallery-grid-item {
        width: 100%;
    }

    .gallery-grid-item:nth-child(2n+1) {
        margin: 10px 0;
    }

    .gallery-grid-item:nth-child(2n) {
        margin: 10px 0;
    }
}


/*.gallery-grid-item:after {*/


/*content: '';*/


/*position: absolute;*/


/*bottom:0;*/


/*left:0;*/


/*width: 100%;*/


/*height: 100%;*/


/*-webkit-box-shadow: inset 0px -141px 135px -95px rgba(28,35,98,1);*/


/*-moz-box-shadow: inset 0px -141px 135px -95px rgba(28,35,98,1);*/


/*box-shadow: inset 0px -141px 135px -95px rgba(28,35,98,1);*/


/*}*/

.gallery-grid-item__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
}

.gallery-grid-item__img:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background: linear-gradient(to bottom, rgba(6,14,35,0) 0%,rgba(6,14,35,1) 100%);
}


@media (--mdMinus) {
    .gallery-grid-item__img {
        position: relative;
        height: 155px;
    }
}


.gallery-grid-item__info {
    position: relative;
    z-index: 2;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

@media (--mdMinus) {
    .gallery-grid-item__info {
        padding: 15px;
    }
}

.gallery-grid-item__info_disable {
    opacity: 0;
}


.gallery-grid-item__title {
    font-size: 20px;
    color: #ffffff;
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
}

@media (--mdMinus) {
    .gallery-grid-item__title {
        order: 2;
        margin-top: 10px;
    }
}

.gallery-grid-item__number {
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    margin-top: 15px;
}

@media (--mdMinus) {
    .gallery-grid-item__number {
        order: 1;
    }
}

.gallery-grid-item-descr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.4s ease-out;
    -moz-transition: transform 0.4s ease-out;
    -ms-transition: transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

@media (--mdMinus) {
    .gallery-grid-item-descr {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        bottom: 0;
        top: inherit;
        position: relative;
        padding: 0;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.gallery-grid-item-descr_hover {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.gallery-grid-item-descr:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #060e23;
    z-index: 9;
    opacity: 0.9;
}

.gallery-grid-item-descr__title {
    font-family: 'PFDinDisplayPro';
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}

@media (--mdMinus) {
    .gallery-grid-item-descr__title {
        display: none;
    }
}

.gallery-grid-item-descr__text {
    position: relative;
    z-index: 10;
    margin-top: 25px;
}

.gallery-grid-item-descr__text p {
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
}

.gallery-grid-item-descr__text p {
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
}

@media (--mdMinus) {
    .gallery-grid-item-descr__text {
        margin-top: 0;
        padding: 30px 20px;
    }

    gallery-grid-item-descr__text p {
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        color: #ffffff;
    }
}

.gallery-grid-item-descr__number {
    font-family: 'PFDinDisplayPro';
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    position: relative;
    z-index: 10;
    margin-top: auto;
    margin-bottom: 0;
}

@media (--mdMinus) {
    .gallery-grid-item-descr__number {
        display: none;
    }
}

.gallery-grid-item__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
}

.gallery-grid-item__link:hover+.gallery-grid-item-descr {
    display: block;
}

.gallery-modal {
    max-width: 100% !important;
    width: 100%;
    height: calc(100vh - 70px);
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}

@media (--smMinus) AND (orientation: landscape) {
    .gallery-modal {
        height: 100vh;
    }
}

.gallery-slider-thumb {
    width: 100%;
    height: 78px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 120;
    padding-bottom: 10px;
    transition: .4s;
    background: #ffffff;
    padding: 12px 0;
    /*-webkit-transform: translateY(80%) translateZ(0);*/
    /*transform: translateY(80%) translateZ(0);*/
    padding: 12px 0 12px 55px;
}


@media (--mdMinus) {
    .gallery-slider-thumb {
        padding: 12px 0 12px 40px;
    }
}

@media (max-width: 767px) {
    .gallery-slider-thumb {
        padding-left: 20px;
        bottom: 0;
        height: 56px;
    }
}

@media (max-width: 767px) AND (orientation: landscape) {
    .gallery-slider-thumb {
        padding-left: 20px;
        bottom: 0;
    }
}

.gallery-slider-thumb:hover {
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
}

.gallery-slider-thumb-slide {
    width: 120px;
    height: 54px;
}

.gallery-slider-thumb-slide__img {
    background: #d9d5d4;
    width: 120px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 30px;
    position: relative;
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 13px;
    color: #060E23;
    text-align: center;
    /*text-transform: uppercase;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-slider-thumb-slide__img_album {}

@media (max-width: 767px) {
    .gallery-slider-thumb-slide,
    .gallery-slider-thumb-slide__img {
        width: 80px;
        height: 36px;
    }
}

.gallery-slider-thumb-slide__img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 38, 52, 0.6);
    z-index: 20;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.gallery-slider-thumb-slide:hover .gallery-slider-thumb-slide__img:before {
    opacity: 0.7;
    cursor: pointer;
}

.gallery-slider-thumb-slide.is-selected .gallery-slider-thumb-slide__img:before {
    opacity: 0.7;
}


.gallery-slider {
    height: calc(100% - 78px);
}

@media (--smMinus) {
    .gallery-slider {
        height: calc(100% - 56px);
    }
}

.gallery-slider-slide__content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    padding: 40px 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1023px) {
    .gallery-slider-slide__content {
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .gallery-slider-slide__content {
        padding: 10px;
    }
}



.gallery-slider-slide__title {
    font-family: 'PFDinDisplayPro';
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
    position: absolute;
    top: 40px;
    left: 55px;
    z-index: 120;
}

@media (max-width: 1023px) {
    .gallery-slider-slide__title {
        left: 40px;
    }
}

@media (max-width: 767px) {
    .gallery-slider-slide__title {
        left: 20px;
        font-size: 30px;
    }
}

.gallery-slider-slide__title:before {
    content: '';
    background: #f8b470;
    width: 75px;
    height: 1px;
    display: block;
    margin-bottom: 10px;
}

.gallery-slider-titleAlbum {
    font-family: 'PFDinDisplayPro';
    font-size: 47px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
}

@media (--smMinus) {
    .gallery-slider-titleAlbum {
        font-size: 30px;
    }
}

.gallery-slider-nav {
    position: absolute;
    top: 0;
    /*margin-top: -8px;*/
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 120;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 1023px) {
    .gallery-slider-nav {
        display: none;
    }
}

.gallery-slider__prev {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 50%;
    padding-left: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gallery-slider__next {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 50%;
    padding-right: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.gallery-slider__next,
.gallery-slider__prev {
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.gallery-slider__prev:hover,
.gallery-slider__next:hover {
    cursor: pointer;
    opacity: 1;
}

.gallery-slider-fraction {
    position: absolute;
    bottom: 35px;
    left: 0px;
    text-align: center;
    z-index: 120;
    color: #ffffff;
    font-family: 'PFDinDisplayPro';
    font-weight: 100;
}

.gallery-slider-fraction .swiper-pagination-current {
    font-size: 30px;
}

.gallery-slider-fraction .swiper-pagination-total {
    font-size: 17px;
}

.fisrt-slide-album:after {
    content: '';
    background: #060e23;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.8;
}

.gallery-slider__titleSecond {
    font-family: 'PFDinDisplayPro';
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}
