.home-banner {
	height: calc(100vh - 70px);
	position: relative;
	z-index: 9;

	&-list {
		width: 100%;
		height: 100%;
		&__item {
			background-size: cover;
			background-position: 50% 100%;
			position: relative;
			background-repeat: no-repeat;
			font-size: 18px;
			display: flex;
			align-items: flex-end;
			padding: 0 55px 130px;
			@media(--mdMinus) {
				padding: 0 40px 130px;
			}
			@media(--sm) {
				padding: 0 20px 80px;
			}
			@media(--xs) {
				padding: 0 20px 80px;
			}

			&:after {
				 content:'';
				 position: absolute;
				 width:100%;
				 height:100%;
				 left:0;
				 top:0;
				 background: rgba(255,255,255,0);
				 background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(248,80,50,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
				 background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.4)));
				 background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(248,80,50,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
				 background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(248,80,50,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
				 background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(248,80,50,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
				 background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(248,80,50,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
				 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

			}
			&.swiper-slide-active .home-banner-list__text {
				opacity: 1;
				transform: translateX(0);
				transition-delay: .5s;
			}

			&_noblackout {
				&:after {
					display:none;
				}
			}
		}
		&__pagination {
			max-width: 1170px;
			text-align: left;
			padding: 0 55px;
			position:absolute;
			bottom:80px !important;
			left:0;
			transition: opacity 0.2s ease;

			@media(--mdMinus) {
				padding:0 40px;
			}

			@media(--sm) {
				padding:0 20px;
				bottom:40px !important;
			}

			@media(--xs) {
				padding:0 20px;
				bottom:40px !important;
			}

			& .swiper-pagination-bullet {
				width:40px;
				height:2px;
				background: #ffffff;
				border-radius: 0;
				margin: 0 1px;
				opacity:1;

				&-active {
					 height:4px;
					 background: #e5af2d;
				}
			}
			&_hidden {
				opacity: 0;
				transition: opacity 0.2s ease;
			}
		}

		&__text {
			font-family: 'PFDinDisplayPro';
			font-weight: 300;
			font-size: 35px;
			text-transform: uppercase;
			color: #ffffff;
			position: relative;
			z-index:20;
			opacity: 0;
			/*margin-left: 5%;*/
			transform: translateX(2em);
			transition: opacity 1s ease, transform 1s ease;

			@media(--mdMinus) {

			}

			@media(--sm) {
				font-size: 25px;
			}

			@media(--xs) {
				font-size: 25px;
			}

			& span {
				display:block;
				font-weight: 600;
			}
		}
		&__textsmall {
		   font-family: 'PFDinDisplayPro';
		   font-size: 24px;
		   font-weight: 400;
		   color:#ffffff;
		   text-transform: none;
		   text-decoration: underline;
		   /*margin-top: 15px;*/
		}
		&__link {
			position: absolute;
			width: 100%;
			height: 100%;
			left:0;
			top:0;
			z-index: 21;
		}
	}

	&__date {
		position: absolute;
		top: 120px;
		right: 25px;
		background: #b60f0f;
		padding: 10px 0px;
		width: 212px;
		text-align: center;
		color: #ffffff;
		font-family: 'PFDinDisplayPro';
		font-weight: 400;
		z-index: 10;
		line-height: 1;
		font-size: 19px;
		transition: opacity 0.2s ease;

		@media(--mdMinus) {
			right: 40px;
		}

		@media(--sm) {
			right:0;
			top:40px;
			font-size:16px;
		}
		@media(--xs) {
			right:0;
			top:40px;
			font-size:16px;
		}

		& span {
			display: block;
			font-weight: 500;
			font-size: 17px;
			color: #000000;
			text-align: right;
		}
		&_hidden {
			 opacity: 0;
			 transition: opacity 0.2s ease;
		}
	}

	&__scrolling {
		background: url("../img/down.svg") no-repeat;
		width: 35px;
		height: 46px;
		background-size: contain;
		position: absolute;
		bottom: 40px;
		left: 50%;
		margin-left: -17.5px;
		z-index: 11;
		 transition: opacity 0.2s ease;

		@media(--sm) {
			display:none;
		}

		@media(--xs) {
			display:none;
		}
		&_hidden {
			opacity: 0;
			transition: opacity 0.2s ease;
		}
	}

	&__sticker {
		position: absolute;
		z-index: 10;
		color: #000;
		background: #e5af2d;
		padding: 12px 14px;
		right: 0;
		top: calc(50% * 0.8);
		transform: translateY(-50%);
		display: none;
		@media(--smMinus) {
			display:block;
		}
	}

}

.btn-border {
	width: 192px;
	height: 50px;
	text-decoration: none;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
	border: 1px solid #ffffff;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.4s ease, border 0.4s ease;

	@media(--mdMinus) {
		display: none;
	}

	&:hover {
		background: #e5af2d;
		border: 1px solid #e5af2d;
	}

	&_arrow {
		&:after {
			content: '';
			background: url("../img/arrow_more.svg") no-repeat;
			display: block;
			width: 30px;
			height: 15px;
			margin-left: 20px;
		}
	}

	&_location {
		margin-top: auto;
		margin-bottom: 10px;
	}

	&_design {
		margin:28px 0 0 22px;
	}
}




.main-about-complex-wrap {
	margin: 75px 0 -40px 0;

	@media(--mdMinus) {
		margin: 80px 0 -20px 0;
	}
	@media(--sm) {
		margin: 50px 0 -30px 0;
	}
	@media(--xs) {
		margin: 50px 0 -30px 0;
	}

}


.main-about-complex {

	&__title {
		font-weight: 500;
		font-size: 47px;
		text-transform: uppercase;
		color: #000000;
		position: relative;
		text-align: center;
		padding-bottom: 40px;

		@media(--mdMinus) {
			font-size: 48px;
		}
		@media(--sm) {
			font-size: 27px;
			padding-bottom: 30px;
		}
		@media(--xs) {
			font-size: 27px;
			padding-bottom: 30px;
		}
		&:after {
			content: '';
			display: block;
			width: 74px;
			height: 2px;
			background: #9a330c;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -32px;
		}
	}
	&__subtitle {
		font-weight: 300;
		font-size: 20px;
		text-transform: uppercase;
		color:#000000;
		text-align: center;
		margin-top: 10px;
		@media(--sm) {
			font-size: 15px;
			max-width: 250px;
			margin: 10px auto 0;
			font-weight:400;
		}
		@media(--xs) {
			font-size: 15px;
			max-width: 250px;
			margin: 10px auto 0;
			font-weight:400;
		}
	}
	&__text {
		max-width: 780px;
		margin:33px auto 0;
		color: #000000;
		font-weight: 300;
		font-size: 17px;
		text-align: center;
		@media(--sm) {
			margin:25px auto 0;
		}
		@media(--xs) {
			margin:25px auto 0;
		}
		& p {
			margin: 5px 0;
			line-height: 1.5;
			@media(--sm) {
				font-size:16px;
				margin:26px auto 0;
			}
			@media(--xs) {
				font-size:16px;
				margin:26px auto 0;
			}
		}
	}
}


.main-section {
	margin: 90px 0;

	@media(--mdMinus) {
		margin: 70px 0;
	}

	@media(--sm) {
		margin: 80px 0;
	}

	@media(--xs) {
		margin: 80px 0;
	}


	&:last-child {
		margin-bottom: 10px;

		@media(--mdMinus) {
			margin-bottom: 00px;
		}

		@media(--sm) {
			margin: 30px 0 0;
		}

		@media(--xs) {
			margin: 10px 0 0;
		}
	}

	&_full-width {
		padding: 134px 0 125px 0;
		background-position: center center;
		background-size: cover;
		position: relative;
		background-attachment: fixed;

		@media(--mdMinus) {
			padding: 100px 0 90px 0;
		}
		@media(--sm) {
			padding: 46px 0 150px 0;
		}
		@media(--xs) {
			padding: 46px 0 150px 0;
		}
	}
	&__content {
		max-width:487px;
		@media(--mdMinus) {
			max-width:100%;
		}
		&_right {
			padding-left: 98px;
			max-width:585px;

			@media(--mdMinus) {
				padding-left: 0px;
				max-width:100%;
			}
		}
	}

	&_location {
		@media(--sm) {
			padding: 46px 0 70px 0;
		}
		@media(--xs) {
			padding: 46px 0 70px 0;
		}
	}

	&_design {
		padding: 170px 0 131px 0;
		margin: 90px 0 30px 0;
		@media(--mdMinus) {
			padding: 70px 0 71px 0;
		}
		@media(--sm) {
			padding: 33px 0 120px;
		}
		@media(--xs) {
			padding: 33px 0 120px;
		}
	}
}




.main-section-title {
	font-family: 'PFDinDisplayPro';
	font-size: 47px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 18px;

	@media(--mdMinus) {
	}

	@media(--sm) {
		font-size: 27px;
	}

	@media(--xs) {
		font-size: 27px;
	}

	&_light {
		color: #ffffff;
	}

	&_design {
		margin-bottom: 31px;
		@media(--sm) {
			margin-bottom: 20px;
		}
		@media(--xs) {
			margin-bottom: 20px;
		}
	}
}

.main-section-subtitle {
	font-weight: 300;
	color:#000000;
	text-transform: uppercase;
	font-size: 20px;
	@media(--sm) {
		font-size: 15px;
		font-weight:400;
	}

	@media(--xs) {
		font-size: 15px;
		font-weight:400;
	}
	&:after {
		content: '';
		display: block;
		width: 74px;
		height: 2px;
		background: #008fd5;
		margin: 40px 0 35px;

		@media(--sm) {
			margin: 34px 0 25px;
		}

		@media(--xs) {
			margin: 34px 0 25px;
		}
	}

	&_light {
		color:#ffffff;
		font-weight:400;
		&:after {
			background: #e5af2d;
			@media(--sm) {
				margin: 45px 0 35px;
			}

			@media(--xs) {
				margin: 45px 0 35px;
			}
		}
	}

	&_design {
		&:after {
			@media(--sm) {
				margin: 35px 0 25px;
			}
			@media(--xs) {
				margin: 35px 0 25px;
			}
		}
	}
}


.main-section__row {

	display: flex;
	flex-wrap: wrap;
}

.main-section__col {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:50%;

	@media(--mdMinus) {
		width: 100%;
		justify-content: flex-start;
	}

	&_flex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
	}

	&_first {
		order: 1;
		width: 58.38%;
	}

	&_second {
		order: 2;
		width: 41.62%;
	}

	&_content {
		width: 58.38%;
		@media(--mdMinus) {
			width:100%;
		}
	}

	&_img {
		width: 41.62%;
	}

	&_hor {
		flex-direction: column;
		display: flex;
	}
}

.main-section__text {
	max-width:487px;

	@media(--mdMinus) {
		max-width:100%;
	}
	& p {
		font-family: 'PFDinDisplayPro';
		font-weight: 400;
		font-size: 17px;
		color: #000000;
	}

	&_light {
		& p {
		   color: #ffffff;
		}
	}

	&_location {
		max-width:516px;
		@media(--mdMinus) {
			max-width:100%;
		}
		& p {
			font-size:18px;
		}
	}

	&_design {
		max-width:390px;
		@media(--mdMinus) {
			max-width:100%;
		}
	}

	&_technology {
		max-width:487px;
		@media(--sm) {
			max-width:100%;
		}
		@media(--xs) {
			max-width:100%;
		}
	}

}

.list-wrap {
	margin-top:36px;

	&_location {
		margin-top: 25px;
	}

	&_design {
		margin-top:70px;
		@media(--mdMinus) {
			margin-top:55px;
			max-width:450px;
		}
		@media(--sm) {
			margin-top:20px;

		}
		@media(--xs) {
			margin-top:20px;
			max-width:260px;
		}
	}
}

.main-section-img-wrapper {
	position: relative;
	@media(--mdMinus) {
		margin-top: 30px;
	}
}

.main-section-img {
	height: 650px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 10;

	@media(--mdMinus) {
		height: 510px;
	}

	@media(--xs) {
		height: 250px;
	}
}



.main-section-img_mobile {
	display: none;
}

@media (--mdMinus) {
	.main-section-img_mobile {
		display: block;
	}
}

@media (--mdMinus) {
	.main-section-img_desktop {
		display: none;
	}
}

.main-section-img_mobile {
	display: none;
}

@media (--mdMinus) {
	.main-section-img_mobile {
		display: block;
		margin-top: 10px;
	}
}


.br-mobile {
	display: none;
}

.br-tablet {
	display: none;
}

.br-desktop {
	display: block;
}

@media (--mdMinus) {
	.br-desktop {
		display: none;
	}
}

@media (--mdMinus) {
	.br-tablet {
		display: block;
	}
}



@media (--xs) {
	.br-tablet {
		display: none;
	}

	.br-mobile {
		display: block;
	}
}



@media (--smMinus) {
	.main-section__col_mobile-grid {
		display: flex;
		flex-direction: column;
	}
}



.mobile-order-title {
	@media(--xs) {
		order: 1;
	}

	& .main-section-title:after {
		  @media(--xs) {
			  display: none;
		  }
	}
}

@media (--xs) {
	.mobile-order-title2 {
		order: 2;
		margin-top: 70px;
	}

}

.mobile-order-text {
	@media(--mdMinus) {
		order:2;
	}

	@media(--xs) {
		order: 3;
	}
}

.mobile-order-text2 {
	@media(--mdMinus) {
		order:2;
	}
	@media(--xs) {
		order: 3;
	}
}

.mobile-order-img {
	@media(--mdMinus) {
		order:3;
	}
	@media(--sm) {
		order:3;
	}
	@media(--xs) {
		order:3;
	}

	& .main-section-img_mobile {
		@media(--xs) {
			margin-top: 0;
		}
	}
}

.mobile-order-img2 {
	@media(--mdMinus) {
		order:2;
	}
	@media(--sm) {
		order:3;
		margin: 35px 0 30px 0;
	}
	@media(--xs) {
		order:3;
		margin: 35px 0 30px 0;
	}

	& .main-section-img_mobile {
		@media(--xs) {
			margin-top: 0;
			position: relative;
		}
	}
}


@media (--mdMinus) {
	.video-about-modal-inner {}
}


@media (--xs) {
	.video-about-modal-inner {
		width: 100%;
		height: 250px;
	}
}

@media (--smMinus) AND (orientation: landscape) {
	.video-about-modal-inner {
		width: 65%;
		height: 200px;
	}
}

.close-gallery_video {
	background: rgba(255, 255, 255, 0.6);
	padding: 20px;
	top: 0;
	right: 0px;
	width: auto;
	height: auto;

	@media (--mdMinus) {
		display: none;
	}

}

.video-about-modal__play {
	background: url("../img/play-video.svg") no-repeat center center;
	background-size: contain;
	color: #fff;
	border: none;
	outline: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
	z-index: 100;
}

.video-about-modal__play:hover {
	cursor: pointer;
}

.video-about-modal .fancybox-content {
	height: 450px;
	width: 800px;
	position: relative;

	@media(--sm) {
		height:100%;
		width:100%;
		max-width: calc(100% - 100px);
		max-height: calc(100% - 88px);
		margin:0;
	}
	@media(--xs) {
		height:100%;
		width:100%;
		max-width: calc(100% - 100px);
		max-height: calc(100% - 88px);
		margin:0;
	}

}

.banner-wrapper {
	display: none;
	padding: 0;
	width: 80%;
	max-width: 1052px;

	&._custom {
		background-color: transparent;

		@media (--640) {
			width: 100%;
		}

		.fancybox-close-small {
			display: none;
		}
	}

	&__inner,
	&__picture {
		display: block;
	}

	img {
		display: block;
		width: 100%;
		object-fit: cover;
	}

	@media (max-width: 640px) {
		width: calc(100% - 40px);
	}
}

.main-banner {
	width: 100%;
	height: 475px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	&__part {
		width: calc(100% - 340px);
		height: 100%;

		&:first-child {
			background-position: 50% 50%;
		}

		&:last-child {
			width: 340px;
			height: auto;
			padding: 40px;
		}
	}

	&__btn {
		.btn-more {
			position: relative;
			width: 100%;
			right: auto;
			bottom: auto;
			color: #fff;

			@media (max-width: 1023px) {
				height: 50px;

				&:after {
					display: none;
				}

				span {
					display: block;
				}
			}
		}
	}

	&__logo {
		display: block;
		margin-bottom: 45px;
	}

	&__tlt {
		font-family: 'PFDinDisplayPro';
		font-weight: 600;
		font-size: 39px;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: 0;
		margin-bottom: 55px;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		height: auto;

		&__part {
			width: 100%;

			&:last-child {
				width: 100%;
			}

			&:first-child {
				height: 475px;
			}
		}

		&__tlt {
			text-align: center;
			margin-bottom: 40px;

			br {
				display: none;
			}
		}

		&__logo {
			margin: 0 auto 25px;
		}
	}

	@media (max-width: 640px) {
		&__part {
			width: 100%;

			&:last-child {
				padding: 10px;
				width: 100%;
			}

			&:first-child {
				height: 190px;
				background-size: cover;
				margin-bottom: 20px;
			}
		}

		&__tlt {
			font-size: 22px;
			margin-bottom: 15px;
		}

		&__logo {
			margin-bottom: 30px;
		}
	}
}

.fancybox-close-small {
	width: 40px;
	height: 40px;
	transition: ease .3s all;
	top: 10px;
	right: 10px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		height: 20px;
		width: 2px;
		margin-top: -10px;
		margin-left: -1px;
		background-color: rgba(0, 0, 0, .5);
		font: inherit;
		border-radius: 0;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

	&:hover {
		transform: rotate(180deg);

		&:after,
		&:before {
			color: transparent;
			background-color: rgba(0, 0, 0, .5);
		}
	}
}

.main-flatsMinPrices {
	margin: 90px 0 15px;
	@media (--767) {
		margin: 65px 0 -20px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
		@media (--mdMinus) {
			max-width: 1023px;
			padding: 0 40px;
			margin: 0 auto;
		}
		@media (--767) {
			max-width: 200px;
			flex-flow: wrap;
			padding: 0;
		}

		&Item {
			width: 200px;
			margin-bottom: 45px;
			text-align: center;
			@media (--mdMinus) {
				width: 33.33%;
			}
			@media (--767) {
				width: auto;
				margin: 0 0 55px;
			}
		}

		&ImgBox {
			width: 200px;
			height: 200px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto 40px;
			@media (max-width: 1439px) {
				margin-bottom: 34px;
			}
			@media (--767) {
				height: auto;
				margin-bottom: 45px;
			}

			& a {
				width: 100%;
				height: 100%;
			}
		}

		&Img {
			 max-width: 200px;
			 max-height: 200px;
			 width: 100%;
			 height: 100%;
			 object-fit: contain;
		}

		&Name {
			 font: 500 17px/1 'PFDinDisplayPro';
			 color: #000;
			 text-transform: uppercase;
			 margin-bottom: 20px;
		}

		&Price {
			 font: 17px/1 'PFDinDisplayPro';
			 color: #000;
			 margin-bottom: 15px;
		}

		&Sqr {
			 font: 17px/1 'PFDinDisplayPro';
			 color: #908e97;
		}
	}

	&__glow {
		font-family: 'PFDinDisplayPro';
		font-weight: 700;
		color: #e4ae3d;
	}
}

.main-section-title_flatsMinPrices {
	padding-bottom: 50px;
	margin: 0 60px 85px;
	text-align: center;
	@media (--mdMinus) {
		padding-bottom: 45px;
		margin-bottom: 45px;
		text-align: left;
	}
	@media (--xs) {
		padding-bottom: 30px;
		margin: 0 20px 60px;
	}
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		width: 74px;
		height: 2px;
	 	background: #008fd5;
		@media (--mdMinus) {
			left: 0;
			transform: translateX(0);
		}
	}
}