.infrastructure {
    overflow: hidden;

    .page__section {

        &:first-child {
            p {
                max-width: 780px;
                margin: 0 auto;
                text-align: center;
            }
        }
    }

    .design-slider__item {
        height: 500px;
        padding-top: 66.6%;
    }

    &__banner {
        height: 320px;
        padding: 30px 0;
        color: #fff;
        background: transparent url('../img/infrastructure/05_desktop.jpg') 50% 50% no-repeat;
        background-size: cover;

        .page-chess__item {
            display: block;
            margin: 0 !important;
            padding: 0;
            max-width: 780px;

            h2 {
                &:before {
                    background: #e5af2d;
                }
            }

            p {
                color: #fff;
                line-height: 27px;
            }
        }

        @media (max-width: 1024px) {
            background-image: url('../img/infrastructure/05_mobile_1024.jpg');
            height: 400px;
        }

        @media (max-width: 768px) {
            background-image: url('../img/infrastructure/05_mobile_767.jpg');
            height: 768px;
        }
    }

    &__btn {
        position: absolute;
        bottom: 50px;
        right: 0;
        transform: translateX(50%);

        .btn-more {
            position: relative;
            left: auto;
            top: auto;
            bottom: auto;
            right: auto;
            color: #fff;
            min-width: 280px;

            @media (max-width: 1023px) {
                width: auto;
                height: 50px;

                span {
                    display: block;
                }

                &:after {
                    display: none;
                }
            }
        }

        @media (max-width: 768px) {
            bottom: 0;
            left: 40px;
            right: 40px;
            transform: translate(0, 50%);

            .btn-more {
                min-width: 0;
            }
        }
    }

    .page__section {
        h2 {
            span {
                margin-top: 15px;
            }
        }
    }
}
