.interior {

}

.interior-gallery {
    &__item {
        position: relative;
        padding-top: 66.66%;
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;

        @media (--640) {
            padding: 0;
            height: 460px;
            overflow: hidden;
        }
    }

    .swiper-pagination-bullets {
        bottom: 50px;
        opacity: 1;

        .swiper-pagination-bullet {
            transition: ease .3s all;
            width: 5%;
            max-width: 40px;
            margin: 0 2px;
            height: 2px;
            background-color: #fff;
            opacity: 1;
            border-radius: 0;
            cursor: pointer;

            &-active {
                height: 4px;
                background-color: #e5af2d;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 0;
        width: 20%;
        height: 100%;
        background: transparent url('../img/interior/gallery-arrow.svg') 50% 50% no-repeat;
        margin: 0;

        @media (--640) {
            display: none;
        }
    }

    .swiper-button-next {
        transform: rotate(180deg);
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }
}

.fancybox-container {
    &.panorams {
        .fancybox-content {
            width: 100%;
            height: 100%;
            max-width: none;
            max-height: none;
            margin: 0;
        }
    }
}
