.kids {
    overflow: hidden;

    &__banner {
        height: 430px;
        padding: 30px 0;
        color: #fff;
        background: transparent url('../img/kids/03_desktop.jpg') 50% 50% no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .container {
            width: 100%;
        }

        .page-chess__item {
            display: block;
            margin: 0 !important;
            padding: 0;
            max-width: 780px;

            h2 {
                &:before {
                    background: #e5af2d;
                }
            }

            p {
                color: #fff;
                line-height: 27px;
            }
        }

        @media (max-width: 768px) {
            background: transparent;
            height: auto;
            color: #000;

            .page-chess__item {
                h2 {
                    &:before {
                        background-color: #008fd5;
                    }
                }

                p {
                    color: #000;
                }
            }
        }
    }

    ._mob {
        display: none;
        width: calc(100% + 40px);
        margin-left: -20px;

        img {
            object-fit: cover;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            max-height: 250px
        }

        @media (max-width: 768px) {
            display: block;
        }
    }

    .page-chess__picture {
        img {
            max-height: 650px;

            @media (max-width: 768px) {
                max-height: 250px;
            }
        }
    }
}
