.longread-map1 {
    height: 600px;
    background-size: cover;
}

.longread-map1-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #f1f1f4;

    &__item {
        display: block;
        height: 70px;
        line-height: 70px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: #9a330c;
        cursor: pointer;
        padding: 0 25px;
        font-weight: 600;
        text-decoration: underline;
        white-space: nowrap;

        &:hover {
            text-decoration: none;
        }

        &._active {
            color: #000;
            cursor: text;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }

        &:last-child {
            span {
                &:last-child {
                    display: none;
                }

                @media (max-width: 768px) {
                    display: none;

                    &:last-child {
                        display: block;
                    }
                }
            }
        }
    }
}

.longread-map2 {
    height: 550px;
    margin-top: 30px;
}

.longread-mapInfra {
    height: 600px;

}

.longread-mapInfra-container {
    height: 600px;
    position: relative;
    margin-bottom: 50px;

    @media (max-width: 576px) {
        margin-bottom: 90px;
    }
}

.longread4-mapPoints {
    display: none;
}

.longread-mapInfra-btns {
    display: none;

    @media (--xs) {
        display: flex;
    }
}

.longread-mapInfra-btns__map {
    background: #e0ded4;
    border:none;
    outline: none;
    font-family: 'PFDinDisplayPro';
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
    flex-basis: 35%;
}

.longread-mapInfra-btns__infra {
    background: #f7941e;
    border:none;
    outline: none;
    font-family: 'PFDinDisplayPro';
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
    color:#ffffff;
    flex-basis: 75%;
}

.longread4-mapPoints {
    display: none;
}



.longread4-category-links {
    background: #ffffff;
    padding: 15px;
    width: 354px;
    position: absolute;
    bottom: 50px;
    left:20px;
    display: block;
    z-index: 100;

    @media (--xs) {
        display:none;
        width:100%;
        left:0;

    }
    &_visible {
        display: block;
    }
    &_hidden {
         display: none;
    }
}

.longread4-category-links__title {
    font-family: 'PFDinDisplayPro';
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.longread4-category-links__item {
    display: block;
    position: relative;
    padding: 11px 0 11px 40px;
    font-family: 'PFDinDisplayPro';
    font-size: 15px;
    font-weight: 400;
    color:#616162;
}

.longread4-category-links__item:before {
    content:'';
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    left:0;
    top:5px;
    display: block;
}

.longread4-category-links__item_edu:before {
    background-image: url("../img/location/icon_infra/univercity.png");
}

.longread4-category-links__item_school:before {
    background-image: url("../img/location/icon_infra/school.png");
}

.longread4-category-links__item_kindergarten:before {
    background-image: url("../img/location/icon_infra/kids.png");
}

.longread4-category-links__item_cafe:before {
    background-image: url("../img/location/icon_infra/cafe.png");
}

.longread4-category-links__item_shops:before {
    background-image: url("../img/location/icon_infra/shop.png");
}

.longread4-category-links__item_med:before {
    background-image: url("../img/location/icon_infra/medicine.png");
}

.longread4-category-links__item_park:before {
    background-image: url("../img/location/icon_infra/park.png");
}

.longread4-category-links__item_sport:before {
    background-image: url("../img/location/icon_infra/sport.png");
}

.longread4-category-links__item_museums:before {
    background-image: url("../img/location/icon_infra/museums.png");
}

.longread4-category-links__item_cinema:before {
    background-image: url("../img/location/icon_infra/cinema.png");
}

.longread4-category-links__item:after {
    content:'';
    position: absolute;
    right:0;
    top:6px;
    background: url("../img/location/active.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.longread4-category-links__item_off:after {
    background: url("../img/location/disable.png") no-repeat;
}

.longread4-category-links__show {
    color:#fd7b23;
    font-family: 'PFDinDisplayPro';
    font-size: 15px;
    font-weight: 400;
    border-bottom:1px dashed #fd7b23;
    margin-right: 20px;
    margin-top: 15px;
    display: inline-block;
}

.longread4-category-links__hide {
    color:#fd7b23;
    font-family: 'PFDinDisplayPro';
    font-size: 15px;
    font-weight: 400;
    border-bottom:1px dashed #fd7b23;
    margin-top: 15px;
    display: inline-block;
}

.longread-mapInfra-btns {
    display: none;
    @media (--xs) {
        display: flex;
    }
}
.longread-mapInfra-btns__map {
    background: #e0ded4;
    border:none;
    outline: none;
    font-family: 'PFDinDisplayPro';
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
    flex-basis: 35%;
}

.longread-mapInfra-btns__infra {
    background: #f7941e;
    border:none;
    outline: none;
    font-family: 'PFDinDisplayPro';
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
    color:#ffffff;
    flex-basis: 75%;
}

.location {

    .container {
        max-width: 1280px;
        padding: 0 40px;

        @media (max-width: 768px) {
            padding: 0 20px;
        }
    }

    .location__tlt {
        position: relative;
        font-size: 37px;
        letter-spacing: -.7px;
        line-height: 1.4;
        padding-bottom: 40px;
        text-align: left;
        text-transform: uppercase;

        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 75px;
            height: 1px;
            background-color: #008fd5;
        }

        span {
            display: block;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0;
        }

        @media (max-width: 768px) {
            text-align: center;

            &:before {
                left: 50%;
                margin-left: -37.5px;
            }
        }
    }

    &-list {
        display: flex;
        flex: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin-left: 100px;

        li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 37%;

            &:first-child {
                width: 26%;
            }

            span {
                display: block;

                &:first-child {
                    color: #e5af2d;
                    font-size: 67px;
                    letter-spacing: 0px;
                    font-weight: 600;
                    margin-right: 5px;
                }

                &:last-child {
                    color: #000;
                    font-size: 17px;
                    font-weight: 500;

                    em {
                        display: block;
                        font-style: normal;
                        color: #e5af2d;
                        text-transform: uppercase;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            margin: 50px 0 0 0;
        }

        @media (max-width: 640px) {
            display: block;

            li {
                width: 100%;
            }
        }
    }
}

.location-section {
    &__block {
        p {
            margin: 0;

            @media (max-width: 768px) {
                text-align: center;

                br {
                    display: none;
                }
            }
        }

        &:last-child {
            display: flex;
            flex-direction: row;

            @media (max-width: 768px) {
                display: block;
            }
        }
    }

    &._double {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;

        .location-section__block {
            width: 50%;

            &:last-child {
                padding-left: 50px;
            }

            &:first-child {
                p {
                    max-width: 380px;

                    @media (max-width: 768px) {
                        max-width: none;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            display: block;

            .location-section__block {
                width: 100%;

                &:last-child {
                    padding-left: 0;
                }
            }

            .location__tlt {
                text-align: left;

                &:before {
                    margin: 0;
                    left: 0;
                }

                + p {
                    margin: 10px 0 30px 0;
                    text-align: left;
                }
            }
        }
    }
}

.location-tile {
    margin-bottom: 50px;

    h2 {
        position: relative;
        font-size: 37px !important;
        letter-spacing: -.7px;
        line-height: 1.6 !important;
        padding-bottom: 30px;
        text-align: center;
        text-transform: uppercase;

        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            width: 75px;
            height: 1px;
            background-color: #008fd5;
            margin-left: -37.5px;
        }

        span {
            display: block;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0;
        }

        @media (max-width: 768px) {
            text-align: left;

            &:before {
                left: 0;
                margin: 0;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &:nth-child(2n) {
            .location-tile__block {
                &:first-child {
                    order: 1;
                }

                &:last-child {
                    top: 0;
                }
            }
        }

        &:first-child {
            .location-tile__block {
                &:last-child {
                    top: -50px;

                    @media (max-width: 1280px) {
                        top: -25px;
                    }

                    @media (max-width: 768px) {
                        top: 0;
                    }
                }
            }
        }

        +.location-tile__item {
            margin-top: -100px;

            @media (max-width: 1280px) {
                margin-top: -50px;
            }

            @media (max-width: 768px) {
                margin-top: 0;
            }
        }

        @media (max-width: 768px) {
            display: block;

            &:nth-child(2n) {
                .location-tile__block {
                    &:first-child {
                        order: -1;
                    }
                }
            }

            .location-tile__block {
                width: 100%;

                &:last-child {
                    padding: 20px;
                    top: 0;
                }
            }
        }
    }

    &__block {
        width: 50%;

        img {
            display: block;
            object-fit: cover;
            margin: 0 auto;
            width: 100%;
        }

        &:last-child {
            position: relative;
            top: 50px;
            padding: 100px;

            @media (max-width: 1280px) {
                padding: 50px;
                top: 25px;
            }
        }

        p {
            margin: 0 0 30px 0;
            font-weight: 400;

            @media (max-width: 768px) {
                margin: 0;
            }
        }
    }
}

.longread-tabs-descr {
    background-color: #f1f1f4;

    &__inner {
        padding: 20px 0;
    }

    p {
        display: none;
        text-align: center;
        margin: 0;
    }
}
