.longread-video {
    padding-top: 55.6%;
    position: relative;
    max-height: 720px;
    margin-bottom: 70px;

    iframe,
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__bg {
        z-index: 10;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        cursor: pointer;

        &:before {
            transition: ease .3s all;
            content: '';
            width: 52px;
            height: 52px;
            background: transparent url('/img/play-ico.svg') 0 0 no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -26px 0 0 -26px;
        }

        &:hover {
            &:before {
                transform: scale(.9);
            }
        }
    }
}

.longread-banner {
    min-height: calc(100vh - 70px);;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

@media (--md) {
    .longread-banner {
        max-height: 520px;
    }
}

.longread-banner_n1 {
    background-image: url("../img/longread-1/banner.jpg");
    @media (--mdMinus) {
        background-image: url("../img/longread-1/banner_mobile.jpg");
    }
}

.longread-banner_n2 {
    background-image: url("../img/longread-2/banner.jpg");
}

@media (--md) {
    .longread-banner_n2 {
        background-image: url("../img/longread-2/banner_mobile.jpg");
    }
}

.longread-banner_n3 {
    background-image: url("../img/longread-3/banner.jpg");
}

@media (--md) {
    .longread-banner_n3 {
        background-image: url("../img/longread-3/banner_mobile.jpg");
    }
}

.longread-banner_n4 {
    background-image: url("../img/longread-4/banner.jpg");
    @media (--md) {
        background-image: url("../img/longread-4/banner_mobile.jpg");
    }
}

.longread-banner_n5 {
    background-image: url('../img/longread-5/banner.jpg');
}

@media (--md) {
    .longread-banner_n5 {
        background-image: url('../img/longread-5/banner_mobile.jpg');
    }
}

.longread-banner_n6 {
    background-image: url('../img/longread-6/banner.jpg');
}

@media (--mdMinus) {
    .longread-banner_n6 {
        background-image: url('../img/longread-6/banner_mobile.jpg');
    }
}



.longread-banner__subtext {
    font-family: 'PFDinDisplayPro';
    font-weight: 100;
    font-size: 17px;
    color: #ffffff;
    margin-top: 30px;
    line-height: 25px;
}

@media (--md) {
    .longread-banner__subtext {
        margin-top: 20px;
    }
}

@media (--xs) {
    .longread-banner__subtext {
        line-height: 25px;
    }
}

@media (--xs) {
    .longread-banner {
        max-height: 100%;
        height: auto;
    }
}

.longread-banner__text {
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    margin-bottom: 170px;
    position: relative;
    /*padding: 0 55px;*/
}

.longread-banner__text:after {
    content: "";
    background: url("../img/arrow-banner-text.png") no-repeat;
    width: 158px;
    height: 5px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -79px;
    bottom: -100px;
}

@media (--md) {
    .longread-banner__text:after {
        bottom: -40px;
    }
}

@media (--xs) {
    .longread-banner__text:after {
        bottom: -65px;
    }
}

@media (--md) {
    .longread-banner__text {
        padding: 0 70px;
        margin-bottom: 100px;
        margin-top: 150px;
    }
}

@media (--xs) {
    .longread-banner__text {
        font-size: 30px;
        line-height: 30px;
        padding: 0 20px;
        margin-top: 100px;
    }
}

.longread-banner__scrolling {
    background: url("../img/down.svg") no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -25px;
    z-index: 11;
}

@media (--mdMinus) {
    .longread-banner__scrolling {
        display: none;
    }
}

@media (--mdMinus) {
    .longread-banner__arrow {
        height: 12px;
        margin-top: -11px;
        position: absolute;
        bottom: 0;
        z-index: 30;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .longread-banner__arrow_left:before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 12px solid #ffffff;
        border-right: 12px solid transparent;
        position: absolute;
        top: 0;
        right: -12px;
    }

    .longread-banner__arrow_right:after {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 12px solid #ffffff;
        border-left: 12px solid transparent;
        position: absolute;
        top: 0;
        left: -12px;
    }

    .longread-banner__arrow_left {
        width: calc(50% - 11px);
        background: #ffffff;
        position: relative;
    }

    .longread-banner__arrow_left_gray {
        background: #ededed;
    }

    .longread-banner__arrow_left_gray:before {
        border-bottom: 12px solid #ededed;
    }

    .longread-banner__arrow_right {
        width: calc(50% - 11px);
        background: #ffffff;
        position: relative;
    }

    .longread-banner__arrow_right_gray {
        background: #ededed;
    }

    .longread-banner__arrow_right_gray:after {
        border-bottom: 12px solid #ededed;
    }
}

@media (--md) {
    .longread-banner__bottomLine {
        display: block;
    }
}

.longread-sectionFull {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 80px 0;
    margin: 90px 0;
}

@media (--mdMinus) {
    .longread-sectionFull {
        padding: 90px 0;
        margin: 60px 0;
    }
}

@media (--xs) {
    .longread-sectionFull {
        padding: 30px 0;
        margin: 35px 0;
    }
}

.longread-sectionFull_n1 {
    background-image: url("../img/longread-1/sec2.jpg");
}

@media (--mdMinus) {
    .longread-sectionFull_n1 {
        background-image: url("../img/longread-1/sec2_mobile.jpg");
    }
}

.longread-sectionFull_n2 {
    background-image: url("../img/longread-1/sec4.jpg");
}

@media (--mdMinus) {
    .longread-sectionFull_n2 {
        background-image: url("../img/longread-1/sec4_mobile.jpg");
    }
}

@media (--xs) {
    .longread-sectionFull_n2 {
        padding: 135px 0;
    }
}

.longread-sectionFull_n3 {
    background-image: url("../img/longread-2/sec2.jpg");
}

@media (--mdMinus) {
    .longread-sectionFull_n3 {
        background-image: url("../img/longread-2/sec2_mobile.jpg");
    }
}

.longread-sectionFull_n4 {
    background-image: url("../img/longread-2/sec5.jpg");
}

@media (--mdMinus) {
    .longread-sectionFull_n4 {
        background-image: url("../img/longread-2/sec5_mobile.jpg");
    }
}

@media (--xs) {
    .longread-sectionFull_n4 {
        background-position-x: 63%;
        padding: 215px 0 60px;
    }
}


.longread-sectionFull_n6 {
    background-image: url("../img/longread-5/sec7.jpg");
}

@media (--mdMinus) {
    .longread-sectionFull_n6 {
        background-image: url("../img/longread-5/sec7_mobile.jpg");
    }
}

@media (--xs) {
    .longread-sectionFull_n6 {
        background-position-x: 28.7%;
        padding: 210px 0;
        background-size: 405%;
    }
}


.longread-sectionFull_n5 {
    background-image: url("../img/longread-3/sec3.jpg");
    margin-bottom: 0;
    padding: 250px 0 60px;
}

@media (--mdMinus) {
    .longread-sectionFull_n5 {
        background-image: url("../img/longread-3/sec3_mobile.jpg");
    }
}

@media (--xs) {
    .longread-sectionFull_n5 {
        background-position-x: 70%;
    }
}

.longread-sectionFull_n7 {
    background-image: url("../img/longread-4/sec3.jpg");
    margin-bottom: 0;
    padding: 250px 0 60px;
    @media (--mdMinus) {
        background-position-x: 70%;
        padding:90px 50px 60px;
    }
    @media (--xs) {
        padding:70px 0px 40px;
    }
}

.longread-sectionFull__title {
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-size: 60px;
    color: #fefefe;
    margin-bottom: 30px;
}

@media (--xs) {
    .longread-sectionFull__title {
        font-size: 35px;
        line-height: 40px;
        font-weight: 300;
        margin-bottom: 15px;
        padding: 0;
    }
}

@media (--xs) {
    .longread-sectionFull__text {
        padding: 0;
    }
}

.longread-sectionFull__text,
.longread-sectionFull__text p {
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 17px;
    color: #ffffff;
    line-height: 1.5;
}

.longread-sectionFull__text_L2Sec2 {
    max-width: 880px;
}

@media (--xs) {
    .longread-sectionFull__text_L3ec2 {
        display: none;
    }
}

.longread-sectionFull__text_L2Sec2 p {
    margin-bottom: 15px;
}

.longread-sectionFull__text_L2Sec5 {
    max-width: 750px;
}

.longread-section {
    margin: 90px 0;
}

@media (--mdMinus) {
    .longread-section {
        margin: 60px 0;
    }
}

@media (--xs) {
    .longread-section {
        margin: 35px 0;
    }
}

.longread-section__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.longread-section__container_list {
    max-width: 1170px;
    @media(--mdMinus) {
        padding:0 40px;
    }
    @media(--xs) {
        padding:0 20px;
    }
}

.longread-section__col {
    width: 50%;
}

@media (--mdMinus) {
    .longread-section__col {
        width: 100%;
    }
}

.longread-section__col_desktopOrder1 {
    order: 1;
}

.longread-section__col_desktopOrder2 {
    order: 2;
}

@media (--mdMinus) {
    .longread-section__col_tabletOrder1 {
        order: 1;
    }

    .longread-section__col_tabletOrder2 {
        order: 2;
    }
}

.longread-section__col_centerContent {
    display: flex;
    align-items: center;
}

.longread-section__col_1of3 {
    width: 33.3%;
}
.longread-section__col_bottomContent {
    display: flex;
    align-items: flex-end;
}

.longread-section__img_right {
    text-align: right;
}

@media (--mdMinus) {
    .longread-section__img {
        margin-top: 50px;
    }
}

/*@media (--xs) {*/
    /*.longread-section__img {*/
        /*display: none;*/
    /*}*/
/*}*/

.longread-section__imgMobile {
    display: none;
}

/*@media (--xs) {*/
    /*.longread-section__imgMobile {*/
        /*display: block;*/
    /*}*/
/*}*/

@media (--xs) {
    .longread-section__imgMobile_L1 {
        display: block;
    }

    .longread-section__img_L1 {
        display: none;
    }
}


.longread-section__img_L2Sec1 {
    margin-top: 120px;
}

@media (--mdMinus) {
    .longread-section__img_L2Sec1 {
        margin-top: 50px;
    }
}

@media (--xs) {
    .longread-section__img_L2Sec1 {
        margin-top: 30px;
        display: block;
    }
}

.longread-section__content_right {
    padding-left: 97px;
    padding-right: 54px;
}

.longread-section__content_left {
    padding-right: 97px;
    padding-left: 54px;
}

@media (--mdMinus) {
    .longread-section__content {
        padding: 0 40px;
    }
}

@media (--xs) {
    .longread-section__content {
        padding: 0;
    }
}

@media (--mdMinus) {
    .longread-section__content_padding {
        padding: 0 90px;
    }
}

@media (--xs) {
    .longread-section__content_padding {
        padding: 0;
    }
}

.longread-section__content_L3Sec1 {
    padding-right: 70px;
    padding-left: 54px;
}

@media (--xs) {
    .longread-section__content_L3Sec1 {
        padding: 0;
    }
}

.longread-section__title {
    font-family: 'PFDinDisplayPro';
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 65px;
    margin-top: 20px;
    position: relative;
}

@media (--mdMinus) {
    .longread-section__title {
        margin-top: 0;
    }
}

@media (--xs) {
    .longread-section__title {
        font-size: 35px;
        padding: 0 20px;
    }
}

.longread-section__title:before {
    content: "";
    width: 75px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background: #f8b470;
    @media(--mdMinus) {
        display:none;
    }
    @media(--xs) {
        display:block;
    }
}

@media (--xs) {
    .longread-section__title:before {
        left: 20px;
        bottom: -30px;
        top: initial;
    }
}

.longread-section__text,
.longread-section__text p {
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 17px;
    line-height: 1.5;
}

.longread-section__text {
    position: relative;
}

@media (--xs) {
    .longread-section__text {
        padding: 0 20px;
        margin-top: 30px;
    }
}

.longread-section__text:before {
    content: "";
    color: #ebd6ce;
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-size: 100px;
    position: absolute;
    left: -40px;
    top: -70px;
    opacity: 1;
    z-index: -1;
}

.longread-section__text_d:before {
    content: "Д";
}

.longread-section__text_p:before {
    content: "П";
}

.longread-section__text_n:before {
    content: "Н";
}

.longread-section__text_s:before {
    content: "С";
}

.longread-section__text_v:before {
    content: 'В';
}

.longread-section__text_j:before {
    content: "Ж";
}

.longread-section__text_b:before {
    content: "Б";
}

.longread-section__text_u:before {
    content: "У";
}

.longread-section__text_g:before {
    content: "Г";
}

@media (--xs) {
    .longread-section__text:before {
        display: none;
    }
}

@media (--xs) {
    .longread-section__text_L2Sec1 {
        margin-top: 30px;
    }
}

.longread-section__text p {
    margin-bottom: 25px;
}

.longread-section__text p:last-child {
    margin-bottom: 0;
}

.longread-sectionList {
    background: #ededed;
    padding: 80px 55px;
}

@media (--mdMinus) {
    .longread-sectionList {
        padding: 60px 0;
    }
}

@media (--xs) {
    .longread-sectionList {
        padding: 40px 0;
    }
}

.longread-section__list {
    padding: 0 35px;

    @media (--mdMinus) {
        padding: 0;
    }

    @media (--xs) {
        padding: 0 20px;

    }

    &_L2Sec1 {
        @media(--mdMinus) {
            padding:0 40px;
        }
        @media(--xs) {
            padding: 0 20px;
        }
    }
}




.longread-section__title_rightBorder {
    font-family: 'PFDinDisplayPro';
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 35px;
    margin-top: 20px;
    position: relative;
}

@media (--xs) {
    .longread-section__title_rightBorder {
        font-size: 35px;
        margin-bottom: 65px;
    }
}

.longread-section__title_rightBorder:after {
    content: "";
    width: 75px;
    height: 1px;
    display: inline-block;
    position: relative;
    bottom: 0px;
    top: initial;
    left: 10px;
    background: #f8b470;
    order: 2;
}

@media (--xs) {
    .longread-section__title_rightBorder:after {
        left: 20px;
        bottom: -30px;
        top: initial;
        position: absolute;
    }
}

@media (--mdMinus) {
    .longread-section__title_rightBorderMobile {
        font-family: 'PFDinDisplayPro';
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 65px;
        margin-top: 20px;
        position: relative;

    }

    .longread-section__title_rightBorderMobile:after {
        content: "";
        width: 75px;
        height: 1px;
        display: inline-block;
        position: relative;
        bottom: 0px;
        top: initial;
        left: 10px;
        background: #f8b470;
        order: 2;
    }
}

@media (--xs) {
    .longread-section__title_rightBorderMobile {
        font-size: 35px;
        display: block;
        font-size: 30px;
        padding: 0 20px;
    }

    .longread-section__title_rightBorderMobile:before {
        left: 20px;
        bottom: -30px;
        top: initial;
        position: absolute;
    }
}

.longread-sectionFull__content_padding {
    padding: 0 50px;
}

@media (--xs) {
    .longread-sectionFull__content_padding {
        padding: 0;
    }
}

.longread-section-list {
    padding: 0 40px;
    margin-top: 50px;
}

@media (--xs) {
    .longread-section-list {
        padding: 0 20px;
        margin-top: 30px;
    }
}

@media (--lgPlus) {
    .longread-section-list_mobile {
        display: none;
    }
}

@media (--mdMinus) {
    .longread-section-list_desktop {
        display: none;
    }
}

.longread-section-textTablet {
    padding: 0 90px;
    margin-top: 30px;
}

@media (--xs) {
    .longread-section-textTablet{
        padding: 0 20px;
        margin-top: 30px;
        font-weight:300;
    }
}

.longread-section-textMobile{
    padding: 0 20px;
    margin-top: 30px;
    font-weight:300;
}

.longread-section__bigText {
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-size: 50px;
    color: #9a330c;
    line-height: 35px;
}

.longread-section__bigText span {
    font-size: 25px;
}

.longread-section__textRow {
    display: flex;
    flex-wrap: wrap;
}

@media (--xs) {
    .longread-section__textCol {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}

.longread-section__textCol {
    margin-right: 60px;
}

.longread-section__textCol:last-child {
    margin-right: 0;
}

.longread-sectionText {
    background: #f6f6f6 ;
}


@media (--mdMinus) {
    .longread-sectionText {
        order:2;
    }
}

.longread-sectionText__img {
    background: url("../img/longread-5/sectionText.png") no-repeat;
    max-width: 488px;
    height: 267px;
    margin: auto;

    @media(--xs) {
        background-size: cover;
        background-position-x: -15px;
        height: 200px;
    }
    @media(--xs) AND (orientation: landscape) {
        height: 267px;
    }
}


.longread-sectionText__text {
    margin-top: 50px;
    padding-left: 55px;
}

@media (--mdMinus) {
    .longread-sectionText__text {
        padding-left: 90px;
        margin-bottom: 50px;
    }
}

@media (--xs) {
    .longread-sectionText__text {
        padding: 0 20px;
        margin-bottom: 50px;
        margin-top: 0;
    }
}

.longread-sectionFasad__row1 {
    background: #ededed;
    position: relative;
}

@media (--xs) {
    .longread-sectionFasad__row1 {
        background: #060E23;
    }
}

.longread-sectionFasad__row2 {
    background: #060E23;
    padding: 146px 55px 60px 55px;
}

@media (--mdMinus) {
    .longread-sectionFasad__row2 {
        padding: 60px 90px;
    }
}

@media (--xs) {
    .longread-sectionFasad__row2 {
        padding: 0px 20px 40px;
        background: #ededed;
    }
}

.longread-sectionFasad__text2 p {
    color:#ffffff;
    opacity: 0.8;
}

@media (--mdMinus) {
    .longread-sectionFasad__text2 {
        margin-top: 30px;
    }
}
.longread-section-slider {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.longread-section-slider__images {
    width: 66.7%;
    height: 100%;
    min-height: 470px;
    position: relative;
}

@media (--mdMinus) {
    .longread-section-slider__images {
        width: 100%;
        height: 470px;
    }
}

.longread-section-slider_order1 {
    order:1;
}

.longread-section-slider_order2 {
    order:2;
}
.longread-section-slider__text {
    width: 33.3%;
    background: #060E23;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

@media (--mdMinus) {
    .longread-section-slider__text {
        width: 100%;
        padding:30px 90px;
    }
}

@media (--xs) {
    .longread-sectionFasad__text2 p {
        color:#19191a;
    }
}

.longread-sectionFasad__bg {
    position: relative;
    height: 411px;
}

@media (--mdMinus) {
    .longread-sectionFasad__bg {
        height: 317px;
    }
}

@media (--xs) {
    .longread-sectionFasad__bg {
        background: #ededed;
        height: 250px;
    }
}

.longread-sectionFasad__bg:after {
    content: '';
    position: absolute;
    left:0;
    top:0;
    width: 540px;
    height: 535px;
    background: url("../img/longread-5/section-fasad.png") no-repeat;
}

@media (--mdMinus) {
    .longread-sectionFasad__bg:after {
        width: calc(100% - 40px);
        background-size: contain;
    }
}

@media (--xs) {
    .longread-sectionFasad__bg:after {
        width: calc(100% - 20px);
        height: calc(100% + 50px);
        background-size: contain;
    }
}

.longread-section__col_fasad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



p.longread-section__text_L5sec1 {
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-style: italic;
}

.list_L5sec1 {
    padding: 15px 0 0 15px;
}

@media (--mdMinus) {
    .list_L5sec1 {
        padding: 15px 0 0;
    }
}

p.longread-section__text_L5fasad {
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-style: italic;
    margin: 25px 0 5px 0;
}

p.longread-section__text_L5fasadLight {
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-style: italic;
}

@media (--mdMinus) {
    p.longread-section__text_L5fasadLight {
        margin-bottom: 15px;
    }
}

.longread-section_L5sec3 {
    margin: 30px 0;
}

@media (--mdMinus) {
    .longread-section_L5sec3 {
        padding: 0 90px;
        order:1;
    }
}

@media (--xs) {
    .longread-section_L5sec3 {
        padding: 0 20px;
        margin: 0 0 10px 0;
    }
}

.longread-section__container_listL5 {
    display: none;
}

@media (--mdMinus) {
    .longread-section__container_listL5 {
        display: flex;
        padding: 0 90px;
    }
}

@media (--xs) {
    .longread-section__container_listL5 {
        display: flex;
        padding: 0 20px;
    }
}


@media (--mdMinus) {
    .longread-section__col_listL5 {
        width: 50%;
    }
}

@media (--xs) {
    .longread-section__col_listL5 {
        width: 100%;
    }
}

@media (--xs) {
    .longread-sectionFull__titleL5Sec7 {
        text-align: center;
    }
}

.longread-sectionFull__text_L5Sec7 {
    & p {
        margin:14px 0;
    }
    @media(--xs) {
        display: none;
    }
}

.longread-section__col_l5sec3 {
    display: flex;
    justify-content: center;
}

@media (--mdMinus) {
    .longread-section__col_l5sec3 {
        width: 50%;
    }
}

@media (--xs) {
    .longread-section__col_l5sec3 {
        width: 100%;
    }
}

.longread-section__title_fasad {
    padding:  0 55px;
    @media (--mdMinus) {
        padding: 0 90px;
    }
    @media (--xs) {
        padding:0 20px;

    }

}


@media (--mdMinus) {
    .longread-section-slider__text {
        width: 100%;
        padding:30px 20px;
    }
}

.longread-section-slider__text p {
    color:#ffffff;
}

.longread-section-slider__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}


.longread-section-slider__slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.longread-section-slider__nav {
    position: absolute;
    bottom:0;
    right:0;
    display: flex;
    z-index: 1;
}

.longread-section-slider-next {
    background:#f7941e url("../img/arrow_slide_right.svg") no-repeat center center;
}

.longread-section-slider-prev {
    background:#f7941e url("../img/arrow_slide_left.svg") no-repeat center center;
    opacity: 0.7;
}

.longread-section-slider-next,
.longread-section-slider-prev {
    transition: opacity 0.4s ease;
    width: 80px;
    height: 80px;
}


.longread-section-slider-prev:hover,
.longread-section-slider-next:hover {
    cursor: pointer;
}

.longread-section-slider__nav_left {
    left:0;
    right:initial;
}

.longread-section-slider-pagination {
    position: absolute;
    bottom:100px;
    z-index: 1;
    padding: 0 20px;
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 24px;
    color:#ffffff;
    text-align: right;

}

.longread-section-slider-pagination_left {
    text-align: left;

}

.longread-section-slider-pagination .swiper-pagination-current {
    font-size: 30px;
}

@media (--mdMinus) {
    .longread-section-slider_orderMobile1 {
        order:1;
    }

    .longread-section-slider_orderMobile2 {
        order:2;
    }
}


.longread-section__title_slider {
    padding-left:97px;
    @media(--mdMinus) {
        padding: 0 40px;
    }
    @media(--xs) {
        padding: 0 20px;
    }
}



@media (--mdMinus) {
    .longread-sectionFasad__row1 .longread-section__col {
        width: 50%;
    }
}

@media (--xs) {
    .longread-sectionFasad__row1 .longread-section__col {
        width: 100%;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
}


@media (--mdMinus) {
    .longread-sectionText .longread-section__col {
        width: 50%;
    }
}


@media (--lgMinus) {
    .longread-sectionFasad__text1 {
        padding: 0 40px;
    }
}

@media (--xs) {
    .longread-sectionFasad__text1 {
        padding: 90px 20px 40px;
    }
    .longread-sectionFasad__text1 p {
        color:#ffffff;
    }
}

@media (--xs) {
    .longread-section__col_mobileOrder1 {
        order:1;
    }
    .longread-section__col_mobileOrder2 {
        order:2;
    }
}

@media (--xs) {
    .longread-sectionText .longread-section__col {
        width: 100%;
    }
}

@media (--xs) {
    .longread-banner__text_L5 {
        margin-bottom: 80px;
    }

    .longread-banner__text_L5:after {
        bottom:-40px;
    }
}


.longread-sectionFasad__text2 {
    padding-right: 30px;
}


.longread-section__textL5sec3 {
    padding-left: 55px;
}

@media (--mdMinus) {
    .longread-section__textL5sec3 {
        padding-left: 0
    }
}
.longread-section__routeIcons {
    margin-top: -30px;
    margin-bottom: 30px;
    @media (--xs) {
        padding:0 20px;
    }
}

.longread-section__title_bottomBorder:before {
    bottom:-20px;
    top:initial;
}

.longread-section__container_L4sec10 {
    padding: 0 97px;
    @media (--xs) {
        padding:0px;
    }
}

.longread-section__textCol_L4Sec5 {
    position: relative;
    margin-bottom: 40px;
    @media (--xs) {
        margin-top:-40px;
    }
}

.longread-section__textCol_L4Sec5:after {
    content: "";
    width: 75px;
    height: 1px;
    display: block;
    position: relative;
    bottom: -20px;
    top: auto;
    left: 0px;
    background: #f8b470;
}

.longread-section__title_L4Sec6 {
    display: block;
    @media (--xs) {
        font-size:24px;
    }
}

.longread-sectionFull_n9 {
    background-image: url("../img/longread-6/sec3.jpg");
}

@media (--mdMinus) {
    .longread-sectionFull_n9 {
        background-image: url("../img/longread-6/sec3_mobile.jpg");
    }
}



.slider-longread-6 {
    width: 100%;
    height: 660px;
    @media(--xs) {
        height:470px;
    }
}
.slider-longread-6__slide {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px 150px 60px 55px ;
    position: relative;
}

.slider-longread-6__slide:after {
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(117,117,117,1);
    background: -moz-linear-gradient(20deg, rgba(117,117,117,1) 0%, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(117,117,117,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(20,20,20,1)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(20deg, rgba(117,117,117,1) 0%, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 0%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(20deg, rgba(117,117,117,1) 0%, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(20deg, rgba(117,117,117,1) 0%, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(20deg, rgba(117,117,117,1) 0%, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#000000', GradientType=1 );
    z-index: 2;
    @media(--xs) {
        display:none;
    }
}

.slider-longread-6__content {
    position: absolute;
    height: 100%;
    width:100%;
    left:0;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    padding: 60px 150px 60px 55px;
}

.slider-longread-6__title {
    font-size: 60px;
    font-family: 'Geometria';
    font-weight: 200;
    color:#ffffff;
    margin-bottom: 10px;
    position: relative;
    z-index: 3;
    @media (--xs) {
        display:none;
    }
}

.slider-longread-6__text {
    font-size: 17px;
    font-family: 'Geometria';
    font-weight: 300;
    color:#ffffff;
    line-height: 1.5;
    position: relative;
    z-index: 3;
    @media (--xs) {
        display:none;
    }
}

.slider-longread-6__pagination {
    position: absolute;
    top:10px;
    z-index: 1;
    padding: 0 260px 0 20px;
    font-family: 'PFDinDisplayPro';
    font-weight: 200;
    font-size: 17px;
    color:#ffffff;
    text-align: right;
    @media (--mdMinus) {
        padding: 0 120px 0 20px;
    }
    @media(--xs) {
        padding: 0 20px 0 20px;
        top:initial;
        bottom: 100px;
    }
}



.slider-longread-6__pagination .swiper-pagination-current {
    font-size: 30px;
}

.slider-longread-6__next {
    position: absolute;
    height: 100%;
    right:0;
    top:0;
    width: 125px;
    background: rgba(43,38,52,0.9) url("../img/arrow_slide_right.svg") no-repeat center;
    z-index: 5;
    @media (--mdMinus) {
        width:50px;
        background-size: 60%;
    }
    @media(--xs) {
        display:block;
        width: 80px;
        height: 80px;
        background:#f7941e url("../img/arrow_slide_right.svg") no-repeat center center;
        bottom:0;
        left:initial;
        right:0px;
        top:initial;
    }
    &:before {
        content:'';
        background: #060E23;
        opacity: 0.6;
        width: 123px;
        left:-123px;
        top:0;
        height: 100%;
        position: absolute;
        @media(--mdMinus) {
            width:50px;
            left:-50px;
        }
        @media(--xs) {
            display:none;
        }
    }
}


.slider-longread-6__prev {
    position: absolute;
    height: 100%;
    left:0;
    top:0;
    width: 125px;
    background: rgba(43,38,52,0.9) url("../img/arrow_slide_left.svg") no-repeat center;
    z-index: 5;
    display: none;
    @media (--mdMinus) {
        width:100px;
    }
    @media (--xs) {
        display:block;
        width: 80px;
        height: 80px;
        background:#f7941e url("../img/arrow_slide_left.svg") no-repeat center center;
        bottom:0;
        left:initial;
        right:80px;
        top:initial;
    }
}

.slider-longread-6__prev:hover,
.slider-longread-6__next:hover {
    cursor: pointer;
}

.container_L6Sec1{
    display: flex;
    flex-wrap: wrap;
}

.container_L6Sec2 {
    display: flex;
    flex-wrap: wrap;
    @media(--mdMinus) {
        padding:0;
    }
}

.container_L6Sec3 {
    display: flex;
    flex-wrap: wrap;
}

.container_L6Sec5 {
    display: flex;
    flex-wrap: wrap;
}

.longread-section__text_L6Sec1,
.longread-section__text_L6Sec3,
.longread-section__text_L6Sec5 {
    padding-left: 97px;
    margin-top: 50px;
    @media (--mdMinus) {
        padding-left:50px;
    }
    @media (--xs) {
        padding:0;
        margin-top: 20px;
    }
}

.longread-section__text_L6Sec1:before,
.longread-section__text_L6Sec3:before,
.longread-section__text_L6Sec5:before{
    left:57px;
    @media (--mdMinus) {
        left:10px;
    }
}

.longread-section__textL6Sec7:before {
    @media(--mdMinus) {
        left:0;
    }
}

.longread-section__text_L6Sec5 {
    margin-top: 0;

    & p {
        font-size:15px;
    }
}


.longread-section__bigText_wrap {
    @media(--mdMinus) {
        display:flex;

    }

}

.longread-section__bigText-inner {
    margin-bottom: 50px;
    @media(--mdMinus) {
        margin-right:50px;
        margin-top:30px;
    }
    @media(--xs) {
        width:50%;
        margin-right:0;
    }
}


.longread-section__text_L6Sec2 {
    padding: 0 97px;
    margin: 50px 0 70px 0;
    @media (--xs) {
        padding: 0 20px;
    }
}

.longread-section_L6Sec2 {
    background: #f6f6f6;
    @media (--mdMinus) {
        background:#ededed;
    }
}

.longread-section__img_L6Sec2 {
    background: url("../img/longread-6/sec2.jpg") no-repeat;
    margin-top: 0;
    height: 100%;
    @media (--mdMinus) {
        height:320px;
        background: url("../img/longread-6/sec2_mobile.jpg") no-repeat;
        background-size: cover;
        /*background-position-x: 38%;*/
        background-position:center;
    }
    @media (--xs) {
        height:160px;
}
}

.longread-section__col_L6Sec2 {
    @media (--mdMinus) {
        background: #f6f6f6;
        padding: 0 90px;
    }
    @media (--xs) {
        padding:0;
    }
}



.longread-sectionFull_n8 {
    background-image: url("../img/longread-6/sec4.jpg");
}

@media (--mdMinus) {
    .longread-sectionFull_n8 {
        background-image: url("../img/longread-6/sec4_mobile.jpg");
    }
}

.longread-slider-plans .swiper-wrapper {
    justify-content: space-between;
}

.longread-slider-plans__slide {
    width: auto;
    @media (--xs) {
        text-align:center;
        margin: 60px 0;
    }
}

.longread-slider-plan__scrollbar {
    display: none;
    width:100%;
    background:#ffffff;
    @media(--xs) {
        display:block !important ;
    }
}

.longread-slider-plans.swiper-container-horizontal>.longread-slider-plan__scrollbar {
    height: 1px;
}

.longread-slider-plan__scrollbar .swiper-scrollbar-drag {
    height: 3px;
    background: #f7941e;
    top:-2px;
}

.list_orangeBullets li:before {
    background: #fd7b23;
}

.longread-section__col-5 {
    width: 41.66666666666667%;
    @media (--mdMinus) {
        width:100%;
    }
}

.longread-section__col-7 {
    width: 58.33333333333333%;
    @media (--mdMinus) {
        width:100%;
    }
}

.longread-section__text_L6Sec7 {
    padding-left:55px;
    @media(--mdMinus) {
        padding: 0 50px;
    }
    @media (--xs) {
        padding: 0;
    }
}

.longread-section__text_L6Sec7 p {
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: 'PFDinDisplayPro';
    font-weight: 700;
    font-style: italic;
    font-size: 17px;
}

.longread-section__text_L6Sec7 li {
    margin-bottom: 5px;
}

.slider-decor-wrap {
    position: relative;
    @media (--mdMinus) {
        margin: 40px 0;
    }
}

.slider-decor {
    width: 100%;
    height: 474px;
    position: relative;
    z-index: 3;
}

.slider-decor-sub1 {
    content:'';
    position: absolute;
    top:10px;
    left:-10px;
    width: 100%;
    height: calc(100% - 20px);
    background: url("../img/longread-6/slide12.jpg") no-repeat;
    opacity: 0.3;
    z-index: 2;
}

.slider-decor-sub2 {
    content:'';
    position: absolute;
    top:20px;
    left:-20px;
    width: 100%;
    height: calc(100% - 40px);
    background: url("../img/longread-6/slide12.jpg") no-repeat;
    opacity: 0.1;
    z-index: 1;
}

.slider-decor__slide {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-decor__nav {
    position: absolute;
    bottom:0;
    left:0;
    display: flex;
    z-index: 1;
}

.slider-decor__next,
.slider-decor__prev {
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
    width: 80px;
    height: 80px;
}

.slider-decor__next:hover,
.slider-decor__prev:hover {
    cursor: pointer;
}

.slider-decor__next {
    background:#f7941e url("../img/arrow_slide_right.svg") no-repeat center center;
}

.slider-decor__prev {
    background:#f7941e url("../img/arrow_slide_left.svg") no-repeat center center;
    opacity:0.7;
}

.slider-decor__pagination {
    position: absolute;
    bottom:100px;
    z-index: 1;
    padding: 0 20px;
    font-family: 'PFDinDisplayPro';
    font-weight: 200;
    font-size: 17px;
    color:#ffffff;
    text-align: left;

}


.slider-decor__pagination .swiper-pagination-current {
    font-size: 30px;
}

.longread-section__textL6Sec7 {
    margin-top: 80px;
    @media (--mdMinus) {
        padding: 0 50px;
    }
    @media (--xs) {
        padding: 0;
    }
}


.longread-section__selectFlatBtn {
    background: #f7941e;
    display: block;
    width: 100%;
    max-width: 273px;
    height: 80px;
    line-height: 80px;
    color:#ffffff;
    font-family: 'PFDinDisplayPro';
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    @media (--mdMinus) {
        margin: 50px auto 0;
    }
}

.longread-section__selectFlatBtn:after {
    content:'';
    background: url("../img/arrow_slide_right.svg") no-repeat center center;
    background-size: contain;
    display: block;
    width: 32px;
    margin-left: 20px;
}

.longread-sectionFull__content_L6Sec6 {
    padding-left:55px;
    @media (--mdMinus) {
        padding:0 90px;
    }
    @media(--xs) {
        padding: 0 20px;
    }
}

.longread-section__title_L6Sec7 {
    padding-left:55px;
    @media (--mdMinus) {
        padding: 0 90px;
    }
    @media(--xs) {
        padding: 0 20px;
    }
}

.longread-section__title_L6 {
    padding-left: 97px;
    margin-bottom:-50px;
    @media(--mdMinus) {
        padding-left: 50px;
        margin-bottom:-30px;
    }
    @media(--xs) {
        padding: 0;
        margin-bottom:60px;
        &:before {
             left:0;
        }
    }

}

.longread-sectionFull__titleL6Sec6 {
    @media (--xs) {
        margin-bottom: 30px;
    }
}

.longread-section__title_L6Sec1Mobile {
    margin-bottom: 30px;
    display: none;
    @media(--xs) {
        display: block;
    }
}

.longread-section__text_L6Sec1Mobile {
    margin-top: 30px;
    margin-bottom: 30px;
    display: none;
    @media(--xs) {
        display: block;
    }
}

.longread-section__col_L6Sec3 {
    @media(--mdMinus) {
        width:50%;
    }
    @media(--xs) {
        width:100%;
    }
}

.longread-section__textL6Sec7 {
    max-width: 440px;
    @media(--mdMinus) {
        max-width:100%;
    }
}

.longread-section-textMobile_L6Sec7 {
    & p {
        margin:14px 0;
    }
}

.right-line {
    width: 75px;
    height: 1px;
    background: #f8b470;
}
