.mortgage-accomp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.mortgage-accomp__item {
    position: relative;
    width: calc(25% - 30px);
    margin-right: 40px;
    padding-left: 75px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'PFDinDisplayPro';
    font-weight: 300;

    @media(--mdMinus) {
        padding-left: 0;
        padding-top: 60px;
    }
}

.mortgage-accomp__item:last-child {
    margin-right: 0;
}

.mortgage-accomp__item strong {
    font-family: 'PFDinDisplayPro';
    font-weight: 600;
    display: block;
}

.mortgage-accomp__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 36px;
    height: 50px;
    background-color: transparent;
    background-position: 0 0;
    background-size: cover;

    @media(--mdMinus) {
        left: 0;
        top: 0;
    }
}

.mortgage-accomp__item._broker:before {
    background-image: url(../img/mortgage/icon_1.svg);
}

.mortgage-accomp__item._docs:before {
    background-image: url(../img/mortgage/icon_2.svg);
}

.mortgage-accomp__item._decision:before {
    background-image: url(../img/mortgage/icon_3.svg);
}

.mortgage-accomp__item._rate:before {
    background-image: url(../img/mortgage/icon_4.svg);
}

.mortgage-accomp__item:last-child {
    margin-right: 0;
}

.mortgage-banks__col {
    height: 100%;
}

.mortgage-banks__header .mortgage-banks__col {
    color: rgba(25, 25, 26, .5);
    font-size: 13px;
}

.mortgage-banks__body .mortgage-banks__row {
    background-color: #fff;
    position: relative;
    cursor: pointer;
    height: 70px;
}

.mortgage-banks__body .mortgage-banks__col {
    white-space: nowrap;
}

.mortgage-banks__body .mortgage-banks__row:hover {
    box-shadow: 0 20px 25px rgba(43, 38, 52, .25);
    z-index: 100;
}

.mortgage-banks__body .mortgage-banks__row:nth-child(2n-1) {
    background-color: #f4f4f5;
}

.mortgage-banks__row {
    transition: ease .5s all;
    padding: 18px 0;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mortgage-banks__col {
    width: 24.5%;
    padding: 0 5%;
    text-align: left;
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.mortgage-modal {
    padding: 80px;
    width: calc(100% - 160px);
    margin: 0 auto;
    max-width: 800px;
    @media (--smMinus) {
        padding: 40px;
        width: calc(100% - 80px);
    }
    &_top {
         display: flex;
         align-items: flex-end;
         justify-content: space-between;
         margin-bottom: 47px;
        @media (--mdMinus) {
            flex-diRection: column;
            align-items: flex-start;
            margin-bottom: 17px;
        }
    }
    &_img {
        @media (--mdMinus) {
            margin-bottom: 20px;
        }
        & img {
            max-width: 250px;
        }
    }
    &_license {
        font: 300 15px/25px 'PFDinDisplayPro';
        color: #5a5a5a;
        @media (--smMinus) {
            font-size: 13px;
            line-height: 20px;
        }
    }
    &_btn {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         background: #9a330c;
         width: 206px;
         height: 50px;
         margin-top: 24px;
         font: 500 14px/1 'PFDinDisplayPro', sans-serif;
         color: #fff;
         text-transform: uppercase;
        @media (--mdMinus) {
            margin-top: 17px;
        }
        @media (--xs) {
            width: 240px;
            height: 38px;
        }
    }
}

.mortgage-modal h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    font-family: 'PFDinDisplayPro';
    font-weight: 600;
}

.mortgage-modal p {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #000;
    @media (--smMinus) {
        font-size: 15px;
        line-height: 20px;
    }
}

.mortgage-modal ul {
    margin-bottom: 15px;
    list-style: none;
}

.mortgage-modal ul li {
    font:400 17px/25px 'PFDinDisplayPro';
    @media (--smMinus) {
        font-size: 15px;
        line-height: 20px;
    }
}

.mortgage-modal strong {
    font-family: 'PFDinDisplayPro';
    font-weight: 700;
}

.mortgage-modal em {
    font-style: normal;
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    color: #f7941e;
}

.mortgage-modal p:last-child {
    margin-bottom: 0;
}

.mortgage-banks__row-more {
    padding: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 6px;
}

.mortgage-banks__row._active {
    margin-bottom: 0;
    border-bottom: solid 1px #ededed;
}

.mortgage-banks__row._active .mortgage-banks__col:nth-child(2) {
    opacity: 0;
}

.mortgage-modal__inner {
    padding: 20px;
    background-color: #fff;
}

.mortgage-banks__logo {
    max-height: 100%;
    max-width: 100%;
}

.ws-invalid {
    position: relative;
}

.ws-invalid._double .mortgage-form__lbl {
    position: relative;
}

.ws-errorbox {
    position: absolute;
    bottom: 100%;
    right: 0;
}

.ws-errorbox .ws-errormessage {
    padding: 0;
    margin: 0;
    color: #c80a18;
    font-size: 14px;
    line-height: 14px;
}

.ui-widget.slider-range {
    border: none;
    height: 2px;
    border-radius: 0;
    background-color: #fff;
}

.slider-range .ui-slider-handle,
.RangeSlider_track .ui-slider-handle {
    width: 22px;
    height: 22px;
    border: none;
    background-color: rgba(154, 51, 12, .4);
    border-radius: 50%;
    top: -10px;
}

.slider-range .ui-slider-handle:before,
.RangeSlider_track .ui-slider-handle:before {
    transition: ease .3s all;
    transform: translate(-50%, -50%);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: rgba(154, 51, 12, 1);
    border-radius: 50%;
}

.slider-range .ui-slider-handle:focus,
.RangeSlider_track .ui-slider-handle:focus {
    outline: none;
}

.slider-range .ui-slider-handle.ui-state-hover:before,
.slider-range .ui-slider-handle.ui-state-active:before,
.RangeSlider_track .ui-slider-handle.ui-state-active:before,
.RangeSlider_track .ui-slider-handle.ui-state-active:before {
    width: 15px;
    height: 15px;
}

.slider-range .ui-slider-range,
.RangeSlider_track .ui-slider-range {
    background-color: rgba(154, 51, 12, 1);
    height: 2px;
}

@media screen and (--smMinus) {
    .mortgage-banks {
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    .mortgage-banks__col {
        padding: 0 2%;
        text-align: center;
    }


}

@media screen and (--xs) {
    .mortgage-banks {
        background-color: #ededed;
        padding: 0 20px 40px;
    }

    .mortgage-banks__header {
        display: none;
    }

    .mortgage-banks__col {
        display: none;
        width: calc(100% - 150px);
        padding: 0 15px;
        text-align: left;
    }

    .mortgage-banks__col:first-child {
        width: 150px;
        display: block;
    }

    .mortgage-banks__col:last-child {
        display: block;

        &:before {
            content: 'Ставка';
            font-size: 13px;
            color: rgba(25, 25, 26, .5);
            display: inline-block;
            margin-right: 5px;
        }
    }

    .mortgage-accomp {
        display: block;
    }

    .mortgage-accomp__item {
        width: 100%;
        padding-top: 0;
        padding-left: 55px;
        min-height: 50px;
        margin-bottom: 30px;
    }

    .mortgage-accomp__item:last-child {
        margin-bottom: 0;
    }

    .mortgage-accomp__item strong {
        display: block;
    }

    .mortgage-banks__row {
        background-color: #fff;
        margin-bottom: 6px;
    }

    .mortgage-banks__body .mortgage-banks__row:hover {
        box-shadow: none;
    }

    .mortgage-banks__row:last-child {
        margin-bottom: 0;
    }

    .mortgage-banks__body .mortgage-banks__row:nth-child(2n-1) {
        background-color: #fff;
    }

    .mortgage-modal h3 {
        font-size: 17px;
        line-height: 27px;
        font-family: 'PFDinDisplayPro';
        font-weight: 600;
        margin-bottom: 25px;
    }
}

.mortgage-modal .fancybox-close-small {
    padding:20px;
    display:flex;
    justify-content:center;
    width:auto;
    height:auto;

    &:after {
        display:none;
    }

    &:before {
        content:'';
        background: url('../img/close-popup-dark.svg') no-repeat center center;
        background-size:contain;
        width:20px;
        height:20px;
        position: static;
    }
}
