.parking {
    &__text {
        padding: 0 0 20px 0;
        margin-top: -45px;
    }
    .page__section {
        &:nth-child(2n) {
            background-color: #fff;
        }
    }

    &._inner {
        .page__section {
            padding: 65px 0;

            @media (--smMinus) {
                padding: 40px 0;
            }
        }
    }
    &-pagination {
        margin-top: 40px;
        @media(--sm) {
            margin-top: 20px;
        }
        @media(--xs) {
            margin-top: 20px;
        }
    }
}

.parking-table {
    table {
        position: relative;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    tr {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        th,
        td {
            flex: auto;
            width: 20%;
            white-space: nowrap;

            @media (--640) {
                width: auto;
                min-width: 65px;
            }
        }
    }

    thead {
        text-align: left;
    }

    th {
        font-size: 13px;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        padding: 10px 30px;

        span {
            &:last-child {
                display: none;
            }
        }

        &.table-sorter__header {
            cursor: pointer;

            span {
                position: relative;
                display: inline-block;
                padding-right: 15px;

                &:last-child {
                    display: none;
                }

                &:after {
                    transition: ease .3s all;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -3px;
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 5px 0 5px;
                    border-color: #000 transparent transparent transparent;
                    opacity: .5;
                }

                @media (--640) {
                    &:last-child {
                        display: inline-block;
                    }
                }
            }

            &.headerSortUp,
            &.headerSortDown {
                span {
                    &:after {
                        opacity: 1;
                    }
                }
            }

            &.headerSortUp {
                span {
                    &:after {
                        opacity: 1;
                        transform: rotate(180deg);
                    }
                }
            }
        }

        @media (--640) {
            padding: 10px 20px;

            span {
                &:first-child {
                    display: none;
                }

                &:last-child {
                    display: inline-block;
                }
            }
        }
    }

    td {
        z-index: 1;
        font-size: 17px;
        line-height: 27px;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        padding: 20px 30px;

        @media (--640) {
            padding: 20px 20px;
            font-size: 14px;
            font-weight: 400;
            height: 70px;
        }
    }

    tbody {
        tr {
            position: relative;
            transition: ease .3s all;
            background-color: #fff;
            z-index: 1;

            &:nth-child(2n - 1) {
                background-color: #f3f3f4;
            }

            &:hover {

                z-index: 10;

                td {
                    z-index: 10;
                }
            }
        }
    }

    @media(--640) {
        width: calc(100% + 40px);
        margin-left: -20px;

        th,
        td {
            padding: 20px 10px;

            &:first-child {
                padding-left: 20px;
            }
        }
    }
}

.parking {
    &__tlt {
        font-size: 47px;
        font-weight: 400;
        letter-spacing: -0.7px;
        line-height: 34px;
        text-transform: uppercase;
        margin-bottom: 35px;

        @media(--640) {
            font-size: 27px;
            margin-bottom: 15px;
        }
    }

    &__descr {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 30px;
        font-weight: 300;

        @media(--640) {
            font-size: 15px;
            margin-bottom: 20px;
        }
    }

    &__note {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.5px;
        color: rgba(0, 0, 0, .6);
    }

    .parking__btn {
        &._default {
            width: 340px;
            font-size: 17px;
            position: absolute;
            bottom: 40px;
            right: calc(100% - 170px);

            @media (--890) {
                right: calc(50% - 170px);
                bottom: -25px;
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        @media (--640) {
            width: calc(100% + 40px);
            margin-left: -20px;
        }
    }
}

.parking-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;

    @media (--890) {
        display: block;
    }

    &__block {
        min-height: 540px;

        &:first-child {
            width: 60%;
            padding-top: 55px;
            padding-right: 50px;
        }

        &:last-child {
            position: relative;
            width: 40%;
        }

        @media (--890) {
            min-height: 510px;

            &:first-child,
            &:last-child {
                width: 100%;
                padding: 0;
            }

            &:first-child {
                min-height: 0;
                margin-bottom: 40px;
            }
        }

        @media (--640) {
            min-height: 250px;
        }
    }
}

.parking-list {
    position: relative;
    padding-top: 40px;
    margin-bottom: 30px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 75px;
        height: 2px;
        background-color: #008fd5;
    }
}

.parking-banner {
    background: transparent url('../img/parking/parking2.jpg') 50% 50% no-repeat;
    background-size: cover;
    padding: 40px 55px;
    width: calc(100% + 110px);
    margin-left: -55px;
    color: #fff;

    &__tlt {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 300;
        letter-spacing: 0;
        text-transform: uppercase;
    }

    &__footer {
        font-size: 17px;
        line-height: 30px;
        font-weight: 400;

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        @media(--640) {
            line-height: 1.4;
        }
    }

    @media(--mdMinus) {
        width: calc(100% + 80px);
        margin-left: -40px;
    }

    @media(--smMinus) {
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    @media(--640) {
        padding: 30px 20px;
    }
}

.parking-benefits {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    margin-bottom: 30px;

    &__item {
        margin-right: 75px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__val {
        font-size: 87px;
        letter-spacing: -.7px;
        font-weight: 900;
    }

    &__percent {
        font-size: 50px;
    }

    &__key {
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.5px;
        max-width: 135px;
    }

    @media(--640) {
        display: block;

        &__item {
            &:not(:last-child) {
                display: flex;
                flex-direction: row;
                margin-right: 0;
                align-items: flex-end;
            }
        }

        &__val {
            font-size: 77px;
            margin-right: 30px;
        }

        &__key {
            margin-bottom: 15px;
        }

        &__percent {
            font-size: 44px;
        }
    }
}

.parking-form {
    max-width: 570px;
    font-weight: 300;

    h3 {
        font-size: 28px;
        font-weight: 400;
    }

    .button {
        max-width: 270px;
        line-height: 50px;

        @media screen and (--xs) {
            max-width: none;
        }
    }

    .ws-errorbox {
        bottom: auto;
        top: 100%;
        right: auto;
        left: 0;

        .ws-errormessage {
            font-size: 10px;
            line-height: 16px;
            letter-spacing: .2px;
            color: #8e8e8e;
            white-space: nowrap;
        }
    }

    .ui-selectmenu-text {
        font-size: 14px;
    }

    .page-form__step {
        margin-bottom: 30px;
    }

    .page-form__inp {
        border: solid 1px #d6dade;
        color: #3b3b3b;
        padding: 0 10px;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        line-height: 50px;
        height: 50px;

        &:focus {
            border-color: #9a330c;
        }

        &.user-success {
            border-color: #d6dade;
        }
    }

    .ws-invalid {
        .page-form__inner-lbl {
            color: #d73d3d;
        }

        .page-form__inp {
            border-color: #d73d3d;
        }

        .select-wrap .ui-button {
            border-color: #d73d3d;
        }
    }

    h2 {
        text-align: left;
    }
}

.ui-menu {
    background-color: #fff;
}

.ui-state-disabled {
    display: none;
}

.link {
    transition: ease .3s all;
    display: inline-block;
    line-height: 1.2;
    color: #9a330c;
    text-decoration: none;
    border-bottom: solid 1px rgba(154, 51, 12, .5);

    &:hover {
        border-bottom-color: transparent;
    }
}


.parking-sorter {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 14px;
    height: 62px;
    border-bottom: 1px solid #eaeaeb;
    color: hsla(240, 2%, 10%, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight:400;

    &__item {
         width:20%;
         padding: 10px 30px;
    }

    & .Sorter_lbl {
        font-size:13px;
        color:#000000;
    }

}


@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.parking-preloader {
    display:flex;
    margin-top:50px;
    justify-content: center;

    &__ring {
         position: relative;
         width: 60px !important;
         height: 60px !important;
         -webkit-transform: translate(-30px, -30px) scale(0.3) translate(30px, 30px);
         transform: translate(-30px, -30px) scale(0.3) translate(30px, 30px);

        & div {
              position: absolute;
              width: 160px;
              height: 160px;
              top: 20px;
              left: 20px;
              border-radius: 50%;
              border: 8px solid #000;
              border-color: #b51827 transparent #b51827 transparent;
              -webkit-animation: lds-double-ring 1s linear infinite;
              animation: lds-double-ring 1s linear infinite;

            &:nth-child(2) {
                 width: 140px;
                 height: 140px;
                 top: 30px;
                 left: 30px;
                 border-color: transparent #22282f transparent #22282f;
                 -webkit-animation: lds-double-ring_reverse 1s linear infinite;
                 animation: lds-double-ring_reverse 1s linear infinite;
            }
        }
    }
    &_disabled {
        display:none;
    }
}
