.page-header {
    margin-top: 70px;
    background: #ededed;
    padding: 25px 0;

    &._large {
        position: relative;
        height: calc(100vh - 70px);
        background: transparent url('../img/technologies/00_bg_desktop.jpg') 50% 50% no-repeat;
        background-size: cover;

        &:before {
            content: '';
            position: absolute;
            width: 36px;
            height: 36px;
            top: 100%;
            margin-top: -18px;
            left: 50%;
            margin-left: -18px;
            background: transparent url('../img/down.svg') 0 0 no-repeat;
        }

        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 50px;

            @media (max-width: 768px) {
                min-height: 280px;
                padding-bottom: 20px;
            }
        }

        .page-header__tlt {
            position: relative;
            padding-bottom: 40px;
            font-size: 47px;
            font-weight: 500;
            color: #fff;
            text-align: center;
            line-height: 1.6;
            text-transform: uppercase;

            span {
                display: block;
                font-size: 20px;
                font-weight: 400;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 75px;
                height: 2px;
                background: #e5af2d;
                margin-left: -37.5px;
            }

            + .page-header__slogan {
                margin-top: 30px;
                max-width: 975px;
            }
        }

        .page-header__slogan {
            text-align: center;
            color: #fff;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
        }

        @media (max-width: 768px) {
            max-height: 597px;
            background-image: url('../img/technologies/00_bg_mobile.jpg');

            .page-header__tlt {
                font-size: 27px;
                letter-spacing: -.4px;
                padding-bottom: 30px;
                line-height: 2;

                span {
                    font-size: 15px;
                    white-space: normal;
                }
            }
        }
    }

    &._commercial {
        position: relative;
        height: 140px;
        padding: 0;

        .container {
            position: relative;
            z-index: 100;

            &:first-child {
                padding: 25px 55px;
                background-color: #ededed;
                width: 100%;
                max-width: 100%;

                .container__inner {
                    max-width: 1170px;
                    margin: auto;
                }

                @media (max-width: 768px) {
                    padding: 20px;
                }
            }

            &:not(:first-child) {
                height: calc(100% - 140px);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                padding-bottom: 50px;

                @media (max-width: 768px) {
                    min-height: 280px;
                    padding-bottom: 20px;
                }

                .page-header__tlt {
                    position: relative;
                    padding-bottom: 40px;
                    font-size: 37px;
                    font-weight: 500;
                    color: #fff;
                    text-align: left;
                    line-height: 1.4;
                    text-transform: uppercase;

                    span {
                        display: block;
                        font-size: 20px;
                        font-weight: 400;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 75px;
                        height: 2px;
                        background: #e5af2d;
                    }

                    + .page-header__slogan {
                        margin-top: 30px;
                        max-width: 975px;
                    }

                    @media (max-width: 768px) {
                        font-size: 24px;
                        line-height: 30px;
                    }
                }

                .page-header__slogan {
                    text-align: left;
                    color: #fff;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 400;
                }
            }
        }
    }

    &._design {
        background-image: url('../img/design/00_bg_desktop.jpg');

        @media (max-width: 768px) {
            background-image: url('../img/design/00_bg_mobile.jpg');
        }
    }

    &._infrastructure {
        background-image: url('../img/infrastructure/00_bg_desktop.jpg');

        @media (max-width: 768px) {
            background-image: url('../img/infrastructure/00_bg_mobile.jpg');
        }
    }

    &._kids {
        background-image: url('../img/kids/00_bg.jpg');
    }

    &._apparts {
         background-image: url('../img/apparts/top.jpg');
        & .container {
            padding-bottom: 128px;
            position: relative;
            z-index: 1;
            @media (--mdMinus) {
                padding-bottom: 25px;
            }
            @media (--mdMinus) {
                padding-bottom: 0;
            }
        }
        & .page-header__tlt {
             padding-bottom: 20px;
        }
        &:before {
             z-index: 1;
        }
        &:after {
             content: '';
             position: absolute;
             left: 0;
             top: 0;
             right: 0;
             bottom: 0;
             background: #191c37;
             opacity: .55;
        }
    }

    &._location {
        background-image: url('../img/location/00_bg_desktop.jpg');

        @media (max-width: 768px) {
            background-image: url('../img/infrastructure/00_bg_mobile.jpg');
        }

        .page-header__slogan {
            @media (max-width: 860px) {
                br {
                    display: none;
                }
            }
        }
    }
}

.page__section {
    padding: 65px 0;

    &._banner {
        padding: 40px 0;
    }
}

.page__section:last-child {
    padding: 0;
}

.page__section:nth-child(2) {
    background-color: #ededed;
}

.page__section._interior {
    background-color: #fff;

    .container {
        padding: 0;
    }
}

.page__section h2 {
    text-align: center;
    font-size: 26px;
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 35px;
}

.page__lead-header {
    max-width: 930px;
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    margin: 0 auto 30px;
}

.sub-menu {
    float: right;
    margin-top: 50px;
    position: relative;
    z-index: 10;
}

.sub-menu__item {
    transition: ease .3s all;
    font-family: 'PFDinDisplayPro';
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #9a330c;
    line-height: 16px;
    display: inline-block;
    border-bottom: solid 1px rgba(154, 51, 12, .3);
    text-decoration: none;
    margin-right: 40px;

    &._panorams {
        position: relative;
        line-height: 20px;

        &:before {
            content: '';
            display: block;
            width: 18px;
            height: 20px;
            background: transparent url('../img/shape.svg') 0 0 no-repeat;
            position: absolute;
            right: 100%;
            margin-right: 5px;
            top: 0;
        }

        @media (--smMinus) {
            left: 20px;
        }
    }
}

.sub-menu__item:last-child {
    margin-right: 0;
}

.sub-menu__item:last-child span:last-child {
    display: none;
}

.sub-menu__item:hover {
    color: rgba(154, 51, 12, .8);
    border-bottom-color: transparent;
}

.sub-menu__item._active {
    color: #060E23;
    border-bottom-color: transparent;
}

.page-steps {
    display: flex;
    flex-flow: row flex-wrap;
    justify-content: flex-start;
    align-items: flex-start;

    p,
    li {
        font-size: 14px;
    }
}

.page-steps__item {
    position: relative;
    padding-top: 50px;
    flex-grow: 1;
    flex-basis: 0;
    font-family: 'PFDinDisplayPro';
    font-size: 14px;
    margin-right: 40px;
    line-height: 18px;
}

.page-steps__item:last-child {
    margin-right: 0;
}

.page-steps__item:before {
    content: attr(data-index);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 38px;
    line-height: 42px;
    font-family: 'PFDinDisplayPro';
    font-weight: 600;
    color: #008fd5;
}

.page-steps__item:after {
    content: '';
    left: 42px;
    top: 30px;
    position: absolute;
    height: 2px;
    background-color: #008fd5;
    width: 80%;
}

.page-steps__item strong {
    font-family: 'PFDinDisplayPro';
    font-weight: 600;
}

.page-steps-list {
    list-style: none;

    &__item {
        position: relative;
        color: #008fd5;
        padding-left: 10px;
        line-height: 18px;
        margin-bottom: 10px;

        &:before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #008fd5;
            position: absolute;
            left: 0;
            top: 6px;
        }

        span {
            color: #19191a;
        }
    }
}

.page__banner {
    background-color: transparent;
    background-position: 50% 100%;
    background-size: cover;
    padding-top: 36%;
    margin-bottom: 20px;
}

.content {
    p, li {
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        font-size: 17px;
        line-height: 22px;
    }

    p, ul {
        margin-top: 0;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        list-style: none;

        &.large {
            li {
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    li {
        position: relative;
        color: #008fd5;
        padding-left: 25px;
        line-height: 18px;
        margin-bottom: 5px;

        &:before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #008fd5;
            position: absolute;
            left: 0;
            top: 6px;
        }

        div {
            color: #19191a;
        }
    }

    h2 {
        text-align: left;
    }

    h3 {
        font-size: 17px;
        font-family: 'PFDinDisplayPro';
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 5px;
    }

    em {
        color: #666;
    }
}

.page-sidebar {
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(43, 38, 52, .8);
    overflow: hidden;
    transition: all 0.4s ease;

    &__wrapper {
        width: 100%;
        display: none;
    }

    &__scroll {
        max-height: 660px;
    }
}

.scroll-wrapper {
    width: calc(100% + 30px);

    > .scrollbar-inner {
        width: calc(100% + 17px) !important;
    }

    .scrollbar-helper {
        padding-right: 50px;
    }

    .scroll-element {
        &.scroll-y {
            right: 5px;
            left: auto;
        }

        &.scroll-x {
            display: none !important;
        }

        .scroll-element_track {
            width: 2px;
            background-color: #494450;
            left: 50%;
            margin-left: -1px;
        }

        .scroll-bar {
            opacity: 1;
            background-color: #bfbdc2;
            width: 8px;
            border-radius: 8px;
        }
    }
}

.page-sidebar__inner {
    transition: ease .3s all;
    transform: translateX(-100%);
    width: 440px;
    padding: 55px;
    background-color: #060e23;
    min-height: 100%;
    display: flex;
    align-items: center;
}

.page-sidebar__close {
    transition: ease .3s all;
    display: block;
    position: absolute;
    top: 37px;
    right: 15px;
    width: 18px;
    height: 18px;
    background: transparent url('../img/mortgage/close.png');
    cursor: pointer;
}

.page-sidebar__close:hover {
    transform: rotate(180deg);
}

.page-sidebar__tlt {
    color: #fff;
    font-size: 30px;
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 40px;

    span {
        display: block;
        font-size: 17px;
        color: #008fd5;
        line-height: 1.6;
    }
}

.page-sidebar._active {
    /*display: block;*/
    opacity: 1;
    visibility: visible;
}

.page-sidebar._active .page-sidebar__inner {
    transform: translateX(0);
}

.page-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &__success {
        margin-bottom: 10px;
        position: relative;
        padding-top: 100px;
        text-align: center;

        .page-sidebar__tlt {
            margin-bottom: 10px;
        }

        p {
            color: #fff;
            margin: 0 0 30px 0;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 100px;
            margin-left: -50px;
            height: 75px;
            background: transparent url(../img/call-success.svg) 0 0 no-repeat;
        }
    }

    &._mail {
        .page-form__step {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 45px;

            &:last-child {
                margin-bottom: 0;

                .page-form__lbl {
                    width: 100%;
                }
            }
        }

        .page-form__lbl {
            width: calc(100% - 190px);
        }

        .page-form__inp {
            height: 38px;
            line-height: 38px;
            font-size: 17px;
            border: none;
            border-bottom: solid 1px #b8b8b8;
            color: #2c2934;
            font-family: 'PFDinDisplayPro';
            font-weight: 300;

            &._active {
                + .page-form__placeholder {
                    font-size: 14px;
                }
            }
        }

        .button {
            width: 160px;
            height: 38px;
            line-height: 38px;
        }

        .ws-errorbox {
            right: 190px;
        }

        @media (--mdMinus) {
            .page-form__step {
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .ws-errorbox {
                display: none !important;
            }

            .page-form__inp {
                &.user-error {
                    border-color: #c80a18;

                    + .page-form__placeholder {
                        color: #c80a18;
                    }
                }
            }

            .checkbox__inp {
                &.user-error {
                    + .checkbox__txt {
                        color: #c80a18;

                        &:before {
                            border-color: #c80a18;
                        }
                    }
                }
            }

            .page-form__lbl {
                width: calc(100% - 170px);
            }
        }

        @media (--smMinus) {
            .page-form__step {
                flex-direction: column;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .page-form__inp {
                text-align: center;
            }

            .page-form__placeholder {
                left: 50%;
                transform: translateX(-50%);
            }

            .page-form__lbl {
                width: 100%;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .checkbox__txt {
                text-align: left;
            }
        }
    }
}

.page-form__step {
    margin-bottom: 35px;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

    &._double {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .page-form__lbl {
            width: calc(50% - 20px);

            &:first-child {
                margin-right: 40px;
            }
        }
    }

    &._date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .page-form__lbl {
            width: calc(100% - 78px);
            margin: 0;

            @media screen and (--xs) {
                width: calc(100% - 68px);
            }

            &:first-child {
                z-index: 10;

                &:after {
                    transition: ease .3s all;
                    content: '';
                    position: absolute;
                    width: 80px;
                    height: 2px;
                    background-color: #fff;
                    left: 100%;
                    bottom: 0;

                    @media screen and (--xs) {
                        width: 60px;
                    }
                }

                &.ws-invalid {
                    &:after {
                        background-color: #c80a18;
                    }
                }
            }

            &:last-child {
                width: 48px;
                margin-left: 30px;

                @media screen and (--xs) {
                    margin-left: 20px;
                }

                .page-form__inp {
                    border: none;
                    letter-spacing: .5px;
                    text-align: center;
                }

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: 17px;
                    height: 2px;
                    background-color: #fff;
                    bottom: 0;
                }

                &:before {
                    left: 0;
                }

                &:after {
                    left: 30px;
                }
            }
        }

        &._active {
            .page-form__lbl {
                &:first-child {
                    &:after {
                        width: 0;
                        background-color: #e5af2d;
                    }
                }

                &:last-child {
                    &:before,
                    &:after {
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

.page-form__stepTitle {
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 16px;
    color:#ffffff;
    margin-bottom: 15px;
}

.page-form__lbl {
    display: block;
    position: relative;
}

.page-form__inp,
.page-form__txtarea {
    transition: ease .3s all;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #fff;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    font-family: 'PFDinDisplayPro';
    font-weight: 300;

    &._active {
        border-color: #fff;
    }

    &:focus {
        border-color: #e5af2d;
    }
}

.page-form__inp.user-error,
.page-form__txtarea.user-error {
    border-bottom-color: #c80a18;
}

.page-form__inp:focus,
.page-form__inp:invalid,
.page-form__txtarea:focus,
.page-form__txtarea:invalid {
    outline: 0 !important;
    box-shadow: none !important;
}

.page-form__inp._slide {
    border: none;
}

.page-form__inp._age {
    width: 22px;
}

.page-form__inp._small {
    font-size: 16px;
}

.page-form__inp._large {
    font-size: 30px;
    height: 60px;
    line-height: 60px;
}

.page-form__txtarea {
    resize: none;
    min-height: 40px;
    line-height: 1.2;
    overflow: hidden !important;
    padding: 10px 0;
}

.page-form__placeholder,
.page-form__require {
    transition: ease .3s all;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 17px;
    color: #a7a6a8;
    font-style: normal;
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    cursor: text;
}

.page-form__require {
    left: auto;
    right: 0;
    font-size: 14px;
    color: #6b6871;
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
}

.page-form__inp._active+.page-form__placeholder,
.page-form__txtarea._active+.page-form__placeholder {
    font-size: 14px;
    line-height: 14px;
    top: -14px;
}

.page-form__inp._active+.page-form__placeholder+.page-form__require,
.page-form__txtarea._active+.page-form__placeholder+.page-form__require {
    line-height: 14px;
    right: 85px;
    top: -14px;
}

.page-form__btn {
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-family: 'PFDinDisplayPro';
}

.page-form__btn a {
    transition: ease .3s all;
    color: #008fd5;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: solid 1px #6c472f;
    font-family: 'PFDinDisplayPro';
}

.page-form__btn a:hover {
    border-bottom-color: transparent;
    color: #fca742;
}

.page-form__age {
    color: #fff;
    font-family: 'PFDinDisplayPro';
    size: 16px;
}

.checkbox {
    display: block;

    &__inp {
        display: none;

        &:checked {
            + .checkbox__txt {
                &:after {
                    display: block;
                }
            }
        }
    }

    &__txt {
        position: relative;
        padding-left: 25px;
        font-size: 13px;
        line-height: 16px;

        a {
            color: #008fd5;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
        }

        &:before {
            width: 14px;
            height: 14px;
            border: solid 1px #b8b8b8;
            left: 0;
            top: 0;
        }

        &:after {
            display: none;
            width: 8px;
            height: 7px;
            left: 4px;
            top: 5px;
            background: transparent url('../img/check-icon.svg') 0 0 no-repeat;
            background-size: 100%;
        }

        &_v2 {
            color:#7d7d7d;

            @media(--sm) {
                font-size:9px;
                padding-left:20px;
            }
            @media(--xs) {
                font-size:9px;
                padding-left:20px;
            }
            &:before {
                width:12px;
                height: 12px;
            }
            &:after {
                 display: none;
                 width: 14px;
                 height: 14px;
                 left: 2px;
                 top: -3px;
                 background: transparent url('../img/check-icon.svg') 0 0 no-repeat;
                 background-size: 100%;
            }

            & a {
                color:#7d7d7d;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }
}

.button {
    transition: ease .3s all;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'PFDinDisplayPro';
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    border: none;
    height: 50px;
    cursor: pointer;

    &._default {
        position: relative;
        background: #9a330c;
        transition: all .3s ease;
        color: #fff;
        padding: 0 40px;
        display: inline-block;
        margin: 0 auto;
        width: auto;
        line-height: 50px;
        text-transform: uppercase;

        span {
            position: relative;
            z-index: 2;
        }

        &:before {
            content: '';
            background: #e4ae3d;
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            transition: all 0.3s ease;
        }

        &:hover {
            &:before {
                width:100%;
            }
        }

        @media (--640) {
            display: block;
        }
    }
}

.button:focus {
    outline: none;
}

.button._orange {
    background-color: #9a330c;
    color: #fff;
}

.button._orange:hover {
    background-color: rgba(154, 51, 12, .8);
}

.button._orange:disabled {
    background-color: #ededed;
    cursor: not-allowed;
    color: #fff;
}

.button._orange:disabled:hover {
    background-color: #ededed;
}

.text-align_center {
    text-align: center;
}

@media screen and (--mdMinus) {
    .page__section {
        &._banner {
            padding: 0;

            .container {
                padding: 0;
            }

            .mat-cap__content {
                padding: 0 40px;
            }
        }
    }

    .mat-cap {
        .page__section {
            &._banner {
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (--890) {
    .sub-menu__item {
        margin-right: 20px;
    }

    .mortgage-header .title-page:after {
        width: 32px;
        right: -40px;
    }

    .page-sidebar__inner {
        padding: 30px;
    }
}

@media screen and (--smMinus) {
    .sub-menu {
        margin-top: 43px;
    }

    .page__section {
        padding: 40px 0;
    }

    .page__section h2 {
        text-align: left;
    }

    .page-steps {
        display: block;
    }

    .page-steps__item {
        width: 100%;
        padding-top: 0;
        padding-left: 35px;
        margin-bottom: 20px;
        min-height: 40px;

        &:before {
            font-size: 28px;
            line-height: 1.2;
        }

        >strong {
            line-height: 32px;
        }
    }

    .page-steps__item:last-child {
        margin-bottom: 0;
    }

    .page-steps__item strong {
        display: block;
    }

    .page-steps__item:after,
    .page-steps__item br {
        display: none;
    }

    .page__banner {
        width: 100%;
    }

    .page__section {
        &._banner {
            .mat-cap__content {
                padding: 0 20px;
            }
        }
    }
}

@media screen and (--640) {
    .page-header {
        position: relative;
        padding: 20px 0 70px;

        &._simple {
            padding-bottom: 20px;
        }
    }

    .sub-menu {
        float: none;
        position: absolute;
        margin: 0;
        bottom: 25px;
    }
}

@media screen and (--xs) {
    .sub-menu__item span {
        display: none;
    }

    .sub-menu__item:last-child span:last-child {
        display: block;
    }

    .page__section h2 {
        font-size: 20px;
        line-height: 26px;
        font-family: 'PFDinDisplayPro';
        font-weight: 400;
    }

    .page-sidebar__inner {
        padding: 20px;
        width: 100%;
    }

    .page-sidebar__tlt {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .page-sidebar__close {
        top: 15px;
        right: 15px;
    }

    .page-form__success {
        text-align: center;
    }

    .page-form__step._double .page-form__lbl {
        width: calc(50% - 10px);
    }

    .page-form__step._double .page-form__lbl:first-child {
        margin-right: 20px;
    }

    .page-form__placeholder {
        font-size: 14px;
    }

    .ws-errorbox .ws-errormessage {
        font-size: 12px;
    }

    .page-form__require {
        right: 15px !important;
    }

    .page-form__inp {
        font-size: 14px;
    }

    .page-form__inp._large {
        font-size: 24px;
        height: 50px;
        line-height: 50px;
    }

    .content {
        h3, p {
            font-size: 15px;
        }

        li {
            padding-left: 20px;
        }

        h3 {
            margin-bottom: 0;
            line-height: 1.2;
        }
    }
}

.tradein {
    .page__banner {
        margin: 0;
    }
}

.ui-datepicker {
    z-index: 1000 !important;
    background-color: #fff;
    width: 295px;
    border: none;
    border-radius: 0;
    font-family: 'PFDinDisplayPro';
    font-size: 12px;
    padding: 10px 20px 25px;

    .ui-datepicker-header {
        padding: 0;
        border: none;
        background: transparent;
        margin: 0;
    }

    .ui-datepicker-title {
        margin: 0;
        font-size: 14px;
        line-height: 34px;
        font-weight: 500;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        width: 36px;
        height: 34px;
        border-radius: 0;
        border: none;
        padding: 0;
        margin: 0;
        font-weight: 400;
        top: 0;
        cursor: pointer;

        span {
            display: none;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 1px;
            background-color: #000;
            margin-left: -5px;
        }

        &:before {
            transform: rotate(-45deg);
            margin-top: -3px;
        }

        &:after {
            transform: rotate(45deg);
            margin-top: 3px;
        }

        &.ui-state-hover {
            padding: 0;
            background: none;
            border: none;
            font-weight: 400;

            &:before,
            &:after {
                background-color: #9a330c;
            }

        }
    }

    .ui-datepicker-prev {
        left: 0;

        &.ui-datepicker-prev-hover {
            left: 0;
            top: 0;
        }
    }

    .ui-datepicker-next {
        right: 0;
        transform: rotate(180deg);

        &:before,
        &:after {
            margin-right: -5px;
        }

        &.ui-datepicker-next-hover {
            right: 0;
            top: 0;
        }
    }

    .ui-datepicker-calendar {
        border-collapse: collapse;
        padding: 0;

        td,
        th {
            padding: 0;
            border: none;
        }

        th {
            span {
                display: block;
                width: 36px;
                height: 34px;
                line-height: 34px;
                text-transform: uppercase;
                font-weight: 400;
                color: rgba(0, 0, 0, .6);
                margin: 0 auto;
            }
        }

        .ui-state-default {
            transition: ease .1s all;
            width: 36px;
            height: 34px;
            line-height: 34px;
            display: block;
            text-align: center;
            border: solid 1px transparent;
            background: transparent;
            padding: 0;
            margin: 0 auto;
            font-weight: 400;

            &:hover {
                border-color: #9a330c;
            }

            &.ui-state-active,
            &.ui-state-highlight {
                background-color: #9a330c;
                color: #fff;
            }
        }
    }

    &._selected {
        .ui-state-highlight {
            background: transparent!important;
            color: #19191a!important;
        }
    }

    @media screen and (--xs) {
        z-index: 1000000 !important;
        width: calc(100% - 40px);
    }
}

.ui-datepicker-remover {
    transition: ease .3s all;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    cursor: pointer;

    &:before,
    &:after {
        position: absolute;
        top: 50%;
        content: '';
        width: 12px;
        height: 1px;
        background-color: rgba(255, 255, 255, .5);
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &:hover {
        transform: rotate(180deg);
    }
}

.technologies,
.kids {
    overflow: hidden;

    .page__section {
        &:nth-child(2n) {
            background-color: #fff;
        }

        &._facade {
            .page-chess {
                &__item {
                    margin: 0 0 30px 0;
                }

                &__col {
                    &:first-child {
                        height: auto;
                        width: 100%;
                        right: auto;
                        margin-left: 0;
                    }

                    h2 {
                        display: inline-block;
                        padding-bottom: 0;
                        margin: 0;

                        &:before {
                            left: 100%;
                            margin-left: 20px;
                            bottom: 15px;
                        }
                    }
                }
            }
        }
    }

    ._mobile {
        display: none;

        @media (max-width: 768px) {
            display: block;
        }
    }

    ._pc {
        display: block;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.design,
.infrastructure {
    overflow: hidden;

    .page__section {
        &:nth-child(2n) {
            background-color: #fff;
        }

        h2 {
            span {
                display: block;
                font-size: 20px;
                font-weight: 300;
                line-height: 1.4;
            }
        }
    }

    .page-chess {
        &__item {
            margin-left: auto;
            margin-right: -5%;

            &:nth-child(2n) {
                margin-right: auto;
                margin-left: -5%;

                .page-chess__col {
                    &:first-child {
                        order: -1;
                        margin-left: 0;
                        margin-right: 5%;
                    }
                }
            }
        }

        &__col {
            &:first-child {
                order: 1;
                margin-right: 0;
                margin-left: 5%;
            }
        }

        @media (max-width: 769px) {
            .page-chess__item {
                margin-right: 0;

                &:nth-child(2n) {
                    margin-left: 0;

                    .page-chess__col:first-child {
                        margin-right: 0;
                        margin-left: -80px;
                        order: 1;
                    }
                }
            }

            .page-chess__col {
                &:first-child {
                    margin: 0 0 0 -80px;
                }
            }
        }
    }
}

.technologies,
.design,
.infrastructure,
.kids {
    padding-top: 55px;

    .page__section {
        padding: 25px 0;
    }

    .container {
        max-width: 975px;
    }

    @media (max-width: 768px) {
        padding-top: 15px;
    }
}

.page-chess {
    &__col {
        width: 47.5%;
        height: 100%;

        &._btn {
            position: relative;
        }

        &:first-child {
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            margin-right: 5%;
        }

        @media (max-width: 769px) {
            width: 100%;
            margin-bottom: 30px;

            &:first-child {
                position: relative;
                right: -40px;
                margin: 0 0 0 -80px;
                width: calc(100% + 80px);
                order: 1;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: -5%;

        &:nth-child(2n) {
            margin-left: auto;
            margin-right: -5%;

            .page-chess__col {
                &:first-child {
                    margin-right: auto;
                    margin-left: 5%;
                    order: 1;
                }
            }
        }

        h2 {
            position: relative;
            text-align: left;
            font-size: 37px;
            line-height: 53px;
            padding-bottom: 30px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: -.6px;

            &:before {
                content: '';
                width: 75px;
                height: 2px;
                background: #008fd5;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            @media (max-width: 768px) {
                font-size: 27px;
                line-height: 1.4;
            }
        }

        p {
            margin: 0 0 30px 0;
            letter-spacing: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            list-style: none;

            li {
                position: relative;
                padding-left: 20px;
                margin-bottom: 10px;
                font-size: 17px;
                line-height: 1.4;
                font-weight: 300;

                strong {
                    font-weight: 500;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &:before {
                    content: '';
                    width: 7px;
                    height: 7px;
                    background: #008fd5;
                    position: absolute;
                    top: 8px;
                    left: 0;
                }
            }
        }

        @media (max-width: 769px) {
            margin: 0 0 70px 0;
            flex-wrap: wrap;

            &:nth-child(2n) {
                margin-right: 0;

                .page-chess__col {
                    &:first-child {
                        margin-left: -80px;
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media (max-width: 769px) {
            margin: 0 0 40px 0;
        }
    }

    &__picture {
        display: block;
        height: 100%;

        img {
            display: block;
            height: 100%;
            object-fit: cover;
            margin: 0 auto;
            width: 100%;
        }
    }

    &._simple {
        .page-chess__item {
            margin: 0;
        }

        .page-chess__col {
            position: static;
            margin: 0!important;
            right: auto;
            left: auto;
            height: auto;
            width: 100%;

            h2 {
                text-align: center;

                &:before {
                    left: 50%;
                    margin-left: -37.5px;
                }
            }
        }

        .container {
            +.design-slider {
                margin-top: 40px;
            }
        }
    }

    &._parking {
        .page-chess__item {
            margin-right: auto;
            margin-left: -5%;

            @media (max-width: 769px) {
                margin: 0;
            }
        }

        .page-chess__col {
            &:first-child {
                order: -1;
                margin-left: 0;
                margin-right: 5%;
            }

            @media (max-width: 769px) {
                &:first-child {
                    margin-right: 0;
                    margin-left: -80px;
                    order: 1;
                }
            }
        }
    }
}

.tech-facade {
    &__header {
        background-color: #e5af2d;
        padding: 45px 0 60px;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
        }

        p {
            color: #060e23;
        }

        @media (max-width: 768px) {
            height: 325px;
            position: relative;

            .container {
                height: 100%;
                align-items: center;

                .tech-facade__col {
                    position: static;
                }
            }
        }

        @media (max-width: 640px) {
            .tech-facade__col {
                &:last-child {
                    display: none;
                }
            }
        }
    }

    &__footer {
        background-color: #060e23;
        padding: 150px 0 100px;
        color: #fff;

        .tech-facade__tlt {
            color: #fff;

            &:before {
                background-color: #e5af2d;
            }
        }

        p {
            margin: 0;
            color: #fff;
            line-height: 27px;
        }

        @media (max-width: 768px) {
            padding: 85px 0;
        }
    }

    &__col {
        width: 50%;

        &:first-child {
            position: relative;
        }
    }

    &__item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__picture {
        display: block;
        position: absolute;
        top: -45px;
        right: 0;
        width: 660px;
        height: 642px;

        img {
            display: block;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        @media (max-width: 768px) {
            width: 364px;
            height: 403px;
            right: auto;
            left: -16px;
            top: 0;
        }
    }

    &__tlt {
        position: relative;
        font-size: 20px;
        line-height: 53px;
        font-weight: 500;
        margin-bottom: 10px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: -.4px;
        color: #060e23;

        &:before {
            content: '';
            position: absolute;
            left: 100%;
            bottom: 20px;
            width: 75px;
            margin-left: 15px;
            height: 2px;
            background-color: #9a330c;
        }
    }
}

.design-slider {
    &__item {
        position: relative;
        min-height: 460px;
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .swiper-pagination-bullets {
        bottom: 30px;
        opacity: 1;

        .swiper-pagination-bullet {
            position: relative;
            width: 5%;
            max-width: 40px;
            margin: 0 2px;
            height: 10px;
            opacity: 1;
            border-radius: 0;
            cursor: pointer;
            background: transparent;

            &:before {
                transition: ease .3s all;
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -1px;
                width: 100%;
                height: 2px;
                background-color: #fff;
            }

            &-active {
                &:before {
                    height: 4px;
                    background-color: #e5af2d;
                    margin-top: -2px;
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 0;
        width: 20%;
        height: 100%;
        background: transparent url('../img/interior/gallery-arrow.svg') 50% 50% no-repeat;
        margin: 0;
    }

    .swiper-button-next {
        transform: rotate(180deg);
        right: 0;

        @media (max-width: 768px) {
            background-position: 50% 20%;
        }
    }

    .swiper-button-prev {
        left: 0;

        @media (max-width: 768px) {
            background-position: 50% 80%;
        }
    }

    .swiper-fraction {
        position: absolute;
        left: 50px;
        bottom: 20px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -.6px;
        color: #fff;
        z-index: 100;

        span {
            &:first-child {
                font-size: 37px;
            }
        }
    }

    &._full {

        .swiper-button-next,
        .swiper-button-prev {
            width: 40%;
            top: 0;
            bottom: 0;
            background-position: 50% 50%;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .swiper-button-next {
            right: 0;
            background-position: 80px 50%;
        }

        .swiper-button-prev {
            left: 0;
            background-position: 80px 50%;
        }

        .swiper-pagination {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

.slider-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    &__item {
        width: calc(35% - 40px);
        position: relative;

        &:first-child {
            width: 65%;
            height: 650px;
        }

        &:last-child {
            right: -5%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        p {
            margin: 0 0 30px;
        }

        h2 {
            position: relative;
            text-align: left;
            font-size: 37px;
            line-height: 53px;
            padding-bottom: 30px;
            text-transform: uppercase;
            font-weight: 400;

            &:before {
                content: '';
                width: 75px;
                height: 2px;
                background: #008fd5;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            span {
                display: block;
                font-size: 20px;
                font-weight: 300;
                line-height: 1.4;
            }
        }
    }

    .design-slider {
        position: absolute;
        right: 0;
        height: 100%;
        max-width: 915px;
        width: 100%;

        &__item {
            height: 650px;
        }
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;

        .slider-column__item {
            width: 100%;

            &:first-child {
                order: 1;
                margin-top: 40px;
                width: calc(100% + 40px);
                margin-left: -60px;
                right: -60px;
            }

            &:last-child {
                right: auto;
            }
        }
    }
}

.students {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;

    &__count {
        font-size: 67px;
        color: #e5af2d;
        font-weight: 500;
        margin-right: 10px;
    }

    &__txt {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        span {
            display: block;
            font-size: 17px;
            color: #000;
            font-weight: 500;

            &:first-child {
                color: #e5af2d;
                text-transform: uppercase;
            }
        }
    }
}

.commercial {

    .swiper-pagination {
        z-index: 1000;
    }

    .page__section {
        &:nth-child(2n) {
            background-color: #fff;
        }
    }

    &__tlt {
        position: relative;
        font-size: 37px;
        letter-spacing: -.6px;
        color: #000;
        padding-bottom: 40px;
        line-height: 1.6;

        span {
            display: block;
            font-size: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 75px;
            height: 1px;
            background-color: #008fd5;
        }

        @media (max-width: 768px) {
            font-size: 24px;
            text-align: center;
            padding-bottom: 0;

            span {
                font-size: 15px;
            }

            &:before {
                display: none;
            }
        }
    }

    &__price {
        font-size: 30px;
        line-height: 34px;
        color: #e5af2d;
    }

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__btn,
    &__price {
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
            text-align: center;
        }
    }

    &__price {
        white-space: nowrap;

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__btn {
        min-width: 280px;

        .button {
            width: 100%;
        }

        @media (max-width: 1024px) {
            min-width: 0;
        }
    }

    &__corpus {
        width: 250px;

        &._first {
            @media (max-width: 1024px) {
                order: 0;
            }
        }

        &._second {
            @media (max-width: 1024px) {
                margin-bottom: 0;
                order: 1;
            }
        }

        &._third {
            @media (max-width: 1024px) {
                order: 0;
            }
        }

        &._fourth {
            @media (max-width: 1024px) {
                order: 1;
            }
        }

        &._fifth {
            @media (max-width: 1024px) {
                order: 2;
            }
        }

        @media (max-width: 768px) {
            margin: 0 auto 40px;
        }
    }

    &-plans {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 105px 0 75px;

        &._first {
            .commercial__corpus {
                &._second {
                    margin-right: 25%;
                }
            }

            @media (max-width: 768px) {
                padding-bottom: 0;

                .commercial__corpus {
                    &._second {
                        margin-right: auto;
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            flex-direction: column;
            padding: 60px 0 40px;
            align-items: center;
        }

        &__tlt {
            font-size: 28px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 20px;
            text-align: center;
            width: 100%;

            &._first {
                max-width: 250px;

                @media (max-width: 1024px) {
                    order: 0;
                }
            }

            &._second {
                max-width: 850px;

                @media (max-width: 1024px) {
                    order: 1;
                }
            }

            &._third {
                max-width: 180px;

                @media (max-width: 1024px) {
                    order: 0;
                }
            }

            &._fourth {
                max-width: 800px;

                @media (max-width: 1024px) {
                    order: 1;
                }
            }

            &._fifth {
                max-width: 100px;

                @media (max-width: 1024px) {
                    order: 2;
                }
            }
        }
    }

    &__plan {
        margin-bottom: 40px;

        @media (max-width: 768px) {
            margin: 0 auto 40px;
        }

        &._first {
            width: 245px;

            @media (max-width: 1024px) {
                order: 0;
            }
        }

        &._second {
            width: 850px;

            @media (max-width: 1024px) {
                order: 1;
            }
        }

        &._third {
            width: 180px;

            @media (max-width: 1024px) {
                order: 0;
            }
        }

        &._fourth {
            width: 800px;

            @media (max-width: 1024px) {
                order: 1;
            }
        }

        &._fifth {
            width: 100px;

            @media (max-width: 1024px) {
                order: 2;
            }
        }
    }
}

.commercial-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    @media (max-width: 1024px) {
        display: block;
    }

    &__block {
        width: 50%;

        &:last-child {
            padding-left: 50px;
        }

        @media (max-width: 1024px) {
            width: 100%;
            margin-bottom: 40px;

            &:last-child {
                padding-left: 0;
                margin-bottom: 0;
            }
        }
    }
}

.home-banner {
    &._commercial {
        position: relative;
        height: calc(100vh - 210px);

        .home-banner-list__item {
            &:before {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                content: '';
                height: 420px;
                background: linear-gradient(to bottom, rgba(14,32,73,0) 0%,rgba(6,14,35,1) 100%);
                z-index: 100;
            }

            @media (max-width: 575px) {
                padding-bottom: 40px;
            }
        }

        .home-banner-list__text {
            position: relative;
            z-index: 110;
            font-size: 37px;
            text-transform: uppercase;

            span {
                display: block;
                font-size: 17px;
                line-height: 35px;
                font-weight: normal;
                margin-top: 55px;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 65px;
                left: 0;
                width: 75px;
                height: 2px;
                background-color: #e5af2d;
            }

            @media (max-width: 768px) {
                font-size: 26px;
            }
        }
    }
}


.page__section {
    &._slider {
        @media (max-width: 1279px) {
            .container {
                max-width: 100% !important;
                padding: 0 !important;
            }
        }
    }
}