:root {
    --brandFonts: 'PFDinDisplayPro';
    --brandColor: #008fd5;
}

.StayHome {
    font-family: var(--brandFonts);
    color: #000;
    padding: 40px 0 0;
    @media (--smMinus) {
        padding: 10px 0 0;
    }
    a {
        text-decoration: underline;
    }
    &_colorSection {
         background: #EDEDED;
         padding: 42px 0;
         margin: 0 0 42px;
        @media (--mdMinus) {
            padding: 32px 0;
            margin: 0 0 32px;
        }
        @media (--smMinus) {
            padding: 30px 0 20px;
            margin: 0 0 20px;
        }
    }
    &_tag {
          font-size: 25px;
          line-height: 30px;
          text-align: center;
          color: var(--brandColor);
          margin: 0 0 12px;
        @media (--smMinus) {
            font-size: 20px;
            line-height: 24px;
            margin: 0 0 -10px;
        }
        & a {
            color: var(--brandColor);
        }
    }
}

.StayHomeImg {
    background-color: #F1F1F1;
    background-image: url("../img/stayhome/img_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 222px;
    margin-bottom: 40px;
    @media (--mdMinus) {
        background-image: url("../img/stayhome/img_2_768.jpg");
        background-size: auto 164px;
        height: 164px;
        margin: 0 -40px 27px;
    }
    @media (--smMinus) {
        background-image: url("../img/stayhome/img_2_320.jpg");
        background-size: auto 115px;
        height: 115px;
        margin: 0 -40px 30px;
    }
    @media (--xs) {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.StayHomeEnter {
    margin: 0 0 49px;
    @media (--mdMinus) {
        margin: 0 0 17px;
    }
    @media (--smMinus) {
        margin: 0 0 10px;
    }
    &_txt1 {
         font-size: 25px;
         line-height: 35px;
         text-align: center;
         margin: 0 0 15px;
        @media (--mdMinus) {
            text-align: left;
        }
        @media (--smMinus) {
            font-size: 20px;
            line-height: 30px;
            margin: 0 0 20px;
        }
    }
    &_txt2 {
         font-size: 25px;
         line-height: 30px;
         text-align: center;
         color: var(--brandColor);
         margin: 0 0 48px;
        @media (--mdMinus) {
            text-align: left;
            margin: 0 0 30px;
        }
        @media (--smMinus) {
            font-size: 20px;
            line-height: 24px;
        }
        & a {
            color: var(--brandColor);
        }
    }
    &_docs {
         display: flex;
         flex-wrap: wrap;
         align-items: flex-start;
         justify-content: space-between;
        & p {
            font-size: 25px;
            line-height: 30px;
            color: #000;
            width: 100%;
            margin: 0 0 20px;
            @media (--smMinus) {
                font-size: 20px;
                margin: 0 0 10px;
            }
        }
        & ul {
              width: 49%;
            @media (--mdMinus) {
                width: 100%;
            }
        }
        & li {
              font-weight: 300;
              font-size: 17px;
              line-height: 21px;
              list-style: none;
              padding: 0 0 0 30px;
              margin: 0 0 15px;
              position: relative;
            @media (--smMinus) {
                font-size: 14px;
                line-height: 22px;
                margin: 0 0 20px;
            }
            &:before {
                 content: '';
                 position: absolute;
                 left: 0;
                 top: 7px;
                 width: 5px;
                 height: 5px;
                 border-radius: 50%;
                 background: var(--brandColor);
             }
        }
    }
}

.StayHomeSteps {
    &_row {
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
        @media (--mdMinus) {
            flex-direction: column-reverse;
        }
    }
    &_column {
         width: calc(50% - 39px);
         border-bottom: 1px solid var(--brandColor);
        @media (--mdMinus) {
            width: 100%;
        }
        &:nth-child(1) {
            @media (--mdMinus) {
                margin-top: -1px;
            }
            & .StayHomeSteps_num {
                left: 100%;
                transform: none;
                @media (--mdMinus) {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        &:nth-child(2) {
            & .StayHomeSteps_num {
                left: -78px;
                transform: none;
                @media (--mdMinus) {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    &_item {
         max-width: 546px;
         width: 100%;
         padding-top: 42px;
         margin: 0 auto 42px;
         border-top: 1px solid var(--brandColor);
         position: relative;
        @media (--mdMinus) {
            max-width: 100%;
            padding-top:32px;
            margin-bottom: 32px;
        }
        @media (--smMinus) {
            padding-top:20px;
            margin-bottom: 20px;
        }
    }
    &_txt {
         font-size: 17px;
         line-height: 24px;
         text-align: center;
        @media (--mdMinus) {
            max-width: 546px;
            width: 100%;
            margin: 0 auto;
        }
        @media (--smMinus) {
            font-size: 14px;
            line-height: 22px;
        }
        & p {
              font-size: 17px;
              line-height: 24px;
              color: #000;
              margin: 0;
              position: relative;
            @media (--smMinus) {
                font-size: 14px;
                line-height: 22px;
            }
            & + p {
                  margin-top: 39px;
                @media (--mdMinus) {
                    margin-top: 15px;
                }
                @media (--smMinus) {
                    margin-top: 10px;
                }
            }
        }
        & b {
            font-weigth: 600;
        }
        &._tlt {
             font-weigth: 600;
             font-size: 34px;
             line-height: 41px;
             color: var(--brandColor);
            @media (--smMinus) {
                font-size: 22px;
                line-height: 27px;
            }
        }
    }
    &_txtStep {
         display: block;
         position: absolute;
         left: 50%;
         top: -24px;
         transform: translateX(-50%);
        @media (--mdMinus) {
            position: relative;
            top: 0;
        }
    }
    &_num {
         position: absolute;
         left: 50%;
         top: -24px;
         transform: translateX(-50%);
         width: 78px;
         background: #EDEDED;
         font-weight: 600;
         font-size: 40px;
         line-height: 49px;
         color: var(--brandColor);
         text-align: center;
        @media (--smMinus) {
            top: -18px;
            width: 40px;
            font-size: 30px;
            line-height: 37px;
        }
    }
}