.storeroom {
    background: transparent url('/img/storeroom/storeroom-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    margin-bottom: -130px;
    padding-bottom: 130px;
    color: #fff;
    text-align: center;

    .page__section {
        padding: 65px 0;

        @media (--640) {
            padding: 40px 0;
        }
    }

    .page__lead-header {
        color: #fff;
    }
}

.storeroom-cont {
    position: relative;
    padding-top: 42px;
    max-width: 700px;
    margin: 0 auto;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 74px;
        height: 2px;
        background-color: #e5af2d;
        margin-left: -37px;
    }

    p {
        font-size: 17px;
        color: #fff;
        margin-bottom: 30px;
        font-weight: 400;

        a {
            color: #fff;
        }

        &:last-child {
            font-weight: 500;
            margin-bottom: 0;
        }
    }

    &__tlt {
        font-size: 35px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 10px;

        + p {
            font-size: 20px;
        }

        @media (--640) {
            font-size: 27px;
            line-height: 30px;

            + p {
                font-size: 17px;
            }
        }
    }

    .button {
        min-width: 340px;
        font-size: 17px;

        @media (--640) {
            width: 100%;
            min-width: 0;
        }
    }
}
