{% set title = "Акция" %}
{% extends "layout.njk" %}

{% block content %}

<div class="action-nav">
    <a href="" class="action-nav__link action-nav__link_prev action-nav__link_disable">
        <span>Предыдущая акция</span>
    </a>
    <a href="" class="action-nav__link action-nav__link_list">
        <span>К списку акций</span>
    </a>
    <a href="" class="action-nav__link action-nav__link_next">
        <span>Следующая акция</span>
    </a>
</div>

<section class="action-card">
    <div class="action-card__title">Скидка для тех, кто на вершине!</div>
    <div class="action-card__subtitle">Скидка 1% за видеоотзыв</div>
    <div class="action-card__img">
        <img src="img/action/ac1.jpg" alt="">
    </div>
    <div class="action-card_infobar">
        <div class="action-card__time">
            Период проведения:
            <span>до 31 марта 2019</span>
        </div>
        <a href="" class="action-card__btn action-card__btn_desktop">Выбрать свою квартиру</a>
    </div>
    <div class="action-card-content">
        <div class="action-card-content__title">
            Регламент акции «Эталон — мой выбор!»
        </div>
        <ul class="list-line">
            <li>Период действия акции с <strong>01.06.2016</strong> по <strong>30.09.17</strong></li>
            <li>В акции участвуют все квартиры в «Летний Сад», «Нормандия»;</li>
            <li>Скидка по акции — <strong>1% от прайс-листа</strong>;</li>
            <li><strong>Условия Акции</strong> «Эталон — мой выбор!»:
                <ul class="list-circle">
                    <li>Записать на любое устройство, обеспечивающее хорошее качество — 1 ВИДЕО-отзыв (рассказать почему
                        остановили свой выбор на нас: как узнали, с кем сравнивали, на что обращали особое внимание и
                        какие аргументы в итоге привели к положительному решению). Хронометраж — от 1 минуты.
                    </li>
                    <li>Разместить ролик на YouTube и поделиться им на своей открытой странице Вконтакте или Facebook
                        (допускается также размещение видео в Instagram) — с каким-либо комментарием по теме и
                        обязательно хэштегом #Эталон.
                    </li>
                    <li>Дождаться опубликования репоста в любом из официальных сообществ компании в указанных соцсетях
                        (материал будет также продублирован на официальном канале компании на YouTube и в
                        соответствующих разделах групп).
                    </li>
                    <li>Официальный представитель компании связывается через личные сообщения и сообщает о
                        получении скидки.</li>
                </ul>
            </li>
            <li>Скидка вручается при наличии документа, удостоверяющего личность, и возможности подтвердить
                связь с аккаунтом в соцсетях путем предъявления сообщения от официального представителя компании.</li>
            <li>Действие данной акции распространяется только на вновь заключаемые договоры только вновь вносимыми
                денежными средствами (перевод с ранее заключенных договоров, «бартер», «зачеты» и пр. — недопустимы).</li>
            <li>Подписание договоров и оплата первого взноса согласно общим условиям регламента.</li>
            <li><strong>Акция сочетается со всеми скидками и акциями в рамках ограничения максимальной скидки,
                кроме Акции «СПЕЦИАЛЬНЫЙ СПИСОК».</strong></li>
        </ul>
    </div>
    <a href="" class="action-card__btn action-card__btn_mobile">Выбрать свою квартиру</a>
</section>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}
<script src="js/action.js"></script>
{% endblock %}
