{% set title = "Апартаменты" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header _large _apparts">
        <div class="container">
            <h1 class="page-header__tlt">
                апартаменты
            </h1>
            <p class="page-header__slogan">Представляем вам уникальные многофункциональные помещения в жилом комплексе бизнес-класса «Эталон-Сити». Удобные, обладающие свободной планировкой пространства обеспечат вам возможность жить и работать с максимальным комфортом.</p>
        </div>
    </section>

    <section class="apparts">
        <div class="apparts__item">
            <div class="apparts__itemImg _img1"></div>
            <div class="apparts__itemTxt">
                <h2>Почему апартаменты <span class="_defPC">—</span><br><span class="_defMob">—</span> отличный выбор?</h2>
                <h4>Выгода</h4>
                <p>Стоимость квадратного метра на 15-30% ниже аналогичного показателя для квартир. Вы сможете начать жить в комплексе бизнес-класса, заплатив за это намного меньше ваших соседей.</p>
                <h4>Свободная планировка</h4>
                <p>Создавайте пространство для себя. Объединяйте соседние помещения, меняйте расположение «мокрых» зон, проводите почти любые работы без сложных согласований.</p>
                <h4>Равные права с владельцами квартир</h4>
                <p>Апартаменты оформляются в собственность. В них легко сделать временную регистрацию, чтобы получить доступ к социальной и образовательной инфраструктуре района.</p>
            </div>
        </div>
        <div class="apparts__item">
            <div class="apparts__itemImg _img2"></div>
            <div class="apparts__itemTxt">
                <h2>Идеальное решение для<br>жизни, аренды и бизнеса</h2>
                <h4>Апартаменты для себя</h4>
                <p>Вы можете выбрать любое из этих помещений и организовать в нем пространство для жизни, выполнив ремонт и создав совершенно уникальную планировку.</p>
                <h4>Апартаменты для сдачи в аренду</h4>
                <p>Отличное решение для арендного бизнеса. Ведь апартаменты стоят значительно дешевле квартир, а сдавать их вы сможете по той же ставке, что и квартиры. Это значит, что они окупятся намного быстрее. А возможность создания уникальной планировки позволит вам быстро найти арендатора.</p>
                <h4>Частный бизнес</h4>
                <p>Апартаменты относятся к помещениям нежилого фонда. Вы имеет право открыть в них частную практику, шоу-рум, творческую мастерскую или что-то другое. В таком случае вы сразу же сможете завоевать внимание жителей комплекса бизнес-класса.</p>
            </div>
        </div>

        <div class="apparts__banner">
            <div class="apparts__bannerTxt">
                <h2 class="apparts__bannerHead">Дополнительные плюсы</h2>
                <p class="apparts__bannerP">Став собственником апартаментов в ЖК «Эталон-Сити», вы получите доступ ко всей инфраструктуре комплекса. Спускайтесь в подземный охраняемый паркинг на скоростном лифте, храните вещи в кладовых паркинга, отдайте детей в школу, посещайте фитнес-центр с тремя бассейнами прямо на территории.</p>
            </div>
            <div class="apparts__bannerImg"></div>
        </div>

        <div class="apparts__plans">
            <div class="apparts__plansItem">
                <div class="apparts__plansInner">
                    <a href="" class="apparts__plansMore"></a>
                    <div class="apparts__plansImg apparts__plansImgSL1 swiper-container">
                        <div class="swiper-wrapper">
                            <div class="apparts__plansImgItem swiper-slide"><a href=""><img src="img/apparts/plan_1.png" alt=""></a></div>
                            <div class="apparts__plansImgItem swiper-slide"><a href=""><img src="img/apparts/plan_1-2.png" alt=""></a></div>
                            <div class="apparts__plansImgItem swiper-slide"><a href=""><img src="img/apparts/plan_1-3.png" alt=""></a></div>
                        </div>
                        <div class="apparts__plansBull apparts__plansBull1"></div>
                    </div>
                    <div class="apparts__plansInfo">
                        <span>2 к апартамент, пом.59</span>
                        <span>72.20 м&sup2;</span>
                    </div>
                    <div class="apparts__plansInfo">
                        <span>ЭС-ВГК-встр., 2 этаж</span>
                        <span class="_bold _glow">8 677 537 Р</span>
                    </div>
                </div>
                <a href="№" data-text-flat="Корпус 2а, секция 3, этаж 19, № 28" data-sidebar-toggle="form-flat" class="Flat_btn _active">оставить заявку</a>
            </div>
            <div class="apparts__plansItem">
                <div class="apparts__plansInner">
                    <a href="" class="apparts__plansMore"></a>
                    <div class="apparts__plansImg apparts__plansImgSL2 swiper-container">
                        <div class="swiper-wrapper">
                            <div class="apparts__plansImgItem swiper-slide"><a href=""><img src="img/apparts/plan_2.png" alt=""></a></div>
                            <div class="apparts__plansImgItem swiper-slide"><a href=""><img src="img/apparts/plan_2-2.png" alt=""></a></div>
                        </div>
                        <div class="apparts__plansBull apparts__plansBull2"></div>
                    </div>

                    <div class="apparts__plansInfo">
                        <span>2 к апартамент, пом.59</span>
                        <span>72.20 м&sup2;</span>
                    </div>
                    <div class="apparts__plansInfo">
                        <span>ЭС-ВГК-встр., 2 этаж</span>
                        <span class="_bold _glow">8 677 537 Р</span>
                    </div>
                </div>
                <a href="№" data-text-flat="Корпус 2а, секция 3, этаж 19, № 27" data-sidebar-toggle="form-flat" class="Flat_btn _active">оставить заявку</a>
            </div>
            <div class="apparts__plansItem">
                <div class="apparts__plansInner">
                    <a href="" class="apparts__plansMore"></a>
                    <div class="apparts__plansImg apparts__plansImgSL3 swiper-container">
                        <div class="swiper-wrapper">
                            <div class="apparts__plansImgItem swiper-slide"><a href=""><img src="img/apparts/plan_3.png" alt=""></a></div>
                            <div class="apparts__plansImgItem swiper-slide"><a href=""><img src="img/apparts/plan_3-2.png" alt=""></a></div>
                        </div>
                        <div class="apparts__plansBull apparts__plansBull3"></div>
                    </div>
                    <div class="apparts__plansInfo">
                        <span>2 к апартамент, пом.59</span>
                        <span>72.20 м&sup2;</span>
                    </div>
                    <div class="apparts__plansInfo">
                        <span>ЭС-ВГК-встр., 2 этаж</span>
                        <span class="_bold _glow">8 677 537 Р</span>
                    </div>
                </div>
                <a href="№" data-text-flat="Корпус 2а, секция 3, этаж 19, № 29" data-sidebar-toggle="form-flat" class="Flat_btn _active">оставить заявку</a>
            </div>
        </div>
    </section>
</div>

<div id="form-flat" class="page-sidebar__wrapper">
    <div class="page-sidebar__tlt">Заявка на квартиру <span></span></div>

    <form data-action="/ajax/form-response.json" method="GET" class="page-form ws-validate" autocomplete="off">
        <input data-name-flat type="hidden" value="">
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="flat-order-name">
                <em class="page-form__placeholder">Имя</em>
            </label>
        </div>
        <div class="page-form__step">
            <div class="page-form__lbl">
                <label>
                    <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="flat-order-phone">
                    <em class="page-form__placeholder">Телефон</em>
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <div class="SubCheckboxes__item SubCheckboxes__item--form">
                <input data-errormessage="Подтвердите согласие на обработку данных." required type="checkbox" id="privacy-flat" class="SubCheckboxes__input" name="privacy-flat" value=1/>
                <label for="privacy-flat">
                    <span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <input type="submit" value="отправить заявку" class="page-form__sbt button _orange">
        </div>
    </form>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}
    <script src="js/apparts.js"></script>
{% endblock %}