{% set title = "Коммерческая недвижимость" %}
{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
    <section class="page-header _simple">
        <div class="container">
            <div class="container__inner">
                <div class="breadcrumbs">
                    <a href="/" class="breadcrumbs__item">Главная</a>
                    <a href="#" class="breadcrumbs__item">Нежелые помещения</a>
                    <a href="mortgage.html" class="breadcrumbs__item breadcrumbs__item_active">Коммерческая недвижимость</a>
                </div>
                <h1 class="title-page">Коммерческая недвижимость</h1>
            </div>
        </div>
    </section>
    <section class="home-banner _commercial">
        <div class="home-banner-list swiper-container">
            <div class="swiper-wrapper">
                <div class="home-banner-list__item home-banner-list__item_noblackout swiper-slide" style="background-image: url('img/commercial/Image1.jpg')">
                    <div class="home-banner-list__text">
                        ГРУППА &laquo;ЭТАЛОН&raquo; ПРЕДЛАГАЕТ ПОМЕЩЕНИЕ<br> ПОД 2-Х УРОВНЕВЫЙ МАГАЗИН
                        <span>ПЕРВАЯ ЛИНИЯ УЛ. ПОЛЯНЫ</span>
                    </div>
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/commercial/Image2.jpg')">
                    <div class="home-banner-list__text">
                        "ГРУППА «ЭТАЛОН» ПРЕДЛАГАЕТ ПОМЕЩЕНИЕ<br> ПОД 2-Х УРОВНЕВЫЙ ОФИС"
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="home-banner-list__pagination swiper-pagination"></div>
        </div>
        <div class="home-banner__scrolling"></div>
    </section>
    <div class="commercial">
        <section class="page__section">
            <div class="container">
                <div class="commercial-section">
                    <div class="commercial-section__block">
                        <div class="commercial__tlt">
                            2-Х УРОВНЕВЫЙ МАГАЗИН
                            <span>ОБЩАЯ ПЛОЩАДЬ ПОМЕЩЕНИЯ — 1667 М²</span>
                        </div>
                    </div>
                    <div class="commercial-section__block">
                        <div class="commercial__form">
                            <div class="commercial__price">8&nbsp;869&nbsp;493&nbsp;₽</div>
                            <div class="commercial__btn">
                                <a href="#" class="button _default _commercial" data-sidebar-toggle="commercial"><span>Оставить заявку</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="commercial-plans _first">
                    <div class="commercial-plans__tlt _first">1 этаж</div>
                    <div class="commercial-plans__tlt _second">2 этаж</div>
                    <img src="/img/commercial/2x/1-floor.png" alt="" class="commercial__plan _first">
                    <img src="/img/commercial/2x/2-floor.png" alt="" class="commercial__plan _second">
                    <img src="/img/commercial/2x/1-floor-corpus.png" class="commercial__corpus _first" alt="">
                    <img src="/img/commercial/2x/2-floor-corpus.png" class="commercial__corpus _second" alt="">
                </div>
            </div>
        </section>
        <section class="page__section">
            <div class="container">
                <div class="commercial-section">
                    <div class="commercial-section__block">
                        <div class="commercial__tlt">
                            2-х уровневое офисное помещение
                            <span>ОБЩАЯ ПЛОЩАДЬ ПОМЕЩЕНИЯ — 2839 М²</span>
                        </div>
                    </div>
                    <div class="commercial-section__block">
                        <div class="commercial__form">
                            <div class="commercial__price">25 869 493 ₽</div>
                            <div class="commercial__btn">
                                <a href="#" class="button _default _commercial" data-sidebar-toggle="commercial"><span>Оставить заявку</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="commercial-plans _first">
                    <div class="commercial-plans__tlt _first">1 этаж</div>
                    <div class="commercial-plans__tlt _second">2 этаж</div>
                    <!-- <div class="commercial-plans__tlt _fifth">3 этаж</div> -->
                    <img src="/img/commercial/3x/1-floor.png" alt="" class="commercial__plan _first">
                    <img src="/img/commercial/3x/2-floor.png" alt="" class="commercial__plan _second">
                    <!-- <img src="/img/commercial/3x/3-floor.png" alt="" class="commercial__plan _fifth"> -->
                    <img src="/img/commercial/3x/1-floor-corpus.png" class="commercial__corpus _first" alt="">
                    <img src="/img/commercial/3x/2-floor-corpus.png" class="commercial__corpus _second" alt="">
                    <!-- <img src="/img/commercial/3x/3-floor-corpus.png" class="commercial__corpus _fifth" alt=""> -->
                </div>
            </div>
        </section>

        <section class="page__section _slider">
            <div class="container">
                <div class="swiper-container design-slider _full" data-slider="full">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/01.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/02.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/03.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/04.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/05.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/06.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/07.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/08.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/09.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/10.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/11.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/commercial/12.jpg');"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-fraction">
                        <span>1</span> /
                        <span>7</span>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </section>
    </div>
</div>

{% include "includes/blocks/btn-call.njk" %}
{% endblock %}

{% block page_bottom %}
<script src="js/commercial.js"></script>
{% endblock %}
