{% set title = "Контакты" %}
{% extends "layout.njk" %}
{% block content %}
<div class="contacts-page-wrapper">
	<div class="wrapper">
		<div class="contacts-page">
			<div class="contacts-wrap">
				<div id="contacts-map" class="contact-map" data-map="contacts" data-map-init='{"center": [55.879114, 37.544560], "title": "г. Москва, Дмитровское шоссе, вл. 107", "zoom" : 16, "type": "object", "icon" : {"url" : "/img/contacts/map_icon_01.png", "size" : [92, 57]}, "controls" : ["zoomControl"]}'></div>

				<div class="contact-offices">
					<div class="contact-offices__title">Офисы продаж</div>
					<div class="contact-offices-types">
						<ul>
							<li>
								<a href="#office-object" data-contacts-map='{"center": [55.879114, 37.544560], "title": "г. Москва, Дмитровское шоссе, вл. 107", "zoom" : 16, "icon" : {"url" : "/img/contacts/map_icon_01.png", "size" : [92, 57]}}' class="contact-offices-types__link">на объекте</a>
							</li>
							  <li>
								  <a href="#office-team" class="contact-offices-types__link">Команда проекта</a>
							  </li>
							<li>
								<a href="#office-center" data-contacts-map='{"center": [55.772197, 37.622830], "zoom" : 17, "type": "offices"}' class="contact-offices-types__link">центральный</a>
							</li>
							<li>
								<a href="#office-region" data-contacts-map='{"center": [61.484317, 98.179034], "zoom" : 2, "type": "regions"}' class="contact-offices-types__link">региональные</a>
							</li>
						</ul>

						<div id="office-object" class="contact-offices-item contact-offices-item_type">
							<div class="contact-offices-item__img" style="background-image: url('img/contacts/office_2.jpg')"></div>
							<div class="contact-form-link">
								<a href="#" data-sidebar-toggle="contact-form">Помогите нам стать лучше</a>
							</div>
							<div class="contact-offices-item__text">
								<div class="contact-offices__inner">
									<div class="contact-list" data-toggle-list>
										<div class="contact-list__item">
											<div class="contact-list__tlt"><span>Офис продаж</span></div>
											<div class="contact-list__cont">
												<p>ОФИС ПРОДАЖ НАХОДИТСЯ ВО&nbsp;ВТОРОМ КОРПУСЕ &laquo;ЭТАЛОН-СИТИ&raquo;, НА&nbsp;ПЕРВОМ ЭТАЖЕ СЕКЦИИ &laquo;ПАРИЖ&raquo;, ВХОД С&nbsp;УЛИЦЫ</p>

												<p>Понедельник&nbsp;&mdash; воскресенье: 9:00&nbsp;&mdash; 21:00 (без перерыва)</p>

												<p>ТЕЛ: 7 (495) 125-29-95<br>
												МЕТРО: СКОБЕЛЕВСКАЯ, БУЛЬВАР ДМИТРИЯ ДОНСКОГО.<br>
												АДРЕС: г. Москва, ул. Старокрымская, дом&nbsp;15, кор.&nbsp;2&nbsp;(заезд со&nbsp;стороны&nbsp;ул. Поляны)</p>
											</div>
										</div>
										<div class="contact-list__item">
											<div class="contact-list__tlt"><span>Такси за наш счёт</span></div>
											<div class="contact-list__cont">
												<p>Как доехать до&nbsp;нашего офиса продаж? Дарим комфорт еще до&nbsp;покупки. Один звонок&nbsp;&mdash; и&nbsp;мы&nbsp;пришлем за&nbsp;вами бесплатное такси прямо к&nbsp;м. &laquo;Бульвар Дмитрия Донского&raquo;.</p>

												<p>Телефон: 7 (495) 125-29-95</p>
											</div>
										</div>
										<div class="contact-list__item">
											<div class="contact-list__tlt"><span>Пешеходный маршрут</span></div>
											<div class="contact-list__cont">
												<p>Выходите в&nbsp;сторону ул.&nbsp;Скобелевская, идете прямо до&nbsp;пересечения с&nbsp;ул.&nbsp;Поляна, переходите на&nbsp;ул.&nbsp;Поляна&nbsp;&mdash; идете прямо (в&nbsp;сторону МКАД).</p>

												<p>Далее видите белую будку с&nbsp;надписью Эталон-Сити, поворачиваете в&nbsp;ее&nbsp;сторону направо и&nbsp;идите до&nbsp;конца вдоль забора, далее с&nbsp;поворотом забора налево&nbsp;&mdash; поворачиваете налево.</p>

												<p>Идете прямо до&nbsp;будки с&nbsp;охранником и&nbsp;шлагбаума. Проходите шлагбаум и&nbsp;поворачиваете налево, идите до&nbsp;вывески&nbsp;&mdash; Офис Продаж.</p>

												<div class="contact-list__img">
													<img src="/img/contacts/office_3.jpg" alt="">
													<img src="/img/contacts/office_4.jpg" alt="">
												</div>
											</div>
										</div>
										<div class="contact-list__item">
											<div class="contact-list__tlt"><span>Время показа квартир</span></div>
											<div class="contact-list__cont">
												<p>Показы квартир производятся по&nbsp;предварительной записи через менеджеров по&nbsp;продажам по&nbsp;тел.: (495) 324-44-63</p>
												<p>Будни с&nbsp;10.00 до&nbsp;20.00 (в&nbsp;начале каждого часа)<br />
												&#8203;Выходные с&nbsp;10.00 до&nbsp;20:00 (в&nbsp;начале каждого часа)</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div id="office-team" class="contact-offices-item">
							<div class="contact-team" data-team>
								<div class="contact-team-item">
									<div class="contact-team-item__img">
										<img src="img/team/popov.png" alt="">
									</div>
									<div class="contact-team-item__txt">
										<div class="contact-team-item__name">Попов Константин</div>
										<a href="mailto:konstantin.popov@etalongroup.com" class="contact-team-item__mail">konstantin.popov@etalongroup.com</a>
									</div>
								</div>
								<div class="contact-team-item">
									<div class="contact-team-item__img">
										<img src="img/team/urlov.png" alt="">
									</div>
									<div class="contact-team-item__txt">
										<div class="contact-team-item__name">Юрлов Сергей</div>
										<a href="mailto:sergey.yurlov@etalongroup.com" class="contact-team-item__mail">sergey.yurlov@etalongroup.com</a>
									</div>
								</div>

								<div class="contact-team-item">
									<div class="contact-team-item__img">
										<img src="img/team/popov.png" alt="">
									</div>
									<div class="contact-team-item__txt">
										<div class="contact-team-item__name">Попов Константин</div>
										<a href="mailto:konstantin.popov@etalongroup.com" class="contact-team-item__mail">konstantin.popov@etalongroup.com</a>
									</div>
								</div>
								<div class="contact-team-item">
									<div class="contact-team-item__img">
										<img src="img/team/urlov.png" alt="">
									</div>
									<div class="contact-team-item__txt">
										<div class="contact-team-item__name">Юрлов Сергей</div>
										<a href="mailto:sergey.yurlov@etalongroup.com" class="contact-team-item__mail">sergey.yurlov@etalongroup.com</a>
									</div>
								</div>
								<div class="contact-team-item">
									<div class="contact-team-item__img">
										<img src="img/team/popov.png" alt="">
									</div>
									<div class="contact-team-item__txt">
										<div class="contact-team-item__name">Попов Константин</div>
										<a href="mailto:konstantin.popov@etalongroup.com" class="contact-team-item__mail">konstantin.popov@etalongroup.com</a>
									</div>
								</div>
								<div class="contact-team-item">
									<div class="contact-team-item__img">
										<img src="img/team/urlov.png" alt="">
									</div>
									<div class="contact-team-item__txt">
										<div class="contact-team-item__name">Юрлов Сергей</div>
										<a href="mailto:sergey.yurlov@etalongroup.com" class="contact-team-item__mail">sergey.yurlov@etalongroup.com</a>
									</div>
								</div>
							</div>
						</div>

						<div id="office-center" class="contact-offices-item">
							<div class="contact-offices-item__text contact-offices-item__text_noImg">
								<div class="contact-offices__inner">
									<div class="contact-list" data-toggle-list>
										<div class="contact-list__item" id="office-1" data-office-placemark='{"center": [55.770851, 37.622462], "title": "Центральный офис продаж", "icon" : {"url": "img/contacts/map_icon_02.png", "size": [92, 85]}, "id" : "office-1"}'>
											<div class="contact-list__tlt"><span>Центральный офис продаж группы &laquo;Эталон&raquo;, Москва</span></div>
											<div class="contact-list__cont">
												<p>ТЕЛ: 7 (495) 125-29-95</p>
												<p>МЕТРО: ЦВЕТНОЙ БУЛЬВАР.<br>
												АДРЕС: 127051, Москва, Цветной бульвар, 22, строение 1.</p>
												<p>РЕЖИМ РАБОТЫ:<br>
												Понедельник&nbsp;&mdash; пятница с&nbsp;9:00 до&nbsp;20:00, без перерыва на&nbsp;обед<br>
												Суббота и&nbsp;праздничные дни с&nbsp;10:00 до&nbsp;19:00<br>
												Воскресенье&nbsp;&mdash; выходной</p>
												<p>РЕЖИМ РАБОТЫ КАССЫ:<br>
												пн.-пт. &mdash;&nbsp;9:00&nbsp;&mdash; 19:30 (обед 13:00&nbsp;&mdash; 14:00)<br />
												сб. 10:00&nbsp;&mdash; 16:30 (без обеда)<br>
												вс. &mdash;&nbsp;выходной</p>
											</div>
										</div>
										<div class="contact-list__item" id="office-2" data-office-placemark='{"center": [55.771305, 37.622914], "title": "Центральный офис продаж", "icon" : {"url": "img/contacts/map_icon_03.png", "size": [92, 85]}, "id" : "office-2"}'>
											<div class="contact-list__tlt"><span>Отдел оформления и&nbsp;регистрациинедвижимого имущества</span></div>
											<div class="contact-list__cont">
												<p>АДРЕС:<br>
												127051, г.&nbsp;Москва, Цветной бульвар, д. 26</p>

												<p>РЕЖИМ РАБОТЫ:<br>
												Понедельник&nbsp;&mdash; пятница с&nbsp;09:00 до&nbsp;18:00, перерыв с&nbsp;13:00 до&nbsp;14:00</p>

												<p>ЗАПИСЬ НА&nbsp;ПРИЕМ ОСУЩЕСТВЛЯЕТСЯ ПО&nbsp;ТЕЛ.:<br>
												7(495) 685 93 06 (доб. 1222)<br>
												(консультации по&nbsp;вопросам оформления прав собственности)<br>
												Понедельник&nbsp;&mdash; пятница с&nbsp;09:00 до&nbsp;18:00, перерыв с&nbsp;13:00 до&nbsp;14:00</p>
											</div>
										</div>
										<div class="contact-list__item" id="office-3" data-office-placemark='{"center": [55.772197, 37.62283], "title": "Центральный офис продаж", "icon" : {"url": "img/contacts/map_icon_04.png", "size": [92, 85]}, "id" : "office-3"}'>
											<div class="contact-list__tlt"><span>Отдел оформления и&nbsp;регистрациине движимого имущества</span></div>
											<div class="contact-list__cont">
												<p>АДРЕС:<br>
												127051, г.&nbsp;Москва, Цветной бульвар, д. 26</p>

												<p>РЕЖИМ РАБОТЫ:<br>
												Понедельник&nbsp;&mdash; пятница с&nbsp;09:00 до&nbsp;18:00, перерыв с&nbsp;13:00 до&nbsp;14:00</p>

												<p>ЗАПИСЬ НА&nbsp;ПРИЕМ ОСУЩЕСТВЛЯЕТСЯ ПО&nbsp;ТЕЛ.:<br>
												7(495) 685 93 06 (доб. 1222)<br>
												(консультации по&nbsp;вопросам оформления прав собственности)<br>
												Понедельник&nbsp;&mdash; пятница с&nbsp;09:00 до&nbsp;18:00, перерыв с&nbsp;13:00 до&nbsp;14:00</p>

												<div class="contact-list__img">
													<img src="/img/contacts/office_1.jpg" alt="">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="office-region" class="contact-offices-item">
							<div class="region-list">
								<div class="region-list__col">
									<a href="" class="region-list__link" data-region-placemark='{"center": [64.546652, 40.519613], "zoom": "17", "title" : "Архангельск", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-1"}'><span>Архангельск</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [43.1182292, 131.888609], "zoom": "17", "title" : "Владивосток", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-2"}'><span>Владивосток</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [56.836222, 60.614485], "zoom": "17", "title" : "Екатеринбург", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-3"}'><span>Екатеринбург</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [52.271471, 104.318589], "zoom": "17", "title" : "Иркутск", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-4"}'><span>Иркутск</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [45.037001, 38.975646], "zoom": "17", "title" : "Краснодар", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-5"}'><span>Краснодар</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [59.567286, 150.809539], "zoom": "17", "title" : "Магадан", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-6"}'><span>Магадан</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [68.969755, 33.072690], "zoom": "17", "title" : "Мурманск", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-7"}'><span>Мурманск</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [60.939928, 76.556283], "zoom": "17", "title" : "Нижневартовск", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-8"}'><span>Нижневартовск</span></a>

								</div>
								<div class="region-list__col">
									<a href="" class="region-list__link" data-region-placemark='{"center": [66.084846, 76.660717], "zoom": "17", "title" : "Новый Уренгой", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-9"}'><span>Новый Уренгой</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [69.346190, 88.204679], "zoom": "17", "title" : "Норильск", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-10"}'><span>Норильск</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [53.054338, 158.638777], "zoom": "17", "title" : "Петропавловск-Камчатский", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-11"}'><span>Петропавловск-Камчатский</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [61.254670, 73.386277], "zoom": "17", "title" : "Сургут", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-12"}'><span>Сургут</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [48.468809, 135.063788], "zoom": "17", "title" : "Хабаровск", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-13"}'><span>Хабаровск</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [46.958149, 142.730903], "zoom": "17", "title" : "Южно-Сахалинск", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-14"}'><span>Южно-Сахалинск</span></a>
									<a href="" class="region-list__link" data-region-placemark='{"center": [62.029324, 129.727776], "zoom": "17", "title" : "Якутск", "icon" : {"url": "/img/contacts/map_icon_05.png", "size": [70, 65]}, "id": "region-15"}'><span>Якутск</span></a>
								</div>
							</div>
							<div class="region-item" id="region-1">
								<div class="region-item__title">Архангельск</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-2">
								<div class="region-item__title">Владивосток</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-3">
								<div class="region-item__title">Екатеринбург</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-4">
								<div class="region-item__title">Иркутск</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-5">
								<div class="region-item__title">Краснодар</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-6">
								<div class="region-item__title">Магадан</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-7">
								<div class="region-item__title">Мурманск</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-8">
								<div class="region-item__title">Нижневартовск</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-9">
								<div class="region-item__title">Новый Уренгой</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-10">
								<div class="region-item__title">Норильск</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-11">
								<div class="region-item__title">Петропавловск-Камчатский</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-12">
								<div class="region-item__title">Сургут</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-13">
								<div class="region-item__title">Хабаровск</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-14">
								<div class="region-item__title">Южно-Сахалинск</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
							<div class="region-item" id="region-15">
								<div class="region-item__title">Якутск</div>
								<div class="region-item__text">
									<p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
										683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
									<p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
									<p><span class="contact-offices-item__text_bold">График работы:</span> <br>
										Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
								</div>
							</div>
						</div>
					</div>
					<button class="close-region-office"><img src="img/arrow_news_back.svg" alt=""></button>
				</div>
			</div>
			<section class="contacts-header">
				<div class="breadcrumbs">
					<a href="#" class="breadcrumbs__item">Главная</a>
					<a href="#" class="breadcrumbs__item">Информация</a>
					<a href="#" class="breadcrumbs__item breadcrumbs__item_active">Контакты</a>
				</div>
				<div class="contacts-header-inner">
					<div class="title-page">Контакты</div>
					<div class="contacts-header-links">
						<a href="" class="contacts-header-links__item contacts-header-links__item_ynav">
							<span class="contacts-header-links__desktop">Маршрут в Яндекс-Навигаторе</span>
							<span class="contacts-header-links__tablet">Навигатор</span>
						</a>
						<a href="" class="contacts-header-links__item contacts-header-links__item_ymap">
							<span class="contacts-header-links__desktop">Смотреть на Яндекс-Картах</span>
							<span class="contacts-header-links__tablet">Яндекс-карты</span>
						</a>
						<a href="" class="contacts-header-links__item contacts-header-links__item_gmap">
							<span class="contacts-header-links__desktop">Смотреть на Google-Картах</span>
							<span class="contacts-header-links__tablet">Google-Карты</span>
						</a>
					</div>
				</div>
			</section>
		</div>
	</div>

	{% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}
{% block page_bottom %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=AI12UVwBAAAA5dcbfQIA1REaro56GW5XUxGMf4L53uWf3YQAAAAAAAAAAACZYjqB842QTM0A2jLc8uxwuOTUDQ==" type="text/javascript"></script>
<script src="js/contacts.js"></script>
{% include "includes/blocks/contact-form.njk" %}
{% endblock %}
