{% set title = "Дизайн и архитектура" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header _large _design">
        <div class="container">
            <h1 class="page-header__tlt">
                Дизайн и архитектура
                <span>для ценителей красоты</span>
            </h1>
            <p class="page-header__slogan">Давно доказано, что красота важна далеко не&nbsp;только в&nbsp;эстетическом смысле. Люди, которых окружают прекрасные вещи, чаще находятся в&nbsp;приподнятом настроении. А&nbsp;это, в&nbsp;свою очередь, положительно влияет на&nbsp;весь образ жизни. В&nbsp;&laquo;Эталон-Сити&raquo; вас ждет именно это.</p>
        </div>
    </section>

    <div class="design">
        <section class="page__section">
            <div class="page-chess _simple">
                <div class="container">
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <h2>Виды</h2>

                            <p>Окна комплекса выходят на&nbsp;раскинувшийся вокруг лесопарк и&nbsp;на&nbsp;прекрасно оборудованную внутридворовую территорию. Смешанный лес радует глаз круглый год, одновременно предоставляя жителям доступ к&nbsp;невероятно свежему воздуху. Просто представьте себе, что вы&nbsp;будете видеть, просыпаясь по&nbsp;утрам. А&nbsp;лучше просто посмотрите на&nbsp;это своими глазами!</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-container design-slider" data-slider="simple">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/design/views/view-1.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/design/views/view-2.jpg');"></div>
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/design/views/view-3.jpg');"></div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </section>

        <section class="page__section">
            <div class="container">
                <div class="slider-column">
                    <div class="slider-column__item">
                        <div class="swiper-container design-slider _full" data-slider="full">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide design-slider__item" style="background-image: url('/img/design/facades/facades-1.jpg');"></div>
                                <div class="swiper-slide design-slider__item" style="background-image: url('/img/design/facades/facades-2.jpg');"></div>
                                <div class="swiper-slide design-slider__item" style="background-image: url('/img/design/facades/facades-3.jpg');"></div>
                                <div class="swiper-slide design-slider__item" style="background-image: url('/img/design/facades/facades-4.jpg');"></div>
                                <div class="swiper-slide design-slider__item" style="background-image: url('/img/design/facades/facades-5.jpg');"></div>
                                <div class="swiper-slide design-slider__item" style="background-image: url('/img/design/facades/facades-6.jpg');"></div>
                                <div class="swiper-slide design-slider__item" style="background-image: url('/img/design/facades/facades-7.jpg');"></div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-fraction">
                                <span>1</span> /
                                <span>7</span>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <div class="slider-column__item">
                        <h2>
                            Фасады
                            <span>Фасады комплекса уникальны</span>
                        </h2>

                        <p>Каждый из&nbsp;них индивидуально проработан и&nbsp;отражает архитектуру и&nbsp;виды одного из&nbsp;самых прекрасных городов планеты. Здесь вам будет достаточно ненадолго выйти из&nbsp;дома, чтобы почувствовать себя в&nbsp;Мадриде, Дубае, Париже, Майами, Ницце или Болонье.</p>

                        <p>А&nbsp;Башни &laquo;Токио&raquo; небоскребы второй очереди &laquo;Эталон-Сити&raquo;, напомнят Страну восходящего солнца не&nbsp;только головокружительными видами из&nbsp;окон, но&nbsp;и&nbsp;фасадами, объединенными одной из&nbsp;известнейших японских гравюр &laquo;Большая волна в&nbsp;Каганаве&raquo;</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="page__section">
            <div class="container">
                <div class="page-chess">
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/design/01_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/design/01_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>Входные группы</h2>

                            <p>Входные группы всех корпусов комплекса сочетают максимальную функциональность, глубокую индивидуальность и&nbsp;изящество бизнес-класса. Расположенные на&nbsp;уровне земли, помещения без ступеней будут одинаково удобны для всех жителей комплекса. Высокие потолки, большие окна и&nbsp;декоративное освещение создают полные света пространства. А&nbsp;помещения для консьержей, колясочные и&nbsp;система видеонаблюдения сделают их&nbsp;комфортными и&nbsp;полностью безопасными.</p>
                        </div>
                    </div>
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/design/02_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/design/02_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>Ландшафтный дизайн</h2>

                            <p>На&nbsp;внутренней территории комплекса вы&nbsp;сможете прогуляться по&nbsp;собственному Ботаническому саду, без страха отпустить детей бегать по&nbsp;дворам, в&nbsp;которые не&nbsp;допускается въезд транспорта. Прекрасно оборудованные и&nbsp;ярко расписанные спортивные и&nbsp;детские площадки дополняют картину и&nbsp;предоставляют множество возможностей не&nbsp;только наслаждаться красотой, но&nbsp;и&nbsp;с&nbsp;пользой проводить время.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}
{% block page_bottom %}
<script src="js/design.js"></script>
{% endblock %}
