{% set title = "Подбор по параметрам" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
        <div class="timer-date _inner" data-timer="2019,00,12,0,0">
            <div class="timer-date__text">Скидки до 7% <span>До конца акции осталось</span></div>
            <div class="timer-date__date">
                <span class="timer-date__hours"></span>
                <span class="timer-date__date-type"></span>
            </div>
        </div>
        <nav class="TopNav">
            <div class="TopNav_inner">
                <div class="TopNav_leaf"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
                <div class="TopNav_leaf TopNav_leaf-active"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
                {# <div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
                <div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div> #}
            </div>
        </nav>
        <section class="PickupFlatLayout">
            <div class="PickupFlatLayout_inner">
                <aside class="PickupFlatLayout_filter">
                    <form class="FilterForm" id="filterForm" autocomplete="off" method="GET" target="/ajax/get_flats_example.json">
                        <!--  START: Корпус  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_label">Корпус</div>
                            <div class="FilterForm_checkboxesRow">
                                {% for bld in [
                                    {label: "2а", id: 1},
                                    {label: "2б", id: 2},
                                    {label: "2в", id: 3},
                                    {label: "2г", id: 4},
                                    {label: "3а", id: 5},
                                    {label: "3б", id: 6},
                                    {label: "3в", id: 22},
                                    {label: "4а", id: 7},
                                    {label: "4б", id: 8}
                                ] %}
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bld[]" data-persist-id="bld_{{bld.id}}" value="{{bld.id}}"><span class="BigCheckbox_view">{{bld.label}}</span>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- END: Корпус -->
                        <!--  START: Количество комнат  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_label">Количество комнат</div>
                            <div class="FilterForm_checkboxesRow">
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_0" value="0"><span class="BigCheckbox_view">CТ</span>
                                    </label>
                                </div>
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_1" value="1"><span class="BigCheckbox_view">1</span>
                                    </label>
                                </div>
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_2" value="2"><span class="BigCheckbox_view">2</span>
                                    </label>
                                </div>
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_3" value="3"><span class="BigCheckbox_view">3</span>
                                    </label>
                                </div>
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bedrooms[]" data-persist-id="item_3" value="4"><span class="BigCheckbox_view">4</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- END: Количество комнат -->
                        <!--  START: Этаж  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_label">Этаж</div>
                            <div class="RangeSlider" data-slider-opts="{&quot;min&quot;:2, &quot;max&quot;:25}">
                                <div class="RangeSlider_rangeVals">
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-min"><span class="RangeSlider_minValViewEl"></span></div>
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-max"><span class="RangeSlider_maxValViewEl"></span></div>
                                </div>
                                <input type="hidden" name="floor_from" data-persist-id="floor_from" value="0">
                                <input type="hidden" name="floor_to" data-persist-id="floor_to" value="25">
                            </div>
                        </div>
                        <!-- END: Этаж -->
                        <!--  START: Не первый/последний  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_chksGroup">
                                <div class="Multycheckbox">
                                    <input class="Multycheckbox_inp" name="middle_floor_only" data-persist-id="middle_floor_only" data-possible-values="[1, 0]" value="0" type="hidden">
                                    <div class="Multycheckbox_ico"></div>
                                    <button class="Multycheckbox_lbl" type="button">Кроме первого и последнего</button>
                                </div>
                            </div>
                        </div>
                        <!-- END: Не первый/последний -->
                        <!--  START: Площадь  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_label">Площадь, м2</div>
                            <div class="RangeSlider" data-slider-opts="{&quot;min&quot;:22, &quot;max&quot;:115}">
                                <div class="RangeSlider_rangeVals">
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-min"><span class="RangeSlider_minValViewEl"></span></div>
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-max"><span class="RangeSlider_maxValViewEl"></span></div>
                                </div>
                                <input type="hidden" name="area_from" value="22" data-persist-id="area_from">
                                <input type="hidden" name="area_to" value="115" data-persist-id="area_to">
                            </div>
                        </div>
                        <!-- END: Площадь -->
                        <!--  START: цена  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_label">Цена, руб.</div>
                            <div class="RangeSlider" data-slider-opts="{&quot;min&quot;:3216798, &quot;max&quot;:17724370, &quot;counterType&quot;:&quot;formatted_num&quot;}">
                                <div class="RangeSlider_rangeVals">
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-min"><span class="RangeSlider_minValViewEl"></span></div>
                                    <div class="RangeSlider_valViewWrap RangeSlider_valViewWrap-max"><span class="RangeSlider_maxValViewEl"></span></div>
                                </div>
                                <input type="hidden" name="price_from" value="3216798" data-persist-id="price_from">
                                <input type="hidden" name="price_to" value="17724370" data-persist-id="price_to">
                            </div>
                        </div>
                        <!-- END: цена -->
                        <!--  START: только аппартаменты  -->
                        <div class="FilterForm_item">
                            <select name="apts" data-persist-id="apts">
                                <option value="2" selected>Апартаменты: не важно</option>
                                <option value="1">Апартаменты: да</option>
                                <option value="0">Апартаменты: нет</option>
                            </select>
                        </div>
                        <!-- END: только аппартаменты -->
                        <!--  START: только по акции  -->
                        <div class="FilterForm_item">
                            <div class="FilterForm_chksGroup">
                                <!--<div class="Multycheckbox">-->
                                    <!--<input class="Multycheckbox_inp" name="discount" data-persist-id="discount" data-possible-values="[1, 0]" value="0" type="hidden">-->
                                    <!--<div class="Multycheckbox_ico"></div>-->
                                    <!--<button class="Multycheckbox_lbl" type="button">Акционные квартиры</button>-->
                                <!--</div>-->

                                <div class="SubCheckboxes">
                                    <div class="SubCheckboxes__item">
                                        <input type="checkbox" id="action-item1" class="SubCheckboxes__input" name="promo[]" value=1521/>
                                        <label for="action-item1">Скидка 2% при заключении договора в июне.</label>
                                    </div>

                                    <div class="SubCheckboxes__item">
                                        <input type="checkbox" id="action-item2" class="SubCheckboxes__input" name="promo[]"/>
                                        <label for="action-item2">Бесплатная регистрация договора.</label>
                                    </div>

                                    <div class="SubCheckboxes__item">
                                        <input type="checkbox" id="action-item3" class="SubCheckboxes__input" name="promo[]"/>
                                        <label for="action-item3">Рассрочка до 2023 года.</label>
                                    </div>

                                </div>

                                <div class="Multycheckbox">
                                    <input class="Multycheckbox_inp" name="finish" data-persist-id="finish" data-possible-values="[1, 0]" value="0" type="hidden">
                                    <div class="Multycheckbox_ico"></div>
                                    <button class="Multycheckbox_lbl" type="button">Варианты с отделкой</button>
                                </div>
                            </div>
                        </div>
                        <!-- END: только по акции -->
                        <!--  START: Дополнительные параметры  -->
                        <div class="FilterForm_accordion">
                            <h6 class="FilterForm_groupHead">Дополнительные параметры</h6>
                            <div>
                                <div class="FilterForm_item">
                                    <select name="partitions" data-persist-id="partitions">
                                        <option value="2" selected>Перегородки: не важно</option>
                                        <option value="1">С перегородками</option>
                                        <option value="0">Без перегородок</option>
                                    </select>
                                </div>

                                <div class="FilterForm_item">
                                    <div class="CoolTxtField">
                                        <input class="CoolTxtField_inp" placeholder="№ квартиры" name="flat_num">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  END: Дополнительные параметры  -->
                    </form>
                </aside>

                <div class="PickupFlatLayout_results">
                    <div class="PickupFlatLayout_progress"></div>
                    <div class="PickupFlatLayout_topRow">
                        <h4>Найдено <strong><span id="filteredFlatsCounter">...</span> квартир</strong></h4>
                        <div class="ViewSwitch">
                            <ul class="ViewSwitch_list">
                                <a class="ViewSwitch_btn" href="#listViewResult" title="Вид списком">
                                    {% include "includes/svg/list.svg" %}
                                </a>
                                <a class="ViewSwitch_btn ViewSwitch_btn-active" href="#gridViewResult" title="Вид сеткой">
                                    {% include "includes/svg/grid.svg" %}
                                </a>
                            </ul>
                        </div>
                    </div>

                    <div class="Sorter">
                        <div class="Sorter_item">
                            <button type="button" class="Sorter_lbl" data-val="bld">
                                <span class="hidden-xs">Корпус</span>
                                <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Кор.</span>
                            </button>
                        </div>

                        <div class="Sorter_item">
                            <button type="button" class="Sorter_lbl" data-val="section">Секция</button>
                        </div>
                        <div class="Sorter_item">
                            <button type="button" class="Sorter_lbl" data-val="floor">
                                <span class="hidden-xs">Этаж</span>
                                <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Эт.</span>
                            </button>
                        </div>
                        <div class="Sorter_item">
                            <button type="button" class="Sorter_lbl" data-val="num">№</button>
                        </div>
                        <div class="Sorter_item">
                            <button type="button" class="Sorter_lbl" data-val="bedrooms">
                                <span class="hidden-xs">Комн.</span>
                                <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Ком.</span>
                            </button>
                        </div>
                        <div class="Sorter_item">
                            <button type="button" class="Sorter_lbl" data-val="area">
                                <span class="hidden-xs">Площадь</span>
                                <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Площ.</span>
                            </button>
                        </div>
                        <div class="Sorter_item">
                            <button type="button" class="Sorter_lbl" data-val="price">цена<span class="hidden-xs hidden-sm hidden-md">, руб</span></button>
                            <input type="hidden" form="filterForm" name="sort" value="">
                            <input type="hidden" form="filterForm" name="sortdir" value="">
                        </div>
                        <div class="Sorter_item"></div>
                    </div>

                    <div id="filterResult" class="PickupFlatLayout_resultsCont">
                        <div style="position: relative; height:calc(100vh - 428px);">
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="PickupFlatLayout_footer">
                <div class="PickupFlatLayout_footerText">
                    <p>Резерв не фиксирует стоимость и условия оплаты. Цена действительна при 100% оплате. Цена с учетом скидки</p>
                </div>
                <div class="PickupFlatLayout_footerPaginationWrap" id="pagerWrap"></div>
            </footer>
        </section>
    </div>
{% include "includes/blocks/btn-call.njk" %} {% endblock %} {% block page_bottom %}

<script src="js/filters.js"></script>
{% endblock %}
