{% set title = "Подбор по параметрам" %}
{% extends "layout.njk" %}
{% block content %}
<div class="wrapper">
	<div class="timer-date _inner _genplan" data-timer="2019,00,12,0,0">
		<div class="timer-date__text">Скидки до 7% <span>До конца акции осталось</span></div>
		<div class="timer-date__date">
			<span class="timer-date__hours"></span>
			<span class="timer-date__date-type"></span>
		</div>
	</div>
	<nav class="TopNav">
		<div class="TopNav_inner">
			<div class="TopNav_leaf TopNav_leaf-active"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
			<div class="TopNav_leaf"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
			<div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
			<div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
		</div>
	</nav>

	<div class="genplan-wrap">
	  <a href="https://etaloncity.ru/about/news/3201/" class="genplan_date">
		Все корпуса сданы
	  </a>
	  <!--<a href="/about/news/2112/" target="_blank" class="genplan__promo">-->
		<!--супертрёшки-->
		<!--<span>Новое предложение</span>-->
	  <!--</a>-->
	  <div class="genplan">


		<div class="genplan__content">
		  <img class="genplan__img-common" src="/img/genplan/genplan-2.jpg" alt="genplan">
		  <div class="genplan__renders">
			<svg class="genplan__render" data-id="genplan-object_b1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1440" enable-background="new 0 0 2560 1440" xml:space="preserve">
			<path d="M0,0V1440H2560V0ZM694,873c0-1-1-3-5-4s-7,4-7,4c-5,0-6,5-6,5-2,2-2,7-2,7l-8,5-66-42L530,549l104-41,71,34,52,297Z" fill="#060e23"/>
		  </svg>
		  <svg class="genplan__render" data-id="genplan-object_b2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1440" enable-background="new 0 0 2560 1440" xml:space="preserve">
			<path d="M0,0V1440H2560V0ZM787,792l-4-4-2-19-6-7-2-17-28-33L702,462l103-23,44.5,36L882,759Z" fill="#060e23"/>
		  </svg>
		  <svg class="genplan__render" data-id="genplan-object_b3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1440" enable-background="new 0 0 2560 1440" xml:space="preserve">
			<path d="M0,0V1440H2560V0ZM966,694c-2.546,3.394-2,9-2,9l-51,10-2-4-1-18-10-18V661l-12-22L862,399l98-14,28.5,36,16,249C983.5,680,969,690,966,694Z" fill="#060e23"/>
		  </svg>
		  <svg class="genplan__render" data-id="genplan-object_b4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1440" enable-background="new 0 0 2560 1440" xml:space="preserve">
			<path d="M0,0V1440H2560V0ZM1031,655l-6,1-2-4-1-17-7-15-1-14-9-20L991,354l91-9,24,35,5.5,240Z" fill="#060e23"/>
		  </svg>
		  <svg class="genplan__render" data-id="genplan-object_b5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1440" enable-background="new 0 0 2560 1440" xml:space="preserve">
			<path d="M0,0V1440H2560V0ZM1214.223,529.061,1178,563v37.5l-49,5.5-1-2-1-17-3-11-1-22.5-9-25.5-6-210,89-6,19,32Z" fill="#060e23"/>
		  </svg>
		  <svg class="genplan__render" data-id="genplan-object_b6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1440" enable-background="new 0 0 2560 1440" xml:space="preserve">
			<path d="M0,0V1440H2560V0ZM1318.131,476.221,1279.5,467.9l-54.562,51.122L1225,510l-8-15,2-207,83-5,22.5,29Z" fill="#060e23"/>
		  </svg>
		  <svg class="genplan__render" data-id="genplan-object_fok" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1440" enable-background="new 0 0 2560 1440" xml:space="preserve">
			<path d="M0,0V1440H2560V0ZM1178,687.75S1157,709,1110,731c-50.231,23.512-90,29-113,30s-29-11-29-11l-4-47s-.546-5.606,2-9c3-4,25-19,63-38a789.013,789.013,0,0,1,84.5-36l7.5,5,35-12s9-10,22-9Z" fill="#060e23" style="isolation: isolate"/>
		  </svg>
		  <svg class="genplan__render" data-id="genplan-object_k1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1440" enable-background="new 0 0 2560 1440" xml:space="preserve">
			<path d="M0,0V1440H2560V0ZM2024.882,755.2,1989,742.5,1934,819l-29.21-11.053L1881,693l53-201,50,5,66,183Z" fill="#060e23"/>
		  </svg>
		  <svg class="genplan__render" data-id="genplan-object_k2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1440" enable-background="new 0 0 2560 1440" xml:space="preserve">
			<path d="M0,0V1440H2560V0ZM1852,1096c2-4,3-7-2-10-3.092-1.855-8,1-8,1-7-3-11,1-11,1h-3c-2-3-4-1-4-1h-4c1-3-4-4-4-4-7-16-23-11-23-11,1-6-4-7-4-7-1-5-7-5-7-5a2.938,2.938,0,0,0-3-3s1-3-4-4-11,3-11,3c-2-1-9.423,0-9.423,0l-7.088-3.311c-.511-4.309-3.489-3.691-3.489-3.691s0-4-3-5c-3.912-1.3-8.372,1.749-8.372,1.749L1472,924l20.4-167.8,7.8-62,59-48.6,52.6,19.3-3.3,30.3L1717.3,737,1934,819l55-76.5,65,23L1976,993l-78,130-41.9-19.573C1856,1097,1852,1096,1852,1096Z" fill="#060e23"/>
		  </svg>
		  <svg class="genplan__render" data-id="genplan-object_k3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1440" enable-background="new 0 0 2560 1440" xml:space="preserve">
			<path d="M0,0V1440H2560V0ZM1783.9,728l-66.6,9-108.8-41.8,3.3-30.3-52.6-19.3-59,48.6-7.8,62-199-54.1-10,8.7-3.8,75.1-31.5,24.4L1178,778.4V563l101.5-95.1L1559,528.1l245.4-29.4L1832,523Z" fill="#060e23"/>
		  </svg>
		  </div>
		  <svg class="genplan__objects" xmlns="http://www.w3.org/2000/svg" width="2560" height="1440" viewBox="0 0 2560 1440">
			<path class="genplan__object" data-id="genplan-object_b1" data-bld-url="/filters.html" d="M694,873c0-1-1-3-5-4s-7,4-7,4c-5,0-6,5-6,5-2,2-2,7-2,7l-8,5-66-42L530,549l104-41,71,34,52,297Z" fill="none" opacity="0.5" style="isolation: isolate"/>

			<polygon class="genplan__object" data-id="genplan-object_b2" data-bld-url="/filters.html" points="787 792 783 788 781 769 775 762 773 745 745 712 702 462 805 439 849.5 475 882 759 787 792" fill="none" opacity="0.5" style="isolation: isolate"/>

			<path class="genplan__object" data-id="genplan-object_b3" data-bld-url="/filters.html" d="M966,694c-2.546,3.394-2,9-2,9l-51,10-2-4-1-18-10-18V661l-12-22L862,399l98-14,28.5,36,15.488,248.146C981.358,681.692,968.265,690.98,966,694Z" fill="none" opacity="0.5" style="isolation: isolate"/>

			<path class="genplan__object" data-id="genplan-object_b4" data-bld-url="/filters.html" d="M1029,656h-4l-2-4-1-17-7-15-1-14-9-20L991,354l91-9,24,35,5.526,240.7A798.8,798.8,0,0,0,1029,656Z" fill="none" opacity="0.5" style="isolation: isolate"/>

			<polygon class="genplan__object" data-id="genplan-object_b5" data-bld-url="/filters.html" points="1214.223 529.061 1178 563 1178 600.5 1129 606 1128 604 1127 587 1124 576 1123 553.5 1114 528 1108 318 1197 312 1216 344 1214.223 529.061" fill="none" opacity="0.5" style="isolation: isolate"/>

			<polygon class="genplan__object" data-id="genplan-object_b6" data-bld-url="/filters.html" points="1318.131 476.221 1279.5 467.9 1224.938 519.022 1225 510 1217 495 1219 288 1302 283 1324.5 312 1318.131 476.221" fill="none" opacity="0.5" style="isolation: isolate"/>

			<polygon class="genplan__object" data-id="genplan-object_k1" data-bld-url="/filters.html" points="2024.882 755.197 1989 742.5 1934 819 1904.79 807.947 1881 693 1934 492 1984 497 2050 680 2024.882 755.197" fill="none" opacity="0.5" style="isolation: isolate"/>

			<path class="genplan__object" data-id="genplan-object_fok" data-bld-url="/filters.html" d="M1156,613l-35,12-7.5-5a789.013,789.013,0,0,0-84.5,36c-38,19-60,34-63,38-2.546,3.394-2,9-2,9l4,47s6,12,29,11,62.769-6.488,113-30c47-22,68-43.25,68-43.25V604C1165,603,1156,613,1156,613Z" fill="#060e23" opacity="0.5" style="isolation: isolate"/>

			<polygon class="genplan__object" data-id="genplan-object_k3" points="1783.9 728 1717.3 737 1608.5 695.2 1611.8 664.9 1559.2 645.6 1500.2 694.2 1492.4 756.2 1293.4 702.1 1283.4 710.8 1279.6 785.9 1248.1 810.3 1178 778.4 1178 563 1279.5 467.9 1559 528.1 1804.4 498.7 1832 523 1783.9 728" fill="none" opacity="0.5" style="isolation: isolate"/>

			<path class="genplan__object" data-id="genplan-object_k2" data-bld-url="/filters.html" d="M1852,1096c2-4,3-7-2-10-3.092-1.855-8,1-8,1-7-3-11,1-11,1h-3c-2-3-4-1-4-1h-4c1-3-4-4-4-4-7-16-23-11-23-11,1-6-4-7-4-7-1-5-7-5-7-5a2.938,2.938,0,0,0-3-3s1-3-4-4-11,3-11,3c-2-1-9.423,0-9.423,0l-7.088-3.311c-.511-4.309-3.489-3.691-3.489-3.691s0-4-3-5c-3.912-1.3-8.372,1.749-8.372,1.749L1472,924l20.4-167.8,7.8-62,59-48.6,52.6,19.3-3.3,30.3L1717.3,737,1934,819l55-76.5,65,23L1976,993l-78,130-41.9-19.573C1856,1097,1852,1096,1852,1096Z" fill="none" opacity="0.5" style="isolation: isolate"/>
		  </svg>
		  <div class="genplan__numbers">
			<div class="genplan__number" data-id="genplan-object_b1" style="top: 31%;left: 24.2%;">
			  <div class="genplan__number-icon">
				<span>Б1</span>
			  </div>
			</div>
			<div class="genplan__number" data-id="genplan-object_b2" style="top: 26.3%;left: 30.3%;">
			  <div class="genplan__number-icon">
				<span>Б2</span>
			  </div>
			</div>
			<div class="genplan__number" data-id="genplan-object_b3" style="top: 22.3%; left: 36.4%;">
			  <div class="genplan__number-icon">
				<span>Б3</span>
			  </div>
			</div>
			<div class="genplan__number" data-id="genplan-object_b4" style="top: 19.3%; left: 41.2%;">
			  <div class="genplan__number-icon">
				<span>Б4</span>
			  </div>
			</div>
			<div class="genplan__number" data-id="genplan-object_b5" style="top: 17%; left: 45.5%;">
			  <div class="genplan__number-icon">
				<span>Б5</span>
			  </div>
			</div>
			<div class="genplan__number" data-id="genplan-object_b6" style="top: 15.4%; left: 50.2%;">
			  <div class="genplan__number-icon">
				<span>Б6</span>
			  </div>
			</div>
			<div class="genplan__number _fok" data-id="genplan-object_fok" style="top: 39.3%; left: 42.6%;">
			  <div class="genplan__number-icon">
				<span>ФОК</span>
			  </div>
			</div>
			<div class="genplan__number" data-id="genplan-object_k1" style="top: 36.7%; left: 78.1%;">
			  <div class="genplan__number-icon">
				<span>К1</span>
			  </div>
			  <div class="genplan__number-description">
				<span>Дом сдан</span>
			  </div>
			</div>
			<div class="genplan__number" data-id="genplan-object_k2" style="top: 45.2%; left: 63.3%;">
			  <div class="genplan__number-icon">
				<span>К2</span>
			  </div>
			  <div class="genplan__number-description">
				<span>Сдан досрочно</span>
			  </div>
			</div>
			<div class="genplan__number" data-id="genplan-object_k3" style="top: 29.3%; left: 53.8%;">
			  <div class="genplan__number-icon">
				<span>К3</span>
			  </div>
			  <div class="genplan__number-description">
				<span>Дом сдан</span>
			  </div>
			</div>
			<a id="p-point-2 ppk-2" style="left: 33%; top: 54%;" class="genplan__point" data-cam="2"></a>
			<a id="p-point-3 ppk-3" style="left: 38%; top: 61%;" class="genplan__point" data-cam="3"></a>
			<a id="p-point-4 ppk-4" style="left: 52%; top: 53%;" class="genplan__point" data-cam="4"></a>
			<a id="p-point-5 ppk-5" style="left: 58%; top: 83%;" class="genplan__point" data-cam="6"></a>
			<a id="p-point-6 ppk-6" style="left: 70%; top: 48%;" class="genplan__point" data-cam="5"></a>
			<a id="p-point-7 ppk-7" style="left: 64%; top: 26%;" class="genplan__point _baloon" data-cam="baloon"></a>
		  </div>

		  <!-- <div class="genplan__labels">
			<div class="genplan__label" data-id="genplan-object_1">
			  {# <p class="genplan__label-title">23 квартиры в продаже</p> #}
			  <p class="genplan__label-text">Сдача 1 кв 2019 г.</p>
			</div>

			<div class="genplan__label" data-id="genplan-object_2">
			  {# <p class="genplan__label-title">23 квартиры в продаже</p> #}
			  <p class="genplan__label-text">Сдача 1 кв 2019 г. (2б)</p>
			</div>

			<div class="genplan__label" data-id="genplan-object_3">
			  {# <p class="genplan__label-title">23 квартиры в продаже</p> #}
			  <p class="genplan__label-text">Сдача 1 кв 2019 г. (1в)</p>
			</div>

			<div class="genplan__label" data-id="genplan-object_2g">
			  {# <p class="genplan__label-title">23 квартиры в продаже</p> #}
			  <p class="genplan__label-text">Сдача 1 кв 2019 г. (1г)</p>
			</div>

			<div class="genplan__label" data-id="genplan-object_5">
			  {# <p class="genplan__label-title">23 квартиры в продаже</p> #}
			  <p class="genplan__label-text">Сдача 1 кв 2019 г. (3a)</p>
			</div>

			<div class="genplan__label" data-id="genplan-object_6">
			  {# <p class="genplan__label-title">23 квартиры в продаже</p> #}
			  <p class="genplan__label-text">Сдача 1 кв 2019 г. (3б)</p>
			</div>

			<div class="genplan__label" data-id="genplan-object_22">
			  {# <p class="genplan__label-title">23 квартиры в продаже</p> #}
			  <p class="genplan__label-text">Сдача 1 кв 2019 г. (3в)</p>
			</div>

			<div class="genplan__label" data-id="genplan-object_7">
			  {# <p class="genplan__label-title">23 квартиры в продаже</p> #}
			  <p class="genplan__label-text">Сдача 1 кв 2019 г. (4a)</p>
			</div>

			<div class="genplan__label" data-id="genplan-object_8">
			  {# <p class="genplan__label-title">23 квартиры в продаже</p> #}
			  <p class="genplan__label-text">Сдача 1 кв 2019 г. (4б)</p>
			</div>
		  </div>
		  <div class="genplan__dev-lebels">
			<div class="genplan__dev-lebel genplan__dev-lebel--start" style="top: 27.4%;left: 75.5%;">
			  <span>Детский сад</span>
			</div>
			<div class="genplan__dev-lebel" style="top: 34.6%;left: 84.6%;">
			  <span>Школа</span>
			</div>
			<div class="genplan__dev-process" style="top: 21.4%;left: 55%;">
			</div>
		  </div> -->
		</div>
		<svg class="genplan__compass genplan__compass--north" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
		  <path class="genplan__compass-line genplan__compass-line--south" d="M70.7 39.9l-14.8 3.9 2.6 5.4z"/>
		  <path class="genplan__compass-line genplan__compass-line--west" d="M60.7 53.7l-4.5 2.2L84.8 62 58.5 49.2z"/>
		  <path class="genplan__compass-line genplan__compass-line--north" d="M44.1 56.2L38 84.8l12.8-26.3-4.5 2.2z"/>
		  <path class="genplan__compass-line genplan__compass-line--east" d="M43.8 44.1L15.2 38l26.3 12.8-2.2-4.5z"/>
		  <path fill="#D7D6D8" d="M39.9 29.3l3.9 14.8 5.4-2.6zM55.9 43.8L62 15.2 49.2 41.5l4.5-2.2zM60.1 70.7l-3.9-14.8-5.4 2.6zM28.4 60.5l15.7-4.3-2.6-5.4z"/>
		  <path fill="#F7941E" d="M45.99 48.618l5.393-2.63 2.63 5.392-5.392 2.63z"/>
		  <g>
			<path fill="#B8B8BA" d="M1.8 37.7v-8.4h3.6c1.5 0 2.4.8 2.4 2 0 .9-.4 1.5-1.1 1.8 1.1.2 1.8 1 1.8 2.2 0 1.4-1 2.3-2.8 2.3H1.8zm.9-4.9h2.6c1.1 0 1.7-.5 1.7-1.4 0-.9-.6-1.4-1.7-1.4H2.7v2.8zm0 4.1h3c1.2 0 2-.6 2-1.6s-.7-1.6-2-1.6h-3v3.2zM31.9 98.6c-.8-.8-1.2-1.9-1.2-3.1s.4-2.3 1.2-3.1c.8-.8 1.8-1.2 3.1-1.2.9 0 1.7.2 2.4.6v.9c-.8-.5-1.6-.7-2.4-.7-1 0-1.8.3-2.4 1-.7.7-1 1.5-1 2.5s.3 1.9 1 2.5 1.5 1 2.5 1 1.8-.3 2.5-.8v.9c-.7.5-1.5.7-2.5.7-1.3 0-2.3-.4-3.2-1.2zM90.8 70.2v-.9c.8.5 1.7.7 2.7.7 1.6 0 2.6-.7 2.6-1.8 0-1-.9-1.7-2.3-1.7h-1v-.8h1.1c1.2 0 1.9-.5 1.9-1.4s-.9-1.3-2.1-1.3c-.8 0-1.6.2-2.5.6v-.8c.8-.4 1.7-.6 2.5-.6.9 0 1.5.2 2.1.6.5.4.8.9.8 1.6 0 .5-.1.9-.4 1.2-.3.3-.6.5-.9.6.5.1.9.4 1.2.8.4.3.5.8.5 1.4 0 .7-.3 1.4-.9 1.8s-1.4.7-2.5.7c-1.1-.1-2-.3-2.8-.7zM63.7 7.7c-.7-.8-1.1-1.7-1.2-2.9h-1.7v3.9h-.9V.3h.9V4h1.7c.1-1.1.5-2 1.3-2.8.7-.7 1.6-1.1 2.7-1.1s2.1.4 2.8 1.2c.8.8 1.1 1.9 1.1 3.1s-.4 2.3-1.1 3.2c-.7.8-1.7 1.2-2.8 1.2-1.1 0-2-.4-2.8-1.1zm2.8.3c.9 0 1.6-.3 2.2-1 .6-.6.9-1.5.9-2.5s-.3-1.9-.9-2.5c-.6-.6-1.3-1-2.2-1-.9 0-1.6.3-2.2 1-.6.6-.9 1.5-.9 2.5s.3 1.9.9 2.5c.6.7 1.3 1 2.2 1z"/>
		  </g>
		</svg>
	  </div>
	</div>
	<div class="genplan__btn-call btn-call-inner">
		<button class="btn-call">Заказать звонок</button>
	</div>

</div>
{% endblock %} {% block page_bottom %}
<script src="js/genplan.js"></script>
{% endblock %}
