{% set title = "Подбор по параметрам" %} {% extends "layout.njk" %} {% block content %}
<div class="wrapper">
    <nav class="TopNav">
        <div class="TopNav_inner">
            <div class="TopNav_leaf"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
            <div class="TopNav_leaf"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
            <div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
            <div class="TopNav_leaf TopNav_leaf-active"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
        </div>
    </nav>

    <div class="house">
        <div class="house__content">
            <img class="house__img-common" src="/img/house/korp_2a.jpg" alt="korp_2a">
            <svg class="house__renders" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" enable-background="new 0 0 1920 1080" xml:space="preserve">
          <g class="house__render">
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="1 этаж" data-flat-text="1 помещение в продаже">
            	<polygon points="723.6,841.3 490.5,840.4 495,862 725.8,862.7"/>
            </g>
          </g>

          <g class="house__render">
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="1 этаж" data-flat-text="1 помещение в продаже">
              <polygon points="725.8,862.7 801.5,863 912.8,863.3 912.8,863.3 912.4,842 723.6,841.3"/>
            </g>
          </g>

          <g class="house__render">
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="1 этаж" data-flat-text="1 помещение в продаже">
              <path d="M1116.1,864C1116.1,864,1116.1,864,1116.1,864c0.1-0.1,0.3-0.2,0.5-0.3c0,0,0,0,0,0
            c0.2-0.1,0.3-0.2,0.5-0.3l0,0l0,0c0.1-0.1,0.3-0.1,0.4-0.2c0,0,0,0,0,0c0,0,0,0,0,0c0.3-0.1,0.6-0.2,0.9-0.3l1.4-20L912.4,842
            l0.4,21.3L1116.1,864C1116,864,1116,864,1116.1,864C1116.1,864,1116.1,864,1116.1,864z"/>
            </g>
          </g>

          <g class="house__render">
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="1 этаж" data-flat-text="1 помещение в продаже">
              <path d="M1119.8,842.8l-1.4,20c0.2,0,0.3-0.1,0.4-0.1c0,0,0,0,0.1,0c0.1,0,0.3,0,0.4,0c0,0,0,0,0,0
            c0.1,0,0.2,0,0.3,0.1c0,0,0.1,0,0.1,0c0.1,0,0.2,0.1,0.3,0.2c0,0,1-2,2-2s2,2,2,3l217,1l3.6-21.3L1119.8,842.8z"/>
            </g>
          </g>
        </svg>

            <div class="house__numbers">
                <div class="house__number" style="top: 22.3%;left: 26.9%;">
                    <p class="house__number-title">1</p>
                    <p class="house__label-text">секция</p>
                </div>

                <div class="house__number" style="top: 22.3%;left: 40.2%;">
                    <p class="house__number-title">2</p>
                    <p class="house__label-text">секция</p>
                </div>

                <div class="house__number" style="top: 22.3%;left: 54%;">
                    <p class="house__number-title">3</p>
                    <p class="house__label-text">секция</p>
                </div>

                <div class="house__number" style="top: 22.3%;left: 67.1%;">
                    <p class="house__number-title">4</p>
                    <p class="house__label-text">секция</p>
                </div>
            </div>

            <div class="house__labels">
                <a class="house__back" onclick="history.back();">
            <span class="house__back-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="16">
                <path fill-rule="evenodd" d="M27 15.975V15.5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v-.543a3.488 3.488 0 0 0 3.001-3.447A3.488 3.488 0 0 0 27 7.062V6.5a.5.5 0 0 1-.5.5H3.168l3.776 3.736c.164.162.035.552-.288.871-.322.319-.717.447-.88.285L.832 7H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 5h.345L5.75.08c.163-.163.555-.035.877.288.321.322.449.715.286.879L3.171 5H26.5a.5.5 0 0 1 .5.5v-.475a5.499 5.499 0 0 1 0 10.95z"/>
              </svg>
            </span>
                    <span class="house__back-text">Вернуться</span>
                </a>

                <div class="house__housing">
                    <p class="house__housing-title"><span>2</span> a</p>
                    <p class="house__housing-text">корпус</p>
                </div>

                <div class="house__label-base">
                    <p class="house__label-title">23 квартиры в продаже</p>
                    <p class="house__label-text">Сдача 1 кв 2019 г.</p>
                </div>

                <div class="house__compass-wrap">
                    <svg class="house__compass house__compass--north" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <path class="house__compass-line house__compass-line--south" d="M70.7 39.9l-14.8 3.9 2.6 5.4z"/>
                        <path class="house__compass-line house__compass-line--west" d="M60.7 53.7l-4.5 2.2L84.8 62 58.5 49.2z"/>
                        <path class="house__compass-line house__compass-line--north" d="M44.1 56.2L38 84.8l12.8-26.3-4.5 2.2z"/>
                        <path class="house__compass-line house__compass-line--east" d="M43.8 44.1L15.2 38l26.3 12.8-2.2-4.5z"/>
                        <path fill="#D7D6D8" d="M39.9 29.3l3.9 14.8 5.4-2.6zM55.9 43.8L62 15.2 49.2 41.5l4.5-2.2zM60.1 70.7l-3.9-14.8-5.4 2.6zM28.4 60.5l15.7-4.3-2.6-5.4z"/>
                        <path fill="#F7941E" d="M45.99 48.618l5.393-2.63 2.63 5.392-5.392 2.63z"/>
                        <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="24 этаж" data-flat-text="3 квартиры в продаже">
                            <path fill="#B8B8BA" d="M1.8 37.7v-8.4h3.6c1.5 0 2.4.8 2.4 2 0 .9-.4 1.5-1.1 1.8 1.1.2 1.8 1 1.8 2.2 0 1.4-1 2.3-2.8 2.3H1.8zm.9-4.9h2.6c1.1 0 1.7-.5 1.7-1.4 0-.9-.6-1.4-1.7-1.4H2.7v2.8zm0 4.1h3c1.2 0 2-.6 2-1.6s-.7-1.6-2-1.6h-3v3.2zM31.9 98.6c-.8-.8-1.2-1.9-1.2-3.1s.4-2.3 1.2-3.1c.8-.8 1.8-1.2 3.1-1.2.9 0 1.7.2 2.4.6v.9c-.8-.5-1.6-.7-2.4-.7-1 0-1.8.3-2.4 1-.7.7-1 1.5-1 2.5s.3 1.9 1 2.5 1.5 1 2.5 1 1.8-.3 2.5-.8v.9c-.7.5-1.5.7-2.5.7-1.3 0-2.3-.4-3.2-1.2zM90.8 70.2v-.9c.8.5 1.7.7 2.7.7 1.6 0 2.6-.7 2.6-1.8 0-1-.9-1.7-2.3-1.7h-1v-.8h1.1c1.2 0 1.9-.5 1.9-1.4s-.9-1.3-2.1-1.3c-.8 0-1.6.2-2.5.6v-.8c.8-.4 1.7-.6 2.5-.6.9 0 1.5.2 2.1.6.5.4.8.9.8 1.6 0 .5-.1.9-.4 1.2-.3.3-.6.5-.9.6.5.1.9.4 1.2.8.4.3.5.8.5 1.4 0 .7-.3 1.4-.9 1.8s-1.4.7-2.5.7c-1.1-.1-2-.3-2.8-.7zM63.7 7.7c-.7-.8-1.1-1.7-1.2-2.9h-1.7v3.9h-.9V.3h.9V4h1.7c.1-1.1.5-2 1.3-2.8.7-.7 1.6-1.1 2.7-1.1s2.1.4 2.8 1.2c.8.8 1.1 1.9 1.1 3.1s-.4 2.3-1.1 3.2c-.7.8-1.7 1.2-2.8 1.2-1.1 0-2-.4-2.8-1.1zm2.8.3c.9 0 1.6-.3 2.2-1 .6-.6.9-1.5.9-2.5s-.3-1.9-.9-2.5c-.6-.6-1.3-1-2.2-1-.9 0-1.6.3-2.2 1-.6.6-.9 1.5-.9 2.5s.3 1.9.9 2.5c.6.7 1.3 1 2.2 1z"/>
                        </g>
                    </svg>
                </div>
            </div>

            <div class="house__swim">
                <p class="house__label-text">19 этаж</p>
                <p class="house__label-title">3 квартиры в продаже</p>
            </div>
        </div>

    </div>
    <div class="ComercialPremisesList">
        <div class="ComercialPremisesList__title">Продажа коммерческой недвижимости</div>
        <div class="ComercialPremisesList__table">
            <div class="Sorter Sorter-commercial">
                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="bld"><span class="hidden-xs">Корпус/секция</span> <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Кор/сек/ <br>Этаж</span></button>
                </div>

                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="section">Тип</button>
                </div>
                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="floor">Этаж</button>
                </div>
                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="area"><span class="hidden-xs">Площадь</span> <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Площ.</span></button>
                </div>
                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="price">Цена за <sup>2</sup></button>
                </div>
                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="price"><span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Цена за <sup>2</sup><br></span>Стоимость</button>
                </div>
            </div>
            <div id="FlatCommercialList">

            </div>
        </div>
    </div>

    <div class="btn-call-inner">
        <button class="btn-call">Заказать звонок</button>
    </div>

</div>
{% endblock %} {% block page_bottom %}
<script src="js/house.js"></script>
<script src="js/house-commercial.js"></script>
{% endblock %}
