{% set title = "Главная" %}
{% extends "layout.njk" %}
{% block content %}
<div class="wrapper">
    <section class="home-banner">
		<div class="home-banner__sticker">5 фев – выходной в офисе продаж</div>
        <div class="timer-date" data-timer="2019,00,12,0,0">
            <div class="timer-date__text">Скидки до 7% <span>До конца акции осталось</span></div>
            <div class="timer-date__date">
                <span class="timer-date__hours"></span>
                <span class="timer-date__date-type"></span>
            </div>
        </div>
        <div class="home-banner-list swiper-container">
            <div class="swiper-wrapper">
                <div class="banner-slide swiper-slide">
                    <div class="banner-slide__col">
                        <div class="banner-slide__img">
                            <div class="banner-slide__title">
                                Праздник продолжается
                            </div>
                        </div>
                    </div>
                    <div class="banner-slide__col">
                        <div class="banner-slide__content">
                            <div class="banner-slide__title banner-slide__title_dark">
                                <span>скидки</span> продлеваются
                            </div>
                            <div class="banner-slide__subtitle">
                                до 7% на квартиры
                            </div>
                        </div>
                    </div>
                    <a href="#" class="home-banner-list__link"></a>
                </div>
                <div class="home-banner-list__item home-banner-list__item_noblackout swiper-slide" style="background-image: url('img/banner1.jpg')">
                    <div class="home-banner-list__text">
                        Захватывающие виды
                        <span>из окон на лес</span>
                        <div class="home-banner-list__textsmall">Скидки на квартиры до 7%</div>
                    </div>
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner1.jpg')">
                    <div class="home-banner-list__text">
                        Захватывающие виды
                        <span>из окон на лес</span>
                    </div>
                </div>
            </div>
            <div class="home-banner-list__pagination swiper-pagination"></div>
        </div>
        <div class="home-banner__scrolling"></div>
        <a class="video-about-btn" data-fancybox href="https://www.youtube.com/watch?v=7dYHiCKomIY"><span>Видео о проекте</span></a>
        <!-- Включить когда нужно будет-->
        <!--<div class="timer" data-until="1529020800000">-->
            <!--<div class="timer__row1">До повышения цен</div>-->
            <!--<div class="timer__row2">осталось</div>-->
            <!--<div class="timer__row3">-->
                <!--<div class="timer__time">3 <span>дня</span></div>-->
            <!--</div>-->
            <!--<a href="" class="timer__link"></a>-->
        <!--</div>-->

		<a href="https://etaloncity.ru/about/news/3201/" class="home-banner__date">
			Все корпуса сданы
		</a>
	</section>
	<section class="main-about-complex-wrap">
		<div class="container">
			<div class="main-about-complex">
				<div class="main-about-complex__title">
					ЖК «Эталон-Сити»
					<div class="main-about-complex__subtitle">бизнес-класс для жителей высокого полета</div>
				</div>
				<div class="main-about-complex__text">
					<p>«Эталон-Сити» — высотный комплекс бизнес-класса, расположенный посреди одного
						из самых больших лесопарков Москвы. 100% сдача комплекса состоится уже в 2018 году.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="main-section main-section_full-width main-section_location" style="background-image: url('img/index/section-location.jpg')">
		<div class="container">
			<div class="main-section__row">
				<div class="main-section__col main-section__col_flex">
					<div class="main-section-title main-section-title_light">Расположение</div>
					<div class="main-section-subtitle main-section-subtitle_light">для быстрых и решительных</div>
					<div class="main-section__text main-section__text_light main-section__text_location">
						<p> «Эталон-Сити» расположен по адресу: г. Москва, ул. Старокрымская, д. 15. на
							границе Северного и Южного Бутово — экологически чистого района с прекрасной
							лесопарковой зоной и развитой инфраструктурой: многочисленными школами, детскими
							садами и магазинами.</p>
					</div>
				</div>
				<div class="main-section__col main-section__col_hor">
					<div class="list-wrap list-wrap_location">
						<ul class="list list_light list_orange">
							<li>До м. Скобелевская — 10 мин. пешком</li>
							<li>До МКАД — 3 км</li>
							<li>До центра Москвы — 30 мин. на автомобиле</li>
							<li>1610 га — площадь окружающего «Эталон-Сити» Бутовского лесопарка</li>
						</ul>
					</div>
					<a href="" class="btn-border btn-border_location">
						<span>Подробнее</span>
					</a>
				</div>
			</div>
		</div>
		<a href="" class="btn-more btn-more_location">
			<span>Подробнее</span>
		</a>
	</section>

	<section class="main-section">
		<div class="container container_index">
			<div class="main-section__row">
				<div class="main-section__col main-section__col_first main-section__col_mobile-grid main-section__col_content">
					<div class="main-section__content">
						<div class="container-mobile mobile-order-title">
							<div class="main-section-title">Инфраструктура</div>
							<div class="main-section-subtitle">для тех, кто не привык ни в чём себе отказывать</div>
						</div>
						<div class="container-mobile mobile-order-text">
							<div class="main-section__text">
								<p>На закрытой и охраняемой территории комплекса есть все, к чему привыкли клиенты бизнес-класса. </p>
							</div>
							<div class="list-wrap">
								<ul class="list">
									<li><strong>Фитнес-центр</strong> с бассейном</li>
									<li><strong>Подземный паркинг</strong> с лифтами от квартиры</li>
									<li><strong>Сеть wi-fi</strong> на всей территории комплекса</li>
									<li><strong>Собственный</strong> Ботанический сад</li>
								</ul>
							</div>
						</div>
						<div class="main-section-img-wrapper mobile-order-img">
							<div class="main-section-img main-section-img_mobile" style="background-image: url('img/index/mobile/section-infra.jpg')"></div>
							<a href="" class="btn-more btn-more_mobile">
								<span>Подробнее</span>
							</a>
							<a href="#" class="main-section__link"></a>
						</div>
					</div>
					<a href="" class="btn-more btn-more_desktop">
						<span>Подробнее</span>
					</a>

				</div>
				<div class="main-section__col main-section__col_second main-section__col_img">
					<div class="main-section-img main-section-img_desktop" style="background-image: url('img/index/section-infra.png')"></div>
					<a href="#" class="main-section__link"></a>
				</div>
			</div>
		</div>
	</section>

	<section class="main-section">
		<div class="container container_index">
			<div class="main-section__row">
				<div class="main-section__col main-section__col_second main-section__col_mobile-grid main-section__col_content">
					<div class="main-section__content main-section__content_right">
						<div class="container-mobile mobile-order-title">
							<div class="main-section-title">Счастливое детство</div>
							<div class="main-section-subtitle">для маленьких жителей</div>
						</div>
						<div class="container-mobile mobile-order-text">
							<div class="main-section__text">
								<p>Счастливые дети — счастливые родители. Зная эту простую формулу, мы построили комплекс в развитом районе и создали на его территории прекрасную детскую инфраструктуру. </p>
								<div class="list-wrap">
									<ul class="list">
										<li><strong>Детский сад</strong> и школа во дворе</li>
										<li><strong>8 школ и 12 детских садов</strong> в шаговой доступности</li>
										<li><strong>Площадки</strong> для волейбола, баскетбола и минифутбола</li>
										<li><strong>Детская поликлиника</strong> в 8 минутах пешком</li>
										<li><strong>Подъезды</strong> на уровне земли, удобные для родителей с колясками</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="main-section-img-wrapper mobile-order-img">
							<div class="main-section-img main-section-img_mobile" style="background-image: url('img/index/mobile/section-children.jpg')"></div>
							<a href="" class="btn-more btn-more_mobile">
								<span>Подробнее</span>
							</a>
							<a href="#" class="main-section__link"></a>
						</div>
					</div>

				</div>
				<div class="main-section__col main-section__col_first main-section__col_img">
					<div class="main-section-img main-section-img_desktop" style="background-image: url('img/index/section-children.jpg')"></div>
					<a href="" class="btn-more btn-more_desktop">
						<span>Подробнее</span>
					</a>
					<a href="#" class="main-section__link"></a>
				</div>
			</div>
		</div>
	</section>
	<section class="main-section">
		<div class="container container_index">
			<div class="main-section__row">
				<div class="main-section__col main-section__col_first main-section__col_mobile-grid main-section__col_content">
					<div class="main-section__content">
						<div class="container-mobile mobile-order-title">
							<div class="main-section-title">Технологии</div>
							<div class="main-section-subtitle">для безопасности и комфорта</div>
						</div>
						<div class="container-mobile mobile-order-text">
							<div class="main-section__text main-section__text_technology">
								<p>Здесь каждая деталь тщательно продумана, чтобы вы могли наслаждаться жизнью высокого класса.</p>
							</div>
						</div>
						<div class="main-section-img-wrapper mobile-order-img2">
							<div class="main-section-img main-section-img_mobile" style="background-image: url('img/index/mobile/section-technology.jpg')"></div>
							<a href="" class="btn-more btn-more_mobile">
								<span>Подробнее</span>
							</a>
							<a href="#" class="main-section__link"></a>
						</div>
						<div class="container-mobile mobile-order-text">
							<div class="list-wrap">
								<ul class="list">
									<li><strong>Дома</strong>, возведенные по монолитно-кирпичной технологии</li>
									<li><strong>Навесные</strong> вентилируемые фасады</li>
									<li><strong>Современная система</strong> безопасности</li>
									<li><strong>Работающие</strong> без перебоев инженерные сети</li>
									<li><strong>Скоростные лифты</strong> Otis</li>
									<li><strong>Трубы отопления</strong>, проложенные в полу</li>

								</ul>
							</div>
						</div>
					</div>
					<a href="" class="btn-more btn-more_desktop">
						<span>Подробнее</span>
					</a>
				</div>
				<div class="main-section__col main-section__col_second main-section__col_img">
					<div class="main-section-img main-section-img_desktop" style="background-image: url('img/index/section-technology.jpg')"></div>
					<a href="#" class="main-section__link"></a>
				</div>
			</div>
		</div>
	</section>
	<section class="main-section main-section_full-width main-section_design" style="background-image: url('img/index/section-design.jpg')">
		<div class="container">
			<div class="main-section__row">
				<div class="main-section__col main-section__col_flex">
					<div class="main-section-title main-section-title_light main-section-title_design">Дизайн и архитектура</div>
					<div class="main-section-subtitle main-section-subtitle_light main-section-subtitle_design">Для ценителей красоты</div>
					<div class="main-section__text main-section__text_light main-section__text_design">
						<p>В ЖК «Эталон-Сити» вы будете жить в атмосфере кругосветного путешествия, получать удовольствие от каждого взгляда за окно и смотреть на мир с высоты птичьего полета.</p>
					</div>
				</div>
				<div class="main-section__col main-section__col_hor">
					<div class="list-wrap list-wrap_design">
						<ul class="list list_light list_orange">
							<li><strong>Квартиры</strong> с захватывающими видами в небоскребах</li>
							<li><strong>Ландшафтный дизайн</strong> на территории</li>
							<li><strong>Фасады и холлы</strong>, отражающие образы известных городов</li>
							<li><strong>Гравюра</strong> «Большая волна в Канагаве«, объединяющая фасады 6 небоскребов</li>
						</ul>
						<a href="" class="btn-border btn-border_design">
							<span>Подробнее</span>
						</a>
					</div>

				</div>
			</div>
		</div>
		<a href="" class="btn-more btn-more_technology">
			<span>Подробнее</span>
		</a>
	</section>

	<section class="main-flatsMinPrices">
		<div class="main-section-title main-section-title_dark main-section-title_flatsMinPrices">Квартиры</div>
		<div class="main-flatsMinPrices__list">
			<div class="main-flatsMinPrices__listItem">
				<div class="main-flatsMinPrices__listImgBox">
					<a href="#">
						<img src="https://etaloncity.ru/upload/information_system_2/1/9/6/item_1965/information_items_property_8757.svg" alt="" class="main-flatsMinPrices__listImg">
					</a>
				</div>
				<div class="main-flatsMinPrices__listName">однокомнатные</div>
				<div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">3,6 млн</span> руб.</div>
				<div class="main-flatsMinPrices__listSqr">50 – 70 м&sup2;</div>
			</div>
			<div class="main-flatsMinPrices__listItem">
				<div class="main-flatsMinPrices__listImgBox">
					<a href="">
						<img src="https://etaloncity.ru/upload/information_system_2/1/8/8/item_1888/information_items_property_8705.svg" alt="" class="main-flatsMinPrices__listImg">
					</a>
				</div>
				<div class="main-flatsMinPrices__listName">двухкомнатные</div>
				<div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">4,6 млн</span> руб.</div>
				<div class="main-flatsMinPrices__listSqr">71 – 90 м&sup2;</div>
			</div>
			<div class="main-flatsMinPrices__listItem">
				<div class="main-flatsMinPrices__listImgBox">
					<a href="">
						<img src="https://etaloncity.ru/upload/information_system_2/1/9/1/item_1918/information_items_property_8724.svg" alt="" class="main-flatsMinPrices__listImg">
					</a>
				</div>
				<div class="main-flatsMinPrices__listName">трехкомнатные</div>
				<div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">5,6 млн</span> руб.</div>
				<div class="main-flatsMinPrices__listSqr">91 – 150 м&sup2;</div>
			</div>
		</div>
	</section>

</div>

<div style="display: none;" id="video-about-modal" class="video-about-modal">
	<div class="video-about-modal-wrapper">
		<div class="video-about-modal-inner">
			<iframe id="video-about" width="100%" height="100%" src="https://www.youtube.com/embed/7dYHiCKomIY" frameborder="0" controls="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			<button data-fancybox-close class="close-gallery close-gallery_video"><img src="img/close-popup-dark.svg" alt=""></button>
			<!--<button class="video-about-modal__play">Play</button>-->
		</div>
	</div>
	<button data-fancybox-close class="close-gallery close-gallery_mobile"><img src="img/arrow_slide_back.svg" alt=""></button>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}

{#<div style="display: none;" class="modal-banner" id="bn1">
	 <div class="modal-banner-inner">
		<div class="modal-banner__bg" style="background-image: url('/img/banners/banner-bg-desktop.png')"></div>
		<div class="modal-banner__content">
			<div class="modal-banner__title">Берите выше!</div>
			<div class="modal-banner__text">Дополнительная
				<br> скидка 3%</div>
			<div class="modal-banner__subtext">Только в январе!</div>
			<p><a class="modal-banner__btn">Подробнее</a></p>
			<button data-fancybox-close="" class="modal-banner__close"><img src="/img/close-popup-light.svg" alt=""></button>
		</div>
	</div>


</div>#}

<!-- <div id="mail-bannerV2" data-banner="v2" style="display: none; padding: 0px;">
	<div class="mail-bannerV2">
		<div class="mail-bannerV2__inner">
			<div class="mail-bannerV2__tlt">Все детали о комплексе на&nbsp;вашу почту</div>
			<p>Планировки, инфраструктура, преимущества района, способы покупки</p>
			<form id="mail-bannerV2-form" action="/" method="post" class="page-form _mail ws-validate">
				<div class="page-form__step">
					<label class="page-form__lbl">
						<input type="email" class="page-form__inp" required data-errormessage="неверный формат email" placeholder="Ваш E-mail">
					</label>
					<button type="submit" class="button _orange _icon" value=""><span>подписаться</span></button>
				</div>
				<div class="page-form__step">
					<label class="page-form__lbl checkbox">
						<input data-errormessage="Пожалуйста, подтвердите согласие на обработку данных." type="checkbox" name="email-agreement" checked required class="checkbox__inp">
						<div class="checkbox__txt checkbox__txt_v2">Я даю согласие не обработку своих <a href="">персональных данных</a></div>
					</label>
				</div>
			</form>
		</div>
		<div class="mail-banner-close" data-fancybox-close="" title="Close">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div> -->

<div id="banner2" class="banner-wrapper _custom" data-banner="0">
	<div class="popup-container">
		<div class="popup-cross close"><img src="img/popup/cross.png" alt="X"></div>
		<p class="popup-h">Самое важное о&nbsp;жизни на высоте</p>
		<div class="popup-form-wrapper">
			<form class="popup-form page-form" method="get" data-action="/ajax/form-response.json" action="/ajax/form-response.json">
				<label for="popup-email" class="popup-form-h">Подпишитесь, чтобы узнать подробности</label>
				<input type="email" required data-errormessage="неверный формат email" name="email" id="popup-email" class="popup-email" placeholder="Введите email">
				<p class="error-msg">неправильный формат ввода email</p>
				<input type="submit" class="popup-btn" value="Получать письма ›">
				<input type="checkbox" name="personal-data" class="personal-data" id="personal-data" checked required><label for="personal-data" class="popup-checkbox">Я даю согласие на обработку своих&nbsp;персональных данных</label>
			</form>
		</div>
	</div>
	<div class="thanks-container">
		<div class="thanks-cross close"><img src="img/popup/cross.png" alt="X"></div>
		<img class="letter-icon" src="img/popup/letter-icon-web.png" alt="">
		<p class="thanks-h">Благодарим за&nbsp;подписку!</p>
		<button class="thanks-btn close">Закрыть</button>
	</div>
</div>

<div id="banner_1" class="banner-wrapper" data-banner="2">
	<a href="#" class="banner-wrapper__inner">
		<picture class="banner-wrapper__picture">
			<source srcset="/img/banner-test-mob.jpg" media="(max-width: 767px)"></source>
			<img src="/img/banner-test-pc.jpg" alt="slide3" />
		</picture>
	</a>
</div>

<div id="banner_2" class="banner-wrapper" data-banner="1">
	<div class="main-banner">
		<div class="main-banner__part" style="background-image: url('/img/banners/foto.jpg');"></div>
		<div class="main-banner__part">
			<img src="/img/etaloncity-logo.svg" class="main-banner__logo" alt="">
			<div class="main-banner__tlt">Все<br> корпуса<br> сданы!</div>
			<div class="main-banner__btn">
				<a href="" class="btn-more"><span>Выбрать квартиру</span></a>
			</div>
		</div>
	</div>
</div>

<!-- <div id="mail-banner" data-banner="v1" style="display: none; padding: 0px; margin: 40px">
	<div class="mail-banner">
		<div class="mail-banner__inner">
			<div class="mail-banner__tlt">Все детали о комплексе на&nbsp;вашу почту</div>
			<p>Подпишитесь, чтобы узнать о важных деталях проекта и вариантах покупки квартир в ЖК «Летний сад»</p>
			<form id="mail-banner-form" action="/" method="post" class="page-form _mail ws-validate">
				<div class="page-form__step">
					<label class="page-form__lbl">
						<input type="email" class="page-form__inp" required>
						<em class="page-form__placeholder">Ваш E-mail</em>
					</label>
					<input type="submit" class="button _orange" value="подписаться">
				</div>
				<div class="page-form__step">
					<label class="page-form__lbl checkbox">
						<input data-errormessage="Пожалуйста, подтвердите согласие на обработку данных." type="checkbox" name="email-agreement" checked required class="checkbox__inp">
						<div class="checkbox__txt">Я даю согласие не обработку своих <a href="">персональных данных</a></div>
					</label>
				</div>
			</form>
		</div>
	</div>
</div> -->

<script src="js/index.js"></script>

{% endblock %}
