{% set title = "О застройщике" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header _large _infrastructure">
        <div class="container">
            <h1 class="page-header__tlt">
                Инфраструктура
                <span>для тех, кто не привык ни в чем себе отказывать</span>
            </h1>
            <p class="page-header__slogan">Как объединить желание жить на&nbsp;природе и&nbsp;необходимость всегда находиться в&nbsp;гуще событий?<br> Очень просто&nbsp;&mdash; достаточно стать обладателем квартиры в&nbsp;ЖК&nbsp;&laquo;Эталон-Сити&raquo;.</p>
        </div>
    </section>

    <div class="infrastructure">
        <section class="page__section">
            <div class="page-chess _simple">
                <div class="container">
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <h2>Территория бизнес-класса</h2>

                            <p class="page-header__slogan">Жилой комплекс бизнес-класса&nbsp;&mdash; это гораздо больше, чем просто комфортные квартиры с&nbsp;прекрасными видами. Он&nbsp;всегда подразумевает комплексную застройку территории. Потому такие элементы как система безопасности, охраняемые входы и&nbsp;выходы, зона Wi-Fi, собственный фитнес-центр не&nbsp;просто необходимы.<br> Они абсолютно естественны.</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-container design-slider" data-slider="simple">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide design-slider__item" style="background-image: url('/img/infrastructure/01.jpg');"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page__section">
            <div class="container">
                <div class="page-chess">
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/infrastructure/02_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/infrastructure/02_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>Закрытые дворы
                                <span>В&nbsp;&laquo;Эталон-Сити&raquo; реализована<br> концепция &laquo;Дворы без машин&raquo;</span>
                            </h2>

                            <p>Проезд на&nbsp;охраняемую внутреннюю территорию комплекса запрещен всегда, кроме исключительных случаев (например, для доступа машин &laquo;Скорой помощи&raquo;).</p>

                            <p>Это значит, что ничто не&nbsp;помешает вам круглосуточно наслаждаться тишиной и&nbsp;заслуженным покоем, а&nbsp;ваши дети будут гулять и&nbsp;играть на&nbsp;детских площадках в&nbsp;полной безопасности.</p>
                        </div>
                    </div>

                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/infrastructure/03_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/infrastructure/03_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>
                                Собственный фитнес-центр
                                <span>с бассейном</span>
                            </h2>

                            <p>На&nbsp;внутренней территории комплекса вы&nbsp;сможете прогуляться по&nbsp;собственному Ботаническому саду, без страха отпустить детей бегать по&nbsp;дворам, в&nbsp;которые не&nbsp;допускается въезд транспорта. Прекрасно оборудованные и&nbsp;ярко расписанные спортивные и&nbsp;детские площадки дополняют картину и&nbsp;предоставляют множество возможностей не&nbsp;только наслаждаться красотой, но&nbsp;и&nbsp;с&nbsp;пользой проводить время.</p>
                        </div>
                    </div>

                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/infrastructure/04_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/infrastructure/04_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>Спортивные площадки</h2>

                            <p>Как приятно иметь возможность заниматься спортом в&nbsp;любое время суток. Особенно если делать это на&nbsp;спортивных площадках ЖК&nbsp;&laquo;Эталон-Сити&raquo; с&nbsp;ультрасовременным и&nbsp;безопасным оборудованием.</p>

                            <p>А&nbsp;если предпочитаете игры обычным тренировка, для вас на&nbsp;территории функционируют площадки:</p>

                            <ul>
                                <li><strong>Для мини-футбола</strong>, с&nbsp;возможностью переоборудования в&nbsp;хоккейные площадки в&nbsp;зимнее время</li>
                                <li><strong>Для волейбола и&nbsp;баскетбола</strong> с&nbsp;высоким забором</li>
                                <li><strong>Для настольного тенниса</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page__section">
            <div class="infrastructure__banner">
                <div class="container">
                    <div class="page-chess">
                        <div class="page-chess__item">
                            <h2>Своя торговая<br> и&nbsp;коммерческая инфраструктура</h2>

                            <p>Жилой комплекс бизнес-класса&nbsp;&mdash; это возможность не&nbsp;тратить ни&nbsp;одной лишней минуты, и, при этом, получать от&nbsp;жизни все желаемые удовольствия. Здесь в&nbsp;вашем полном распоряжении будет собственный отдельно стоящий торговый центр и&nbsp;множество магазинов, салонов красоты и&nbsp;аптек на&nbsp;первых этажах.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page__section">
            <div class="container">
                <div class="page-chess _parking">
                    <div class="page-chess__item">
                        <div class="page-chess__col _btn">
                            <picture class="page-chess__picture">
                                <source srcset="/img/infrastructure/06_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/infrastructure/06_desktop.jpg" alt="" />
                            </picture>
                            <div class="infrastructure__btn">
                                <a href="" class="btn-more"><span>Подобрать паркинг</span></a>
                            </div>
                        </div>
                        <div class="page-chess__col">
                            <h2>Паркинг</h2>

                            <p>Подземный паркинг ЖК&nbsp;&laquo;Эталон-Сити&raquo;&nbsp;&mdash; это надежная защита вашего автомобиля или мотоцикла от&nbsp;любых возможных неприятностей.</p>

                            <p>Паркинг отапливается, так что в&nbsp;любую погоду вы&nbsp;будете садиться в&nbsp;теплый, чистый и&nbsp;готовый к&nbsp;поездке автомобиль. А&nbsp;возможность спускаться к&nbsp;автомобилю на&nbsp;лифте непосредственно от&nbsp;вашей квартиры, просто невозможно переоценить. Эффективные системы безопасности, видеонаблюдения, пожаротушения дополняют картинку бизнес-класса.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}
{% block page_bottom %}
<script src="js/infrastructure.js"></script>
{% endblock %}
