{% set title = "Ипотека" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Как купить</a>
                <a href="mortgage.html" class="breadcrumbs__item breadcrumbs__item_active">Ипотека</a>
            </div>
            <div class="sub-menu">
                <a href="https://etaloncity.ru/panorama/show_room_siti_www/" data-interior-panorams class="sub-menu__item _panorams">Панорамы квартир с меблировкой</a>
            </div>
            <div class="title-page">Ипотека</div>
        </div>
    </section>

    <div class="interior">
        <section class="page__section">
            <div class="container">
                <p class="page__lead-header"><strong>Квартира в&nbsp;ЖК&nbsp;&laquo;Эталон-Сити&raquo;&nbsp;</strong>&mdash; это красивое решение для жизни бизнес-класса. Но&nbsp;такая жизнь подразумевает постоянное движение и&nbsp;оставляет мало свободного времени. Для тех, кто ощущает эту нехватку, мы&nbsp;разработали концепцию отделки от&nbsp;застройщика. Купив квартиру с&nbsp;отделкой в&nbsp;ЖК&nbsp;&laquo;Эталон-Сити&raquo;, вы&nbsp;получите квартиру, в&nbsp;которую сразу можно въехать(если, конечно&nbsp;же, завезти мебель), и&nbsp;которую вы&nbsp;сможете быстро и&nbsp;выгодно оформить по&nbsp;своему вкусу.</p>
                <p class="text-align_center"><a href="" class="button _default"><span>ВЫБРАТЬ КВАРТИРУ С ОТДЕЛКОЙ</span></a></p>
            </div>
        </section>
        <section class="page__section _interior">
            <div class="container">
                <div class="swiper-container interior-gallery" data-interior-gallery>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/01.jpg');"></div>
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/02.jpg');"></div>
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/03.jpg');"></div>
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/04.jpg');"></div>
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/05.jpg');"></div>
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/06.jpg');"></div>
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/07.jpg');"></div>
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/08.jpg');"></div>
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/09.jpg');"></div>
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/10.jpg');"></div>
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/11.jpg');"></div>
                        <div class="swiper-slide interior-gallery__item" style="background-image: url('/img/interior/12.jpg');"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="btn-call-mortgage">
    {% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}

{% block page_bottom %}
<script src="js/interior.js"></script>
{% include "includes/blocks/calculator-form.njk" %}
{% endblock %}
