{% set title = "О застройщике" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header _large _kids">
        <div class="container">
            <h1 class="page-header__tlt">
                Счастливое детство
                <span>для маленьких жителей</span>
            </h1>
            <p class="page-header__slogan">Настоящий жилой комплекс бизнес-класса невозможно представить себе без развитой инфраструктуры, предназначенной для детей и&nbsp;подростков. В&nbsp;&laquo;Эталон-Сити&raquo; мы&nbsp;позаботились о&nbsp;детях не&nbsp;меньше, чем о&nbsp;взрослых жильцах. Здесь есть все для счастливого детства и&nbsp;достойного будущего.</p>
        </div>
    </section>

    <div class="kids">
        <section class="page__section">
            <div class="container">
                <div class="page-chess">
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/kids/01_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/kids/01_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>Школа и детский сад</h2>

                            <p>Собственная образовательная инфраструктура позволяет детям учиться более активно, а&nbsp;родителям&nbsp;&mdash; не&nbsp;тратить лишнее время на&nbsp;дорогу.</p>
                            <p>В&nbsp;феврале 2018 года было принято решение почти вдвое увеличить площадь строящейся на&nbsp;территории комплекса школы.</p>
                            <div class="students">
                                <div class="students__count">625</div>
                                <div class="students__txt">
                                    <span>учеников</span>
                                    <span>теперь сможет принять школа</span>
                                </div>
                            </div>
                            <p>Детский сад также будет расположен на&nbsp;территории комплекса.</p>
                        </div>
                    </div>

                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/kids/02_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/kids/02_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>Детские площадки</h2>

                            <p>Изящно вписанные в&nbsp;ландшафтный дизайн комплекса детские площадки включают в&nbsp;себя многочисленные горки, стилизованные деревянные домики, качели и&nbsp;песочницы.</p>

                            <p>Здесь, в&nbsp;охраняемых дворах без машин, есть все, чтобы ваши дети чувствовали себя детьми, а&nbsp;вы&nbsp;могли без опасений отпускать их&nbsp;играть с&nbsp;друзьями.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page__section">
            <div class="kids__banner">
                <div class="container">
                    <div class="page-chess">
                        <div class="page-chess__item">
                            <h2>Ботанический сад</h2>

                            <p>Всегда приятно жить рядом с&nbsp;Ботаническим садом. Ну&nbsp;куда приятнее, если у&nbsp;вас есть свой собственный! Жители комплекса &laquo;Эталон-Сити&raquo; смогут с&nbsp;удовольствием проводить время в&nbsp;принадлежащем только им&nbsp;парке.</p>

                            <p class="_mob"><img src="/img/kids/03_mobile.jpg" alt="" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}
