{% set title = "О застройщике" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header _large _location">
        <div class="container">
            <h1 class="page-header__tlt">
                Расположение
                <span>для быстрых и решительных</span>
            </h1>
            <p class="page-header__slogan">Как объединить желание жить на&nbsp;природе и&nbsp;необходимость всегда находиться в&nbsp;гуще событий?<br> Очень просто&nbsp;&mdash; достаточно стать обладателем квартиры в&nbsp;ЖК&nbsp;&laquo;Эталон-Сити&raquo;.</p>
        </div>
    </section>

    <div class="location">
        <section class="page__section">
            <div class="container">
                <div class="location-section">
                    <div class="location-section__block">
                        <h2 class="location__tlt">
                            Быстро оказываться
                            <span>там, где нужно</span>
                        </h2>
                    </div>
                    <div class="location-section__block">
                        <p>Жилой комплекс находится по&nbsp;адресу:<br> г. Москва, ул. Старокрымская, дом&nbsp;15</p>
                        <ul class="location-list">
                            <li>
                                <span>3</span>
                                <span><em>км</em> от МКАД</span>
                            </li>
                            <li>
                                <span>16</span>
                                <span><em>км</em> от центра Москвы</span>
                            </li>
                            <li>
                                <span>15</span>
                                <span><em>мин</em> до метро пешком</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="longread-map1-tabs" data-location-tabs>
            <div class="longread-map1-tabs__item _active" data-markers='[{"position": [55.560903, 37.592504]}, {"position": [55.580989, 37.572584]}]'>На автомобиле</div>
            <div class="longread-map1-tabs__item" data-markers='[{"position": [55.569975, 37.576377]}, {"position": [55.548380, 37.554717]}]'>
                <span>Пешеходный маршрут</span>
                <span>Пешком</span>
            </div>
        </section>
        <section class="longread-tabs-descr">
            <div class="longread-tabs-descr__inner">
                <p style="display: block;">На&nbsp;собственном автомобиле вы&nbsp;сможете доехать до&nbsp;центра Москвы по&nbsp;любой из&nbsp;ближайших<br> транспортных магистралей: Варшавскому или Калужскому шоссе.</p>
                <p>А&nbsp;путь пешком до&nbsp;станции метро &laquo;Скобелевская&raquo;<br> займет не&nbsp;более 10&nbsp;минут</p>
            </div>
        </section>
        <section class="longread-map1"></section>
        <section class="page__section">
            <div class="container">
                <div class="location-section _double">
                    <div class="location-section__block">
                        <h2 class="location__tlt">
                            Пользоваться
                            <span>всеми благами столицы</span>
                        </h2>
                        <p>Северное Бутово&nbsp;&mdash; это район Москвы, в&nbsp;котором есть всё для жизни высокого класса.</p>
                    </div>
                    <div class="location-section__block">
                        <ul class="list">
                            <li>Московская регистрация</li>
                            <li>8&nbsp;школ и&nbsp;12&nbsp;детских садов в&nbsp;пешей доступности</li>
                            <li>2&nbsp;больших торгово-развлекательных центра,</li>
                            <li>Кафе и&nbsp;рестораны</li>
                            <li>Спортивные и&nbsp;медицинские центры</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="longread-mapInfra-container">
            <div class="longread-mapInfra"></div>
            <div class="longread4-category-links">
                <div class="longread4-category-links__title">Инфраструктура ЖК</div>
                <a href="" class="longread4-category-links__item longread4-category-links__item_edu" data-category="edu">ВУЗы, техникумы</a>
                <a href="" class="longread4-category-links__item longread4-category-links__item_school" data-category="school">Школы</a>
                <a href="" class="longread4-category-links__item longread4-category-links__item_kindergarten" data-category="kindergarten">Детские сады</a>
                <a href="" class="longread4-category-links__item longread4-category-links__item_cafe" data-category="cafe">Кафе, рестораны</a>
                <a href="" class="longread4-category-links__item longread4-category-links__item_shops" data-category="shops">Магазины, гипермаркеты, ТЦ</a>
                <a href="" class="longread4-category-links__item longread4-category-links__item_med" data-category="med">Объекты здравохранения</a>
                <a href="" class="longread4-category-links__item longread4-category-links__item_park" data-category="park">Парки</a>
                <a href="" class="longread4-category-links__item longread4-category-links__item_sport" data-category="sport">Спортивные объекты</a>
                <a href="" class="longread4-category-links__item longread4-category-links__item_school" data-category="museums">Театры, кинотеатры, музеи</a>

                <a href="" class="longread4-category-links__show">Показать все</a>
                <a href="" class="longread4-category-links__hide">Скрыть все</a>
            </div>
            <div class="longread-mapInfra-btns">
                <button class="longread-mapInfra-btns__map">Карта</button>
                <button class="longread-mapInfra-btns__infra">Инфраструктура ЖК</button>
            </div>
        </section>

        <div class="longread4-mapPoints">
            <!-- ВУЗы, колледжи, техникумы -->
            <div class="longread4-mapPoints__edu">
                <a class="longread4-mapPoints__item" data-lat="55.886206" data-lng="37.517927">Колледж архитектуры и строительства № 7 Подразделение № 3</a>
                <a class="longread4-mapPoints__item" data-lat="55.887514" data-lng="37.518325">Кафедра поликлинической педиатрии РМАПО</a>
                <a class="longread4-mapPoints__item" data-lat="55.884339" data-lng="37.536255">Институт (НИСК) - Новый институт социальных коммуникаций</a>
                <a class="longread4-mapPoints__item" data-lat="55.887905" data-lng="37.545005">Политехнический колледж № 8 им. И. Ф. Павлова</a>
                <a class="longread4-mapPoints__item" data-lat="55.883010" data-lng="37.545260">Московский университет Министерства внутренних дел Российской Федерации имени В.Я. Кикотя</a>
                <a class="longread4-mapPoints__item" data-lat="55.881811" data-lng="37.545764">Первый московский юридический институт</a>
            </div>

            <!-- ВУЗы, колледжи, техникумы -->

            <!-- Дет.сады -->
            <div class="longread4-mapPoints__kindergarten">
                <a class="longread4-mapPoints__item" data-lat="55.891300" data-lng="37.534890">ГБОУ Школа №1631, ДО-1268</a>
                <a class="longread4-mapPoints__item" data-lat="55.890520" data-lng="37.525428">ГБОУ школа № 236, корпус № 10</a>
                <a class="longread4-mapPoints__item" data-lat="55.888874" data-lng="37.523518">ГБОУ школа № 236, корпус № 10</a>
                <a class="longread4-mapPoints__item" data-lat="55.885635" data-lng="37.524703">Детский сад № 1487, филиал</a>
                <a class="longread4-mapPoints__item" data-lat="55.884867" data-lng="37.523589">ГБОУ школа № 236, корпус № 8</a>
                <a class="longread4-mapPoints__item" data-lat="55.884417" data-lng="37.524392">Гбоу школа № 236 детский сад № 6</a>
                <a class="longread4-mapPoints__item" data-lat="55.882488" data-lng="37.525483">ГБОУ школа № 236, корпус № 5</a>
                <a class="longread4-mapPoints__item" data-lat="55.884660" data-lng="37.537252">Частное учреждение Дошкольная образовательная организация Детский сад Умничка</a>
                <a class="longread4-mapPoints__item" data-lat="55.882774" data-lng="37.537168">ГБОУ СОШ № 771 Структурное подразделение № 6</a>
                <a class="longread4-mapPoints__item" data-lat="55.881939" data-lng="37.534838">ГБОУ школа № 771</a>
                <a class="longread4-mapPoints__item" data-lat="55.880453" data-lng="37.534594">Школа № 771 Дошкольное отделение Сп-5</a>
                <a class="longread4-mapPoints__item" data-lat="55.880462" data-lng="37.552360">Центр образования № 1678 с дошкольным отделением</a>
                <a class="longread4-mapPoints__item" data-lat="55.890438" data-lng="37.560587">Академия развития</a>
            </div>

            <!-- Дет.сады -->

            <!-- Кафе, рестораны -->
            <div class="longread4-mapPoints__cafe">
                <a class="longread4-mapPoints__item" data-lat="55.890015" data-lng="37.537981">Зерновой кофе</a>
                <a class="longread4-mapPoints__item" data-lat="55.889071" data-lng="37.525637">Хазри</a>
                <a class="longread4-mapPoints__item" data-lat="55.887167" data-lng="37.523613">Domino's Pizza</a>
                <a class="longread4-mapPoints__item" data-lat="55.886581" data-lng="37.544075">Тануки</a>
                <a class="longread4-mapPoints__item" data-lat="55.879312" data-lng="37.547073">Стой! Ка-бар</a>
                <a class="longread4-mapPoints__item" data-lat="55.881819" data-lng="37.558714">KFC</a>
                <a class="longread4-mapPoints__item" data-lat="55.873528" data-lng="37.520741">Шах-Даг</a>
                <a class="longread4-mapPoints__item" data-lat="55.875140" data-lng="37.536801">Gates Cafe</a>
                <a class="longread4-mapPoints__item" data-lat="55.874015" data-lng="37.536104">Восток суши</a>
                <a class="longread4-mapPoints__item" data-lat="55.872427" data-lng="37.538894">Вояж</a>
                <a class="longread4-mapPoints__item" data-lat="55.869682" data-lng="37.533722">SufiFood</a>
                <a class="longread4-mapPoints__item" data-lat="55.866825" data-lng="37.540482">Pizzaiolo</a>
                <a class="longread4-mapPoints__item" data-lat="55.872163" data-lng="37.558518">Пиццетория</a>
                <a class="longread4-mapPoints__item" data-lat="55.874540" data-lng="37.558484">Fusion Cafe</a>
                <a class="longread4-mapPoints__item" data-lat="55.875157" data-lng="37.558198">Kafe Montale</a>
                <a class="longread4-mapPoints__item" data-lat="55.874300" data-lng="37.549525">Sonrise Cafe</a>
            </div>

            <!-- Кафе, рестораны -->

            <!-- Магазины, гипермаркеты -->
            <div class="longread4-mapPoints__shops">
                <a class="longread4-mapPoints__item" data-lat="55.894737" data-lng="37.542434">Универсам Магнит</a>
                <a class="longread4-mapPoints__item" data-lat="55.893519" data-lng="37.543911">Торговый центр Строй Макс</a>
                <a class="longread4-mapPoints__item" data-lat="55.890508" data-lng="37.537605">Пятёрочка</a>
                <a class="longread4-mapPoints__item" data-lat="55.888669" data-lng="37.541561">Универсам Магнит</a>
                <a class="longread4-mapPoints__item" data-lat="55.888933" data-lng="37.525580">Пятёрочка</a>
                <a class="longread4-mapPoints__item" data-lat="55.882154" data-lng="37.519986">Седьмой Континент</a>
                <a class="longread4-mapPoints__item" data-lat="55.884975" data-lng="37.545104">Азбука Вкуса</a>
                <a class="longread4-mapPoints__item" data-lat="55.886487" data-lng="37.558524">Пятёрочка</a>
                <a class="longread4-mapPoints__item" data-lat="55.878349" data-lng="37.548250">Дикси</a>
            </div>
            <!-- Магазины, гипермаркеты -->

            <div class="longread4-mapPoints__med">
                <a class="longread4-mapPoints__item" data-lat="55.890320" data-lng="37.532999">Городская клиническая больница № 81</a>
                <a class="longread4-mapPoints__item" data-lat="55.884660" data-lng="37.528211">Ветеринарная клиника Тим</a>
                <a class="longread4-mapPoints__item" data-lat="55.885583" data-lng="37.524612">Контур-мед</a>
                <a class="longread4-mapPoints__item" data-lat="55.887486" data-lng="37.518202">Детская городская поликлиника № 86 Департамента Здравоохранения города Москвы</a>
                <a class="longread4-mapPoints__item" data-lat="55.880245" data-lng="37.527232">Клиника сети "Доктор Рядом"</a>
                <a class="longread4-mapPoints__item" data-lat="55.882668" data-lng="37.540132"></a>
                <a class="longread4-mapPoints__item" data-lat="55.877770" data-lng="37.555058"></a>
            </div>

            <div class="longread4-mapPoints__park">
                <a class="longread4-mapPoints__item" data-lat="55.878918" data-lng="37.529406">Парк Ангарские пруды</a>
                <a class="longread4-mapPoints__item" data-lat="55.887279" data-lng="37.531248">Парк Отдыха Ветеранов</a>
                <a class="longread4-mapPoints__item" data-lat="55.888749" data-lng="37.564585">Парк "Северные дубки"</a>
                <a class="longread4-mapPoints__item" data-lat="55.899556" data-lng="37.571328">Лианозовский лесопарк</a>
            </div>

            <div class="longread4-mapPoints__sport">
                <a class="longread4-mapPoints__item" data-lat="55.889952" data-lng="37.537698">Фитнес-клуб Parislife</a>
                <a class="longread4-mapPoints__item" data-lat="55.890823" data-lng="37.524290">Спортклуб Раменки</a>
                <a class="longread4-mapPoints__item" data-lat="55.891229" data-lng="37.523054">Фитнес-клуб Jungle</a>
                <a class="longread4-mapPoints__item" data-lat="55.887588" data-lng="37.527605">Спортклуб, тренажерный зал, фитнес</a>
                <a class="longread4-mapPoints__item" data-lat="55.885572" data-lng="37.524616">Йога-класс Евразия</a>
                <a class="longread4-mapPoints__item" data-lat="55.884182" data-lng="37.523067">Школа Косики Карате России</a>
                <a class="longread4-mapPoints__item" data-lat="55.883413" data-lng="37.545756">Спортзал МосУ МВД России В.Я. Кикотя</a>
            </div>

            <div class="longread4-mapPoints__azs">
                <a class="longread4-mapPoints__item" data-lat="55.893399" data-lng="37.528955">Lukoil</a>
                <a class="longread4-mapPoints__item" data-lat="55.891710" data-lng="37.540525">Газпром</a>
                <a class="longread4-mapPoints__item" data-lat="55.863742" data-lng="37.545910">Роснефть</a>
            </div>

            <div class="longread4-mapPoints__school">
                <a class="longread4-mapPoints__item" data-lat="55.895466" data-lng="37.537991">ГБОУ Школа №1631, Учебный корпус № 184</a>
                <a class="longread4-mapPoints__item" data-lat="55.892371" data-lng="37.539879">ГБОУ Школа № 1631</a>
                <a class="longread4-mapPoints__item" data-lat="55.889590" data-lng="37.524047">ГБОУ Школа № 236, структурное подразделение № 3</a>
                <a class="longread4-mapPoints__item" data-lat="55.884281" data-lng="37.523034">ГБОУ школа № 236 имени Героя Советского Союза Г. И. Щедрина, структурное подразделение № 2</a>
                <a class="longread4-mapPoints__item" data-lat="55.882023" data-lng="37.522068">ГБОУ Школа № 236, структурное подразделение № 1</a>
                <a class="longread4-mapPoints__item" data-lat="55.880794" data-lng="37.523348">ГБОУ школа № 236, структурное подразделение № 4</a>
                <a class="longread4-mapPoints__item" data-lat="55.882499" data-lng="37.534333">ГБОУ Школа № 771 Структурное подразделение № 4</a>
                <a class="longread4-mapPoints__item" data-lat="55.886313" data-lng="37.537192">ГБОУ города Москвы школа № 771</a>
                <a class="longread4-mapPoints__item" data-lat="55.887336" data-lng="37.537412">Школа № 771 Структурное подразделение № 2</a>
            </div>
        </div>

        <section class="page__section">
            <div class="container">
                <div class="location-tile">
                    <h2>
                        Жить
                        <span>на свежем воздухе</span>
                    </h2>

                    <div class="longread-video" data-video>
                        <div class="longread-video__bg" style="background-image: url('img/location/video-bg.jpg')"></div>
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/9Y7YKsPdvM0?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="location-tile__list">
                        <div class="location-tile__item">
                            <div class="location-tile__block">
                                <img src="/img/location/01.jpg" alt="">
                            </div>
                            <div class="location-tile__block">
                                <p>Комплекс расположен посреди Бутовского лесопарка, самого большого парка Московской области площадью 1610&nbsp;га.</p>
                            </div>
                        </div>
                        <div class="location-tile__item">
                            <div class="location-tile__block">
                                <img src="/img/location/03.jpg" alt="">
                            </div>
                            <div class="location-tile__block">
                                <p>Любители здорового образа жизни найдут здесь все возможности для бега или занятий лыжами</p>
                            </div>
                        </div>
                        <div class="location-tile__item">
                            <div class="location-tile__block">
                                <img src="/img/location/02.jpg" alt="">
                            </div>
                            <div class="location-tile__block">
                                <p>А&nbsp;те, кто предпочитает спокойный семейный отдых, смогут регулярно устраивать пикники на&nbsp;природе.</p>
                                <p>Особенно для этого подойдет долина реки Битцы, находящаяся на&nbsp;территории лесопарка.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}
<script src="js/location.js"></script>
{% endblock %}
