{% set title = "Лонгрид6" %}
{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
    <section class="longread-banner longread-banner_n6">
        <div class="longread-banner__text">
            Красота и функциональность
            <div class="longread-banner__subtext">
                Насыщенные, сочные тона декоративных элементов фасадов создают эффектную игру цвета, которая приносит <span class="br-desktop"></span>
                настоящее эстетическое удовольствие! Современный красочный облик жилого комплекса «Летний Сад» <span class="br-desktop"></span>
                создает особое настроение.
            </div>
        </div>
        <div class="longread-banner__scrolling"></div>
        <div class="longread-banner__arrow">
            <div class="longread-banner__arrow_left"></div>
            <div class="longread-banner__arrow_right"></div>
        </div>
    </section>

    <div class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__title longread-section__title_rightBorder longread-section__title_L6Sec1Mobile">Архитектура</div>
            <div class="longread-section__text longread-section__text_L6Sec1Mobile">Авторский проект одного из ведущих архитектурных <br>
                бюро ТПО «РЕЗЕРВ» во главе с Владимиром Плоткиным.</div>


            <div class="slider-longread-6 swiper-container">
                <div class="swiper-wrapper">
                    <div class="slider-longread-6__slide swiper-slide" style="background-image: url('img/longread-6/slide6.jpg')"></div>
                    <div class="slider-longread-6__slide swiper-slide" style="background-image: url('img/longread-6/slide7.jpg')"></div>
                    <div class="slider-longread-6__slide swiper-slide" style="background-image: url('img/longread-6/slide8.jpg')"></div>
                </div>
                <div class="slider-longread-6__pagination"></div>

                <div class="slider-longread-6__prev"></div>
                <div class="slider-longread-6__next"></div>

                <div class="slider-longread-6__content">
                    <div class="slider-longread-6__title">Архитектура</div>
                    <div class="slider-longread-6__text">Авторский проект одного из ведущих архитектурных <br>
                        бюро ТПО «РЕЗЕРВ» во главе с Владимиром Плоткиным.</div>
                </div>
            </div>
        </div>
        <div class="container container_L6Sec1">
            <div class="longread-section__col">
                <div class="longread-section__text longread-section__text_n longread-section__text_L6Sec1">
                    <p>Насыщенные, сочные тона декоративных элементов фасадов создают эффектную игру цвета,
                        которая приносит настоящее эстетическое удовольствие! Современный красочный облик
                        жилого комплекса «Летний Сад» создает особое настроение легкости и делает его одним
                        из самых знаковых притягательных мест для жизни на севере столицы.</p>
                </div>
            </div>
            <div class="longread-section__col">
                <div class="longread-section__text longread-section__text_L6Sec1">
                    <p>Архитекурное бюро  ТПО «Резерв» отмечены профессиональными премиями и дипломами
                        (World Architecture Festival 2008, Барселона (ЕS), «АРХ Москва», «Золотое сечение»,
                        «Зодчество» и другие) и часто становятся предметом публикаций. В 2010 г.
                        Владимир Плоткин был удостоен звания «Архитектор Года».</p>
                </div>
            </div>
        </div>
    </div>

    <div class="longread-section longread-section_L6Sec2">
        <div class="container container_L6Sec2">
            <div class="longread-section__col longread-section__col_tabletOrder2">
                <div class="longread-section__text longread-section__text_L6Sec2">
                    <p>Помимо эстетического удовольствие фасады
                        изготавливаются с применением жесткого
                        минераловатного утеплителя и фасадных
                        облицовочных фибро-цементных панелей –
                        это экологически чистые строительные
                        материалы.  Они создают в квартирах особый
                        микроклимат: зимой и эффективно удерживают
                        тепло в помещениях, предохраняют от морозов
                        и сквозняков, а летом поддерживают
                        оптимальную температуру, препятствуя
                        проникновению жаркого воздуха.
                    </p>
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_L6Sec2">
                <div class="longread-section__img longread-section__img_L6Sec2">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="longread-section__title longread-section__title_rightBorder longread-section__title_L6">Входные группы</div>
    </div>
    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section-slider">
                <div class="longread-section-slider__images swiper-container longread-section-slider_order1">
                    <div class="swiper-wrapper">
                        <div class="longread-section-slider__slide swiper-slide">
                            <div class="longread-section-slider__img" style="background-image: url('img/longread-6/slide1.jpg')"></div>
                        </div>
                        <div class="longread-section-slider__slide swiper-slide">
                            <div class="longread-section-slider__img" style="background-image: url('img/longread-6/slide2.jpg')"></div>
                        </div>
                        <div class="longread-section-slider__slide swiper-slide">
                            <div class="longread-section-slider__img" style="background-image: url('img/longread-6/slide3.jpg')"></div>
                        </div>
                        <div class="longread-section-slider__slide swiper-slide">
                            <div class="longread-section-slider__img" style="background-image: url('img/longread-6/slide4.jpg')"></div>
                        </div>
                        <div class="longread-section-slider__slide swiper-slide">
                            <div class="longread-section-slider__img" style="background-image: url('img/longread-6/slide5.jpg')"></div>
                        </div>
                    </div>
                    <div class="longread-section-slider__nav">
                        <div class="longread-section-slider-prev"></div>
                        <div class="longread-section-slider-next"></div>
                    </div>
                    <div class="longread-section-slider-pagination"></div>
                </div>
                <div class="longread-section-slider__text longread-section-slider_order2">
                    <p>Сквозные подъезды, высокие потолки
                        просторные входные группы
                        с многоуровневым освещением
                        расположенные на уровне земли,
                        без ступеней и пандусов, что обеспечивает
                        безбарьерный доступ для людей
                        с колясками и велосипедами в вестибюли
                        и к современным скоростным лифтам OTIS,
                        которые быстро доставят
                        на нужный вам этаж.</p>
                </div>
            </div>

            <div class="container container_L6Sec3">
                <div class="longread-section__col longread-section__col_L6Sec3">
                    <div class="longread-section__text longread-section__text_v longread-section__text_L6Sec3">
                        <p>В вестибюле много естественного света
                            за счет витражных входных дверей и окон.
                            В отделке используются натуральные материалы:</p>
                    </div>
                </div>
                <div class="longread-section__col longread-section__col_L6Sec3">
                    <div class="longread-section__text longread-section__text_L6Sec3">
                        <ul class="list list_circle">
                            <li>мох</li>
                            <li>дерево</li>
                            <li>керамогранит</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="longread-section__title longread-section__title_rightBorder longread-section__title_L6">Квартиры</div>
    </div>
    <section class="longread-sectionFull longread-sectionFull_n8">
        <div class="container">
            <div class="longread-slider-plans swiper-container">
                <div class="swiper-wrapper">
                    <div class="longread-slider-plans__slide swiper-slide">
                        <img src="img/longread-6/plan_1.svg" alt="">
                    </div>
                    <div class="longread-slider-plans__slide swiper-slide">
                        <img src="img/longread-6/plan_2.svg" alt="">
                    </div>
                    <div class="longread-slider-plans__slide swiper-slide">
                        <img src="img/longread-6/plan_3.svg" alt="">
                    </div>
                </div>
                <div class="longread-slider-plan__scrollbar swiper-scrollbar"></div>
            </div>
        </div>
    </section>


    <section class="longread-section">
        <div class="longread-section__container">
            <div class="container container_L6Sec5">
                <div class="longread-section__col">
                    <div class="longread-section__text longread-section__text_u longread-section__text_L6Sec5">
                        <p>Улучшенные просторные планировки квартир, созданные архитекторами ТПО «Резерв», дают возможность максимально эффективно использовать площадь
                            для комфортного проживания. Увеличенные оконные проемы и высокие потолки
                            делают вашу квартиру солнечной и светлой.</p>
                        <p>Оконные блоки на сторонах, выходящих на автомобильные магистрали и проезды оснащаются шумозащитными приточными клапанами.</p>
                        <p> В каждой квартире есть лоджия с витражным остеклением, предусмотрены места
                            для размещения индивидуальных сплит-систем.</p>
                    </div>
                </div>
                <div class="longread-section__col">
                    <div class="longread-section__text longread-section__text_L6Sec5">
                        <div class="longread-section__bigText_wrap">
                            <div class="longread-section__bigText-inner">
                                <div class="longread-section__bigText longread-section__bigText_L6Sec5">3,2 <span>м</span></div>
                                <p>Минимальная <br> ширина комнат</p>
                            </div>

                            <div class="longread-section__bigText-inner">
                                <div class="longread-section__bigText longread-section__bigText_L6Sec5">2,78 <span>м</span></div>
                                <p>Высота <br> потолков</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-sectionFull longread-sectionFull_n9">
        <div class="longread-section__container">
            <div class="longread-sectionFull__content longread-sectionFull__content_L6Sec6">
                <div class="longread-sectionFull__title longread-sectionFull__titleL6Sec6">
                    Квартиры <br>
                    без отделки
                </div>
                <div class="longread-sectionFull__text">
                    <ul class="list list_circle list_light list_orangeBullets">
                        <li>как без стен, так и с межкомнатными перегородками</li>
                        <li>также проведена вся электрика (что сократит затраты на ремонт).</li>
                        <li>окна – 2-камерный стеклопакет зарубежных марок с шумозащитными клапанами.</li>
                        <li>межквартирные стены – газоблок;</li>
                        <li>внутренние перегородки – газоблок;</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col-5">
                <div class="longread-section__title longread-section__title_rightBorder longread-section__title_L6Sec7">Отделка</div>
                <div class="container hidden-xxl hidden-xl hidden-lg">
                    <div class="longread-section__text longread-section__text_n longread-section__textL6Sec7">
                        <p>Нейтральная цветовая гамма интерьера – как полотно для фантазии жильцов. Отсутствие каких-то рисунков – открывает все двери для творчества.</p>
                        <p>Форма мебели, цвет мебели, аксессуары делают интерьер разным.</p>
                    </div>
                </div>
                <div class="longread-section__text longread-section__text_L6Sec7 hidden-md hidden-sm hidden-xs">

                    <p>Напольные покрытия</p>
                    <ul class="list list_circle">
                        <li>керамическая плитка (санузел, ванная комната);</li>
                        <li>керамогранит (кухня, лоджия);</li>
                        <li>ламинат (жилые комнаты, прихожая);</li>
                        <li>плинтус напольный.</li>

                    </ul>

                    <p>Стены</p>
                    <ul class="list list_circle">
                        <li>обои под покраску, покраска;</li>
                        <li>керамическая плитка (санузел, ванная комната).</li>
                    </ul>

                    <p>Потолок</p>
                    <ul class="list list_circle">
                        <li>натяжной потолок, (санузел, ванная комната);</li>
                        <li>потолок отштукатуренный, покраска;</li>
                        <li>потолочный карниз.</li>
                    </ul>

                    <p>Электрика</p>
                    <ul class="list list_circle">
                        <li>электрические розетки;</li>
                        <li>ТВ-розетка;</li>
                        <li>Розетка компьютерная для internet;</li>
                        <li>Выключатели;</li>
                        <li>Встроенные светильники (санузел,ванная комната).</li>
                    </ul>

                    <p>Сантехника</p>
                    <ul class="list list_circle">
                        <li>ванна;</li>
                        <li>раковина с тумбой;</li>
                        <li>унитаз;</li>
                        <li>смесители для ванны и раковины</li>
                        <li>полотенцесушитель.</li>
                    </ul>

                    <p>Двери</p>
                    <ul class="list list_circle">
                        <li>дверь входная металлическая;</li>
                        <li> двери межкомнатные.</li>
                    </ul>
                </div>
            </div>
            <div class="longread-section__col-7">
                <div class="slider-decor-wrap">
                    <div class="slider-decor swiper-container">
                        <div class="swiper-wrapper">
                            <div class="slider-decor__slide swiper-slide" style="background-image: url('img/longread-6/slide9.jpg');"></div>
                            <div class="slider-decor__slide swiper-slide" style="background-image: url('img/longread-6/slide10.jpg');"></div>
                            <div class="slider-decor__slide swiper-slide" style="background-image: url('img/longread-6/slide11.jpg');"></div>
                            <div class="slider-decor__slide swiper-slide" style="background-image: url('img/longread-6/slide12.jpg');"></div>
                            <div class="slider-decor__slide swiper-slide" style="background-image: url('img/longread-6/slide13.jpg');"></div>
                        </div>
                        <div class="slider-decor__pagination"></div>
                        <div class="slider-decor__nav">
                            <div class="slider-decor__prev"></div>
                            <div class="slider-decor__next"></div>
                        </div>
                    </div>
                    <div class="slider-decor-sub1"></div>
                    <div class="slider-decor-sub2"></div>
                </div>
                <div class="container hidden-xxl hidden-xl hidden-lg ">
                    <div class="longread-section__text longread-section__text_L6Sec7 ">

                        <p>Напольные покрытия</p>
                        <ul class="list list_circle">
                            <li>керамическая плитка (санузел, ванная комната);</li>
                            <li>керамогранит (кухня, лоджия);</li>
                            <li>ламинат (жилые комнаты, прихожая);</li>
                            <li>плинтус напольный.</li>

                        </ul>

                        <p>Стены</p>
                        <ul class="list list_circle">
                            <li>обои под покраску, покраска;</li>
                            <li>керамическая плитка (санузел, ванная комната).</li>
                        </ul>

                        <p>Потолок</p>
                        <ul class="list list_circle">
                            <li>натяжной потолок, (санузел, ванная комната);</li>
                            <li>потолок отштукатуренный, покраска;</li>
                            <li>потолочный карниз.</li>
                        </ul>

                        <p>Электрика</p>
                        <ul class="list list_circle">
                            <li>электрические розетки;</li>
                            <li>ТВ-розетка;</li>
                            <li>Розетка компьютерная для internet;</li>
                            <li>Выключатели;</li>
                            <li>Встроенные светильники (санузел,ванная комната).</li>
                        </ul>

                        <p>Сантехника</p>
                        <ul class="list list_circle">
                            <li>ванна;</li>
                            <li>раковина с тумбой;</li>
                            <li>унитаз;</li>
                            <li>смесители для ванны и раковины</li>
                            <li>полотенцесушитель.</li>
                        </ul>

                        <p>Двери</p>
                        <ul class="list list_circle">
                            <li>дверь входная металлическая;</li>
                            <li> двери межкомнатные.</li>
                        </ul>
                    </div>
                </div>
                <div class="longread-section__text longread-section__text_n longread-section__textL6Sec7 hidden-md hidden-sm hidden-xs">
                    <p>Нейтральная цветовая гамма интерьера – как полотно для фантазии жильцов. Отсутствие каких-то рисунков – открывает все двери для творчества.</p>
                    <p>Форма мебели, цвет мебели, аксессуары делают интерьер разным.</p>
                </div>

                <a href="" class="longread-section__selectFlatBtn"><span>Выбрать квартиру</span></a>

            </div>
        </div>
    </section>



</div>

<div class="prefooter">
    <div class="prefooter__tlt">Смотрите также</div>
    {% include "includes/blocks/footer-menu.njk" %}
    {% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}


{% block page_bottom %}
<script src="/js/longread.js"></script>
{% endblock %}
