{% set title = "Ипотека" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Как купить</a>
                <a href="mortgage.html" class="breadcrumbs__item breadcrumbs__item_active">Ипотека</a>
            </div>
            <div class="sub-menu">
                <a href="mortgage.html" class="sub-menu__item _active">Все банки</a>
                <a href="calculator.html" class="sub-menu__item"><span>Ипотечный</span> калькулятор</a>
                <a href="#" class="sub-menu__item" data-sidebar-toggle="calculator_order"><span>Оформить заявку</span> <span>заявка</span></a>
            </div>
            <div class="title-page">Ипотека</div>
        </div>
    </section>

    <div class="mortgage">
        <section class="page__section">
            <div class="container">
                <h2>Полное сопровождение сделки</h2>

                <div class="mortgage-accomp">
                    <div class="mortgage-accomp__item _broker">
                        <strong>Персональный менеджер</strong> Подберет лучшую ипотечную программу от 20+ банков
                    </div>
                    <div class="mortgage-accomp__item _docs">
                        <strong>Сбор документов за вас</strong> Вам нужно только приехать в банк на подписание.
                    </div>
                    <div class="mortgage-accomp__item _decision">
                        <strong>Решение через 24 часа</strong> Благодаря долгосрочным отношениям с банками
                    </div>
                    <div class="mortgage-accomp__item _rate">
                        <strong>Ставка от 7%</strong> Действительно от 7,4%!
                    </div>
                </div>
            </div>
        </section>

        <section class="page__section">
            <div class="container">
                <h2>5 шагов до покупки квартиры</h2>

                <div class="page-steps">
                    <div class="page-steps__item" data-index="1.">
                        <strong>Обратитесь</strong> к вашему персональному ипотечному менеджеру в офисе продаж
                    </div>
                    <div class="page-steps__item" data-index="2.">
                        <strong>Предоставьте</strong> ему минимальный комплект  документов и одну анкету
                    </div>
                    <div class="page-steps__item" data-index="3.">
                        <strong>Менеджер самостоятельно</strong> подготовит документы, заполнит анкеты и найдет лучшие варианты ипотеки на текущий день.
                    </div>
                    <div class="page-steps__item" data-index="4.">
                        <strong>Через 36 часов</strong> получите приглашение в банк и подпишите договор на самых выгодных условиях.
                    </div>
                    <div class="page-steps__item" data-index="5.">
                        <strong>Квартира — ваша!</strong>
                    </div>
                </div>
            </div>
        </section>

        <section class="page__section">
            <div class="container">
                <div class="mortgage-banks">
                    <header class="mortgage-banks__header">
                        <div class="mortgage-banks__row" data-mortgage-sorter data-ajax="/ajax/banks_mortgage.json">
                            <div class="mortgage-banks__col">Банк</div>
                            <div class="mortgage-banks__col">Первоначальный взнос</div>
                            <div class="mortgage-banks__col">Срок кредитования</div>
                            <div class="mortgage-banks__col">Ставка</div>
                            {#<div class="mortgage-banks__col">Ставка до оформления права собственности</div>
                            <div class="mortgage-banks__col">Ставка после оформления права собственности</div>#}
                        </div>
                    </header>
                    <div class="mortgage-banks__body" data-mortgage-body>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="mortgage-modal" style="display: none;"></div>

<div class="btn-call-mortgage">
    {% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}

{% block page_bottom %}
<script src="js/mortgage.js"></script>
{% include "includes/blocks/calculator-form.njk" %}
{% endblock %}
