{% set title = "Адрес ЖК «Летний сад»" %}

{% extends "simple_layout.njk" %}

{% block content %}

<link rel="stylesheet" href="css/navigator.css">

<div class="wrapp">
    <div class="topBlock">
        <div class="topBlock__content">
            <div class="topBlock__content--logo"><a href="http://http://etaloncity-b.dev.blue-ant.ru/" title="ЖК «Летний сад»" target="_blank"><img src="/img/logo.svg" alt="ЖК «Эталон Сити»"></a></div>
            <div class="topBlock__content__address_item">
                <span class="topBlock__content__address_item--name">Район</span>
                Северное Бутово
            </div>
            <div class="topBlock__content__address_item">
                <span class="topBlock__content__address_item--name">Адрес</span>
                г. Москва, ул. Старокрымская, дом 15, кор. 2
            </div>
        </div>
    </div>
    <div class="bottomBlock">
        <a href="yandexnavi://build_route_on_map?lat_to=55.557295&amp;lon_to=37.558890" target="_blank" class="bottomBlock--btn bottomBlock--btn_yaN">
            <span class="bottomBlock--btn--text">Проложить маршрут в Яндекс-Навигаторе</span>
            <span class="bottomBlock--btn--text_mob">Маршрут в Яндекс-Навигаторе</span>
        </a>
        <a href="http://maps.yandex.ru/?text=55.557295,37.558890" target="_blank" class="bottomBlock--btn bottomBlock--btn_yaK">Смотреть на Яндекс-Картах</a>
        <a href="https://maps.google.com/?daddr=55.557295,37.558890" target="_blank" class="bottomBlock--btn bottomBlock--btn_G">Смотреть на Google-Картах</a>
        <a href="http://etalonsad.ru" target="_blank" class="bottomBlock--btn bottomBlock--btn_N">
            <span class="bottomBlock--btn--text">Официальный сайт ЖК «Эталон-Сити»</span>
            <span class="bottomBlock--btn--text_mob">Сайт ЖК «Эталон-Сити»</span>
        </a>
    </div>
</div>


{% endblock %}

{% block page_bottom %}
{% endblock %}


