{% set title = "Новости" %}
{% extends "layout.njk" %}

{% block content %}
<div class="news-detail">
  <div class="news-detail__wrp">
    <div class="news-detail__head">
      <div class="news-detail__date">09 января 2018</div>
      <a href="news.html" class="news-detail__back">
        <div class="news-detail__back-arrow"></div>
        <span>Вернуться</span>
      </a>
    </div>
    <div class="news-detail__content">
      <h1>Дополнительная скидка 3% только в январе!</h1>
      <p>Только в январе Группа «Эталон» дарит дополнительную скидку 3%! Купите квартиру в ЖК «Летний сад» выше 20 этажа с максимальной выгодой и оцените все преимущества жизни на высоких этажах: тишину, свежесть воздуха и захватывающие виды на город.</p>
      <p>Хотите узнать об акции больше? Звоните!</p>

      <a href="filters.html" class="news-detail__btn">Выбрать квартиру</a>
    </div>
  </div>
  <div><div class="news-detail__img" style="background-image: url('img/news_detail.jpg')"></div></div>
</div>
{% include "includes/blocks/btn-call.njk" %}
{% endblock %}

{% block page_bottom %}
{# <script src="js/script_for_this_page.js"></script> #}
{% endblock %}