{% set title = "Новости" %}
{% extends "layout.njk" %}

{% block content %}
<div class="news-head">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__item">Главная</a>
            <a href="#" class="breadcrumbs__item">Информация</a>
            <a href="news.html" class="breadcrumbs__item breadcrumbs__item_active">Новости</a>
        </div>
        <div class="news-head__wrp">
            <div class="news-head__title">Новости</div>
            <div class="news-head__year">
                <select>
                    <option value="/about/news/year-2018/">2018 год</option>
                    <option value="/about/news/year-2017/">2017 год</option>
                    <option value="/about/news/year-2016/">2016 год</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="news">
  <div class="news__items">
      <div class="news__item">
        <div class="news__date">30 сентября 2016</div>
        <div class="news__content">
          <a href="news-detail.html" class="news__title">Ипотека со ставкой 6%? Реально с круппой «Эталон»!</a>
          <a href="news-detail.html" class="news__link">Подробнее</a>
        </div>
      </div>
      <div class="news__item">
        <div class="news__date">09 января 2018</div>
        <div class="news__content">
          <a href="news-detail-2.html" class="news__title">Берите выше! Дополнительная скидка 3%. Только в январе!</a>
          <a href="news-detail-2.html" class="news__link">Подробнее</a>
        </div>
      </div>
      <div class="news__item">
        <div class="news__date">24 января 2018</div>
        <div class="news__content">
          <a href="news-detail.html" class="news__title">Бесплатная регистрация договоров с группой «Эталон»!</a>
          <p>Решили сделать себе и своим близким подарок и купить квартиру до Нового года? Группа «Эталон» делает его еще более ценным.</p>
          <a href="news-detail.html" class="news__link">Подробнее</a>
        </div>
      </div>
      <div class="news__item">
        <div class="news__date">19 декабря 2017</div>
        <div class="news__content">
          <a href="news-detail-2.html" class="news__title">Апартаменты в ипотеку от Сбербанка!</a>
          <p>Уважаемые клиенты, с радостью сообщаем вам, что теперь апартаменты в ЖК «Летний сад» вы сможете купить в ипотеку.</p>
          <a href="news-detail-2.html" class="news__link">Подробнее</a>
        </div>
      </div>
  </div>

  <div class="Pager">
    <a href="#" class="Pager_item Pager_item-prev"></a>
    <a href="#" class="Pager_item Pager_item-active">1</a>
    <a href="#" class="Pager_item">2</a>
    <a href="#" class="Pager_item">3</a>
    <a href="#" class="Pager_item Pager_item-next"></a>
  </div>
</div>

{% include "includes/blocks/btn-call.njk" %}
{% endblock %}


{% block page_bottom %}
<script src="js/news.js"></script>
{% endblock %}