{% set title = "Паркинг" %}
{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
    <section class="page-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Как купить</a>
                <a href="mortgage.html" class="breadcrumbs__item breadcrumbs__item_active">Паркинг</a>
            </div>
            <div class="sub-menu">
                <a href="#" class="sub-menu__item" data-sidebar-toggle="parking">Заявка на паркинг</a>
                <a href="/parking-inner.html" class="sub-menu__item">Онлайн-оплата паркинга</a>
            </div>
            <h1 class="title-page">Паркинг</h1>
        </div>
    </section>
    <div class="parking">
        <section class="page__section">
            <div class="container">
                <div class="parking-section">
                    <div class="parking-section__block">
                        <div class="parking__tlt">Условия покупки</div>
                        <div class="parking__descr">ПОДЗЕМНОГО ПАРКИНГА В КОРПУСАХ 1,2,3, ВГК:</div>
                        <ul class="parking-list list">
                            <li class="parking-list__item"><strong>Рассрочка</strong> до декабря 2023 г. с остаточным платежом</li>
                            <li class="parking-list__item"><strong>Первый взнос 0%</strong></li>
                            <li class="parking-list__item"><strong>Минимальная стоимость</strong> паркинга от 1.16 млн. рублей*</li>
                            <li class="parking-list__item"><strong>Скидка</strong> на паркинг 50 000 рублей</li>
                        </ul>
                        <p class="parking__note">*Резерв не фиксирует стоимость и условия оплаты<br>
                            *Цена действительна при 100% оплате<br>
                            *Цена дана с учетом скидок</p>
                    </div>
                    <div class="parking-section__block">
                        <div class="parking__img" style="background-image: url('/img/parking/parking1.png');"></div>
                        <a href="#" class="button _default parking__btn" data-sidebar-toggle="parking"><span>Оставить заявку на паркинг</span></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="page__section">
            <div class="container">
                <div class="parking-banner">
                    <div class="parking-banner__tlt">СОБСТВЕННЫЙ ПАРКИНГ ВСЕГО ЗА 9000 РУБ. В МЕСЯЦ</div>
                    <div class="parking-benefits">
                        <div class="parking-benefits__item">
                            <div class="parking-benefits__val">0<span class="parking-benefits__percent">%</span></div>
                            <div class="parking-benefits__key">минимальный первый взнос</div>
                        </div>
                        <div class="parking-benefits__item">
                            <div class="parking-benefits__val">0<span class="parking-benefits__percent">%</span></div>
                            <div class="parking-benefits__key">рассрочка до 2023 года</div>
                        </div>
                        <div class="parking-benefits__item">
                            <div class="parking-benefits__val">9000</div>
                            <div class="parking-benefits__key">ежемесячный платёж</div>
                        </div>
                    </div>
                    <footer class="parking-banner__footer">Более подробную информацию можно узнать по телефону: <a href="tel:+74951252995" class="parking-banner__link">+7 495 125-29-95</a></footer>
                </div>
            </div>
        </section>
        <section class="page__section">
            <div class="container">
                <form id="parkingFilter" class="parking-filter" autocomplete="off" method="GET" target="/ajax/parking.json">
                    <div class="parking-sorter">
                        <div class="parking-sorter__item">
                            <button type="button" class="Sorter_lbl" data-val="section">№</button>
                        </div>
                        <div class="parking-sorter__item">
                            <button type="button" class="Sorter_lbl" data-val="bld">
                                Корпус
                            </button>
                        </div>
                        <div class="parking-sorter__item">
                            <button type="button" class="Sorter_lbl" data-val="floor">
                                Этаж
                            </button>
                        </div>
                        <div class="parking-sorter__item">
                            <button type="button" class="Sorter_lbl" data-val="price">Стоимость</button>
                            <input type="hidden" form="parkingFilter" name="sort" value="">
                            <input type="hidden" form="parkingFilter" name="sortdir" value="">
                        </div>
                        <div class="parking-sorter__item">
                            <button type="button" class="Sorter_lbl">Планировка</button>
                        </div>
                    </div>

                    <div class="parking-preloader">
                        <div class="parking-preloader__ring">
                            <div></div><div></div>
                        </div>
                    </div>
                    <div id="parkingResult" class="parking-result">

                    </div>
                    <div class="parking-pagination"></div>
                </form>
            </div>
        </section>
    </div>
</div>

<div id="parking" class="page-sidebar__wrapper">
    <div class="page-sidebar__tlt">Заявка на паркинг</div>

    <form data-action="/ajax/form-response.json" method="GET" data-form-type="parking" class="page-form ws-validate" autocomplete="off">
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="parking-name">
                <em class="page-form__placeholder">Имя</em>
            </label>
        </div>
        <div class="page-form__step">
            <div class="page-form__lbl">
                <label>
                    <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="parking-phone">
                    <em class="page-form__placeholder">Телефон</em>
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <div class="page-form__stepTitle">Корпус</div>
            <div class="parkingCheckboxes">
                <div class="FilterForm_checkboxesRow">
                    {% for bld in [
                        {label: "к1", id: 1, val: "1"},
                        {label: "к2", id: 2, val: "2"},
                        {label: "к3", id: 3, val: "3"},
                        {label: "Башни Токио", id: 4, val: "4"}
                    ] %}
                    <div class="BigCheckbox">
                        <label class="BigCheckbox_label">
                            <input class="BigCheckbox_input" type="checkbox" name="bld[]" data-persist-id="bld_{{bld.val}}" value="{{bld.val}}"><span class="BigCheckbox_view BigCheckbox_view-light">{{bld.label}}</span>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="page-form__step">
            <div class="page-form__lbl">
                <label>
                    <textarea class="page-form__txtarea" data-textarea data-errormessage="Заполните поле" required name="parking-comment"></textarea>
                    <em class="page-form__placeholder">Комментарий</em>
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <input type="submit" value="отправить" class="page-form__sbt button _orange">
        </div>
    </form>
</div>

{% include "includes/blocks/btn-call.njk" %}
{% endblock %}

{% block page_bottom %}
<script src="js/parking.js"></script>
{% endblock %}
