{% set title = "Онлайн-сделка" %}
{% extends "layout.njk" %}
{% block content %}

    <div class="wrapper">
        <section class="gallery-header">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/" class="breadcrumbs__item">Главная</a>
                    <a href="#" class="breadcrumbs__item">Как купить</a>
                    <a href="#" class="breadcrumbs__item breadcrumbs__item_active">Онлайн-сделка</a>
                </div>
                <div class="title-page">Онлайн-сделка</div>
            </div>
        </section>

        <div class="StayHome">
            <section>
                <div  class="container">
                    <div class="StayHomeImg"></div>
                    <div class="StayHomeEnter">
                        <p  class="StayHomeEnter_txt1">Выбрать и купить квартиру в любом объекте Группы «Эталон» можно в онлайн-режиме</p>
                        <p  class="StayHomeEnter_txt2">
                            <a href="#" target="_blank">#оставайтесьдома</a>
                        </p>
                        <div class="StayHomeEnter_docs">
                            <p>Вам понадобятся следующие документы:</p>
                            <ul>
                                <li>Скан или фото паспорта</li>
                                <li>Скан или фото Согласия на обработку персональных данных</li>
                                <li>Скан или фото ИНН</li>
                            </ul>
                            <ul>
                                <li>Скан или фото СНИЛС</li>
                                <li>Нотариальное Согласие супруга/супруги</li>
                                <li>ЭЦП – электронно-цифровая подпись (<a href="#" target="_blank">как оформить ЭЦП для сделки</a>)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="StayHome_colorSection">
                <div  class="container">
                    <div class="StayHomeSteps">
                        <div class="StayHomeSteps_item">
                            <div class="StayHomeSteps_txt">
                                <b>Выбираете квартиру</b> на сайте <a href="#" target="_blank"><b>etaloncity.ru</b></a>, звоните менеджеру по продажам по телефону <b>+7 495 378 8888</b> или оставляете заявку на обратный звонок на сайте.
                            </div>
                        </div>
                        <div class="StayHomeSteps_item">
                            <div class="StayHomeSteps_num">1.</div>
                            <div class="StayHomeSteps_txt">
                                <b>Отправляете сканы или фотографии</b> паспорта, ИНН, СНИЛС и согласия на обработку персональных данных Вашему менеджеру по e-mail.
                            </div>
                        </div>
                        <div class="StayHomeSteps_row">

                            <div class="StayHomeSteps_column">
                                <div class="StayHomeSteps_item">
                                    <div class="StayHomeSteps_txt _tlt">Платное бронирование</div>
                                </div>
                                <div class="StayHomeSteps_item" data-stayhome-item data-stayhome-item-2a>
                                    <div class="StayHomeSteps_num">2.</div>
                                    <div class="StayHomeSteps_txt">
                                        Получаете по e-mail Договор платного бронирования и квитанцию.
                                    </div>
                                </div>
                                <div class="StayHomeSteps_item" data-stayhome-item data-stayhome-item-3a>
                                    <div class="StayHomeSteps_num">3.</div>
                                    <div class="StayHomeSteps_txt">
                                        Оплачиваете платное бронирование в размере 50 000 руб. в онлайн-банке или на сайте проекта.
                                    </div>
                                </div>
                                <div class="StayHomeSteps_item" data-stayhome-item data-stayhome-item-4a>
                                    <div class="StayHomeSteps_num">4.</div>
                                    <div class="StayHomeSteps_txt">
                                        Отправляете Вашему менеджеру подтверждение оплаты. Договор платного бронирования вступает в силу с момента оплаты. <b>Ваша бронь действительна 45 дней.</b>
                                    </div>
                                </div>
                                <div class="StayHomeSteps_item" data-stayhome-item data-stayhome-item-5a>
                                    <div class="StayHomeSteps_num">5.</div>
                                    <div class="StayHomeSteps_txt">
                                        <p>
                                            <b class="StayHomeSteps_txtStep">#1</b>
                                            В течение срока действия договора платного бронирования Вы можете заключить Договор приобретения недвижимости в очном (#сразупослекарантина) или дистанционном режиме.
                                        </p>
                                        <p>
                                            <b class="StayHomeSteps_txtStep">#2</b>
                                            Если Ваши планы изменились, до истечения срока действия договора платного бронирования достаточно уведомить об этом Вашего менеджера. По истечению срока действия договора квартира автоматически вернется в список предложений на сайте.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="StayHomeSteps_column">
                                <div class="StayHomeSteps_item">
                                    <div class="StayHomeSteps_txt _tlt">Покупка</div>
                                </div>
                                <div class="StayHomeSteps_item" data-stayhome-item data-stayhome-item-2b>
                                    <div class="StayHomeSteps_num">2.</div>
                                    <div class="StayHomeSteps_txt">
                                        Получаете по e-mail Договор приобретения недвижимости.
                                    </div>
                                </div>
                                <div class="StayHomeSteps_item" data-stayhome-item data-stayhome-item-3b>
                                    <div class="StayHomeSteps_num">3.</div>
                                    <div class="StayHomeSteps_txt">
                                        Дистанционно открываете аккредитив в банке для оплаты Договора приобретения недвижимости или первого взноса по Договору.
                                    </div>
                                </div>
                                <div class="StayHomeSteps_item" data-stayhome-item data-stayhome-item-4b>
                                    <div class="StayHomeSteps_num">4.</div>
                                    <div class="StayHomeSteps_txt">
                                        Отправляете Вашему менеджеру подтверждение об открытии аккредитива.
                                    </div>
                                </div>
                                <div class="StayHomeSteps_item" data-stayhome-item data-stayhome-item-5b>
                                    <div class="StayHomeSteps_num">5.</div>
                                    <div class="StayHomeSteps_txt">
                                        Ваш менеджер назначает время дистанционного подписания Договора и подачи документов в Росреестр. Аккредитив будет раскрыт дистанционно сразу после регистрации Договора, и Вы получите уведомление об электронной регистрации Вашего Договора. Оригинальные копии документов позже может доставить наш курьер.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div  class="container">
                    <div class="StayHome_tag">
                        <a href="#" target="_blank">#ЛучшеДомасЭталоном</a>
                    </div>
                </div>
            </section>

        </div>

    </div>

    {% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}

    <script src="js/stayhome.js"></script>

{% endblock %}