{% set title = "О застройщике" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header _large">
        <div class="container">
            <h1 class="page-header__tlt">
                Технологии
                <span>для безопасности и комфорта</span>
            </h1>
        </div>
    </section>

    <div class="technologies">
        <section class="page__section">
            <div class="container">
                <div class="page-chess">
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/technologies/01_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/technologies/01_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>BIM-технологии</h2>

                            <p>На&nbsp;настоящий момент BIM, технология информационного моделирования зданий, представляет собой наиболее надежный способ гарантировать точное соблюдение сроков строительства и&nbsp;качество объекта. Она состоит в&nbsp;разработке полной компьютерной модели не&nbsp;только всего комплекса, но&nbsp;и&nbsp;тщательной информационной проработке каждого этапа строительства.</p>

                            <p>BIM-технология&nbsp;&mdash; это чертеж эпохи виртуальной реальности, благодаря которому мы&nbsp;можем просчитать все этапы ремонта на&nbsp;годы вперед и&nbsp;всегда держать свое слово перед клиентами.</p>

                            <p>В&nbsp;частности благодаря BIM, Группа &laquo;Эталон&raquo; никогда не&nbsp;допускала просрочек при сдаче жилых комплексов.</p>
                        </div>
                    </div>
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/technologies/02_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/technologies/02_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>Материалы</h2>

                            <p>При строительстве микрорайона используются только экологически безопасные материалы, превосходящие по&nbsp;своим ключевым показателям установленные законом нормы.</p>

                            <p>Бетон и&nbsp;кирпич ведущих российских производителей, негорючий утеплитель&nbsp;&mdash; все, что мы&nbsp;делаем, мы&nbsp;делаем с&nbsp;заботой о&nbsp;вас и&nbsp;окружающей среде.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page__section _facade">
            <div class="container">
                <div class="page-chess">
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <h2>Фасады</h2>
                        </div>
                        <div class="page-chess__col _pc">
                            <p>Навесные вентилируемые фасады всех корпусов &laquo;Эталон-Сити&raquo; отвечают трем важным условиям: красоте, экологичности и&nbsp;экономичности.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tech-facade">
                <div class="tech-facade__header">
                    <div class="container">
                        <div class="tech-facade__col">
                            <picture class="tech-facade__picture">
                                <source srcset="/img/technologies/fasad_mobile.png" media="(max-width: 768px)"></source>
                                <img src="/img/technologies/fasad_desktop.png" alt="" />
                            </picture>
                        </div>
                        <div class="tech-facade__col">
                            <div class="tech-facade__item _mobile">
                                <p>Навесные вентилируемые фасады всех корпусов &laquo;Эталон-Сити&raquo; отвечают трем важным условиям: красоте, экологичности и&nbsp;экономичности.</p>
                            </div>
                            <div class="tech-facade__item _pc">
                                <h3 class="tech-facade__tlt">Экологичность</h3>
                                <p>Фасады выполнены исключительно из&nbsp;экологически чистых материалов, не&nbsp;несущих никакого вреда здоровью людей и&nbsp;окружающей среде.</p>
                            </div>
                            <div class="tech-facade__item _pc">
                                <h3 class="tech-facade__tlt">Красота</h3>
                                <p>Яркие и&nbsp;узнаваемые образы прекраснейших городов мира, огромное панно &laquo;Большая волна в&nbsp;Каганаве&raquo;, объединившая 6&nbsp;небоскребов Башен &laquo;Токио&raquo;&nbsp;&mdash; все это призвано подарить жителям комплекса &laquo;Эталон-Сити&raquo; не&nbsp;только наслаждение от&nbsp;каждой минуты, проведенной дома, но&nbsp;и&nbsp;возможность в&nbsp;любую минуту отправиться в&nbsp;кругосветное путешествие рядом с&nbsp;домом.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tech-facade__footer">
                    <div class="container">
                        <div class="tech-facade__item _mobile">
                            <h3 class="tech-facade__tlt">Экологичность</h3>
                            <p>Фасады выполнены исключительно из&nbsp;экологически чистых материалов, не&nbsp;несущих никакого вреда здоровью людей и&nbsp;окружающей среде.</p>
                        </div>
                        <div class="tech-facade__item _mobile">
                            <h3 class="tech-facade__tlt">Красота</h3>
                            <p>Яркие и&nbsp;узнаваемые образы прекраснейших городов мира, огромное панно &laquo;Большая волна в&nbsp;Каганаве&raquo;, объединившая 6&nbsp;небоскребов Башен &laquo;Токио&raquo;&nbsp;&mdash; все это призвано подарить жителям комплекса &laquo;Эталон-Сити&raquo; не&nbsp;только наслаждение от&nbsp;каждой минуты, проведенной дома, но&nbsp;и&nbsp;возможность в&nbsp;любую минуту отправиться в&nbsp;кругосветное путешествие рядом с&nbsp;домом.</p>
                        </div>
                        <div class="tech-facade__item">
                            <h3 class="tech-facade__tlt">Экономичность и теплосбережение</h3>
                            <p>Технология монолитно-кирпичного строительства с&nbsp;навесными вентилируемыми фасадами реализуется следующим образом. К&nbsp;несущей поверхности стены или к&nbsp;монолитному перекрытию здания прикреплен металлокаркас, на&nbsp;который крепятся облицовочные плиты. Между наружной стеной и&nbsp;плитой остается небольшое пространство для циркуляции воздуха. Кроме того, здесь используется жесткий минераловатный утеплитель. Такая система позволяет избежать образования &laquo;точек росы&raquo;, столь частых в&nbsp;других домах и&nbsp;обеспечивает теплоизоляцию, что позволяет уменьшить расходы на&nbsp;обогрев дома.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page__section">
            <div class="container">
                <div class="page-chess">
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/technologies/03_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/technologies/03_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>Лифты Otis</h2>

                            <p>Лифты Otis&nbsp;&mdash; это современное, скоростное и&nbsp;изящное решение для домов комфорт-класса. Они развивают скорость 1,6&nbsp;м/с, имеют режим перевозки пожарных подразделений и&nbsp;возможность перевозки лиц с&nbsp;ограниченными двигательными возможностями на&nbsp;креслах-колясках. Они будут одинаково удобны для всех жителей микрорайона.</p>
                        </div>
                    </div>
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/technologies/04_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/technologies/04_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>Система отопления</h2>

                            <p>Система теплоснабжения реализована таким образом, чтобы оптимально сочетать эффективность, экономичность и&nbsp;эстетику. Трубы проложены под стяжкой пола и&nbsp;не&nbsp;занимают место в&nbsp;квартире.

                            <p>Температурный режим батарей вы&nbsp;сможете регулировать самостоятельно в&nbsp;зависимости от&nbsp;погодных условий.</p>
                        </div>
                    </div>
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/technologies/05_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/technologies/05_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>Система водоснабжения</h2>

                            <p>Жители старых домов знают, что разница давления в&nbsp;трубах ГВС и&nbsp;ХВС может быстро приводить к&nbsp;выходу сантехники из&nbsp;строя. В&nbsp;&laquo;Эталон-Сити&raquo; реализовано двухзонное водоснабжение с&nbsp;насосами Grundfos и&nbsp;стабилизаторами давления. Такая система позволяет долго сохранить сантехническое оборудование исправным.</p>
                        </div>
                    </div>
                    <div class="page-chess__item">
                        <div class="page-chess__col">
                            <picture class="page-chess__picture">
                                <source srcset="/img/technologies/06_mobile.jpg" media="(max-width: 768px)"></source>
                                <img src="/img/technologies/06_desktop.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="page-chess__col">
                            <h2>Система вентиляции</h2>

                            <p>Когда за&nbsp;окном простираются 1610&nbsp;ГА смешанного леса, хочется, чтобы все помещения дома были наполнены свежим воздухом. Установленная во&nbsp;всех домах &laquo;Эталон-Сити&raquo; система естественной и&nbsp;вытяжной вентиляции обеспечивает постоянное проветривание всех корпусов.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}
{% block page_bottom %}

{% endblock %}
