@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Thin.eot');
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Thin.woff') format('woff'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Light.eot');
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Light.woff') format('woff'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.eot');
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.woff') format('woff'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.eot');
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.woff') format('woff'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.eot');
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.woff') format('woff'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Black.eot');
    src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Black.woff') format('woff'),
    url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

