.hidden-xs {
    @media (--xs) {
        display: none !important;
    }
}

.hidden-sm {
    @media (--sm) {
        display: none !important;
    }
}

.hidden-md {
    @media (--md) {
        display: none !important;
    }
}

.hidden-lg {
    @media (--lg) {
        display: none !important;
    }
}

.hidden-xl {
    @media (--xl) {
        display: none !important;
    }
}

.hidden-xxl {
    @media (--xxl) {
        display: none !important;
    }
}