* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}
body {
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    color:#000000;
}

img {
    max-width: 100%;
}

a {
    color:#19191a;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

strong,
b {
    font-weight: 600;
}

.wrapper {
    margin-top: 70px;
}


.header-container {
    display: flex;
    align-items: stretch;
    padding: 0 55px;
    width: 100%;

    @media(--mdMinus) {
        padding: 0 40px;
    }
    @media(--sm) {
        padding: 0 20px;
    }
    @media(--xs) {
        padding: 0 20px;
    }
}


.container {

    max-width: 1170px;
    margin: auto;

    @media(--lgMinus) {
        max-width: 100%;
        padding: 0 55px;
    }

    @media(--mdMinus) {
        max-width: 100%;
        padding: 0 40px;
        margin: auto;
    }

    @media(--sm) {
        max-width: 100%;
        padding: 0 20px;
    }

    @media(--xs) {
        max-width: 100%;
        padding: 0 20px;
    }

    &_index {
        @media(--mdMinus) {
            max-width:100%;
            width:100%;
            padding:0;
        }
    }

}



.container-full {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media (--mdMinus) {
    .container-mobile {
        padding: 0 40px;
    }
}

@media (--xs) {
    .container-mobile {
        padding: 0 20px;
    }
}

.col-6 {
    width: 50%;
    /*position: relative;*/
}

.col-7 {
    width: 58.3333333%;
    /*position: relative;*/
}

.col-5 {
    width: 41.6666667%;
    /*position: relative;*/
}

.main-section__img-wrap {
    position: relative;
    display: flex;
}

.main-section__img {
    height: 587px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}

.main-section__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
}

.main-section__img_sec6 {
    height: 390px;
}

.main-section__img_sec6_seconadary {
    margin-top: 30px;
}

.main-section__img_sub1-left {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 587px;
    width: 100%;
    z-index: 9;
    opacity: 0.1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section__img_sub2-left {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 587px;
    width: 100%;
    z-index: 8;
    opacity: 0.2;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section__img_sub1-right {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 587px;
    width: 100%;
    z-index: 8;
    opacity: 0.1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section__img_sub2-right {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 587px;
    width: 100%;
    z-index: 9;
    opacity: 0.2;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section__img_sec6-sub1-left {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 8;
    height: 390px;
    width: 100%;
    opacity: 0.2;
}

.main-section__img_sec6-sub2-left {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9;
    height: 390px;
    width: 100%;
    opacity: 0.1;
}

.main-section__img_sec6-sub1-right {
    content: '';
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 8;
    height: 390px;
    width: calc(100% - 10px);
    opacity: 0.2;
}

.main-section__img_sec6-sub2-right {
    content: '';
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 9;
    height: 390px;
    width: calc(100% - 20px);
    opacity: 0.1;
}

.main-section__content {
    position: relative;
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
}


.main-section__title {
    font-family: 'BodoniBold';
    font-size: 60px;
    line-height: 60px;
    color: #19191a;
    position: relative;
    z-index: 20;
}

.main-content-img__text {
    padding: 50px 35px;
    font-size: 17px;
    line-height: 30px;
    font-family: 'Proxima Nova Light';
    color: #ffffff;
    opacity: 0.5;
    position: relative;
    z-index: 11;
}



.btn-call-inner {
    text-align: center;
    position: relative;
    padding: 40px 0;
    &-gray {
        background: #F6F6F6;
    }
}

.btn-call-inner-gray:after {
    background: #F6F6F6 !important;
}

.btn-call-inner:before {
    content: '';
    background: #e5af2d;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 40;
}

.btn-call {
    background: #060e23;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-size: 17px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    height: 50px;
    width: 206px;
    position: relative;
    z-index: 50;
}

.btn-call:before {
    content: '';
    background: #9a330c;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease;
    z-index: -1;
}

.btn-call:hover,
.btn-call:active {
    color: #ffffff;
}

.btn-call:hover::before,
.btn-call:active::before {
    height: 100%;
}

.btn-call-inner:after {
    content: '';
    background: transparent;
    width: 246px;
    height: 50px;
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -123px;
    top: 50%;
    margin-top: -25px;
    z-index: 41;
}

.btn-call:hover {
    cursor: pointer;
}

.footer {
    background: #060e23;
    padding: 49px 0px 0;
}

.footer-menu {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 55px 40px;
    border-bottom: 1px solid #403b48;

    @media screen and (--mdMinus) {
        flex-wrap: wrap;
    }

    @media(--sm) {
        padding: 0;
    }
    @media(--xs) {
        padding: 0;
    }
}

.footer-menu-col-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 55%;

    &:last-child {
        justify-content: center;
        width: 45%;

        .footer-menu-col {
            &:first-child {
                margin: 0 auto;
            }
        }
    }

    &:first-child {
        flex-wrap: wrap;
    }

    @media screen and (--lgMinus) {
        width: 100%;
        flex-wrap: nowrap;

        &:last-child {
            width: 100%;
            flex-direction: column;

            .footer-menu-col {
                &:first-child {
                    margin: 0;
                    flex-grow: 1;
                }
            }
        }

        &:first-child {
            margin-bottom: 20px;
        }
    }
}

.footer-menu-col {
    margin-right: 20px;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 170px;

    &_subscribe-wrap {
         margin-right: 0;
         display:flex;
         flex-wrap: wrap;
         max-width:215px;
        @media(--lgMinus) {
            flex-basis:100%;
            max-width:100%;
            width:100%;
            flex-direction:column;
            align-items:center;
        }
    }

    @media screen and (--lgMinus) {
        &:last-child {
            margin-right: 0;
        }
    }

    &__subInner {
         margin-left:auto;
        @media(--lgMinus) {
            margin-left:0;
        }
    }
}

.footer-menu-link {
    color: #ffffff;
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: block;
    text-decoration: none;
    padding-bottom: 15px;
    /*-webkit-transition: color 0.2s ease-in-out;*/
    /*-moz-transition: color 0.2s ease-in-out;*/
    /*-ms-transition: color 0.2s ease-in-out;*/
    /*-o-transition: color 0.2s ease-in-out;*/
    /*transition: color 0.2s ease-in-out;*/
    max-width: 250px;
}

.footer-menu-sublink {
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
    color: #97969a;
    display: block;
    text-decoration: none;
    padding-bottom: 5px;
    /*-webkit-transition: color 0.2s ease-in-out;*/
    /*-moz-transition: color 0.2s ease-in-out;*/
    /*-ms-transition: color 0.2s ease-in-out;*/
    /*-o-transition: color 0.2s ease-in-out;*/
    /*transition: color 0.2s ease-in-out;*/
}

.footer-menu-link:hover,
.footer-menu-sublink:hover,
.footer-menu-other-link:hover {
    color: #e4ae3d;
}

.footer-menu-other-link {
    font-family: 'PFDinDisplayPro';
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 20px;
    display: block;
    text-decoration: none;
    /*-webkit-transition: color 0.2s ease-in-out;*/
    /*-moz-transition: color 0.2s ease-in-out;*/
    /*-ms-transition: color 0.2s ease-in-out;*/
    /*-o-transition: color 0.2s ease-in-out;*/
    /*transition: color 0.2s ease-in-out;*/
}


.footer-copyright {
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-size: 15px;
    opacity: 1;
    text-transform: uppercase;
    color: #ffffff;
    @media(--lgMinus) {
        text-align:center;
    }
}

.footer-text {
    opacity: 0.5;
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-size: 12px;
    margin-top:8px;
}

.footer-info {
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    opacity: 1;
}

.footer__phone {
    /*margin-top: 65px;*/
    transition: transform 0.4s ease;
    transition-delay: 0.7s;
}

.footer__phone a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'PFDinDisplayPro';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.footer__phone a span {
    padding-left: 5px;
}

.footer-subscribe {
    margin-bottom: 7px;
    margin-top: 10px;
}

.footer-subscribe__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 27px;
    font-family: 'PFDinDisplayPro';
    font-weight: 500;
    color: #ffffff;
    transition: opacity 0.4s ease;
}


.full-menu-popup {
    position: fixed;
    z-index: 100007;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    margin: 0;
    padding: 0 55px;
    display: none;
    transition: top 0.4s, visibility 0.4s;
    overflow-y: auto;
    visibility: hidden;

    @media(--lgMinus) {
        background: #060e23;
        height: 100%;
    }

    @media(--sm) {
        padding: 0 20px;
    }

    @media(--xs) {
        padding: 0 20px;
    }

    &_open {
        z-index: 100008;
        opacity: 1;
        visibility: visible;
    }

    & .fancybox-close-small {
        left: 63px;
        top: 23px;
        width: 19px;
        height: 18px;
        outline: none;

        @media(--lgMinus) {
            left: unset;
            right: 40px;
            top:25px;
        }

        @media(--sm) {
            top:20px;
            right: 15px;
        }

        @media(--xs) {
            top:20px;
            right: 15px;
        }

        &:after {
            content: '';
            background: url("../img/close-menu.svg") no-repeat;
            width: 19px;
            height: 18px;
            outline: none;

            @media(--lgMinus) {
                background: url("../img/close-menu-white.svg");
            }
        }
    }
}


.footer-menu-other-link-wrap {
    flex-grow: 1;
}

.footer-subscribe__form {
    display: flex;
    align-items: flex-end;
    display: none;
    margin-top: 30px;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 230px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 10px 0;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #ffffff;
    font-size: 16px;
    font-family: 'PFDinDisplayPro';
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #696969;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    user-select: none;
    font-family: 'PFDinDisplayPro';
    font-size: 14px;
    color: #a7a6a8;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}


/* Yoshiko */

.input__field--yoshiko {
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    transition: background-color 0.25s, border-color 0.25s;
}

.input__label--yoshiko {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 100%;
    pointer-events: none;
    overflow: hidden;
    padding: 0;
    transform: translate3d(0, 30px, 0);
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko {
    color: #8B8C8B;
    padding: 0.25em 0;
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko::after {
    content: attr(data-content);
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 14px;
}

.input__field--yoshiko:focus+.input__label--yoshiko,
.input--filled .input__label--yoshiko {
    transform: translate3d(0, 0, 0);
}

.input__field--yoshiko:focus+.input__label--yoshiko .input__label-content--yoshiko,
.input--filled .input__label-content--yoshiko {
    transform: translate3d(0, 100%, 0);
}

.input__field--yoshiko:focus+.input__field--yoshiko,
.input--filled .input__field--yoshiko {
    background-color: transparent;
}

.footer-subscribe__submit {
    border: none;
    outline: none;
    width: 30px;
    height: 15px;
    margin-bottom: 8px;
    flex-shrink: 0;
    background: url("../img/arrow_more.svg") no-repeat center center;
    transition: all 0.2s;
    margin-left: 10px;
}


.full-menu-other-link-wrap {
    display: none;
}

.full-menu-other-link span {
    position: relative;
}

.full-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /*
    -webkit-animation-name: overlay-bg;
    animation-name: overlay-bg;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    */
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.4);
    transition: all .4s ease;
}

.full-menu-overlay.active {
    visibility: visible;
    opacity: 1;
}

@keyframes overlay-bg {
    from {
        background: transparent
    }
    to {
        background: rgba(0, 0, 0, 0.4)
    }
}

.footer-subscribe__input:focus~.footer-subscribe__label,
.footer-subscribe__input:valid~.footer-subscribe__label {
    font-size: 12px;
    color: #a7a6a8;
    top: -20px;
    transition: all 0.4s cubic-bezier(0.2, 0, 0.03, 1);
}

.styled-input {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}


.footer-subscribe__label {
    color: #a7a6a8;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
    font-size: 16px;
    font-family: 'PFDinDisplayPro';
}


.footer-subscribe__input:focus {
    outline: 0;
}

.footer-subscribe__input {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 10px;
    /*width: 230px;*/
    border: none;
    border-radius: 0;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    -webkit-appearance: none;

}

.not-empty {
    font-size: 12px;
    color: #a7a6a8;
    top: -20px;
    transition: all 0.4s cubic-bezier(0.2, 0, 0.03, 1);
}

.footer-subscribe__link_hidden {
    opacity: 0;
    visibility: hidden;
}

.footer__phone_translate {
    transform: translateY(25px);
}

.modal-banner {
    padding: 0;
    width: 960px;
    margin: 70px 0 0;
}

.modal-banner-inner {
    background: #060E23;
    display: flex;
    flex-wrap: wrap;
    height: 525px;
    overflow: hidden;
}

@media (--mdMinus) {
    .modal-banner {
        width: 688px;
        max-width: 100%;
    }

    .modal-banner-inner {
        height: 378px;
    }
}

@media (--smMinus) {
    .modal-banner {
        width: 100%;
        max-width: 485px;
    }

    .modal-banner-inner {
        height: 265px;
    }
}

@media (--xs) {
    .modal-banner {
        /*width: calc(100% - 40px);*/
        max-width: 283px;
        width: 100%;
    }

    .modal-banner-inner {
        height: auto;
    }
}

.modal-banner__bg {
    background: center no-repeat;
    background-size: cover;
    /*width:378px;*/
    width: 40%;
    height: 100%;
}

@media (--mdMinus) {
    .modal-banner__bg {
        width: 40%;
        background-size: contain;
    }
}

@media (--xs) {
    .modal-banner__bg {
        width: 100%;
        height: 136px;
        background: url("../img/banners/banner-bg-mobile.jpg") no-repeat center bottom;
        background-size: cover;
    }
}

.modal-banner__content {
    padding: 80px 80px 80px 70px;
    /*width: 582px;*/
    width: 60%;
}

@media (--mdMinus) {
    .modal-banner__content {
        width: 60%;
        padding: 50px 50px 50px 40px;
    }
}

@media (--smMinus) {
    .modal-banner__content {
        padding: 30px 30px 30px 20px;
    }
}

@media (--xs) {
    .modal-banner__content {
        padding: 40px 40px 50px 30px;
        width: 100%;
    }
}

.modal-banner__title {
    font-family: 'GeometriaHeavy';
    font-size: 55px;
    color: #f7941e;
    text-align: center;
}

@media (--mdMinus) {
    .modal-banner__title {
        font-size: 40px;
    }
}

@media (--smMinus) {
    .modal-banner__title {
        font-size: 25px;
    }
}

@media (--xs) {
    .modal-banner__title {
        font-size: 25px;
    }
}

.modal-banner__text {
    font-family: 'GeometriaLight';
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

@media (--mdMinus) {
    .modal-banner__text {
        font-size: 28px;
        margin-top: 15px;
    }
}

@media (--smMinus) {
    .modal-banner__text {
        font-size: 20px;
        margin-top: 15px;
    }
}

@media (--xs) {
    .modal-banner__text {
        font-size: 20px;
    }
}

.modal-banner__subtext {
    font-family: 'GeometriaMedium';
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

@media (--mdMinus) {
    .modal-banner__subtext {
        margin-top: 15px;
    }
}

@media (--xs) {
    .modal-banner__subtext {
        font-size: 17px;
        margin-top: 25px;
    }
}

.modal-banner__btn {
    text-decoration: none;
    border: 1px solid #f7941e;
    background: transparent;
    color: #f7941e;
    text-transform: uppercase;
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    font-size: 14px;
    outline: none;
    width: 240px;
    padding: 15px 0;
    text-align: center;
    transition: background 0.4s ease, color 0.4s ease;
    height: 50px;
    margin: 60px auto 0;
    display: block;
}

.modal-banner__btn:hover {
    cursor: pointer;
    color: #ffffff;
    background: #f7941e;
}

@media (--mdMinus) {
    .modal-banner__btn {
        margin: 55px auto 0;
    }
}

@media (--mdMinus) {
    .modal-banner__btn {
        margin: 20px auto 0;
    }
}

@media (--xs) {
    .modal-banner__btn {
        max-width: 240px;
        width: 100%;
        margin-top: 25px;
    }
}

.modal-banner__close {
    background: transparent;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border: none;
    transition: opacity 0.4s ease;
}

.modal-banner__close:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media (--smMinus) {
    .modal-banner__close {
        padding: 10px;
    }
}

@media (--xs) {
    .modal-banner__close {
        /*display: none;*/
    }
}

body.modal-banner-scrolling {
    overflow: auto;
}

body.overflow_hidden {
    overflow: hidden;
}

.fancybox-container{
    top: 70px;
    height: calc(100% - 70px);
}

.fancybox-bg {
    background: #000000;
}

.fancybox-is-open .fancybox-bg {
    opacity: 0.6;
}

.title-page {
    font-family: 'PFDinDisplayPro';
    font-weight: 500;
    font-size: 40px;
    position: relative;
    margin-top: 20px;
    display: inline-block;
}


@media (--smMinus) {
    .title-page {
        display: block;
        margin-top: 0;
        font-size: 29px;
    }
}

.title-page:after {
    content: '';
    background: #e5af2d;
    width: 80px;
    height: 1px;
    position: absolute;
    right:-100px;
    bottom:10px;
}


@media (--smMinus) {
    .title-page:after {
        content: '';
        background: #e5af2d;
        width: 80px;
        height: 1px;
        position: static;
        display: block;
        margin-top: 20px;
    }
}


.close-gallery {
    position: absolute;
    top:35px;
    right:55px;
    background: transparent;
    outline: none;
    border:none;
    z-index: 100;
    width: 32px;
    height: 16px;
}

@media (--mdMinus) {
    .close-gallery {
        right:40px;
    }
}

@media (--smMinus) {
    .close-gallery {
        right:20px;
    }
}

.close-gallery:hover {
    cursor: pointer;
}


p {
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 17px;
    color:#19191a;
    line-height: 1.5;
    margin: 5px 0;
}

.footer-subscribe__submit {
    border: none;
    outline: none;
    width: 30px;
    height: 15px;
    margin-bottom: 8px;
    flex-shrink: 0;
    background: url("../img/arrow_more.svg") no-repeat center center;
    transition: all 0.2s;
    margin-left: 10px;
}

.footer-subscribe__submit:hover {
    cursor: pointer;
    transform: translateX(10px);
}

.footer-subscribe__reset {
    border: none;
    outline: none;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #ffffff url("../img/close-popup-dark.svg") no-repeat center center;
    transition: background 0.2s;
    margin-left: 10px;
    display: none;
}

@media (--smMinus) {
    .footer-subscribe__reset {
        display: block;
    }
}

.footer-subscribe__form .Form_hint-error {
    display: none !important;
}

.footer-subscribe__input.error {
    border-bottom:2px solid #ff0000;
}


.footer-subscribe__text {
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.estate-container__table {
    width: 100%;
    border-spacing: 0;
    margin: 20px 0 40px;

    & thead tr {
        background: #ffffff;
    }

    & thead td {
        font-size: 13px;
        opacity: 0.5;
        &:nth-child(1) {
            width: 15%;
            @media(--sm) {
                width: 15%;
            }
            @media(--xs) {
                width: 15%;
            }
        }
        &:nth-child(2) {
            width: 13%;
            @media(--sm) {
                width: 15%;
            }
            @media(--xs) {
                width: 15%;
            }
        }
        &:nth-child(3) {
            width: 14%;
        }

        &:nth-child(4) {
            width: 18%;
        }

        &:nth-child(5) {
            width: 20%;
            @media(--sm) {
                width: 25%;
            }
            @media(--xs) {
                width: 25%;
            }
        }


    }

    & tr {
        background: #f4f4f5;
        padding: 15px 0;

        &:nth-child(2n) {
             background: #ffffff;
        }
    }

    & td {
        padding: 15px 0px;
        font-size: 15px;
        color: #2a2633;
        font-family: 'PFDinDisplayPro';
        font-weight: 400;
        @media(--sm) {
            font-size: 12px;
        }
        @media(--xs) {
            font-size: 12px;
        }
        &:first-child {
            padding: 15px 30px;
            @media(--sm) {
                padding: 15px 0px;
            }
            @media(--xs) {
                padding: 15px 0px;
            }
        }
    }
}

.download {
    position: relative;
    font-size: 12px;
    font-family: 'PFDinDisplayPro';
    font-weight: 500;
    display: inline-block;
    padding-right: 25px;
    line-height: 25px;
    text-transform: uppercase;
    color: #9a330c;

    &:before {
        content: '';
        display: block;
        width: 17px;
        height: 25px;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -12.5px;
        background: transparent url('../img/icon-download.svg') 0 0 no-repeat;
    }

    &:hover {
        &:before {
            background-image: url('../img/icon-download-hover.svg');
        }
    }

    @media (--640) {
        span {
            display: none;
        }
    }

    &_disabled {
        opacity:0;
        visibility: hidden;
    }
}

.select-wrap {
    &__lbl {
        display: block;
        font-size: 16px;
        line-height: 24px;
    }

    .ui-widget {
        font-family: 'PFDinDisplayPro';
    }

    .ui-button {
        position: relative;
        padding: 0 50px 0 10px;
        border-radius: 0;
        margin: 0;
        height: 50px;
        line-height: 50px;
        background: none;
        border: solid 1px #d6dade;
        color: #3b3b3b;

        &.ui-selectmenu-button-open {
            border-color: #9a330c;
        }

        &:focus {
            outline: none;
        }

        .ui-icon {
            position: absolute;
            top: 0;
            right: 0;
            float: none;
            width: 50px;
            height: 100%;

            &:before,
            &:after {
                transition: ease .1s all;
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 1px;
                background-color: #3b3b3b;
            }

            &:before {
                transform: rotate(45deg);
                margin-left: -5.5px;
                border-radius: 0 0 50% 0;
            }

            &:after {
                transform: rotate(-45deg);
                border-radius: 0 0 0 50%;
            }
        }

        .ui-selectmenu-text {
            margin: 0;
            height: 100%;
        }

        &.ui-selectmenu-button-open {
            .ui-icon {
                &:before {
                    transform: rotate(135deg);
                }

                &:after {
                    transform: rotate(-135deg);
                }
            }
        }
    }
}

.ui-selectmenu-menu {
    &._custom {
        background-color: #fff;

        .ui-widget {
            font-family: 'PFDinDisplayPro';
        }

        .ui-menu {
            border: solid 1px #d6dade;
            border-top: none;
            margin-top: -1px;

            .ui-menu-item {
                list-style: none;
            }

            .ui-menu-item-wrapper {
                padding: 0 10px 0;
                font-size: 14px;
                line-height: 22px;
                border: none;

                &.ui-state-active {
                    background-color: #9a330c;
                    color: #fff;
                }
            }
        }

        &.ui-selectmenu-open {
            .ui-menu {
                border-color: #9a330c;
            }
        }
    }
}
