@media (--lgMinus) {


    .main-section__img {
        height: 360px;
    }

    .main-content-img__text {
        opacity: 1;
        padding: 200px 380px 0 130px;
    }

    .footer-menu {
        padding-bottom: 20px;
    }

    .footer-menu-other-link-wrap {
        display: none;
    }

    .footer__phone {
        /*Когда ссылок станет больше вернуть margin*/
        /*margin:-30px 0 50px;*/
        margin: 0 0 15px;
        order:1;
        width: 100%;
        text-align: center;
    }



    .footer-subscribe {
        order:3;
        margin-bottom: 0;
        margin-top: 0;
        flex-grow: 1;
    }

    .footer-subscribe__form {
        margin-top: 0;
    }

}

@media screen and (--mdMinus) {


    .main-content-img__text {
        opacity: 1;
        padding: 370px 200px 0 40px;
    }


    .footer-menu {
        padding: 0 40px 40px;
    }




}

@media screen and (--smMinus) {


    .footer-info {
        opacity: 1;
    }

    .footer-text {
        line-height: 1;
        text-align: center;
        color:#a7a6a8;
    }

    .footer-copyright {
        color:#ffffff;
        text-align: center;
    }



    .footer__phone {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .footer__phone a {
        padding-left: 0;
    }



    .btn-call-inner {
        padding: 40px 0 40px;
    }

}

@media (--xs) {
    .footer-bottom{
        display: block;
    }

    .footer-text{
        padding-bottom: 12px;
    }
}