<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/ceiling.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Потолок</span></p>
                <p>Покраска.</p>
                <p>Цвет: белый</p>
            </div>
        </div>
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/cornice.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Карниз потолочный</span></p>
                <p>Nomastyl, B5.</p>
                <p>Цвет: белый.</p>
                <p>Размер: 50х50мм</p>

            </div>
        </div>
    </div>
</div>