<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/door.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Дверь</span></p>
                <p>Verda, экошпон премиум,</p>
                <p>ТИП С-08.</p>
                <p>Цвет: беленый дуб мелинга</p>
            </div>
        </div>
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/doorknob-wc.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Дверная ручка</span></p>
                <p>РОССА-35-L1, матовый хром.</p>
                <p>Сантехническая завёртка</p>
                <p>РОССА-BK-L1, матовый хром.</p>
            </div>
        </div>
    </div>
</div>