<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/floor-wc.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Стены и пол</span></p>
                <p>Керамическая плитка: производитель Керамин,</p>
                <p>коллекция Форум, 3Т (стены) и 3П (пол),</p>
                <p>Размер: 400х275мм (стены),</p>
                <p>Размер: 400х400мм (пол).</p>
            </div>
        </div>
    </div>
</div>