<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/sink.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Раковина с тумбой</span></p>
                <p>Дрея, Misry,</p>
                <p>цвет: белый.</p>
                <p>60 см</p>
            </div>
        </div>
    </div>
</div>