<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/tap_tub.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Смеситель для ванны</span></p>
                <p>Grohe, Euroeco</p>
                <p>32743000</p>
            </div>
        </div>
    </div>
</div>