<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/toilet.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Унитаз с сиденьем</span></p>
                <p>Santek, Лига</p>
            </div>
        </div>
    </div>
</div>