<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/modern/door.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Дверь</span></p>
                <p>Браво, экошпон,</p>
                <p>Порта-50А-6</p>
                <p>Bianco Crosscut</p>
            </div>
        </div>
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/modern/doorknob.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span> Дверная ручка</span></p>
                <p>РОССА-35-L1,</p>
                <p>матовый хром</p>
            </div>
        </div>
    </div>
</div>