.banner-slide {
    display:flex;
    width:100%;
    position: relative;

    @media(--mdMinus) {
        flex-direction: column;
    }

    @media(orientation: landscape) and (--smMinus) {
        flex-direction: row;
    }

    &__col {
        width:50%;

        &:nth-child(1) {
            @media(--mdMinus) {
                height:80%;
            }

            @media(orientation: landscape) and (--smMinus) {
                height:100%;
            }

        }

        &:nth-child(2) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @media(--mdMinus) {
                flex-grow:1;
                display:block;
            }
            @media(orientation: landscape) and (--smMinus) {
                display:flex;
            }
        }

        @media(--mdMinus) {
            width:100%;
        }

        @media(orientation: landscape) and (--smMinus) {
            width:50%;
        }
    }

    &__img {
        background: url("../img/banner_slide_bg.jpg") no-repeat center center;
        background-size: cover;
        height:100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20%;
        @media(--lgMinus) {
            padding-right:50px;
        }
        @media(--mdMinus) {
            padding-right:0;
            justify-content: center;
            align-items: flex-end;
        }

        @media(orientation: landscape) and (--smMinus) {
            align-items: center;
            justify-content: flex-end;
            padding-right:40px;
        }
    }

    &__title {
        max-width: 460px;
        font-size: 50px;
        color:#ffffff;
        text-transform: uppercase;
        font-weight: 500;
        position:relative;
        top:-45px;

        span {
            color: #FF0000;
        }

        @media(--lgMinus) {
            max-width: 424px;
        }

        @media(--mdMinus) {
            max-width:100%;
            font-size: 52px;
            text-align: center;
            top:0;
            margin-bottom:20px;
        }

        @media(--sm) {
            font-size: 22px;
        }
        @media(--xs) {
            font-size: 22px;
        }

        @media(orientation: landscape) and (--smMinus) {
            text-align: left;
            margin-bottom:0px;
            max-width:183px;
            font-size:30px;
            top:-15px;
        }

        &_dark {
            color:#000000;
            top:0;
            margin-bottom:10px;
            @media(orientation: landscape) and (--smMinus) {
                max-width:244px;
            }
        }

    }

    &__subtitle {
        text-transform: uppercase;
        color: #FF0000;
        font-size: 30px;
        font-weight: 500;
        margin-top: 45px;

        @media(--lgMinus) {
            font-size: 25px;
        }

        @media(--mdMinus) {
            text-align: center;
            font-size: 36px;
            margin-top: 0px;
        }
        @media(--sm) {
            font-size: 18px;
        }
        @media(--xs) {
            font-size: 18px;
        }


        @media(orientation: landscape) and (--smMinus) {
            text-align: left;
            font-size:16px;
        }
    }

    &__content {
        padding:50px;
        @media(--mdMinus) {
            padding: 20px 40px;
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        @media(--sm) {
            padding: 20px;
        }
        @media(--xs) {
            padding: 20px;
        }
    }

}
