.BigCheckbox {
    user-select: none;

    &:last-child {
        flex: auto;
    }
}

.BigCheckbox_input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.BigCheckbox_view {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(43, 38, 52, 0.1);
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: #19191a;
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;

    &-light {
        border: 1px solid rgba(255, 255, 255, 0.2);
        color:#ffffff;
    }
}

.BigCheckbox_input:checked+.BigCheckbox_view {
    background: #9a330c;
    border-color: #9a330c;
    color: #fff;
}

.BigCheckbox_input:focus+.BigCheckbox_view {
    box-shadow: 0 0 0 1px rgba(247, 148, 30, 0.3);
}
