.btn-more {
    width: 192px;
    height: 50px;
    background: #9a330c;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    position: absolute;
    bottom:40px;
    right:-96px;
    z-index: 50;
    /*box-shadow: 0px 20px 30px 0px rgba(43, 38, 52, 0.4);*/
    overflow: hidden;

    @media(--mdMinus) {
        width:70px;
        height:70px;
        right:40px;
        bottom:-35px;
    }

    @media(--sm) {
        right:20px;
    }
    @media(--xs) {
        right:20px;
    }

    &:before {
        content: '';
        background: #e4ae3d;
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        transition: all 0.3s ease;
    }
    &:after {
        content: '';
        display: none;
        background: url("../img/arrow_more.svg") no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -7.5px;
        width: 30px;
        height: 15px;
        right:20px;
        @media(--mdMinus) {
            display:block;
        }
        @media(--sm) {

        }
        @media(--xs) {

        }

    }

    &:hover {
        &:before {
            width:100%;
        }
    }

    & span {
        color: #ffffff;
        display: block;
        z-index: 50;
        @media(--mdMinus) {
            display:none;
        }
    }

    &_mobile {
        display: none;
        @media(--mdMinus) {
            display: flex;
        }
    }
    &_desktop {
        @media (--mdMinus) {
            display: none;
        }
    }
    &_location {
        display:none;
        @media(--mdMinus) {
            display:block;
            bottom:-35px;
        }
    }
    &_technology {
        display:none;
        @media(--mdMinus) {
            display:block;
            bottom:52px;
        }
    }

    &_hover {
        &:before {
             width:100%;
        }
    }
}
