.CheckboxStyled {
	position: relative;
	
	&_input {
		display: none;
		
		& + label {
			content: "";
			position: absolute;
			top: 2px;
			left: 4px;
			width: 12px;
			height: 14px;
			border: 1px solid #DADADA;
			cursor: pointer;
			
			@media (--mdPlus) {
				top: 6px;
			}
			
			&:before, &:after {
				transition: all .3s ease-in-out;
			}
			
			&:before {
				content: "";
				position: absolute;
				top: 2px;
				left: 2px;
				width: 3px;
				height: 6px;
				background: #F7B21E;
				transform: rotate(-50deg);
			}

			&:after {
				content: "";
				position: absolute;
				top: -2px;
				left: 8px;
				width: 2px;
				height: 12px;
				background: #F7B21E;
				transform: rotate(45deg);
			}
		}

		&:checked + label:before,
		&:checked + label:after {
			background: transparent;
		}
	}

	&_label {
		display: inline-block;
		padding-top: 3px;
		padding-left: 27px;
		font-size: 12.4px;
		line-height: 1.23;
		font-family: "PFDinDisplayPro", sans-serif;
		cursor: pointer;
	}
}