.CookiesAgree {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ededed;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    z-index: 1001;
    transition: all .3s ease;
    @media (--lgMinus) {
        padding: 15px 40px;
    }
    @media (--mdMinus) {
        flex-direction: column;
        padding: 20px;
    }
    &_txt {
        padding-right: 25px;
        @media (--mdMinus) {
            padding: 0;
        }
    }
    &_btn {
         min-width: 206px;
         height: 42px;
         display: flex;
         align-items: center;
         justify-content: center;
         background: none;
         border: none;
         font-size: 15px;
        line-height: 1;
         color: #fff;
         text-transform: uppercase;
         cursor: pointer;
         outline: none;
         position: relative;
         overflow: hidden;
        @media (--mdMinus) {
            min-width: 280px;
            height: 40px;
            margin-top: 20px;
        }
        &:before {
             content: "";
             background: #060e23;
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             transition: all 0.3s ease;
             z-index: -1;
         }
        &:after {
             content: "";
             background: #9a330c;
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 0;
             transition: all 0.3s ease;
             z-index: -1;
         }
        &:hover {
            &:before {
                 top: 100%;
             }
            &:after {
                 height: 100%;
             }
        }
    }
    &._hide {
         opacity: 0;
         visibility: hidden;
         z-index: -1001;
     }
}