.CoolTxtField {
    padding: 0 34px 0 9px;
    &_inp {
        font-size: 14px;
        border: 0;
        background: none;
        padding: 7px 0;
        color: #19191a;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        border-bottom: 1px solid #d0d0d0;
    }
}
