.Flat {
    font-family: 'PFDinDisplayPro';
    font-size: 14px;
    font-weight: 300;
    color: #19191a;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 55px 55px 60px;
    @media (--xlMinus) {
        justify-content: flex-start;
        padding: 40px 40px;
    }
    @media (--sm) {
        padding-left: 35px;
        padding-right: 35px;
    }
    @media (--smMinus) {
        flex-wrap: wrap;
        padding: 25px 25px;
    }
    &_info,
    &_plan {
        flex-basis: 50%;
        @media (--smMinus) {
            padding: 0 0 !important;
            flex-basis: 100%;
        }
    }
    &_plan {
        padding-right: 28px;
        @media (--xlMinus) {
            flex-basis: 40%;
            width: 40%;
        }
        @media (--sm) {
            display: flex;
            flex-flow: row wrap;
        }
        @media (--smMinus) {
            padding-right: 35px;
        }
    }
    &_info {
        padding-left: 28px;
        @media (--smMinus) {
            padding-left: 35px;
        }
        @media (--xlMinus) {
            flex-basis: 60%;
            width: 60%;
        }
        @media (--smMinus) {
            width: 100%;
            flex-basis: 100%;
            padding-top: 70px !important;
        }
    }
    &_linkBack {
        display: inline-block;
        margin-bottom: 80px;
        order: 1;
        position: absolute;
        top: 0;
        left: 0;
        @media (--xlMinus) {
            margin-bottom: 40px;
        }
        @media (--smMinus) {
            width: 32px;
            height: 16px;
            display: block;
            top: 10px;
            &~* {
                display: none !important;
            }
        }
    }
    &_planInfo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        height: 100%;
        position: relative;
        padding-top: 65px;
        @media (--xlMinus) {
            display: block;
        }
        @media (--smMinus) {
            padding-top: 0;
        }
    }
    &_planInfoWrapper {
        order: 2;
        @media (--xlPlus) {
            padding-top: 100px;
        }
    }
    &_compass {
        display: block;
        @media (--mdPlus) {
            margin-bottom: 90px;
        }
        @media (--xlMinus) {
            margin-right: 20px;
            margin-bottom: 0;
            width: 100px;
            height: 100px;
        }
    }
    &_sectionPlans {
        height: 93px;
        @media (--mdPlus) {
            margin-bottom: 60px;
        }
        @media (--xlMinus) {
            margin-left: 20px;
            margin-bottom: 0;
        }
        @media (--sm) {
            position: relative;
            left: 13px;
        }
    }
    &_sectionPlans+&_planLink {
        margin-bottom: 20px;
    }
    &_planImg {
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        flex: 1;
        order: 3;
        margin-left: 56px;
        @media (--xlMinus) {
            width: 100%;
            padding-top: calc(100% + 67px);
            margin-left: 0;
            margin-bottom: 65px;
        }
        @media (--sm) {
            margin-bottom: 50px;
        }

        @media(--xxl){
            align-self: flex-start;
            height: 598px;
        }
    }
    &_planImgMobile {
        display: none;
        width: 80%;
        margin: 0 auto 60px;
        @media (--smMinus) {
            display: block;
        }
    }
    &_svgInfoWrapper {
        @media (--xlMinus) {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin-bottom: 40px;
        }
    }
    &_planLinkWrapper-mobile {
        display: none;
        @media (--smMinus) {
            display: flex;
            align-items: center;
            height: 60px;
            border-top: 1px solid #e5af2d;
            justify-content: space-between;
        }
    }
    &_planLinkWrapper-mobile &_planLink {

    }
    &_planLinksWrapper {
        @media (--xlMinus) {
            display: flex;
            justify-content: center;
        }
    }
    &_planLink {
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: 400;
        margin: 0 16px;
        @media (--xlMinus) {
            margin-bottom: 0 !important;
        }
        @media (--xs) {
            margin: 0;
        }
    }
    &_planLink-floor {
        @media (--mdPlus) {
            margin-bottom: 20px;
        }
    }
    &_planLink-eye {}
    &_planLinkIcon {
        margin-right: 15px;
    }
    &_infoHeader {
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 30px;
        @media (--xlMinus) {
            font-size: 20px;
        }
        @media (--smMinus) {
            font-size: 20px;
            white-space: nowrap;
            margin-bottom: 25px;
        }
    }
    &_infoText {
        font-size: 14px;
        font-weight: 300;
        display: flex;
        align-items: flex-start;
    }
    &_infoText-furnished {
        margin-bottom: 7px;
        display: block;
    }
    & ._furnished {
        @media (--xs) {
            display: block;
        }
    }
    /*&_infoText-furnished+&_infoText {
         margin-bottom: 35px;
     }*/
    & ._furnished+&_infoText {
          margin-bottom: 35px;
      }
    &_infoFurnishIcon {
        margin-left: 6px;
    }

    &_infoText-furnitureGift {
         display: flex;
         align-items: center;
         margin: 7px 0 7px 80px;
        @media (--xs) {
            margin: 7px 0;
        }
     }
    &_infoText-furnitureGift svg {
         margin-left: 6px;
     }

    &_infoActionIcon {
        margin-right: 8px;
    }
    &_infoText-bold {
        font-weight: 500;
    }
    &_infoTabsNav {
        margin-bottom: 25px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5px;
        border-bottom: 1px solid #ededed;
    }
    &_infoTabsNavItem {
        font-weight: 500;
        margin-bottom: 10px;
        position: relative;
        &:not(:last-of-type) {
            margin-right: 20px;
        }
        &-active {
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                bottom: -17px;
                background-color: #9a330c;
                height: 3px;
            }
        }
    }
    &_infoTabsNavLink {
        font-size: 16px;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
    }
    &_infoTabsContent {
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
    }
    &_generalTable {
        margin-bottom: 32px;
        padding-top: 18px;
        @media (--smMinus) {
            padding-right: 11px;
        }
    }
    &_generalHeader {
        font-weight: 400;
        text-align: left;
        &:not(:first-of-type) {
            padding-left: 50px;
        }
        @media (--smMinus) {
            font-size: 11px;
            padding-left: 0 !important;
        }
    }
    &_generalRow {
        @media (--smMinus) {
            display: flex;
            justify-content: space-between;
        }
    }
    &_generalCell {
        font-size: 30px;
        font-weight: 600;
        white-space: nowrap;
        display: inline-flex;
        position: relative;
        &:not(:first-of-type) {
            margin-left: 50px;
        }
        &:last-of-type {
            margin-left: 68px;
        }
        &:before {
            content: attr(data-header);
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            position: absolute;
            left: 0;
            top: -20px;
            @media (--smMinus) {
                font-size: 11px;
            }
        }
        @media (--smMinus) {
            font-size: 24px;
            margin-left: 0 !important;
        }
    }
    &_hr {
        width: 100%;
        height: 1px;
        background: #e5af2d;
        border: none;
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 40px;
        }
    }
    &_specificTable {
        display: table;
        margin-bottom: 25px;
        @media (--smMinus) {
            display: block;
            width: 195px;
        }
        @media (--xlMinus) {
            width: 100%;
        }
    }
    &_specificRow {
        display: table-row;
        @media (--mdMinus) {
            display: flex;
            justify-content: space-between;
        }
        @media (--smMinus) {
            display: block;
        }
    }
    &_specificRow:not(:last-child) &_specificCell {
        padding-bottom: 10px;
        white-space: nowrap;
        @media (--smMinus) {
            padding-bottom: 0;
        }
    }
    &_specificCell {
        white-space: nowrap;
        display: table-cell;
        justify-content: space-between;
        @media (--mdPlus) {
            display: inline-flex;
        }
        &:nth-child(1n) {
            @media (--mdPlus) {
                width: 150px;
                margin-right: 80px;
            }
        }
        @media (--smMinus) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 7px;
        }
    }
    &_specificCellText {
        &_first-of-type {
            float: left;
        }
        &:last-of-type {
            font-weight: 600;
            float: right;
            margin-left: 15px;
            position: relative;
            top: -3px;
        }
    }
    &_specificDesc {
        font-weight: 400;
        margin-bottom: 40px;

        & ul {
            margin: 20px 0;
            list-style: none;
        }
        & ul li {
            padding-left: 35px;
            position: relative;
            &:not(:last-of-type) {
                margin-bottom: 15px;
            }
            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background-color: #008fd5;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 4px;
            }
            @media (--smMinus) {
                padding-left: 25px;
            }
        }
    }
    &_actionWrapper {
        width: 460px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        @media (--smMinus) {
            width: 100%;
            display: block;
            white-space: nowrap;
        }
        @media (--smMinus) {
            width: 380px;
        }
        @media (--xlMinus) {
            width: 100%;
        }
    }
    &_actionOption {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    &_actionOption-pdf {
        @media (--smMinus) {

            float: right;
        }
    }
    &_actionText {
        line-height: 14px;
        font-weight: 400;
        margin-left: 13px;
        text-decoration: none;
        color: inherit;
        @media (--xlMinus) {
            font-size: 12px;
        }
    }
    &_priceWrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-bottom: 35px;
        @media (--xlMinus) {
            flex-wrap: wrap;
        }
    }
    &_price {
        font-weight: 400;
        font-size: 30px;
        line-height: 50px;
        color: #e5af2d;
        white-space: nowrap;
        @media (--xlMinus) {
            flex-basis: 100%;
            margin-bottom: 12px;
        }
    }
    &_btn {
        transition: ease .3s all;
        width: 270px;
        height: 50px;
        background: #9a330c;
        color: white;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 45px;

        &:hover {
            background-color: rgba(154,51,12,.8);
        }

        @media (--smMinus) {
            width: 100%;
        }
        @media (--xlMinus) {
            margin-left: 0;
        }
    }
    &_details {
        color: #908e97;
    }

    &__linksPresentConstructor {
        display: flex;
        margin-bottom: 30px;
    }

    &__presentLink {
        display: flex;
        align-items: center;
        font-family: 'PFDinDisplayPro';
        font-weight: 600;
        font-size: 14px;
        margin-right: 35px;
        text-transform: uppercase;

        &:before {
            content:'';
            width: 17px;
            height: 25px;
            background: url("../img/icon_download.svg") no-repeat;
            margin-right: 12px;
            background-size: contain;
        }

        &:hover {
            &:before {
                background-image: url("../img/icon_download_hover.svg");
            }
        }

        &-br {
            @media(--sm) {
                display:block;
            }
            @media(--xs) {
                display:block;
            }
        }
    }

    &-modal {
        width: 100%;
        max-width: 960px;
        height: 525px;
        margin-top:0;

        @media (--mdMinus) {
            max-width: calc(100% - 80px);
        }
        @media (--smMinus) {
            max-width: 100%;
            height:calc(100vh - 70px);
            margin-bottom:0;
        }
        &_img {
            text-align: center;
            display:flex;
            align-items: center;
            height: 100%;
            justify-content: center;
         }
        &-close {
            background: transparent;
            outline: none;
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            border: none;
            transition: opacity 0.4s ease;
                &:hover {
                     cursor: pointer;
                     opacity: 0.5;
                }
                @media (--smMinus) {
                    top:10px;
                }
        }
    }



}

/* START: temp */

.Flat_planLink-eye  {
    visibility: hidden!important;
}

.FlatsTips_iconStar{
    display: none!important;
}

.actionIcon {
     background-size: cover;
     background-repeat: no-repeat;
     width: 19px;
     height: 19px;
     margin-right: 20px;
     position:relative;

     &:hover {
        cursor: pointer;
     }

    &_red {
         background-image: url("../img/icon_action_1.svg");
    }
    &_orange {
         background-image: url("../img/icon_action_2.svg");
    }
    &_blue {
         background-image: url("../img/icon_action_3.svg");
    }
    @media(--xs) {
        /*width:13px;*/
        /*height:13px;*/
        margin-right:8px;
    }
}

.brushIcon {
    background: url("../img/icon_finish.svg") no-repeat;
    background-size: cover;
    width: 19px;
    height: 19px;
    margin-right: 20px;
    @media(--xs) {
        width:13px;
        height:13px;
        margin-right:8px;
    }
}

.actionIconTooltip {
    padding: 10px 20px;
    box-shadow: 0px 20px 25px 0px rgba(43, 38, 52, 0.25);
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 12px;
    border: none !important;
}

/* END: temp */
