.footer {
    background: #060e23;
    padding: 49px 0px 0;

    @media(--sm) {
        padding: 30px 20px 0;
    }
    @media(--xs) {
        padding: 30px 20px 0;
    }
}

.footer-bottom {
    padding: 20px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(--lgMinus) {
        padding: 20px 40px;
        justify-content: center;
    }
    @media(--sm) {
        padding: 20px 20px;
    }
    @media(--xs) {
        padding: 20px 20px;
    }
}