.footer-socials {
    display: flex;
    align-items: center;
    margin-right: 0px;

    @media(--mdMinus) {
        margin-left: -10px;
        margin-right: 10px;
    }

    &_mobile {

        @media(--lgMinus) {
            width:auto;
            margin:15px 0 0;
        }
        @media(--sm) {
            width: 100%;
            justify-content: center;
        }
        @media(--xs) {
            width: 100%;
            justify-content: center;
        }
    }

    &__item {
        display: block;
        width: 32px;
        height: 32px;
        background-position: center center;
        transition: background 0.2s;
        margin-right: 10px;
        position: relative;

        &:after {
            opacity: 0;
            transition: opacity 0.4s ease;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 32px;
            @media(--mdMinus) {
                display: none;
            }
        }

        &:hover {
           &:after {
               opacity: 1;
           }
        }


        &_fb {
            background: url("../img/socials/icon_facebook.svg") no-repeat;
            &:after {
                background: url("../img/socials/icon_facebook_hover.svg") no-repeat;
            }
        }

        &_vk {
            background: url("../img/socials/icon_vk.svg") no-repeat;
            &:after {
                background: url("../img/socials/icon_vk_hover.svg") no-repeat;
            }
        }


        &_insta {
            background: url("../img/socials/icon_insta.svg") no-repeat;
            &:after {
                background: url("../img/socials/icon_insta_hover.svg") no-repeat;
            }
        }


        &_yt {
            background: url("../img/socials/icon_youtube.svg") no-repeat;
            &:after {
                background: url("../img/socials/icon_youtube_hover.svg") no-repeat;
            }
        }

        &_tlg {
            background: url("../img/socials/icon_telegram.svg") no-repeat;
            &:after {
                background: url("../img/socials/icon_telegram_hover.svg") no-repeat;
            }
        }

        &_ggl {
            background: url("../img/socials/icon_google.svg") no-repeat;
            &:after {
                background: url("../img/socials/icon_google_hover.svg") no-repeat;
            }
        }

    }
}

