
.full-menu {
    display: flex;
    padding: 60px 0 60px 97px;

    @media(--lgMinus) {
        display: block;
        text-align: center;
        padding: 50px 0 0;
    }

    &-col {
        width: 25%;
        max-width: 330px;
        display: flex;
        flex-direction: column;

        @media(--lgMinus) {
            max-width: 100%;
            width:auto;
        }
    }

    &-link {
        text-decoration: none;
        display: block;
        font-family: 'PFDinDisplayPro';
        font-size: 17px;
        line-height: 26px;
        color: #000000;
        padding-bottom: 15px;
        transition: color 0.2s ease-in-out;

        @media(--lgMinus) {
            color:#ffffff;
            font-size: 20px;
            padding: 15px 0;
            position: relative;
        }

        @media(--sm) {
            font-size: 16px;
            padding: 10px 0;
        }

        @media(--xs) {
            font-size: 16px;
            padding: 10px 0;
        }

        & span {
            @media(--lgMinus) {
                position: relative;
            }
        }

        &:hover {
            color: #9a330c;
            opacity: 1;

            @media(--lgMinus) {
                color:#ffffff;
            }
        }

        &_active {
            & span {
                &:after {
                    @media(--lgMinus) {
                        content: '';
                        background: #9a330c;
                        height: 2px;
                        width: 100%;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        transition: width 0.2s ease-in-out;
                    }
                }
            }
            &:active {
                & span {
                    &:after {
                        @media(--lgMinus) {
                            width: 100%;
                        }
                    }
                }
            }
            &:hover {
                & span {
                    &:after {
                        @media(--lgMinus) {
                            width: 100%;
                        }
                    }
                }
            }
        }
        &_select-flat {
            @media(--lgMinus) {
                color:#9a330c;
                text-transform: uppercase;
                font-family: 'PFDinDisplayPro';
                font-weight:500;
            }
            &:hover {
                 @media(--lgMinus) {
                     color:#9a330c;
                 }
            }
        }
    }

    &-sublink {
        text-decoration: none;
        display: block;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        font-size: 16px;
        line-height: 1.4;
        padding: 8px 0;
        color: #616162;

        @media(--lgMinus) {
            font-size: 16px;
            color:#a7a6a8;
            padding: 8px 0;
        }

        & span {
            position: relative;
        }

        &:hover {
            color: #9a330c;
            opacity: 1;

            @media(--lgMinus) {
                color:#a7a6a8;
            }
        }
        &_active {
            & span {
                &:after {
                    @media(--lgMinus) {
                        content: '';
                        background: #c0bec2;
                        height: 2px;
                        width: 100%;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        transition: width 0.2s ease-in-out;
                    }
                }
            }
        }
    }
    &-other-link-wrap {
        @media(--lgMinus) {
            display: block;
            margin-top: 70px;
            margin-bottom: 50px;
        }
    }
    &-other-link {
        @media(--lgMinus) {
            font-size: 14px;
            font-family: 'PFDinDisplayPro';
            font-weight:500;
            color: #9a330c;
            text-transform: uppercase;
            line-height: 2.5;
            text-decoration: none;
            margin: 0 18px;
        }
        @media(--sm) {
            margin: 0 3px;
            font-size: 12px;
        }
        @media(--xs) {
            margin: 0 3px;
            font-size: 12px;
        }
        &_active {
            & span {
                &:after {
                    @media(--lgMinus) {
                        content: '';
                        background: #9a330c;
                        height: 2px;
                        width: 100%;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        transition: width 0.2s ease-in-out;
                    }
                }
            }
        }
    }
}
