.header-submenu {
    position: absolute;
    left: 50%;
    background: #060e23;
    display: block;
    padding: 40px 0px;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -20px);
    transition: all 0.3s ease-in-out;

    &__link {
        color: #fefefe;
        text-decoration: none;
        display: block;
        padding: 5px 50px;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        white-space: nowrap;

        &:hover {
            color: #e4ae3d;
            &:before {
               opacity: 1;
            }
        }

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            padding: 40px 0;
            top: 71px;
            z-index: 12;
            margin-left: -8px;
            border: 8px solid transparent;
            border-bottom: 8px solid #060E23;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }

        &_contacts {
            display:none;
            @media (max-width:1340px) {
                display:block;
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: -16px;
        z-index: 12;
        margin-left: -8px;
        border: 8px solid transparent;
        border-bottom: 8px solid #060e23;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
}
