.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    z-index: 100007;
    background: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);

    &__burger {
        width: 24px;
        height: 70px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        position: fixed;
        top: 0px;
        left: 55px;
        z-index: 100009;

        @media(--lgMinus) {
            order:3;
            padding-left: 20px;
            right: 55px;
            left: initial;
            padding-right: 0;
        }
        @media (--mdMinus) {
            right:40px;
        }
        @media (--xs) {
            right:20px;
        }

        & span {
              display: block;
              position: absolute;
              height: 2px;
              width: 100%;
              background: #000000;
              opacity: 1;
              left: 0;
              transform: rotate(0deg);
              transition: .25s ease-in-out;

              &:nth-child(1) {
                   top: 27px;
                   transform-origin: left center;
              }
              &:nth-child(2) {
                   top: 33px;
                   transform-origin: left center;
                   width: 75%;
                   right: 0;
                   left: initial;
              }
              &:nth-child(3) {
                   top: 39px;
                   transform-origin: left center;
              }
        }

        &.open {
            & span {
                @media(--lgMinus) {
                    background: #ffffff;
                }
                &:nth-child(1) {
                     transform: rotate(45deg);
                     top: 22px;
                     left: 0px;
                 }

                &:nth-child(2) {
                     width: 0%;
                     opacity: 0;
                 }

                &:nth-child(3) {
                     transform: rotate(-45deg);
                     top: 39px;
                     left: 0px;
                 }
            }
        }


    }

    &__logo {
        display: flex;
        align-items: center;
        padding-left: 30px;
        margin-left: 30px;

        @media(--lgMinus) {
            padding-left: 0;
            flex-grow: 1;
            margin-left: 0;
        }
        & img {
            @media(--xs) {
                max-width:160px;
            }
        }
    }
}

