.header {
    &-container{
        @media (--xs) {
            justify-content: space-between;
        }
    }
    &__phoneLinks {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__phone {
        display: flex;
        align-items: center;
        white-space: nowrap;

        @media(--lgMinus) {
            padding-right: 20px;
            margin-right: 44px;
        }

        @media(--sm) {
            margin-left:auto;
        }
        @media(--xs) {
            margin-left:auto;
            margin-right: 24px;
        }

        & a {
            text-decoration: none;
            color: #000000;
            font-family: 'PFDinDisplayPro';
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            padding: 14px 0 0;
            position: relative;
            display: flex;
            align-items: center;
            transition: opacity 0.2s;
            /*@media(--sm) {
                padding-top: 5px;
            }
            /*@media(--xs) {
                padding-top: 5p
            }*/
            @media (--767) {
                font-size: 0;
                line-height: 0;
                padding: 0;
                margin-top: -1px;
            }

            &:before {
                content:'';
                background: url("../img/icon_phone-black.svg") no-repeat;
                width: 15px;
                height: 15px;
                background-size: contain;
                display: block;
                margin: 2px 10px 0 0;
                @media(--smMinus) {
                    margin: 0;
                }
            }

            & span {
                padding-left: 5px;
                @media(--sm) {
                    display:none;
                }
                @media(--xs) {
                    display:none;
                }
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
    &__callMe {
        height: 30px;
        font-size: 13px;
        font-weight: 400;
        color: #8e8e8e;
        text-align: right;
        position: relative;
        top: -1px;
        letter-spacing: 0.6px;
        transition: color .3s ease;
        @media(--lgMinus) {
            padding-right: 20px;
            margin-right: 44px;
        }
        @media(--smMinus) {
            display: none
        }
        &:hover {
            color: #e4ae3d;
        }
    }
}

