.header-menu {
    padding-left: 50px;
    flex-grow: 1;
    display: flex;

    @media(--lgMinus) {
        display:none;
    }

    &__item {
        position: relative;

        &:hover {
            &:before {
                opacity: 1;
            }
        }
        &:hover > .header-submenu {
             opacity: 1;
             visibility: visible;
             transition-delay: .2s;
             transform: translate(-50%, 0px);
        }
        &:hover > .header-submenu:before {
            opacity: 1;
            visibility: visible;
        }
        &_contacts {
            @media (max-width: 1340px) {
                display:none;
            }
        }
        &_commercial {
            @media (max-width: 1549px) {
                display:none;
            }
        }
    }

    &__link {
        font-family: 'PFDinDisplayPro';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #000000;
        padding: 22px 15px 0 15px;
        text-decoration: none;
        position: relative;
        display: block;
        height: 100%;
        white-space: nowrap;

        &:after {
            content: '';
            background: #9a330c;
            height: 3px;
            width: 0;
            position: absolute;
            bottom: 20px;
            left: 15px;
            transition: width 0.2s ease-in-out;
        }

        &:hover::after {
            width: calc(100% - 30px);
            transition-delay: .2s;
        }
    }
    &__sticker {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -15px);
        background-color: #b60f0f;
        color: #fff;
        font-size: 15px;
        line-height: 27px;
        padding: 0 15px;
        white-space: nowrap;
        border-radius: 1px;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        pointer-events: none;

        &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -4.5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4.5px 8px 4.5px;
            border-color: transparent transparent #b60f0f transparent;
        }
    }
}
