.house {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    overflow: hidden;

    @media (--smMinus) {
        overflow-x: auto;
    }

    &__content {
        position: relative;
        width: auto;
        height: auto;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
            width: 100%;
            height: 124px;
            opacity: 0.8;

            @media (min-width: 1280px) {
                display: none;
            }
        }
    }

    &__img-common {
        display: block;
        width: 100%;
        height: auto;
    }

    &__renders,
    &__labels {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__compass-line {
        fill: #D7D6D8;
    }

    &__compass-wrap {
        position: absolute;
        top: 40px;
        right: 100px;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: rgba(43, 38, 52, 0.52);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;

        @media (max-width: 1279px) {
            top: 50px;
            right: 24px;
        }

        @media (--smMinus) {
            display: none;
        }
    }

    &__compass {
        display: block;
        width: 100px;
        height: 100px;

        &--south .house__compass-line--south {
            fill: #F7941E;
        }

        &--west .house__compass-line--west {
            fill: #F7941E;
        }

        &--north .house__compass-line--north {
            fill: #F7941E;
        }

        &--east .house__compass-line--east {
            fill: #F7941E;
        }
    }

    &__renders {
        z-index: 3;
    }

    &__render {
        fill: #060E23;
        opacity: 0;
        transition: all .3s ease;


        &--active {
            opacity: 0.5;
            z-index: 2;
        }
    }

    &__render-item {
        transition: all .3s ease;
        fill: #fff;
        cursor: pointer;

        &--active {
            fill: #F7941E;
        }

        &:hover {
            fill: #F7941E;
        }
    }

    &__label-base,
    &__swim,
    &__number {
        position: absolute;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding: 0 28px;
        border-radius: 25px;
        background-color: #fff;
        z-index: 5;
        animation-duration: 0.4s;
        animation-fill-mode: both;
        animation-name: fadeIn;

        @media (--smMinus) {
            height: 40px;
            padding: 0 24px;
        }
    }

    &__label-title,
    &__label-text,
    &__housing-title,
    &__housing-text,
    &__number-title {
        margin: 0;
        text-align: center;
    }

    &__label-title {
        font-family: 'PFDinDisplayPro';
        font-weight: 400;
        font-size: 15px;
        letter-spacing: -0.3px;
        line-height: 1.2;
        color: #3c3c3c;

        @media (--smMinus) {
            font-size: 12px;
        }
    }

    &__label-text {
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        font-size: 14px;
        line-height: 1.2;
        color: #929292;

        @media (--smMinus) {
            font-size: 11px;
        }
    }

    &__label-base {
        right: 56px;
        bottom: 110px;

        @media (--smMinus) {
            right: auto;
            padding: 0 17px 0 33px;
            align-items: flex-start;
            left: 62px;
            bottom: 38px;
        }

        .house {
            &__label-title,
            &__label-text {
                text-align: left;
            }
        }
    }

    &__swim {
        display: none;
        pointer-events: none;

        &--active {
            display: inline-flex;
        }
    }

    &__back,
    &__swim,
    &__housing,
    &__label-base,
    &__number {
        z-index: 5;
    }

    &__back {
        position: absolute;
        top: 55px;
        left: 55px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease;
        font-size: 16px;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        line-height: 1.6;
        color: #fff;

        @media (--smMinus) {
            top: 25px;
            left: 30px;
        }

        &:hover {
            .house__back-text {
                text-decoration: underline;
            }
        }
    }

    &__back-icon {
        margin-right: 12px;

        @media (--smMinus) {
            margin-right: 0px;
        }

        svg {
            fill: #fff;
        }
    }

    &__back-text {
        @media (--smMinus) {
            display: none;
        }
    }

    &__housing {
        position: absolute;
        bottom: 70px;
        left: 56px;
        width: 130px;
        height: 130px;
        padding-bottom: 16px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 6;
        background-color: #060E23;

        @media (--smMinus) {
            bottom: 25px;
            left: 20px;
            width: 66px;
            height: 66px;
            padding-bottom: 8px;
        }
    }

    &__housing-title {
        font-family: 'PFDinDisplayPro';
        font-weight: 400;
        font-size: 25px;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;

        @media (--smMinus) {
            font-size: 15px;
        }

        span {
          font-size: 50px;

          @media (--smMinus) {
              font-size: 30px;
          }
        }
    }

    &__housing-text {
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        font-size: 15px;
        line-height: 1.2;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;


        @media (--smMinus) {
            font-size: 9px;
        }
    }

    &__number {
        padding: 1px 20px 0;
        transform: translate(-50%, -50%);

        @media (--smMinus) {
            padding: 1px 16px 0;
        }
    }

    &__number-title {
        margin-bottom: -3px;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        font-size: 25px;
        line-height: 1;
        text-align: center;

        @media (--smMinus) {
            font-size: 20px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        width: 100%;
        height: 200px;
        opacity: 0.9;

        @media (max-width: 1279px) {
            display: none;
        }
    }
}
