.list {
    padding:0;
    margin:0;

    & li {
        list-style: none;
        position: relative;
        padding-left: 24px;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        margin-bottom: 12px;
        font-size: 17px;
        color: #000000;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content:'';
            display: block;
            position: absolute;
            left:0;
            top:5px;
            background:#008fd5;
            width:7px;
            height:7px;
        }

        & strong {
            font-weight: 500;
        }
    }

    &_light {
        & li {
            padding-left: 22px;
            color:#ffffff;
        }
    }
    &_orange {
        & li {
            &:before {
                background:#e5af2d;
            }
        }
    }
}