.Pager {
    text-align: center;
    padding: 0 0 20px;

    &_item {
        font-size: 13px;
        font-family: 'Geometria';
        font-weight:500;
        text-decoration: none;
        color: #000;
        margin: 0 5px;
        line-height: 50px;
        width: 50px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }

    &_item:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid #f79149;
        opacity: 0;
        transition: opacity .2s ease;
    }

    &_item:hover:after {
        opacity: 1;
    }

    &_item-active {
        background: #ededed;
    }

    &_item-prev {
        background: url("../img/arrow_page_left.svg") no-repeat center / 9px 16px;
        height: 50px;
        width: 50px;
        margin-left: 0;
    }

    &_item-next {
        background: url("../img/arrow_page_right.svg") no-repeat center / 9px 16px;
        height: 50px;
        width: 50px;
        margin-right: 0;
    }
}