.parking {
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 60px;
        @media (--mdMinus) {
            flex-direction: column;
            padding-bottom: 10px;
        }
    }
    &__info {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        @media (--mdMinus) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 60px;
        }
        &--heading {
            display: flex;
            justify-content: space-between;
            line-height: 40px;
            font-size: 40px;
            font-family: 'PFDinDisplayPro';
            font-weight: 400;
            text-align: right;
            color: black;
            @media screen and (--xs), (--lgPlus) and (--lgMinus) {
                flex-direction: column;
                text-align: left;
                line-height: 1;
            }
        }
        &--small {
            font-size: 15px;
            font-family: 'PFDinDisplayPro';
            font-weight: 400;
            text-align: right;
            @media screen and (--xs), (--lgPlus) and (--lgMinus) {
                text-align: left;
            }
        }
        &--tagprice {
            position: relative;
            display: block;
            top: -4px;
            font-size: 50px;
            font-weight: bold;
            color: #fd7b23;
            & > span {
                font-size: 25px;
            }
        }
        &--sbt.button {
            display: inline-block;
            width: auto;
            padding-left: 50px;
            padding-right: 50px;
        }
        ul {
            margin-top: 40px;
            margin-bottom: 60px;
            padding-left: 15px;
        }
        @media screen and (--lgMinus) {
            &--bwrap {
                text-align: center;
            }
        }
        @media screen and (--xs) {
            &--sbt.button {
                display: block;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    &__plan {
        flex: 0 0 50%;
        max-width: 50%;
        @media screen and (--mdMinus) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

}
.parkingScheme {
    & > svg {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media screen and (--smMinus) {
            height: auto;
        }
        & > a {
            cursor: pointer;
        }
        #K1 {
            .st10 {
                fill: #e3e2e4;
            }
        }
        #K1, #K2, #K3, #K4 {
            & > path{
                transition: all 0.3s;
            }
            &:hover {
                .st3 {
                    fill: #F7941E;
                }
                .st7 {
                    fill: #FDDFBB;
                }
                .st8 {
                    fill: #FDB865;
                }
                .st9 {
                    fill: white;
                }
                .st10 {
                    fill: #F7941E;
                }
            }
        }
        @media screen and (--mdMinus) {
            #K1, #K2, #K3, #K4 {
                .st3 {
                    fill: #F7941E;
                }
                .st7 {
                    fill: #FDDFBB;
                }
                .st8 {
                    fill: #FDB865;
                }
                .st9 {
                    fill: white;
                }
                .st10 {
                    fill: #F7941E;
                }
            }
        }
    }
    &__download {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        font-family: 'PFDinDisplayPro';
        font-size:14px;
        font-weight: 300;
        li {
            display: block;
            width: 100%;
        }
        &--item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            svg {
                margin-right: 10px;
            }
            @media (--mdPlus) {
                padding: 10px;
            }
            @media screen and (--xs) {
                width: 100%;
            }
        }
        @media screen and (--xs) {
            flex-direction: column;
        }
        @media (--lgPlus) {
            display: none;
        }
    }
}

.parkingCheckboxes {
    margin-bottom: 40px;
    
}
