.PickupFlatLayout {
    &_inner {
        @media (--xlPlus) {
            display: flex;
        }
    }

    &_results {
        flex: 1;
        position: relative;
    }

    &_filter {
        @media (--lgMinus) {
            background: #ededed;
        }
        @media (--xlPlus) {
            width: 347px;
            border-right: 1px solid #eaeaeb;
        }
    }

    &_resultsCont {
        transition: all 0.3s ease;
        &-loading {
            opacity: 0.4;
            pointer-events: none;
        }
    }
    &_topRow {
        padding: 0 23px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        height: 62px;
        border-bottom: 1px solid #eaeaeb;
        color: hsla(240, 2%, 10%, 0.5);
        font-family: 'PFDinDisplayPro';

        & h4 {
            font-weight: 400;
            margin-right: 30px;

            & strong {
                font-weight: 500;
            }
        }
    }

    &_footer {
        text-align: center;
        padding-top: 26px;
        color: #7f7f7f;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        font-size: 12px;
        display: flex;
        flex-wrap:wrap;
    }

    &_footerPaginationWrap {
        flex-basis: 100%;
    }

    &_footerText {
        padding: 0 22px 30px;
        flex-basis:100%;
        & p {
            font-size:12px;
            font-weight:300;
            color:#000000;
            opacity: 0.5;
        }

        @media(--lgMinus) {
            order:2;
        }
    }
    &_progress {
        display: none;
        opacity: 0;
        text-align: center;
        width: 0;
        height: 2px;
        background: #028862;
        position: absolute;
        transform: translateZ(0);
        will-change: opacity, width;
    }
}
