.popup-shadow {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: calc(100vh + 70px);
	z-index: 999;
	background-color: rgba(0, 0, 0, .69);
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}

.thanks-container {
	display: none;
}

.popup-container {
	padding: 0;
	width: 564px;
	height: 432px;
	background: url(../img/popup/bg-web.png) top center no-repeat;
	position: relative;
	margin: auto;
}

.popup-h,
.thanks-h {
	padding: 0;
	text-transform: uppercase;
	font-size: 32px;
	font-family: "PFDinDisplayPro";
	line-height: 1.326;
	text-align: left;
	max-width: 400px;
	padding-left: 44px;
	padding-top: 42px;
	font-weight: bold;
	color: #ffffff;
	margin: 0;

	@media (min-width: 769px) {
		padding-top: 40px;
		padding-left: 42px;
	}
}

.popup-cross,
.thanks-cross {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background-color: #f7b21e;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}

.popup-form-wrapper {
	margin: 0;
	padding: 0;
	width: 470px;
	height: 267px;
	background-color: #ffffff;
	position: absolute;
	right: 9px;
	top: 142px;

}

.popup-form {
	margin: 0;
	padding-bottom: 0;
	padding-left: 49px;
	padding-right: 54px;
	padding-top: 40px;

	@media (min-width: 481px) {
		padding-top: 37px;
	}
}

.popup-form-h {
	margin: 0;
	padding: 0;
	font-size: 20.8px;
	font-family: "PFDinDisplayPro";
	color: rgb(0, 0, 0);
	line-height: 1.287;
	text-align: left;
	display: block;
	margin-bottom: 14px;

	@media (min-width: 481px) {
		margin-bottom: 32px;
	}

	@media (min-width: 769px) {
		margin-bottom: 27px;
	}
}

.popup-email {
	margin: 0;
	padding: 0;
	width: 100%;
	border: none;
	outline: none;
	border-bottom: 1px solid #000000;
	font-size: 14px;
	font-family: "PFDinDisplayPro";
	cursor: pointer;
	outline: none;
	box-shadow: none;
}

.error-msg {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "PFDinDisplayPro";
	color: rgba(255, 0, 0, 0.678);
	line-height: 2.512;
	text-align: left;
	visibility: hidden;

	@media (min-width: 769px) {
		/* margin-bottom: -3px; */
		margin-top: -3px;
	}
}

.popup-btn,
.thanks-btn {
	margin: 0;
	padding: 0;
	font-size: 18.6px;
	font-family: "PFDinDisplayPro";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.984;
	text-align: left;
	width: 221px;
	height: 44px;
	text-align: center;
	border: none;
	background-color: #ee704a;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 26px;
	display: block;
	padding-top: 4px;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	text-indent: -4px;

	@media (min-width: 481px) {
		width: 216px;
		margin-bottom: 20px;
	}

	@media (min-width: 769px) {
		width: 218px;
		margin-bottom: 29px;
		text-indent: 2px;
	}
}

.popup-checkbox {
	margin: 0;
	padding: 0;
	font-size: 12.4px;
	font-family: "PFDinDisplayPro";
	color: rgba(0, 0, 0, 0.678);
	line-height: 1.2;
	text-align: left;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	position: relative;
	display: inline-block;
	padding-left: 24px;
}


.popup-form input[type="checkbox"] {
	display: none;
}

.popup-checkbox::before,
.popup-checkbox::after {
	position: absolute;
	content: "";
	display: inline-block;
}

.popup-checkbox::before {
	height: 14px;
	width: 15px;
	background-image: url(../img/popup/unchecked.png);
	left: 0px;
	top: 0px;
}

.popup-checkbox::after {
	height: 14px;
	width: 15px;
	background-image: url(../img/popup/checked.png);

	left: 0px;
	top: 0px;
}

.popup-form input[type="checkbox"]+.popup-checkbox::after {
	content: none;
}

.popup-form input[type="checkbox"]:checked+.popup-checkbox::after {
	content: "";
}

.popup-email.user-error {
	border-bottom: 1px solid rgba(255, 0, 0, 0.678);
}

.popup-email.user-error + .error-msg {
	visibility: visible;
}

.popup-form.user-error .popup-btn {
	background-color: #b5b5b5;
	cursor: default;
	pointer-events: none;
}

.thanks-container {
	padding: 0;
	position: relative;
	margin: auto;
	background: url(../img/popup/bg-thanks-web.png) top center no-repeat;
	background-size: 100%;
	width: 561px;
	height: 321px;

}

.thanks-cross {
	right: 24px;
}

.thanks-h {
	margin: 0;
	padding: 0;
	padding-left: 0px;
	padding-top: 60px;
	max-width: 240px;
	display: inline-block;
	vertical-align: top;
}

.thanks-btn {
	width: 140px;
	margin-left: 178px;
	margin-top: 24px;
}

.letter-icon {
	margin-bottom: 0;
	padding: 0;
	width: 85px;
	height: 85px;
	margin-left: 52px;
	margin-right: 38px;
	margin-top: 52px;
}

@media only screen and (max-width: 768px) {
	.popup-container {
		width: 480px;
		height: 428px;
		background: url(../img/popup/bg-pad.png) top left no-repeat;
	}

	.popup-cross {
		right: 34px;
	}

	.popup-h {
		padding-top: 34px;
		padding-left: 59px;
	}

	.popup-form-wrapper {
		width: 452px;
		top: 132px;
		right: 0;
	}

	.popup-form {
		padding-left: 31px;
	}

	.popup-form-h {
		margin-bottom: 20px;
	}

	.thanks-container {
		width: 480px;
		height: 309px;
	}
	.thanks-cross {
		top: 3px;
	}

	.letter-icon {
		margin-right: 24px;
		width: 65px;
		height: 65px;
	}

	.thanks-btn {
		margin-left: 144px;
		margin-top: 20px;
	}

	.thanks-h {
		padding-top: 50px;
		line-height: 1.2;
	}

}

@media only screen and (max-width: 480px) {
	.popup-container {
		width: 320px;
		height: 397px;
		background: url(../img/popup/bg-mob.png) top left no-repeat;
	}

	.popup-cross,
	.thanks-cross {
		top: 2px;
		right: 3px;
	}

	.popup-h {
		font-size: 24px;
		padding-left: 30px;
		padding-right: 30px;
		text-align: center;
		padding-top: 28px;
	}

	.popup-form-wrapper {
		width: 279px;
		height: 273px;
		top: 100px;
		left: 50%;
		margin-left: -139px;
	}
	.popup-form {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 20px;
		text-align: center;
	}

	.popup-form-h {
		text-align: center;
		margin-bottom: 35px;
		font-size: 21px;
	}

	.error-msg {
		margin-bottom: -3px;
		text-align: center;
	}

	.popup-btn {
		margin-bottom: 13px;
	}

	.thanks-container {
		width: 320px;
		height: 285px;
		padding-top: 2px;
		background: url(../img/popup/bg-thanks-mob.png);
	}
	.letter-icon,
	.thanks-h,
	.thanks-btn {
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
	}

	.thanks-h,
	.letter-icon {
		display: block;
	}

	.letter-icon {
		margin-top: 36px;
	}

	.thanks-h {
		padding-top: 28px;
		padding-bottom: 18px;
		font-size: 22px;
	}

}
