.PopupSubscribe {
	width: 320px;
	padding: 0 0 25px;
	background-color: transparent;

	@media (--mdPlus) {
		width: 526px;
		padding: 0 40px 29px;
	}

	& .fancybox-close-small {
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		background: #F7B21E;

		@media (--mdPlus) {
			right: 40px;
		}

		&:before, &:after {
			background-color: #FFF;
		}

		&:hover {
			transform: rotate(0);

			&:before, &:after {
				background-color: #FFF;
			}
		}
	}

	&_header {
		position: relative;
		margin-bottom: -80px;
		padding: 20px 0 86px;
		border: 8px solid #F7B21E;

		@media (--mdPlus) {
			z-index: -1;
			margin-bottom: -78px;
			padding-top: 28px;
		}
	}

	&_title {
		width: 270px;
		margin-right: auto;
		margin-left: auto;
		color: #FFF;
		font-size: 24px;
		font-family: "PFDinDisplayPro", sans-serif;
		text-transform: uppercase;
		text-align: center;
		text-indent: 3px;

		@media (--mdPlus) {
			width: 330px;
			font-size: 32px;
			line-height: 40px;
			text-align: left;
			text-indent: 0;
		}
	}

	&_form {
		margin-right: auto;
		margin-left: auto;

		@media (--mdPlus) {
			margin-right: -34px;
		}
	}
}
/* .PopupSubscribe_close {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	background: #F7B21E;
}
.PopupSubscribe_close:before,
.PopupSubscribe_close:after {
	content: "";
	position: absolute;
	width: 3px;
	height: 20px;
	top: 0;
	left: 0;
	background: #FFF;
}
.PopupSubscribe_close:before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.PopupSubscribe_close:after {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
} */
