.prefooter {
    background-color: #f6f6f6;
    padding-top: 35px;

    &__tlt {
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        color: #060E23;
        font-family: 'Proxima Nova';
        font-weight: 500;
        margin-bottom: 25px;
    }

    & .btn-call-inner {
        padding-top: 30px;

        &:after {
            background-color: #f6f6f6;
        }
    }

    &-menu {
        max-width: 1280px;


        & .swiper-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        &__item {
            padding: 0 30px;
            height: 50px;
            line-height: 50px;
            flex-shrink: 1;
            text-align: center;
        }

        &__link {
            position: relative;
            display: inline-block;
            height: 100%;
            font-size: 16px;
            font-family: 'Proxima Nova Light';
            color: #929292;
            white-space: nowrap;

            &:before {
                transition: width .2s ease-in-out;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 5px;
                height: 3px;
                background-color: #f7941e;
                width: 0;
            }

            &._active {
                color: #060E23;

                &:before {
                    width: 100%;
                }
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}
