.RangeSlider {
    width: 100%;
    padding: 11px 7px 0;
}

.RangeSlider_track {
    width: 100%;
    height: 2px;
    border: none;
    background-color: #bfbdc2;

    &:before {
        content: '';
        position: absolute;
        right: -4.5px;
        top: -3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #bfbdc2;
    }

    &:after {
        content: '';
        position: absolute;
        right: -13px;
        top: -11px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: solid 1px rgba(0, 0, 0, .1);
    }
}

.slider-range .RangeSlider_progress {
    background-color: #f7941e;
    border: 0;
    outline: 0;
    width: 100%;
}

.slider-range .RangeSlider_handle {
    width: 22px;
    height: 22px;
    border: none;
    background-color: rgba(154, 51, 12, .4);
    border-radius: 50%;
    top: -10px;

    &:before {
        transition: ease .3s all;
        transform: translate(-50%, -50%);
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        background-color: rgba(154, 51, 12, 1);
        border-radius: 50%;
    }
}

.RangeSlider_rangeVals {
    display: flex;
    color: #19191a;
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    font-size: 12px;
    padding-top: 14px;
    margin: 0 -7px;
}

.RangeSlider_valViewWrap {
    width: 50%;
    max-width: 50%;
    &-max {
        text-align: right;
    }
}

.RangeSlider_minValViewEl,
.RangeSlider_maxValViewEl {
    margin-right: 4px;
    transform: translateZ(0);
}
