.Sorter {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 14px;
    height: 62px;
    border-bottom: 1px solid #eaeaeb;
    color: hsla(240, 2%, 10%, 0.5);
    font-family: 'PFDinDisplayPro';
    font-weight: 300;

    &_item {
        padding: 0 7px;
        font-size: 14px;
        @media(--xs) {
            padding:0;
        }
    }
    &_inp {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    &_lbl {
        cursor: pointer;
        display: inline-block;
        padding: 0 14px 0 0;
        background: none;
        border: 0;
        font-size: inherit;
        position: relative;
        color: inherit;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        &-desc,
        &-asc{
            color: #000;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -6px;
                display: block;
                width: 12px;
                height: 12px;
                background: url("/img/caret-down.svg") center / contain no-repeat!important;
                pointer-events: none;
                transform: scaleY(-1);
            }
        }

        &-desc {
            &:after {
                transform: none;
            }
        }
    }
    &-commercial {
      border:none;
    }
}

.Sorter_item,
.Tbl-flats .Tbl_td {

    white-space: nowrap;

    @media (--smMinus) {
        font-size: 12px;
        letter-spacing: -0.1em;
        font-family: 'PFDinDisplayPro';
    }

    &:nth-child(1) {
        width: 12%;
        @media (--smMinus) {
            width: 16%
        }

        @media(--sm) {
            width: 16%
        }

        @media(--xs) {
            width:17%;
        }
    }

    &:nth-child(2) {
        width: 14%;
        @media (--smMinus) {
            display: none;
        }
    }

    &:nth-child(3) {
        width: 11%;
        @media (--smMinus) {
            width: 14%
        }

        @media(--sm) {
            width: 14%
        }

        @media(--xs) {
            width:8%;
        }
    }

    &:nth-child(4) {
        width: 8%;
        @media (--smMinus) {
            width: 10%
        }
        @media(--sm) {
            width: 10%
        }
        @media(--xs) {
            width: 7%
        }
    }

    &:nth-child(5) {
        width: 11%;
        @media (--smMinus) {
            width: 12%
        }
        @media(--sm) {
            width: 12%
        }
        @media(--xs) {
            width: 10%
        }

    }

    &:nth-child(6) {
        width: 13%;
        @media (--smMinus) {
            width: 14%
        }
        @media(--sm) {
            width: 14%
        }
        @media(--xs) {
            width: 14%
        }
    }

    &:nth-child(7) {
         width: 13%;
        @media (--smMinus) {
            width: 14%
        }
        @media(--sm) {
            width: 14%
        }
        @media (--xs) {
            width: 17%
        }
    }


    &:nth-child(8) {
        @media (--mdMinus) {
            /*display: none;*/
            width:15%;
        }
    }

    &:nth-child(9) {
        @media (--smMinus) {
            display: none;
        }
    }

    &:first-child {
        padding-left: 30px;
        @media (--smMinus) {
            padding-left: 16px;
        }
    }
    &:last-child {
        padding-right: 30px;
        @media (--smMinus) {
            padding-right: 16px;
        }
        @media(--sm) {
            width: 16%
        }
    }
}

.Sorter_item-commercial,
.Tbl-commercial .Tbl_td {
    white-space: nowrap;
    vertical-align:top;

    @media (--smMinus) {
        font-size: 12px;
        letter-spacing: -0.1em;
        font-family: 'PFDinDisplayPro';
    }

    &:first-child {
        width: 25%;
        padding-left: 30px;
        @media(--mdMinus) {
            padding-left: 40px;
        }
        @media(--xs) {
            padding-left: 20px;
            width: 27%;
        }
    }

    &:nth-child(2) {
        width: 13%;
        @media(--mdMinus) {
            display:block;
        }
        @media(--xs) {
            width:23%;
        }
    }

    &:nth-child(3) {
        width: 13%;
        @media(--xs) {
            display:none;
        }
    }

    &:nth-child(4) {
        width: 15%;
        @media(--xs) {
            width:23%;
        }
    }

    &:nth-child(5) {
        width: 16%;
        @media(--xs) {
            display:none;
        }
    }

    &:last-child {
        width: 18%;
        padding-right: 30px;
        @media(--mdMinus) {
            padding-right: 40px;
        }
        @media(--xs) {
            width:27%;
            padding-right: 20px;
        }
    }
}

.Tbl_tr-commercial:nth-child(2n+1) {
    background: #f4f4f5;
}

.Tbl_tr-commercialFlat:nth-child(2n+1) {
    background: #ecebec;
}
.Sorter_item-commercial .Sorter_lbl {
    @media(--smMinus) {
        text-align:left;
    }
}


