.SubscribeForm {
	position: relative;
	width: 280px;
	padding: 21px 28px 30px;
	background: #FFF;
	
	@media (--mdPlus) {
		width: 452px;
		padding: 37px 56px 43px 28px;
	}
	
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		bottom: -25px;
		left: -20px;
		width: 146px;
		height: 183px;
		background: #3BAF6A;
		
		@media (--mdPlus) {
			bottom: -29px;
			left: -28px;
			width: calc(100% + 14px);
			height: 263px;
		}
	}

	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		right: -20px;
		bottom: 30px;
		width: 20px;
		height: 128px;
		background: #13B5D9;
		
		@media (--mdPlus) {
			top: -132px;
			right: 14px;
			bottom: auto;
			width: 9px;
			height: 132px;
		}
	}

	&_title {
		margin-bottom: 32px;
		font-weight: 500;
		font-size: 20px;
		line-height: 1.3;
		font-family: "PFDinDisplayPro", sans-serif;
		text-align: center;
		
		@media (--mdPlus) {
			margin-bottom: 29px;
		}
	}

	&_item {
		margin-bottom: 30px;
	}

	&_text {
		width: 100%;
		border: none;
		border-bottom: 1px solid #000;
	}

	&_btn {
		width: 100%;
		height: 44px;
		border: none;
		background: #EE704A;
		color: #FFF;
		font-weight: bold;
		font-size: 18.6px;
		font-family: "PFDinDisplayPro", sans-serif;
		text-transform: uppercase;
		text-indent: -1px;
		cursor: pointer;
		
		@media (--mdPlus) {
			width: 219px;
		}
	}

	&_actions {
		margin-bottom: 10px;
		
		@media (--mdPlus) {
			margin-bottom: 16px;
		}
	}
}