.Tbl {
    width: 100%;
    border-collapse: collapse;
    display: table;
    border-bottom:1px solid #eaeaeb;

    &_tr {
        display: flex;
        text-decoration: none;
        &:hover {
            background-color: rgba(43, 38, 52, 0.1);
        }
        &-light {
            background-color: #feefdd;
        }
    }

    &_td {
        text-align: left;
        font-family: 'PFDinDisplayPro';
        font-weight: 300;
        padding: 14px 7px;
        font-size: 15px;
        border: none;
        display: table-cell;
        vertical-align: middle;
        color: #19191a;
        display: table-cell;
        @media(--xs) {
            padding:14px 0;
        }
    }

    &_icoWrap {
        height: 18px;
        color: #4b4b4b;
        display:inline-block;

        &-light {
            color: #f7941e;
        }

        &>.SvgIco {
            height: 100%;
        }

        &> .actionIcon {
            display: inline-block;
            margin-right: 11px;
            @media(--xs) {
                width:12px;
                height:12px;
                margin-right: 8px;
            }
        }

        &> .brushIcon {
            margin-left: 10px;
            margin-right: 0;
            display: inline-block;
            @media(--xs) {
                margin-left:0;
            }
        }
    }
}
