.timer-date {
    position: absolute;
    right: 55px;
    top: 0;
    z-index: 10;
    background-color: #9A330C;
    border-radius: 0 0 10px 10px;
    padding: 10px 12px 12px 12px;
    width: auto;

    @media (max-width: 640px) {
        right: 20px;
    }

    &._inner {
        position: absolute;
        top: 70px;
        right: 55px;
        z-index: 100;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &._genplan {
        top: 120px;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &__text {
        font-size: 20px;
        letter-spacing: 0;
        font-family: 'PFDinDisplayPro';
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        line-height: 1.4;
        margin-bottom: 10px;

        span {
            display: block;
            font-size: 12px;
            font-weight: 500;
            text-transform: none;
        }
    }

    &__date {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__hours {
        display: block;
        font-size: 50px;
        font-weight: 600;
        margin-right: 10px;
        background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(200,200,200,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
        line-height: 60px;
        height: 60px;
        min-width: 65px;
        text-align: center;
        border-radius: 3px;
    }

    &__date-type {
        font-size: 30px;
        color: #fff;
        line-height: 1.6;
    }
}
