.video-about-btn {
    text-decoration: none;
    color: #ffffff;
    font-family: 'PFDinDisplayPro';
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    top: 40px;
    right: 25px;
    z-index: 10;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    outline: none;
    transition: color 0.2s ease;
    background: #e5af2d;
    width: 212px;

    &:before {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        background: url("../img/play.svg") no-repeat;
        transition: all 0.4s ease;
        margin-left:0;

        @media(--sm) {
            width:52px;
            height:52px;
            background-size:contain;
        }
        @media(--xs) {
            width:52px;
            height:52px;
            background-size:contain;
        }
    }

    &:hover {
        &:before {
            filter: brightness(1.2);
        }
    }

    @media(--mdMinus) {
        right: 40px;
    }
    @media(--sm) {
        left: 20px;
        top: 40px;
        width: 52px;
    }
    @media(--xs) {
        left: 20px;
        top: 40px;
        width: 52px;
    }

    & span {
        margin: 0 auto;
        @media(--sm) {
            display: none;
        }
        @media(--xs) {
            display: none;
        }
    }
}
