<div class="page-sidebar__wrapper" id="calculator_order">
    <div class="page-sidebar__tlt">Заявка на ипотеку</div>

    <form action="" method="post" data-form-type="mortgage" class="page-form ws-validate" data-mortgage-form autocomplete="off">
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="mortgage-name">
                <em class="page-form__placeholder">Имя</em>
            </label>
        </div>
        <div class="page-form__step _double">
            <div class="page-form__lbl">
                <label>
                    <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="mortgage-phone">
                    <em class="page-form__placeholder">Телефон</em>
                </label>
            </div>
            <div class="page-form__lbl">
                <label>
                    <input type="text" class="page-form__inp" data-mask="time" required data-errormessage="Заполните поле" name="mortgage-ешьу">
                    <em class="page-form__placeholder">Время для звонка</em>
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input type="text" class="page-form__inp" name="mortgage-email">
                <em class="page-form__placeholder">Электронная почта</em>
                <em class="page-form__require">не обязательно</em>
            </label>
        </div>
        <div class="page-form__step" data-type="payment">
            <label class="page-form__lbl">
                <input id="mortgage-sidebar-payment-input" data-input="payment" type="text" class="page-form__inp _slide _large _active" data-step="10" data-max-range="150000" data-min-range="1000" value="100000" name="payment">
                <em class="page-form__placeholder">Ежемесячный платеж (руб.)</em>
                <div id="mortgage-sidebar-payment" class="slider-range" data-slider="payment"></div>
            </label>
        </div>
        <div class="page-form__step" data-type="price" style="display: none;">
            <label class="page-form__lbl">
                <input id="mortgage-sidebar-price-input" data-input="price" type="text" class="page-form__inp _slide _large _active" data-step="10" data-max-range="30000000" data-min-range="0" value="2500000" name="summ">
                <em class="page-form__placeholder">Запрашиваемая сумма (руб.)</em>
                <div id="mortgage-sidebar-price" class="slider-range" data-slider="price"></div>
            </label>
        </div>
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input id="mortgage-sidebar-fee-input" data-input="fee" type="text" class="page-form__inp _slide _small _active" data-step="10" data-max-range="20000000" data-min-range="0" value="2000000" name="summfirst">
                <em class="page-form__placeholder">Первоначальный взнос (руб.)</em>
                <div id="mortgage-sidebar-fee" class="slider-range" data-slider="fee"></div>
            </label>
        </div>
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input id="mortgage-sidebar-age-input" data-input="age" type="text" class="page-form__inp _slide _small _age _active" data-step="1" data-max-range="30" data-min-range="0" value="30" name="years">
                <em class="page-form__placeholder">Срок кредитования</em>
                <span class="page-form__age">лет</span>
                <div id="mortgage-sidebar-age" class="slider-range" data-slider="age"></div>
            </label>
        </div>
        <div class="page-form__step">
            <div class="SubCheckboxes__item SubCheckboxes__item--form">
                <input data-errormessage="Подтвердите согласие на обработку данных." required type="checkbox" id="privacy-mortgage" class="SubCheckboxes__input" name="privacy-mortgage" value=1/>
                <label for="privacy-mortgage">
                    <span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <input type="submit" value="отправить заявку" class="page-form__sbt button _orange">
        </div>
    </form>
</div>
