<div class="call-form-sidebar" data-call-form-sidebar>
    <div class="call-form-sidebar__inner">
        <div class="call-form-inner">
            <em class="call-form-sidebar__close"></em>
            <div class="call-form-sidebar__tlt">Заказать звонок</div>

            <form data-action="/ajax/form-response.json" method="GET" class="call-form ws-validate">
                <div class="call-form__step">
                    <label class="call-form__lbl">
                        <input type="text" class="call-form__inp" data-errormessage="Заполните поле" required name="call-form-name">
                        <em class="call-form__placeholder">Имя</em>
                    </label>
                </div>
                <div class="call-form__step">
                    <div class="call-form__lbl">
                        <label>
                            <input type="tel" class="call-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="call-form-phone">
                            <em class="call-form__placeholder">Телефон</em>
                        </label>
                    </div>
                </div>
                <div class="page-form__step">
                    <div class="SubCheckboxes__item SubCheckboxes__item--form">
                        <input data-errormessage="Подтвердите согласие на обработку данных." required type="checkbox" id="privacy-call" class="SubCheckboxes__input" name="privacy-call" value="1"/>
                        <label for="privacy-call">
                            <span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
                        </label>
                    </div>
                </div>
                <div class="call-form__step">
                    <input type="submit" value="Перезвоните мне" class="call-form__sbt">
                </div>
            </form>
        </div>
    </div>
</div>

