<section class="furnish-content">
    <div class="container">
        <div class="furnish-content__container">
            <div class="furnish-content__col">
                <div class="furnish-content__title">Квартиры с&nbsp;отделкой</div>
                <div class="furnish-content__descr">
                    <p>В ЖК «Летний сад» можно купить квартиры,
                        где уже полностью выполнены все отделочные работы, Вам останется только выбрать мебель
                        и оформить интерьер.</p>

                    <p>Оформление интерьера - это интересная и творческая задача, и, возможно, какие-то идеи, Вы сможете найти
                        в примерах, подготовленных нашими дизайнерами на основе базовой отделки одной из стандартных квартир.</p>

                    <p>На примерах интерьеров, предложенных нашими дизайнерами, видно, как за счет оригинальных решений
                        в подборе мебели, текстиля, светильников и аксессуаров можно придать изначально нейтральному помещению свой индивидуальный стиль. Цветовые акценты помогут выделить определенные зоны даже в помещении небольшой площади. При помощи активных форм мебели, люстр или, например, ковриков, можно сделать интерьер более динамичным
                        и менее зависимым от общего нейтрального фона базовой отделки.</p>
                </div>
            </div>
            <div class="furnish-content__col">
                <a href="" class="furnish-content__button"><span>Выбрать квартиру с отделкой</span></a>
                <p style="font-family: 'Playfair Display', serif; font-weight: 700; font-style: italic">Что входит в отделку</p>
                <ul class="list list_circle list_furnish">
                    <li>керамическая плитка (кухня + лоджия)</li>
                    <li>ламинат</li>
                    <li>плинтус напольный</li>
                    <li>керамическая плитка (санузел)</li>
                    <li>обои</li>
                    <li>ванна</li>
                    <li>унитаз</li>
                    <li>раковина</li>
                    <li>электрические розетки</li>
                    <li>ТВ розетка</li>
                    <li>выключатели</li>
                    <li>двери межкомнатные</li>
                    <li>дверь входная</li>
                    <li>конвектор отопления</li>
                </ul>
            </div>
        </div>
    </div>
</section>