<div class="furnish-electric">
    <div class="furnish-electric-inner">
        <div class="furnish-electric__item">
            <div class="furnish-electric__img">
                <img src="img/flats-furnish/electric/01.jpg" alt="">
            </div>
            <div class="furnish-electric__text">
                <div class="furnish-electric__text-inner">
                    <p><span>Розетка электрическая</span></p>
                    <p>Schneider Electric,
                        серия Sedna, цвет белый,
                        скрытая установка.</p>
                </div>

            </div>
        </div>
        <div class="furnish-electric__item">
            <div class="furnish-electric__img">
                <img src="img/flats-furnish/electric/04.jpg" alt="">
            </div>
            <div class="furnish-electric__text">
                <div class="furnish-electric__text-inner">
                    <p><span>Розетка телефонная</span></p>
                    <p>Schneider Electric,
                        серия Sedna, цвет белый,
                        скрытая установка.</p>
                </div>
            </div>
        </div>
        <div class="furnish-electric__item">
            <div class="furnish-electric__img">
                <img src="img/flats-furnish/electric/02.jpg" alt="">
            </div>
            <div class="furnish-electric__text">
                <div class="furnish-electric__text-inner">
                    <p><span>Выключатель одноклавишный</span></p>
                    <p>Schneider Electric,
                        серия Sedna, цвет белый,
                        скрытая установка.</p>
                </div>
            </div>
        </div>
        <div class="furnish-electric__item">
            <div class="furnish-electric__img">
                <img src="img/flats-furnish/electric/05.jpg" alt="">
            </div>
            <div class="furnish-electric__text">
                <div class="furnish-electric__text-inner">
                    <p><span>Розетка TV телевизионная</span></p>
                    <p>Schneider Electric,
                        серия Sedna, цвет белый,
                        скрытая установка.</p>
                </div>
            </div>
        </div>
        <div class="furnish-electric__item">
            <div class="furnish-electric__img">
                <img src="img/flats-furnish/electric/03.jpg" alt="">
            </div>
            <div class="furnish-electric__text">
                <div class="furnish-electric__text-inner">
                    <p><span>Выключатель двухклавишный</span></p>
                    <p>Schneider Electric,
                        серия Sedna, цвет белый,
                        скрытая установка.</p>
                </div>
            </div>
        </div>
        <div class="furnish-electric__item">
            <div class="furnish-electric__img">
                <img src="img/flats-furnish/electric/06.jpg" alt="">
            </div>
            <div class="furnish-electric__text">
                <div class="furnish-electric__text-inner">
                    <p><span>Розетка компьютерная (интернет)</span></p>
                    <p>Schneider Electric,
                        серия Sedna, цвет белый,
                        скрытая установка.</p>
                </div>
            </div>
        </div>
    </div>
</div>